[2019-05-07 21:20] SergeyKanzhelev opened #1 "I suggest we start with the copy of OpenCensus SDK"

[2019-05-08 09:58] gregkalapos commented on #1
Hey @SergeyKanzhelev,

I'd be very happy to contribute. Is there any plan on how to move forward? Do we have any "actionable" items for the .NET implementation?

Also to be not totally off topic:  👍 for starting with the copy of OpenCensus SDK.

[2019-05-08 18:39] austinlparker commented on #1
+1

[2019-05-08 19:48] SergeyKanzhelev commented on #1
@gregkalapos, @austinlparker great! There are a few smaller items still hanging from OpenCensus repo. If you want to get started right away - find some inspiration in those issues.

I will start posting issues and later a plan. Plus will set up some weekly sync-ups.

On the high level, I think we can scope September release to API updates to match OpenTelemetry specs and release quality implementa

[2019-05-08 20:46] austinlparker commented on #1
sgtm - I think the OT bridge should be pretty straightforward as well.

[2019-05-09 11:54] gregkalapos opened #5 "Namespaces"
I think it'd make sense to agree on what namespaces the project should use.

#1 seems to be the way to go, and if #3 gets merged we'll end up with `OpenCensus` in the repo.

Suggestion 1:
- We just rename every `OpenCencus` namespace to `OpenTelemetry`.

Any other ideas?

[2019-05-09 15:37] austinlparker commented on #5
I'd say use `OpenTelemetry` as the root namespace, yeah, then `OpenTelemetry.API` for the API and `OpenTelemetry.SDK` for the implementation?

[2019-05-09 16:33] SergeyKanzhelev commented on #5
We can make `OpenTelemetry.Abstractions` and `OpenTelemetry` for SDK. This will be aligned with the general pattern in C#.

[2019-05-09 17:21] austinlparker commented on #5
Works for me.

[2019-05-09 21:29] #1 closed

[2019-05-09 21:44] gregkalapos commented on #5
Sounds good. I guess this is already the case, except it's called `OpenCensus` and not `OpenTelemetry`. Is there any strategy? Do we wanna bulk rename everything, or only rename certain things? I can go on and adjust the namespaces and the project files.

[2019-05-10 16:05] SergeyKanzhelev opened #7 "Simple rename: OpenCensus -> OpenTelemetry"

[2019-05-10 16:09] SergeyKanzhelev opened #8 "Add new span kinds: producer and consumer"

[2019-05-10 16:10] SergeyKanzhelev opened #9 "Rename Annotation to Event"
See https://github.com/open-telemetry/opentelemetry-java/pull/26

[2019-05-10 16:11] SergeyKanzhelev opened #10 "Span.updateName instead of setter on Name"
Making separate method for `Name` will make the span name update more intentional:
https://github.com/open-telemetry/opentelemetry-java/pull/27

[2019-05-10 16:13] SergeyKanzhelev opened #11 "Tracer to accept SpanData"
Instead of exporter accepting SpanData - Tracer should.

[2019-05-10 16:14] SergeyKanzhelev opened #12 "Attribute to return type instead of Match pattern"
https://github.com/open-telemetry/opentelemetry-java/pull/31

[2019-05-10 17:09] SergeyKanzhelev opened #13 "Use Enum instead of Match pattern for stats"

[2019-05-10 17:10] SergeyKanzhelev opened #14 "Rename putAttribute to setAttribute"
https://github.com/open-telemetry/opentelemetry-java/pull/38

[2019-05-10 17:12] SergeyKanzhelev opened #15 "SpanKind.Internal should be default"
https://github.com/open-telemetry/opentelemetry-java/pull/94

[2019-05-10 17:12] SergeyKanzhelev opened #16 "Remove MessageEvent and make Event extensible"
https://github.com/open-telemetry/opentelemetry-java/pull/81

[2019-05-10 17:13] SergeyKanzhelev opened #17 "Remove hasdParent from SpanData"
https://github.com/open-telemetry/opentelemetry-java/pull/90

[2019-05-10 17:14] SergeyKanzhelev opened #18 "Remove components from trace, tags, stats"
Similar to https://github.com/open-telemetry/opentelemetry-java/pull/120

[2019-05-10 17:16] SergeyKanzhelev opened #19 "Support OpenTelemetry protocol and agent exporter"
Find protos here: https://github.com/open-telemetry/opentelemetry-java/tree/master/sdk/src/main/proto

[2019-05-10 17:17] SergeyKanzhelev opened #20 "Remove Type from Resource"
https://github.com/open-telemetry/opentelemetry-java/pull/145

[2019-05-10 17:18] SergeyKanzhelev opened #21 "Add Resource to SpanData and allow to create Resource using pure API"

[2019-05-10 17:19] SergeyKanzhelev opened #22 "Remove type from Links"
https://github.com/open-telemetry/opentelemetry-java/pull/144

[2019-05-10 17:20] SergeyKanzhelev opened #23 "Move Views to SDK"

[2019-05-10 17:21] SergeyKanzhelev opened #24 "EPIC: clean up metrics and stats and align interfaces to OpenTelemetry specs"
Java should be used as a reference.

[2019-05-10 18:08] SergeyKanzhelev commented on #5
closing than. We can revisit names if those would not work in an OpenTelemetry world.

[2019-05-10 18:08] #5 closed

[2019-05-13 17:31] trwegner commented on #8
I'd like to take this issue.  Want to confirm that this is to introduce new LinkType in ExportComponent.cs.

[2019-05-13 18:14] SergeyKanzhelev commented on #8
@trwegner it's about these two new kinds:

https://github.com/open-telemetry/opentelemetry-java/blob/3cc0af53af6a50837cb4ffdc880ce56f837c8538/api/src/main/java/io/opentelemetry/trace/Span.java#L60-L76

[2019-05-14 12:20] austinlparker opened #28 "Create an OpenTracing Bridge"
See https://github.com/open-telemetry/opentelemetry-java/tree/master/opentracing-shim/src/main/java/io/opentelemetry/opentracingshim for the Java implementation

[2019-05-14 15:29] #14 closed

[2019-05-14 21:20] SergeyKanzhelev opened #31 "Span.Kind: Unspecified -> Internal"
See https://github.com/open-telemetry/opentelemetry-java/blob/3cc0af53af6a50837cb4ffdc880ce56f837c8538/api/src/main/java/io/opentelemetry/trace/Span.java#L44

[2019-05-14 21:24] SergeyKanzhelev opened #32 "Rename OcAgent to something more natural for OpenTelemetry"
Rename this project:
https://github.com/open-telemetry/opentelemetry-dotnet/tree/master/src/OpenTelemetry.Exporter.Ocagent

Into something like `OpenTelemetry.Exporter.Grpc`. Maybe an alternative can be `OpenTelemetry.Exporter.OpenTelemetryService` or `OpenTelemetry.Exporter.OpenTelemetryExporter`

[2019-05-14 21:25] SergeyKanzhelev opened #33 "Support metadata on DistributedContext entries"
Tags support metadata. Specifically - `TTL`.

[2019-05-14 21:57] trwegner commented on #19
Also should update src\OpenTelemetry.Exporter.Ocagent\Implementation\SpanDataExtentions.cs#39 with producer and consumer span types in the new protos

[2019-05-14 22:43] trwegner commented on #31
Working on this

[2019-05-14 22:43] trwegner commented on #15
Working on this

[2019-05-14 23:30] trwegner commented on #28
Refactoring src\OpenTelemetry.Exporter.ApplicationInsights\Implementation\TraceExporterHandler.cs#ExportAsync should be included with this work as well.  Current implementation has explicit handling for OpenTracing Standard Span Tags, https://github.com/opentracing/specification/blob/master/semantic_conventions.md

[2019-05-15 04:21] SergeyKanzhelev opened #34 "Enable code coverage"
One option is to follow this instruction: https://abelsquidhead.com/index.php/2019/04/13/getting-code-coverage-info-for-a-net-core-app-in-azure-pipelines/

[2019-05-15 20:43] SergeyKanzhelev commented on #15
closed via #36

[2019-05-15 20:43] #15 closed

[2019-05-15 20:43] SergeyKanzhelev commented on #15
closed via #36

[2019-05-15 20:43] SergeyKanzhelev commented on #8
closed via #36

[2019-05-15 20:43] #8 closed

[2019-05-15 20:43] SergeyKanzhelev commented on #31
closed via #36

[2019-05-15 20:43] #31 closed

[2019-05-16 02:49] trwegner commented on #12
Working on this

[2019-05-16 02:50] trwegner commented on #9
Working on this

[2019-05-17 04:50] trwegner commented on #16
Also check out open-telemetry/opentelemetry-java#13 and open-telemetry/opentelemetry-java#141

[2019-05-20 17:33] trwegner commented on #16
Working on this

[2019-05-21 00:17] trwegner opened #41 "Remove unused TimedEvents<IEvent>.Create from OpenTelemetry.Trace.Export.SpanData.Create"
I'll have a PR for this shortly

[2019-05-21 17:51] trwegner commented on #41
Fixed by PR #42

[2019-05-21 17:51] #41 closed

[2019-05-21 17:52] trwegner commented on #9
Addressed by PR #37

[2019-05-21 17:53] trwegner commented on #16
Addressed by PR #38

[2019-05-21 20:14] #9 closed

[2019-05-21 20:14] #16 closed

[2019-05-22 16:48] trwegner commented on #17
Working on this

[2019-05-28 06:15] #7 closed

[2019-05-28 14:17] austinlparker commented on #19
fyi the protos are in https://github.com/open-telemetry/opentelemetry-proto now

[2019-05-28 14:37] austinlparker commented on #19
One thing I've wondered, would it make sense to publish the generated proto code out of that repo rather than importing it to this one as a submodule or so forth?

[2019-05-28 15:43] SergeyKanzhelev commented on #19
I have very little experience with submodules. Every time I tried it was not a streamline thing. It always took more time to fix tooling than simple copying of rarely updated files take. And shipping a hotfix that only addresses a single issue and only need one of many changes is impossible.

If you have good examples where this approach worked just fine - I'm happy to try again and learn.

[2019-05-28 16:24] austinlparker opened #46 "Automatically create changelog from commits during CI"

[2019-05-28 16:28] trwegner opened #47 "Add fork guidance for contributions"

[2019-05-28 16:32] SergeyKanzhelev opened #48 "Add Editor.config"
Editor.config will help to streamline using the project

[2019-05-28 16:36] SergeyKanzhelev opened #49 "Revisit naming of API and SDK packages"
We discussed naming in #5. We may need to revisit it:

1. `Abstraction` package have only a subset of classes and interfaces used in SDK. So not really an abstraction. Perhaps rename it to `Api` instead for consistency with Java?
2. Should we rename `OpenTelemetry` to `OpenTelemetry.Sdk`? It will be consistent with Java. But harder for end user to follow the success path of "import OpenTelemetry"

[2019-05-28 16:47] #10 closed

[2019-05-28 23:52] lmolkova commented on #49
I believe keeping Abstractions is pretty consistent with .NET practices (Microsoft ships a lot of packages named like `Microsoft.Extensions.Logging.Abstractions` or `Microsoft.AspNetCorte.Http.Abstractions`) and we should keep it here.
I recall OpenCensus had the statement somewhere that typical language practices should be used - can't find it now, do we still prefer it over having the same API e

[2019-05-29 13:47] austinlparker commented on #49
Idiomatic language practices are good, but what worries me is that we'll end up polluting `OpenTelemetry.Abstractions` with interfaces that are specific to the reference implementation.

[2019-05-29 13:50] austinlparker commented on #19
I've found submodules to be unwieldy as well - we can just copy files around for now I reckon.

[2019-05-29 22:19] austinlparker commented on #12
Spent a bit looking at this and had some questions - Right now this is an example of how `Match` gets used:

[code]
The Java implementation replaced this with a `getType` method and an enum, but they also had separate `AttributeValue` classes such as `AttributeValueLong`, etc. which don't exist in our case as `AttributeValue{T}` replaces them. I'm generally in favor of using generics where they ma

[2019-05-29 22:34] SergeyKanzhelev commented on #12
We need to switch to `getType`. Java used to have match pattern in OpenCensus as well and we all agreed that `match`'s benefits are not worth the complexity

[2019-05-29 22:41] austinlparker commented on #12
Do we want to factor out `AttributeValue{T}`, then, like it is in Java?

[2019-05-29 23:04] SergeyKanzhelev commented on #12
Yes. It may have been a mistake =)

[2019-05-30 19:06] trwegner commented on #17
Would like to clarify if this change extends to all occurences of hasRemoteParent or actually just those in SpanData.  Referencing the Java implementation, the concept of a remote parent appears to be addressed by use of SpanContext to specifiy a parent.  To strictly follow this pattern, the changes extend well beyond SpanData.

[2019-05-30 22:14] SergeyKanzhelev commented on #17
I believe the concept of separate variable to track the informaiton on whether the parent is remote or now was removed all together. Including proto files.

[2019-05-30 22:15] SergeyKanzhelev commented on #17
SpanContext was always used to indicate the parent. `hasRemoteParent` gave additional information that parent is NOT local, meaning from the different process. Mostly used to indicate that clock may be un-synchronized

[2019-05-31 09:13] discostu105 commented on #49
For me it was a bit confusing at first, not finding the "Api" and "Sdk" layers anywhere. Also "Api" and "Sdk" terms come up in conversations sometimes and it's a bit weird to not have them reflected in the project names.

However, no strong opinion on this. It's good to be idiomatic to a tech.

Concerning "Abstractions": Which interfaces is it supposed to hold exactly?
 1. For implementers of "Ins

[2019-05-31 12:23] carlosalberto commented on #12
I don't think you guys *have* to switch to the `getType()` style. We did it in Java as this pattern does not work fine (lambdas exist only from late versions, while in C# they have existed for long time).

I'd also could imagine something in between, btw - something using generics (which are properly implemented in .Net) while exposing information about the type.

[2019-05-31 14:45] bogdandrutu commented on #12
Generics in Java are a hustle, forcing boxing for primitive types. If that is not the case and we can have a nice pattern for add and retrieve then we don't need this.

[2019-05-31 15:13] #47 closed

[2019-05-31 15:32] SergeyKanzhelev commented on #12
If keeping match - it would be great to fix the pattern. https://github.com/census-instrumentation/opencensus-csharp/issues/97

[2019-05-31 15:37] SergeyKanzhelev commented on #49
I have the same reservations about `Abstractions`. SDK will have bigger public surface area than API. API package will mostly be for the libraries instrumentation like OpenTracing before

[2019-05-31 19:40] SergeyKanzhelev opened #53 "Align with Span operations specification"
See: https://github.com/open-telemetry/opentelemetry-specification/blob/master/specification/tracing-api.md#span

[2019-06-01 05:01] #48 closed

[2019-06-01 05:02] #11 closed

[2019-06-01 05:02] SergeyKanzhelev commented on #17
fixed via #55

[2019-06-01 05:02] #17 closed

[2019-06-02 04:06] SergeyKanzhelev commented on #53
Resolved via #54

[2019-06-02 04:06] #53 closed

[2019-06-02 04:09] SergeyKanzhelev opened #56 "ISpan.HasEnded: either remove or add to the spec"
See https://github.com/open-telemetry/opentelemetry-specification/issues/55

[2019-06-03 15:10] SergeyKanzhelev opened #58 "API: consider moving CanonicalCode to be a sub-enum of Status"

[2019-06-03 15:13] SergeyKanzhelev opened #59 "API: Use TraceId and SpanId from System.Diagnostics.DiagnosticSource"
Use ActivityTraceId and ActivitySpanId instead of the library-own definition of TraceId and SpanId. https://github.com/dotnet/corefx/blob/5f9f2e57e668fccbc68e8f9c77852b2befef7712/src/System.Diagnostics.DiagnosticSource/src/System/Diagnostics/Activity.cs#L881-L1197

The only complication will be the need to take dependeny on DiagnosticsSource package that will only become stable in September. But i

[2019-06-03 15:20] austinlparker commented on #59
Seems fine to me, since DiagnosticSource supports NET45+.

[2019-06-03 15:23] SergeyKanzhelev commented on #13
@austinlparker this is same/similar as #12. Assigning to you

[2019-06-03 15:31] SergeyKanzhelev opened #60 "API: Use Activity as a context propagation mechanism"
Activity from DiagnosticsSource package is already used to propagate a context. Activity is being set and restore by the framework so OpenTelemetry can rely on it.

It will be great to switch OpenTelemetry to use Activity as a way to propagate state (current `Span`, `SpanContext` and tags) instead of simply relying on AsyncLocal

[2019-06-03 15:34] SergeyKanzhelev opened #61 "Move all span "stores" logic to the SDK out of API"
Types like `ISampledSpanStoreSummary`, needs to be moved out of API. For now - at least to move them to SDK. Later we may decide to move them to the specific packages like zPages or alike

[2019-06-03 15:35] SergeyKanzhelev commented on #61
@trwegner can you please start working on this?

[2019-06-03 15:45] SergeyKanzhelev commented on #12
Copying from liked issue:

This repository uses pattern matching with some errors:

The purpose of `Match` method is to avoid `if/else` checks by supplying set of callbacks to call. And each implementation calls respective callback. Something like a virtual methods in generic class, but strongly typed for pre-defined types.

Issues:

1. `AttributeValue` uses if/else instead of having separate clas

[2019-06-03 15:46] SergeyKanzhelev opened #62 "API review: IList sometimes is used in API surface where IEnumerable will suffice"
See original issue: https://github.com/census-instrumentation/opencensus-csharp/issues/64

Reviewing API surface - IList is used when IEnumerable will suffice. For instance in Exporter handler and other places. IList allows manipulating elements - add, remove, etc. when this is absolutely not the intent.

[2019-06-03 17:06] SergeyKanzhelev opened #63 "Prometheus exporter outputs values of invalid format under certain culture settings"
Original: https://github.com/census-instrumentation/opencensus-csharp/issues/143

When running the sample for Prometheus (`TestPrometheus.cs`) Prometheus server reports invalid data format in:
[code]
Culture setting for my machine is `pl-PL`. Apparently there's a problem with a comma which separates decimal places of the value. The source of the problem is writing a double value by `StreamWriter.W

[2019-06-03 17:06] SergeyKanzhelev opened #64 "Finalize prometheus exporter"
There are only a few aggregation types currently supported by Prometheus exporter. Need to finalize all of them.

See https://github.com/census-instrumentation/opencensus-csharp/blob/d087855fb93440f678009173d3f0f4392b58ce52/src/OpenCensus.Exporter.Prometheus/Implementation/PrometheusMetricBuilder.cs#L342-L382 for list of TODOs

[2019-06-03 17:07] SergeyKanzhelev opened #65 "Prometheus exporter: allow to work via the application's port"
Original: https://github.com/census-instrumentation/opencensus-csharp/issues/65

In some environments opening separate port for Prometheus exporter will not work. Especially for sandboxed environments like Azure Web Apps. Re-using app's port and allow Prometheus to work as a middleware will help to enable those environments.

[2019-06-03 17:08] SergeyKanzhelev opened #66 "Counter type conversion inconsistency in Prometheus exporter"
Original: https://github.com/census-instrumentation/opencensus-csharp/issues/59

hi, there.
I'm trying to use your library. Thank you for it.

So, I found some inconsistency in the implementation of exporters.
Namely, 'Sum' aggregation in case of Prometheus converted to 'gauge', in case of StackDriver to CUMULATIVE, which is 'counter'.

The fun is that neither of both is totally right.
'Sum' can r

[2019-06-03 17:08] SergeyKanzhelev opened #67 "Prometheus exporter not listening on all addresses"
Original: https://github.com/census-instrumentation/opencensus-csharp/issues/51

I am assuming this should work but it doesnt listen on anything related to port 9184 then, if I change it to `localhost` instead of `0.0.0.0` then it works. Is it a bug or intentional?

[code]

[2019-06-03 17:19] SergeyKanzhelev opened #68 "Record stats in HttpClient listener"
Copy from https://github.com/census-instrumentation/opencensus-csharp/issues/141

see how it's done in [Java](https://github.com/census-instrumentation/opencensus-java/blob/master/contrib/http_util/src/main/java/io/opencensus/contrib/http/HttpClientHandler.java#L155) and [specs](https://github.com/census-instrumentation/opencensus-specs/blob/master/stats/HTTP.md)

[2019-06-03 17:21] SergeyKanzhelev opened #69 "Dependency collector/AI exporter do not filter out call to AppInsights"
Copied from https://github.com/census-instrumentation/opencensus-csharp/issues/137

![image](https://user-images.githubusercontent.com/2347409/55651720-686e0200-579e-11e9-95ec-af465efb2581.png)

Oops

[2019-06-03 17:22] SergeyKanzhelev opened #70 "Zipkin exporter not working towards /v2 jaeger collector endpoint"
From: https://github.com/census-instrumentation/opencensus-csharp/issues/133

Start Jaeger
[code]

Run the example zipkin or anything alike and Jaeger will give http 400 back. I got this via Wireshark when using the example TestZipkin.cs

[2019-06-03 17:22] SergeyKanzhelev opened #71 "Implement stdout exporter"

[2019-06-03 17:22] trwegner commented on #61
@SergeyKanzhelev I'll start on this today.

[2019-06-03 17:22] SergeyKanzhelev opened #72 "Make list of support generic diagnostc listeners configurable"
DependencyCollector now has a hardcoded list of supported dependencies (http only for now):

[code]

We should allow configuring generic sources by name and allowing to provide custom handlers.
This could be done via DependenciesCollectorOptions.

This is also useful when users need to remove default collectors.

[2019-06-03 17:23] SergeyKanzhelev opened #73 "Capture custom request/response properties"
Original: https://github.com/census-instrumentation/opencensus-csharp/issues/130

The scenario:

Azure APIs return server request is in HTTP response headers and we want to put it on the span created to trace this http call.
We may argue the validity of this scenario and this might change in the future with W3C adoption, current support processes rely on this.

Also, this scenario of enhancing tel

[2019-06-03 17:24] SergeyKanzhelev opened #74 "Allow to implement specific component listeners leveraging ListenerHandler"
From: https://github.com/census-instrumentation/opencensus-csharp/issues/129

When someone wants to implement a new listener for the component we don't support out of the box, they should be able to leverage DiagnosticListener subscription, and perhaps property fetching.

The first step could be making OpenCensus.Collector.Dependencies.Common.ListenerHandler public.

One scenario for this feature:

[2019-06-03 17:24] SergeyKanzhelev opened #75 "Closing spans in diagnostic listeners"
Hi,

I'm recently implementing OpenCensus in the CMS-type application our company is developing. Beside using listeners for incoming and outgoing HTTP connections, provided in OpenCensus.Collector.AspNetCore and OpenCensus.Collector.Dependencies packages, I've reused the same pattern for DiagnosticSources our code is instrumented with.

I have some doubts with regards to my understanding of the wa

[2019-06-03 17:24] SergeyKanzhelev commented on #75
Moved from https://github.com/census-instrumentation/opencensus-csharp/issues/126

[2019-06-03 17:25] SergeyKanzhelev opened #76 "Support gRPC client integration"
Are there plans to support tracking outgoing gRPC calls (maybe using interceptor)? Will https://github.com/grpc/grpc-dotnet help with this scenario once it is ready?

[2019-06-03 17:26] SergeyKanzhelev opened #77 "Support for CNCF Jaeger"
Need to support Jaeger exporter

[2019-06-03 17:26] SergeyKanzhelev opened #78 "Support for distributed tracing when calls are made over message systems like NServiceBus, Rabbit MQ etc"
from: @jacostro

I have a problem with a queuing scenario:
* web application queues a request for offline processing (trace A),
* pub/sub subscriber picks up a request and processes it (trace B).

These processes take place at different time and processing part (B) is usually longer. Both have separate traces, but top level span of trace B has a link (`LinkType.ParentLinkedSpan`) to originating sp

[2019-06-03 17:27] SergeyKanzhelev opened #79 "EF Core support"
Moved from https://github.com/census-instrumentation/opencensus-csharp/issues/114

[2019-06-03 17:27] SergeyKanzhelev opened #80 "zPages: statsZ support"
Support statsZ page

[2019-06-03 17:28] SergeyKanzhelev opened #81 "zPages: rpcz support"
zPages is a great practice many organizations and SRE uses for  the last line of defence while troubleshooting application issues. zPages aggregate telemetry in-process in a memory buffer and allow to query this  informaiton directly from the app. It will be great to design and implement zPages

See some info on zPages: https://opencensus.io/zpages/

Also features in SRE book.

[2019-06-03 17:28] SergeyKanzhelev opened #82 "exporter/stackdriver: distribution range is not allowed"
From https://github.com/census-instrumentation/opencensus-csharp/issues/110

I've tried using distribution aggregation with stackdriver exporter, but it does not work.
It looks like the same issue as in GO package - https://github.com/census-instrumentation/opencensus-go/issues/143

[2019-06-03 17:29] SergeyKanzhelev opened #83 "Collections util methods may be unnecessary"
See comments here:

https://github.com/census-instrumentation/opencensus-csharp/pull/41#pullrequestreview-153438383

![image](https://user-images.githubusercontent.com/9950081/49106866-2efa1880-f239-11e8-979d-6b2e37769670.png)

[2019-06-03 17:29] SergeyKanzhelev opened #84 "Performance and benchmarking"
1. we should understand the performance of OC and fix bottlenecks if any
2. we should make it easy to run and experiment (e.g. opencensus-java allows to run benchmarking as unit tests) - can we do it?

I'd suggest to use https://benchmarkdotnet.org/

[2019-06-03 17:30] SergeyKanzhelev opened #85 "Error logging with EventSource"
Replace all TODO and Debug.Write with the proper error logging

[2019-06-03 17:47] austinlparker commented on #12
Do you have anything I can look at that's closer to the desired implementation? I'm having trouble understanding what we're looking to do here.

[2019-06-03 17:58] SergeyKanzhelev commented on #12
1. `Match` is often used to avoid the long `if/else` by using polimorpism. Like here https://github.com/open-telemetry/opentelemetry-dotnet/blob/bca11b84189de0d92c6ea2206a16ff0d0312427c/src/OpenTelemetry/Stats/Aggregations/Mean.cs#L34-L37

2. There is no need to return something different than a generic `Attribute` from the calls like `AttributeValue.StringAttributeValue`. The way `AttributeValue.

[2019-06-04 15:49] discostu105 opened #89 "Re-shape samples"
Currently, there is just one project called "Samples", which contains examples of exporters. Then there is a solution folder called "testdata" with an ASP.Net Core project as example for how to use OpenTelemetry in ASP.NET Core.

What I am missing is an example of how to implement your own Tracer. I tried to add one, but then was not sure where to put it. "samples" vs. "testdata"? Should we combin

[2019-06-04 15:53] discostu105 commented on #89
More specifically, I would just

 * move `Samples` project to `samples\Exporters`
 * move `testdata\TestApp.AspNetCore.2.0` to `samples\TestApp.AspNetCore.2.0`
 * add `samples\LoggingTracer\LoggingTracer`
 * add `samples\LoggingTracer\ConsoleApp`
 * add `samples\LoggingTracer\AspNetCore.2.0`

[2019-06-04 16:36] SergeyKanzhelev commented on #89
`testdata\TestApp.AspNetCore.2.0` is used in tests. Do you want to make a copy instead?

[2019-06-04 16:37] SergeyKanzhelev commented on #89
one additional example - how library must be instrumented with an API.

[2019-06-04 16:43] discostu105 commented on #89
You're right, `testdata\TestApp.AspNetCore.2.0` is actually used in unit-tests, so I believe it is ok to keep it in `testdata` folder as it is for now.

[2019-06-05 01:55] lmolkova opened #93 "Library instrumentation: Not possible to use Abstractions without implementation"
So in a typical library instrumentation scenario, the library starts/stops spans with something like (in java).

[code]

check out https://github.com/open-telemetry/opentelemetry-java/blob/3a7e63426059f0c4202362c61e6c093851697d4a/api/src/main/java/io/opentelemetry/OpenTelemetry.java - it is a registry of default implementations with dynamic discovery

Without implementation Span becomes `BlankSpan

[2019-06-05 03:10] trwegner commented on #18
@SergeyKanzhelev, I can plan to take this next unless there is higher priority work instead

[2019-06-05 16:53] SergeyKanzhelev commented on #21
Resource is now in specs: https://github.com/open-telemetry/opentelemetry-specification/blob/master/specification/resources-api.md and https://github.com/open-telemetry/opentelemetry-specification/blob/master/specification/tracing-api.md#constructing-spandata

Need to move abstract class to API, get rid of interface and add Resource to the `SpanData`.

[2019-06-05 16:53] SergeyKanzhelev commented on #21
@trwegner do you want to take it?

[2019-06-05 18:54] trwegner commented on #21
Sure!  I'll start this afternoon.

[2019-06-05 20:01] ysma500 commented on #67
One of the easy solutions would be to use a `string` instead of a `Uri` in the PrometheusExporterOptions(). Then we'll be able to write the URI string as: "http://+:port/path/". Because the underlaying HttpListener() object in [MetricsHttpServer.cs](https://github.com/open-telemetry/opentelemetry-dotnet/blob/master/src/OpenTelemetry.Exporter.Prometheus/Implementation/MetricsHttpServer.cs) can use

[2019-06-05 20:01] ysma500 commented on #67
I'd be down to do it btw 😃 .

[2019-06-05 21:55] SergeyKanzhelev commented on #67
great! Looking forward for your contribution.

[2019-06-05 22:03] trwegner commented on #21
@SergeyKanzhelev and @lmolkova - to move Resource abstract class requires also moving Tag, TagKey and TagValue.  Any objection to removing the corresponding Tag* interfaces along the the Resource one?

[2019-06-05 22:05] SergeyKanzhelev commented on #21
yep. This is fine: https://github.com/open-telemetry/opentelemetry-java/blob/4172855fcdefc5d11cf52a974aeaf8de572c9f96/api/src/main/java/io/opentelemetry/tags/Tag.java#L30

[2019-06-05 22:09] trwegner commented on #21
Great! Thanks Sergey.

[2019-06-07 15:56] #67 closed

[2019-06-11 02:16] #20 closed

[2019-06-11 02:16] #22 closed

[2019-06-11 05:09] SergeyKanzhelev commented on #21
Closed via #97

[2019-06-11 05:09] #21 closed

[2019-06-11 12:44] AlexeiScherbakov opened #101 "Use IOptions<T> for DI options"
For example StackExchangeRedisCallsCollectorOptions can be be injected as

[code]

and StackExchangeRedisCallsCollector must have ctor with IOptions or IOptionsMonitor(for reloading options dynamically) for example:
[code]

link: https://docs.microsoft.com/en-US/aspnet/core/fundamentals/configuration/options?view=aspnetcore-2.2

[2019-06-13 06:40] SergeyKanzhelev commented on #61
i think this is done

[2019-06-13 06:40] #61 closed

[2019-06-14 04:43] JamesNK opened #106 "README is out of date"
https://github.com/open-telemetry/opentelemetry-dotnet#opentelemetry-quickstart-collecting-data

[code]

There is no Tracing.Tracer, IPropagationComponent or DefaultPropagationComponent

[2019-06-14 05:38] JamesNK opened #107 "ZipkinTraceExporter.Start does not error when it can't connect"
Your Zipkin sample code is this:

[code]

My docker image did not have HTTPS enabled by default and nothing was captured by Zipkin. An indication should be given that the exporter is not going to work. For example, an exception.

[2019-06-14 06:10] JamesNK opened #108 "Library is logging its own calls to Zipkin"
I took your TestApp.AspNetCore.2.0 and changed the exporter to Zipkin.

[code]

As soon as the app starts running it sends constant requests to Zipkin, and it is logging those requests. Within seconds there are thousands of traces.

![image](https://user-images.githubusercontent.com/303201/59487014-68d9f600-8ecf-11e9-9b70-e40c1bfe6171.png)

[2019-06-14 07:06] JamesNK commented on #76
So I've been experimenting with grpc-dotnet and OpenTelemetrySDK.

Because the grpc-dotnet server is hosted on ASP.NET Core and the gRPC client uses HttpClient we get a lot of tracing for free.

![image](https://user-images.githubusercontent.com/303201/59489704-0edd2e80-8ed7-11e9-86c0-161377757c52.png)

![image](https://user-images.githubusercontent.com/303201/59489714-13094c00-8ed7-11e9-9342-10e7

[2019-06-14 20:22] SergeyKanzhelev commented on #108
there is a custom sampler you can implement to filter out unwanted requests: https://github.com/open-telemetry/opentelemetry-dotnet/blob/aec6feb6f4c63d5a5fab13b0c9f33b60eaffaf33/src/OpenTelemetry.Collector.Dependencies/DependenciesCollectorOptions.cs#L44

But clearly there should be a better way. Ideally out of the box.

Similar issue: https://github.com/open-telemetry/opentelemetry-dotnet/issues/

[2019-06-14 20:24] SergeyKanzhelev commented on #107
Do you suggest to make `Start` throw if it cannot connect? Ideally we need to get rid of `Start` and autostart. And in this case there will be no place to throw from.

How do you see an ideal configuration behavior?

[2019-06-14 20:25] SergeyKanzhelev commented on #106
@discostu105 as you working on samples can you please also update samples in readme?

[2019-06-14 21:17] JamesNK commented on #107
How you do it is up to you. Exception, logging, etc. Failing silently is not good option.

[2019-06-17 09:27] hacst opened #109 "Connection with dotnet/diagnostics tooling"
[dotnet 3.0 introduces tooling for internal metrics and tracing](https://devblogs.microsoft.com/dotnet/introducing-diagnostics-improvements-in-net-core-3-0/) in the form of [dotnet-counters](https://github.com/dotnet/diagnostics/blob/master/documentation/dotnet-counters-instructions.md) and [dotnet-trace](https://github.com/dotnet/diagnostics/blob/master/documentation/dotnet-trace-instructions.md)

[2019-06-17 15:01] austinlparker opened #110 "XML comment analysis is disabled for Linux/MacOS"
See https://github.com/open-telemetry/opentelemetry-dotnet/pull/88/checks?check_run_id=149915175 build for an example - specifically it seems like the following StyleCop rules are checked on Windows and not on Linux/macOS

* SA1602 - `Enumeration items should be documented`
* SA1506 - `Element documentation headers should not be followed by blank line`
* SA1648 - `inheritdoc should be used with in

[2019-06-18 06:52] discostu105 commented on #109
It raises the question which .NET versions we want to support at all. Is it specified yet @SergeyKanzhelev ?

IMHO, if we define some minimum .NET version (e.g. netstandard 1.5), we can only use the API's available in that version, nothing else.

If we want to utilize .NET Core 3.0 features, we'd have to release this as a separate package (or utilize reflection).

[2019-06-19 17:52] SergeyKanzhelev opened #113 "Add note to CONTRIBUTING about the code style"

[2019-06-19 18:04] SergeyKanzhelev commented on #109
we discussed .NET versions thing at last SIG meeting. [Form notes](https://docs.google.com/document/d/1yjjD6aBcLxlRazYrawukDgrhZMObwHARJbB9glWdHj8/edit?usp=sharing)

So there should be no versioning problem there.

[2019-06-19 18:06] bruno-garcia opened #115 "Use TreatWarningsAsError"
Building the solution now triggers a ton of warnings
Suggest to turn on ` <TreatWarningsAsErrors>True</TreatWarningsAsErrors>` and clean up the current warnings.

[2019-06-21 23:07] SergeyKanzhelev opened #117 "Tags API clean-up"
Tag's new name is distributed context. Needs renaming

[2019-06-21 23:07] SergeyKanzhelev commented on #117
see spec: https://github.com/open-telemetry/opentelemetry-specification/blob/master/specification/distributedcontext-api.md

[2019-06-21 23:09] SergeyKanzhelev opened #118 "Implement Tracer and Meter construction from OpenTelemetry object"
See https://github.com/open-telemetry/opentelemetry-specification/blob/master/specification/api-tracing.md#obtaining-a-tracer

[2019-06-21 23:09] SergeyKanzhelev opened #119 "IRandomGenerator must be SDK concept"
Move IRandomGenerator to SDK

[2019-06-21 23:12] SergeyKanzhelev opened #120 "Move exporter API and IStartEndHandler to SDK package"

[2019-06-25 17:49] ysma500 opened #122 "Fix open census reference in readme.md file"
There is a reference to old opencensus project that has been forgot in readme when it was refactored.

[2019-06-26 05:47] #23 closed

[2019-06-26 05:54] #122 closed

[2019-06-26 14:17] ysma500 opened #124 "Faster ASP.Net Core implementation of Exporter Prometheus"
As a dev using ASP.Net Core MVC, I mainly use the file `appsettings.json` to assign different settings. We could use that file to do the heavy lifting of setting-up Prometheus Exporter.
Instead of using this method to init the Exporter:
[code]
We could promote something like this:
[code]
If you are interested, I could work on the parsing of the appsettings file. My json file structure might not be

[2019-06-26 18:07] ysma500 opened #125 "Fix broken sample-urls"
The path behind code sample in readme have been broken. The path to the examples must have changed.

[2019-06-27 05:07] #125 closed

[2019-06-28 16:02] AlexeiScherbakov commented on #124
Something like:
services.Configure<PrometheusExporterOptions>(configuration.GetSection("PrometheusExporterOptions"));

then this will be avaliable via IOptions<>

Related issue - https://github.com/open-telemetry/opentelemetry-dotnet/issues/101

[2019-06-30 06:07] SergeyKanzhelev commented on #24
closed via #127

[2019-06-30 06:07] #24 closed

[2019-07-02 06:21] czs1993 opened #129 "ZipkinExporter will be in an infinite loop when I use ZipkinExporter to Export Tracing data 。"
step1:
I created a Web Application(.Net Core) ,and then configured in the startup class(Startup.cs) according to the configuration example;

        public void ConfigureServices(IServiceCollection services)
        {
            services.Configure<CookiePolicyOptions>(options =>
            {
                options.CheckConsentNeeded = context => true;
                options.MinimumSameSitePoli

[2019-07-02 08:52] enzian opened #130 "Versioning based on GIT history"
Hi, I noticed, that this project uses a `Version.props` file. I have worked with [MinVer](https://github.com/adamralph/minver) for some time now.

With MinVer we could derive versioning info (Maj, Min, Patch + Pre) from tags set in the git history!

If that is something that would make sense here, I'd like to contribute!

[2019-07-02 09:28] enzian commented on #115
I'd take this - it's going to be a huge changeset...!

Do we really want to prefix all local calls with `this`?

[2019-07-02 10:07] bruno-garcia commented on #115
It'd be great to use `_` instead of `this`. I'd be glad to make the change if that's the blocker for changing it.

[2019-07-02 10:16] enzian commented on #115
@bruno-garcia: I wish for a refactoring the does that directly ;-)

[2019-07-02 10:18] enzian commented on #115
Do we want to force the explicit declaration of access modifiers throughout the codebase?

[2019-07-02 19:40] discostu105 commented on #89
Closing this issue now. Sample folder has been created and LoggingTracer is on its way (#92).

[2019-07-02 19:40] #89 closed

[2019-07-04 06:00] #129 closed

[2019-07-04 06:46] czs1993 opened #134 "ZipkinExporter will be in an infinite loop when I use ZipkinExporter to Export Tracing data"
step1:
I created a Web Application(.Net Core) ,and then configured in the startup class(Startup.cs) according to the configuration example;

        public void ConfigureServices(IServiceCollection services)
        {
            services.Configure<CookiePolicyOptions>(options =>
            {
                options.CheckConsentNeeded = context => true;
                options.MinimumSameSitePoli

[2019-07-04 17:38] lmolkova commented on #93
I've been playing with it.  Here is the raw proposal on how to fix it using delegates

[code]

pros: fast and easy, no reflection
cons: need to make sure SDK calls `Tracing.RegisterTracer = () => new Tracer();`

I've also played with reflection (and of course don't like it).
cons: very inefficient (can optimize it by looking for the known implementation and falling back to full type search)
also,

[2019-07-05 07:49] enzian commented on #113
#131 and #115

[2019-07-05 10:22] thangchung opened #135 "Is OpenTelemetry supporting W3C Trace Context?"
We have a little bit concern that if OpenTelemetry is supporting [Trace Context](https://www.w3.org/TR/trace-context/#trace-id) or not? I have searched around in this repository but no clue about Trace Context implemented with standard from W3C. Due to the built-in with Trace Context feature in the next .NET Core 3.0, could you shed the light on Trace Context in OpenTelemetry for us a little bit a

[2019-07-05 17:30] lmolkova commented on #135
Yes, it does support trace-context. Here is an implementation: https://github.com/open-telemetry/opentelemetry-dotnet/blob/master/src/OpenTelemetry.Abstractions/Context/Propagation/TraceContextFormat.cs

Here is how it is used (It will change significantly very soon as .NET Core stack now supports W3C trace-context natively):
- incoming requests: https://github.com/open-telemetry/opentelemetry-dot

[2019-07-05 17:31] #135 closed

[2019-07-08 06:48] enzian opened #137 "Reennable CS1591"
In order to treat warnings as errors (#115), it was decided, to disable CS1591 which enforces documentation on all public members of an assembly. (see #131)

This rule should actually be enabled. Since so many APIs do not follow this rule, reenabling it should happen in two steps:

1. Reenable it for `OpenTelemetry` and `OpenTelemetry.Abstractions`
2. Reenable it for all Contrib-Projects.

[2019-07-09 07:38] enzian commented on #115
Since #131 is #137 is the follow up to this, can we close this one?

[2019-07-09 07:42] enzian commented on #130
The functionality has been merged in #131 and I think we should consider this one done, whenever we build and release the next prerelease version that was successfully versioned using MinVer!

Any other/different opinions?

[2019-07-09 08:04] enzian opened #138 "Extracting Vendor Specific Sources"
I sifted through some of the issues and PRs that introduced Exporters and Collector. I noticed also while cleaning up the code, that the code quality, architecture and general style differ noticeably.

This is why I would like to propose a segregation of 'Contribution/Vendorspecific' collectors and exporters into their own repos. This would have a few advantages:

* it moves the burden of maintena

[2019-07-09 13:25] austinlparker commented on #138
FWIW I'm generally in favor of moving everything that isn't the API and SDK out of this repository once it becomes more stable. I think there's slightly more short-term benefits to keeping everything together until we've got at least the API nailed down (which should be happening in the next few months, as the spec finalizes). Once that's happened, though, we should absolutely migrate the exporter

[2019-07-09 17:56] trwegner opened #139 "Remove ExportComponent from SDK layer"
ExportComponent is not included in [OpenTelemetry specification](https://github.com/open-telemetry/opentelemetry-specification) so should be removed.  This was pointed out in PR [111](https://github.com/open-telemetry/opentelemetry-dotnet/pull/111) comments for issue #18 by @lmolkova on [Tracing.cs](https://github.com/open-telemetry/opentelemetry-dotnet/pull/111/files/26d60453a046e9a8d70a3492aaf67

[2019-07-09 18:44] #115 closed

[2019-07-09 18:52] SergeyKanzhelev commented on #130
need to delete all the packages with the version 0.1.0 from myget. As packages are now prodiuced with the versioning like `0.0.0-alpha.0.48`.

As for NuGet releases - do we need a way to produce versions without the patch number. Can you add a build definition or a small instruction on how to do it?

[2019-07-11 19:10] #59 closed

[2019-07-11 19:13] lmolkova commented on #119
does not exists anymore with #136

[2019-07-11 19:13] #119 closed

[2019-07-11 19:17] lmolkova commented on #117
In the scope of this issue we should also consider
- removing builders - this came from Java and builders are not good in .NET because of allocations
- consider using structs instead of classes
- System.Diagnostics.Activity.Baggage is for Distributed Context - can we support it with Activity.Baggage (likely not)?

[2019-07-12 06:51] lmolkova commented on #139
@trwegner do you think you'll be able to take it over?

[2019-07-12 06:52] SergeyKanzhelev opened #144 "ISampler.ShouldSample must return a Decision, not a bool"

[2019-07-12 07:40] lmolkova opened #145 "Define API to create span from the current Activity"
In auto-collectors Activity is created by the library (HTTP client or web framework or anything else). We need to create Span that represents the same Activity - not create a child of it.

In #140  it looks like this

[code]

`SetCreateChild(false)` does the trick, but does not seem to be good choice. We need to revisit this API and find better name/place We are going to work more on this integrat

[2019-07-12 12:39] austinlparker commented on #145
What about something that chains off of `Activity`? So you'd have something like `ISpan span = Activity.Current.ToSpan()`, and we can hide the details in there.

[2019-07-12 13:08] austinlparker opened #146 "AttributeValue cleanup"
Since #88 removes the `AttributeValue` abstraction in favor of .NET primitives, we need to clean up and remove uses of it that didn't get removed in that PR.

[2019-07-12 13:37] trwegner commented on #139
Yes, happy to take it.

Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: Liudmila Molkova <notifications@github.com>
Sent: Thursday, July 11, 2019 11:51:08 PM
To: open-telemetry/opentelemetry-dotnet <opentelemetry-dotnet@noreply.github.com>
Cc: Tim Wegner <twegner@microsoft.com>; Mention <mention@noreply.github.com>
Subject: Re: [open-telemetry/opentelemetry-d

[2019-07-12 18:28] lmolkova commented on #145
Yeah, the problem is that we still need tracer to participate. The Activity does not know about configured sampler, exporter, config. So this would look like Activity.ToSpan(tracer) or Activity.ToSpan(SpanBuilder).

I wish we made this API accessible through the same builder as anything else.  At the end of the day, this just builds Span from some external context - all other SpanBuilder methods d

[2019-07-13 01:31] #60 closed

[2019-07-13 03:46] lmolkova commented on #139
Sorry, already removed span stores in #147, they were very annoying :)

[2019-07-15 06:47] enzian commented on #130
@SergeyKanzhelev there is no need to delete existing packages, we just need to push tags on the commits that we released and minver will infer the next versions and offsets.

The workflow for a release is quite simple: tag (and sign) the commit you want to release, then make azure devops (or any other CI tool) build the tag. Be sure not to do a shallow fetch, since minver needs the ability to iter

[2019-07-15 18:09] austinlparker commented on #146
@lmolkova I think #148 and #149 got this?

[2019-07-15 18:10] lmolkova commented on #146
yep, closing this

[2019-07-15 18:10] #146 closed

[2019-07-15 18:16] austinlparker commented on #12
Closed by #88 #148 #149

[2019-07-15 18:16] #12 closed

[2019-07-15 20:39] bruno-garcia commented on #93
Sorry to jump in uninvited, I hope it's OK I share some thoughts:
The delegate approach is less DI friendly but I guess that ship has sailed. All these static's would have to be set before registering anything in the container.
One nit is, just to be sure, although I'm sure it's just an example but there's a race condition in that the static field (would be a property?) could have been swapped out

[2019-07-16 06:18] bruno-garcia opened #154 "Build all TFMs on Windows, macOS and Linux"
Following this [comment](https://github.com/open-telemetry/opentelemetry-dotnet/pull/151#issuecomment-511596887).

Make `dotnet build` build all targets (currently `net45` and `netstandard2.0`) on Windows, macOS and Linux. [This allows development all 3 platforms without reaching those `#ifdef` that exclude full framework code paths on non-Windows machines.](https://github.com/open-telemetry/opent

[2019-07-16 16:09] austinlparker opened #156 "Reduce StyleCop terseness"
There are concerns about the amount of violations stylecop finds - we should turn it down.

[2019-07-16 18:14] enzian commented on #156
What rules are you referring to?

[2019-07-16 19:26] austinlparker commented on #156
@lmolkova could maybe give some more insight as she brought this up in the weekly meeting, but I think the major complaints were around nitpicky sort of style things that should theoretically be automatically fixed (like trailing commas or newlines)?

[2019-07-16 21:11] trwegner commented on #83
Please assign this issue to me.

[2019-07-16 22:20] austinlparker commented on #83
@trwegner done, enjoy!

[2019-07-16 22:25] trwegner commented on #83
thanks @austinlparker.  wondering if there are objections to also converting to use nameof() in these methods to eliminate literal string for class and member names:

        public override string ToString()
        {
            return "Status{"
                    + "canonicalCode=" + this.CanonicalCode + ", "
                    + "description=" + this.Description
                    + "}";

[2019-07-16 22:34] austinlparker commented on #83
works for me

[2019-07-17 07:05] enzian commented on #156
I agree but fact is: They are were/are not. I fixed a few thousand warnings where a good part were whitespacing issues that also lead to bad readability and thank god for the ability to apply fixes to solutions...

The thing is, while it may be nitpicking - disabling rules will lead to them not being followed and no one noticing it in reviews.

[2019-07-17 09:14] discostu105 commented on #156
Just my personal opinion: I'm ok with strict style rules. It avoids errors that would need follow up commits, just to fix styling.

What I am slightly annoyed by, is the "every methods needs XML documentation" rule. I am absolutely FOR having clear and good documentation on the most crucial public API's, but not for every single method (that just clutters the code).

[2019-07-17 17:56] lmolkova commented on #156
Basically, if we chose to have some rules, especially nitpicking like whitespaces or double lines, we can make development better by
  - find way to automate fixing it
  - find settings that help everyone not suffer
  - if there is no way to avoid it and everyone suffers and it's too hard to develop in this project because of some stylecop rule - we should remove it. Projects like .net core someho

[2019-07-18 06:54] enzian commented on #156
@lmolkova That is more to the point and allows for discussion! Let me address some of your bullet points:

YES PLEASE! But how? `configure resharper rules and auto-clean up` isn't really an option here, since many people do not use resharper and/or VS... A bot that cleans things up once PRs are opened is something I've never seen in real life and I don't know if I'd like to have a bot mess in my h

[2019-07-18 12:44] austinlparker commented on #156
OmniSharp seems to have added .editorconfig support (https://github.com/OmniSharp/omnisharp-vscode/releases/tag/v1.21.0) just yesterday, would that do auto clean-up once it makes it into VSC?

[2019-07-21 00:31] PS-EGHornbostel opened #158 "Tracing.Tracer.WithSpan no longer closes spans when using the Disposable pattern."
Tracing.Tracer.WithSpan no longer closes spans when using the Disposable pattern.

This appears to be a result of a one-line change in the WithSpan function:

[code]

originally, before the Disposable pattern broke, the last line was

 `return CurrentSpanUtils.WithSpan(span, true);`

[2019-07-21 00:36] #158 closed

[2019-07-24 17:46] #154 closed

[2019-07-24 20:15] bruno-garcia commented on #77
I this this can be closed since #132 was merged.

[2019-07-24 20:16] #77 closed

[2019-07-25 16:47] lmolkova opened #163 "Auto-collectors create scope and never dispose it"
Auto-collector based on DiagnosticSource receives different events for starting/stopping activity.
Now they all start span in start and end it in stop event.

Between start and stop state is preserved through AsyncLocal Activity object.

IScope does not work well with this approach. On one side, we have to create it to make Span current (and preserve it to be available in stop), on the other side,

[2019-07-25 16:53] austinlparker commented on #163
Is there some sort of storage available for DiagnosticSource that could hold the span reference?

[2019-07-25 16:55] lmolkova commented on #163
There is in ConcurrentSpanUtils - but span reference is hold (attached to Activity) only after someone calls WithSpan. Which creates IScope

[2019-07-25 16:56] austinlparker commented on #163
Oh, hrm. There ought to be a way to create a span without a scope, I believe.

[2019-07-25 16:57] lmolkova commented on #163
yes, we create span, but we don't make it scoped by default

[2019-07-26 17:31] pakrym opened #164 "Zipkin exporter http calls get exported themselves"
![image](https://user-images.githubusercontent.com/1697911/61969941-8d29f780-af90-11e9-8ec8-a914ddde7ce7.png)

[2019-07-26 17:32] pakrym commented on #164
cc @lmolkova

[2019-07-29 18:01] austinlparker commented on #144
Spec decision is WIP on this.

[2019-07-29 18:26] austinlparker commented on #62
This appears to have been closed by #151

[2019-07-29 18:26] #62 closed

[2019-07-29 18:44] austinlparker commented on #118
There's an ongoing spec process to better define a global instance.

[2019-07-29 18:46] austinlparker commented on #117
There's a distributed context proposal working through the spec group.

[2019-07-29 18:50] austinlparker commented on #33
Proposal on distributed context spec being worked

[2019-07-29 21:11] austinlparker commented on #93
FWIW, the delegate approach is pretty similar to the OpenTracing `GlobalTracer` (https://github.com/opentracing/opentracing-csharp/blob/master/src/OpenTracing/Util/GlobalTracer.cs).

[2019-07-29 21:15] lmolkova commented on #93
the biggest problem with this approach is that library/instrumentation site can cache noop tracer before user has a chance to set up the right one: it's not uncommon to get configuration/secrets over HTTP and setup tracing tools/ everything else after that.

It seems the way to go is never return noop tracer, but rather wrap it with something that in runtime can switch from noop to registeres

[2019-07-29 22:41] austinlparker commented on #93
I'd think that if you did have some situation where there was config information or secrets that you wanted traced, you'd need to have a tracer at that point, which either means you're instantiating a tracer at that point (thus solving the problem) or that you'd expect the global tracer to be registered, which could only happen during initialization.

Part of the problem is the noop tracer itself

[2019-07-29 23:51] lmolkova commented on #93
I don't mind *not* tracing things that happen before tracer is set up.

The major problem is that libraries with do something like `private readonly ITracer tracer = OpenTelemetry.Tracer` and then, when libraries are loaded in a specific order (sometimes and unpredictable and not controlled) it leads to Noop tracer cached for the lifetime of the library.

So assuming we don't need to buffer spans,

[2019-07-30 00:07] austinlparker commented on #93
That seems fine, yeah. We just need to make sure that `OpenTelemetry.GlobalTracer` or whatever goes to the right thing, like you said.

[2019-07-30 02:09] lmolkova opened #166 "HttpClient listener should not track calls to well-known internal endpoints"
By default, it should not listen to zipkin, appInsights and other know http exporters.
The default list of URLs should not be too big, users should be able to configure custom endpoints.

Simial issues for zipkin #134 #108 #164.

[2019-07-30 17:55] #164 closed

[2019-07-31 02:14] czs1993 opened #173 "The Tacer starting point parentspanid is not null"
Normally,the Tacer starting point parentspanid is null ,but when tacer start, the ParentSpanID not null。

[{
    "traceId": "915663aeb043944fa796b504c5dd3a6b",
    **"parentId": "41f7ead7eda5754a",**
    "id": "c2141c5ba55e3c49",
    "kind": "SERVER",
    "name": "/Login/Login",
    "timestamp": 1564539176486000,
    "duration": 1316000,
    "localEndpoint": {
        "serviceName": "OpenTelemetry

[2019-08-06 09:23] #134 closed

[2019-08-06 13:08] AlexeiScherbakov opened #175 "Jaeger exporter not working under .NET Core 2 (System.TypeLoadException: 'Could not load type 'Thrift.Protocols.TAbstractBase')"
Throws exception on jaegerExporter.Start();
`System.TypeLoadException: 'Could not load type 'Thrift.Protocols.TAbstractBase' from assembly 'Thrift, Version=0.6.0.39067, Culture=neutral, PublicKeyToken=null'.'`

Manually adding Thrift package don't help. Version - 0.2.0-alpha.5

[2019-08-06 19:35] pakrym opened #176 "ApplicationInsights exporter hangs on stop"
exporter.Stop() call never returns

cc @lmolkova

[2019-08-07 16:23] AlexeiScherbakov commented on #175
0.2.0-alpha.9 - same issue

[2019-08-08 12:36] #176 closed

[2019-08-08 18:27] pcwiese commented on #28
Is anyone actively working on this issue?

[2019-08-08 18:31] austinlparker commented on #28
Not currently, it's up for grabs. Are you interested in it?

[2019-08-08 19:01] pcwiese commented on #28
Yes. Happy to take a stab at it.

[2019-08-08 19:58] austinlparker commented on #28
All yours! Feel free to reach out if you have any questions.

[2019-08-12 20:39] pcwiese commented on #28
What is the current plan for OpenTracing Baggage items? I read here https://lightstep.com/blog/building-a-bridge-connecting-opentracing-with-opentelemetry/ that it corresponds to OpenTelemetry's Tag (the current name from what I gather) but then I come across issues and specs for DistributedContext. It sounds like DistributedContext is meant to replace Tags in the API but renaming has not happened

[2019-08-12 20:43] austinlparker commented on #28
That's correct - there's some stuff in the works to nail down DistributedContext because I don't think it's been completely specced out/people aren't fully happy with it and baggage would eventually go in there.

[2019-08-14 18:22] iron9light commented on #78
Support [CloudEvents](https://github.com/cloudevents/sdk-csharp)

[2019-08-16 17:02] AlexeiScherbakov commented on #175
It can be easy fixed by renaming Thrift package

[2019-08-16 17:28] pcwiese commented on #28
@austinlparker I'm working my way through the context propagator stuff. I see code in the java shim's propagator looking for binary injection formats, and I do see references to a binary format here
https://github.com/opentracing/opentracing-csharp/blob/master/src/OpenTracing/Propagation/BuiltinFormats.cs

However, that looks to be recently added and is not part of the latest NuGet package that I

[2019-08-16 18:57] austinlparker commented on #28
Binary propagation is in the most recent OpenTracing prerelease (https://www.nuget.org/packages/OpenTracing/0.12.1-rc4), which should go to full release within the next couple weeks.

[2019-08-16 19:08] pcwiese commented on #28
In that case this shim would only support the last release (probably) of OpenTracing (in C#).

[2019-08-16 19:18] austinlparker commented on #28
That's fine.

[2019-08-19 18:03] pcwiese commented on #163
Is the only method of attaching a Span to the current Activity via WithSpan? That method always returns a scope that when disposed with mark the Span as finished. Is there a way to attach a span to an Activity without that behavior?

I ask because OpenTracing allows that it seems. There is an Activate method that takes a Boolean finishOnDispose flag. There doesn't appear to be any way to pass a fa

[2019-08-19 19:25] pcwiese commented on #28
I'm a little confused about the intended behavior of OpenTracing IScopeManager Active property. Activate seems clear enough to me; mark the current Span as Active and give back an IDisposable that will end the Span when disposed (assuming finishOnDispose is true). Is the intent of the Active property to return the current Span as a disposable also? And that disposing is essentially a no-op if that

[2019-08-19 19:33] lmolkova commented on #163
there is no way to attach span to the activity except WithSpan. Activity is .NET concept and we are working with .NET folks to help us define the right way to integrate Spans with Activities.

this is issue of how to propagate current span between start/stop events rather than how to stop span and while it is possible today, it is not a clean solution that we cannot dispose scopes.

[2019-08-19 23:29] austinlparker commented on #28
Spans aren't disposable, but Scopes are - the idea is that when you call `Dispose` on an `IScope` then the span that's scoped to it will get finished. Both `Active` and `Activate` return a `IScope`, but the idea behind `Activate` is to allow someone to janitor their spans manually while benefitting from the scope manager (see https://github.com/opentracing/opentracing-csharp/blob/master/test/OpenT

[2019-08-20 08:32] z1c0 opened #190 "Make "OpenTelemetry.Trace.Status" a struct."
Currently `OpenTelemetry.Trace.Status` is implemented as a reference type.
Since `Status` instances mainly wrap an operation state enumeration, they are a candidate for a value type.
This can potentially reduce GC and memory pressure.

[2019-08-20 14:00] austinlparker commented on #190
Closed by merging #19

[2019-08-20 14:00] #190 closed

[2019-08-20 16:34] pcwiese commented on #28
I can mark that flag as deprecated however I'm still confused on how to adapt these two interfaces together. As is, it just won't work I think.

[code]

Now if I try to map that understanding to OpenTelemetry API to achieve that I get something like:
- A call to ITracer.WithSpan(span) which returns an OpenTel IScope (which has no span information).
- To satisfy OpenTracing IScope, I can return a S

[2019-08-20 18:22] austinlparker commented on #28
`Active` wouldn't give you a new scope, it'd give you back the same scope, so your example would result in a runtime error if you tried to interact with the span in the outer `using`, like so -

[code]

If I pass `false` to `finishSpanOnDispose` then it will not be an error (although I'll have to manually finish the span).

I'm don't think that answers your question though. Let me look at the OTel

[2019-08-20 18:28] pcwiese commented on #28
Right. I'm assuming Active would give me the same scope as the outer scope. That example is still valid though. My point is that disposing the inner scope should be effectively the same as disposing the outer scope. That is not possible with the current OpenTel code.

[2019-08-20 19:08] austinlparker commented on #28
Looking at `WithSpan`...

[code]

Why not just change the signature of `WithSpan` to `WithSpan(ISpan span, finishOnDispose = true)`, then we can pass the OT flag through as-is?

[2019-08-20 19:23] lmolkova commented on #28
I was looking into Java impl and OT Java took approach of always explicit scope and span end. I.e. you *always* dispose scope and end span independently. disposing scope *never* results in ending span. I was thinking about doing the same rather than having inconsistent behavior and flag.

[2019-08-20 19:35] pcwiese commented on #28
Even if we did that, that doesn't address the problem I outlined above. OpenTel CurrentSpan returns the span, not a scope. There is no way to correlate that returned span with the active scope created by a call to WithSpan.

[2019-08-20 19:36] lmolkova commented on #28
Scope can have an API to retrieve a Span

[2019-08-20 19:47] pcwiese commented on #28
So IScope becomes?:

[code]

[2019-08-20 19:49] austinlparker commented on #28
Yeah, that'd work.

[2019-08-20 20:00] austinlparker commented on #28
I tried it out locally and it's pretty straightforward -

[code]

[code]

[2019-08-20 20:01] austinlparker commented on #28
`tracer.Active` should return an `IScope` however, then you'd read the span from that scope instance?

[2019-08-20 20:01] pcwiese commented on #28
I suppose so. This would be a rippling change

[2019-08-20 20:13] austinlparker commented on #28
That's a better option, agreed.

[2019-08-20 20:56] pcwiese commented on #28
Something like this maintains the current behavior and augments with additional functionality for me to use in the shim. Existing tests don't need modification although it muddy's the public API a bit.

https://github.com/open-telemetry/opentelemetry-dotnet/pull/192

I added the following additional API methods to ITracer
[code]

[2019-08-20 21:39] pcwiese commented on #28
With these changes applied from the unpublished PR above, I was able to get my shim functional for an ASP.NET Core 3 app.

[2019-08-21 14:26] mwinkler commented on #175
Same issue here.

It seems `Thrift` `0.2.0-alpha.16` is missing in `www.myget.org/F/opentelemetry` nuget feed.
Latest available version is `0.2.0-alpha.7`

When i switch back to `0.2.0-alpha.7` of `OpenTelemetry.Exporter.Jaeger` it works.

[2019-08-21 16:35] lmolkova commented on #175
Ok, so it seems this was broken when I made thrift unpackable. And this is final as we are not going to publish it. So Jaeger exporter should be changed to compile thrift and include the liib rather than use projectreference

[2019-08-22 17:13] pcwiese commented on #175
I've got a PR out to address this:
[https://github.com/open-telemetry/opentelemetry-dotnet/pull/193](https://github.com/open-telemetry/opentelemetry-dotnet/pull/193)

[2019-08-22 17:41] AlexeiScherbakov commented on #175
Actually I found 2 problems:
1. Not working exporter (Thrift conflicts with existing package)
2. Not working solution with test service which have 2 exporter to 2 jaeger
all-in-one containers (Opentracing to jaeger-allinone-1 and OpenTelemetry
to jaeger-allinone-2).

For solving second case OpenTelemetry assembly 'Thrift.dll' must be
renamed, because 'Jaeger' from OpenTracing also comes with 'Thri

[2019-08-22 18:55] pcwiese commented on #175
A good point. However, are you using the Jaeger C# client library in addition to the OpenTelemetry Jaeger exporter? When I look at the C# Jaeger OpenTracing library it takes a dependency on Jaeger.Thrift.dll, not on Thrift.dll, so there is no name collision here (in this setup anyway).

[2019-08-22 21:40] AlexeiScherbakov commented on #175
Yes, you are right! That was part of my service. It is sending 'pings' via
thrift  + grpc + http + rabbit, for testing span generation

чт, 22 авг. 2019 г., 21:55 Peter Wiese <notifications@github.com>:

[2019-08-22 22:30] pcwiese commented on #145
Any progress on this topic? I'm running into an issue building the OpenTracing shim where I **think** I need to know the shim is called from a collector which isn't appropriate for this layer.

The OpenTracing class that is listening for the event "Microsoft.AspNetCore.Hosting.HttpRequestIn.Start" is doing this:

https://github.com/opentracing-contrib/csharp-netcore/blob/master/src/OpenTracing.Con

[2019-08-22 22:35] lmolkova commented on #145
you always have Activity.Current that is 1st class citizen in Microsoft.AspNetCore.Hosting.HttpRequestIn.Start

We are working on defining Span vs Activity relationship with .NET folks. So this is in progress.

My suggestion for OTracing auto-collectors to simply configure similar OTelemetry auto-collectors and never actually run. Unless there is some feature/mismatches in behavior and produced re

[2019-08-22 22:40] pcwiese commented on #145
Are you suggesting that we change opentracing-contrib/csharp-netcore to use the OpenTelemetry collector directly?

[2019-08-22 22:41] lmolkova commented on #145
nope, but opentracing shim might be able to know when auto-collectors are started and stard OTelemetry ones instead.

[2019-08-22 22:49] pcwiese commented on #145
Does that satisfy the backwards compatibility promise that the shim is supposed to provide? On one hand you have working/tested/battle-hardened OpenTracing sets of collectors. On the other, brand new (and effectively untested collectors) based on OpenTelemetry. Even if it were possible to do that from a generic shim layer, I don't think we should.  This shim would be active for any OpenTracing con

[2019-08-22 22:55] lmolkova commented on #145
I'm in no position to advise what to do for OTracing for back-compat.  You decide how it's going to work.  I'm only trying to give you options and minimize engineering effort needed for soon-to-be-legacy product to keep working.

[2019-08-23 15:57] pcwiese commented on #145
Ok. I think I can put something in place that utilizes Activity.Current. That Activity has an operation name that would tell me which auto collector is trying to start a span, e.g. Microsoft.AspNetCore.Hosting.HttpRequestIn.

[2019-08-23 19:48] pcwiese commented on #28
A question for @lmolkova regarding this block:

https://github.com/open-telemetry/opentelemetry-dotnet/blob/5c5f2fc191c8a5b1a5b419bbe2b530fee1a567f4/src/OpenTelemetry/Trace/Span.cs#L301

Should it be just?
[code]

The reason being if you start a Span **without** making it active, and then stop it via End, the span has no end timestamp because its Activity was never stopped. If this spans owns its

[2019-08-23 21:48] lmolkova commented on #28
span should not stop the Activity it does not own.  If someone attempts to stop span in the scope of some other Activity, we should set timestamps on the span and stop it, but never touch Activity that is not ours.

[2019-08-23 23:40] pcwiese commented on #28
Right. In this case though, calling span end is not stopping the activity that it does own. The span’s activity was never made current via a call to WithSpan

[2019-09-03 16:19] austinlparker commented on #85
https://docs.microsoft.com/en-us/dotnet/api/system.diagnostics.tracing.eventsource?view=netstandard-2.0

[2019-09-03 16:22] austinlparker commented on #85
We talked about this on the meeting today - would it be preferable to use LibLog for this rather than EventSource? @lmolkova

[2019-09-03 17:00] lmolkova commented on #85
EventSource is the default way to do library debug tracing for the following reasons
- no extra dependency (it seems LibLog also is not a runtime dependency as compiled into the OT dll)
- extreme performance and robustness (every MS library uses EventSource for this and I don't know characteristics of LibLog)
- ability to control verbosity out of process (LibLob cannot )
- ability to consume logs

[2019-09-03 17:24] austinlparker commented on #85
How does EventSource work with non-Windows systems/hosts? I'm not super familiar with it.

[2019-09-03 17:39] lmolkova commented on #85
It uses LTTng on linux and you can view traces with standard tools perfview/perfcollect .  https://lttng.org/blog/2018/08/28/bringing-dotnet-perf-analysis-to-linux/
https://blogs.msdn.microsoft.com/vancem/2016/10/07/collecting-performance-data-on-linux-using-perfcollect-and-perfview/

With .NET Core 3.0 there will be more tools for that (dotnet-trace): https://devblogs.microsoft.com/dotnet/introdu

[2019-09-03 17:46] veleek commented on #85
Lots of good info about `DiagnosticSource` vs `EventSource` available in the [DiagnosticsSourceUserGuide](https://github.com/dotnet/corefx/blob/master/src/System.Diagnostics.DiagnosticSource/src/DiagnosticSourceUsersGuide.md).  Additionally, there appears to be [DiagnosticSource-to-EventSource bridge](https://github.com/dotnet/corefx/blob/master/src/System.Diagnostics.DiagnosticSource/src/System/D

[2019-09-03 17:56] lmolkova commented on #85
DiagnosticSource is not a good choice for lib debugging traces because of perf concerns and bridge to EventSource is rather complicated and limited in features. Also, it's even less friendly than EventSource.

The logs we intend to write in the OpenTelemetry are for debugging the library - when an error happens (bug, crash, perf degradation) we should be able to give users instruction what and how

[2019-09-04 05:25] veleek commented on #85
Sounds good, thanks for the overview @lmolkova.  @bruno-garcia, I think you brought up LibLog at the meeting today but I don't remember if you had any other specific reason you wanted to avoid EventSource.  Do you have anything you'd like to add or is it reasonable to continue forward with EventSource?

@austinlparker - If I determine if have some time to look at this in the next week I'll ask to

[2019-09-04 13:43] austinlparker commented on #85
I'm going to go through this week and re-do the milestones so they're up to date, but yeah it'd be good to have this in by the end of the month.

[2019-09-04 17:18] bruno-garcia commented on #85
@veleek I believe with the clarifications of @lmolkova it seems like `EventSource` is the way to go.
Since it's part of `netstandard2.0` it brings no dependencies which was the main reason I brought up `LibLog`.

Would be nice to understand further:

1. We can use ETW on Windows and LLTng on Linux but is there a story for macOS? I guess `dotnet-trace` will be one?
    1. Also to keep in mind, cons

[2019-09-04 19:07] lmolkova commented on #85
AFAIK lttng should work on macos. Dotnet trace works on Windows, Linux and macos.

Regarding  bridge to ilogger, what scenarios we have on mind for that? I suggest that we do this when we understand that dotnet trace via pure eventsource is not enought to satisfy them.

[2019-09-04 19:16] bruno-garcia commented on #85
My thoughts on `ILogger` is simply being able to get informational log messages from the framework (as does ASP.NET Core and libraries built on top of it do) out into Splunk/ELK stack. IIRC `EventSource` is more of a diagnostic thing. But maybe I'm splitting hairs here. It's anyway something we can do at a later point if the real need comes, once what's needed/important is done with.

[2019-09-04 19:26] lmolkova commented on #85
This is exactly my question - how would you use information that OTel received the Diagnostic Source callback as long as it works properly? And volume of these logs is overwhelming.

So you'd care about this logs only when there are errors and logs OTel produce is purely diagnostic thing for OTel. At least all the logs it produces today or // todos I'm the code are internal diagostics of OTel.

[2019-09-06 22:53] sywhang commented on #85
LTTng is a Linux kernel specific feature so it doesn't work on macOS :) But as mentioned `dotnet-trace` should be able to consume all the EventSource logs across all platforms.

[2019-09-10 00:23] lmolkova commented on #85
@sywhang thanks for the clarification! BTW, would dotnet-trace work on .NET Core 2.x app? If not, what would be the options for macOS app on 2.x?

[2019-09-10 01:11] sywhang commented on #85
`dotnet-trace` won't work for .NET Core 2.x apps since it depends on a runtime feature that was introduced in .NET Core 3.0.

There are 2 options available for consuming these events in .NET Core 2.0 on macOS. To consume in in-proc, we can leverage EventListener (similar to how we do it in 3.0). To consume it out-of-proc, there are couple of options available from .NET Core 2.2. One is an undocume

[2019-09-11 01:01] dmccaffery commented on #156
There is an .editorconfig extension for vscode that’s been around a long time: https://github.com/editorconfig/editorconfig-vscode

The issues around code fixes for stylecop (or any Roslyn analyzer) we been on going thing for years now. The analyzers use internal API that Visual Studio calls via reflection to apply fixes. It took a long time, but OmniSharp now supports analyzers (including styleco

[2019-09-11 03:47] psibernetic commented on #175
This is fixed in .23 confirmed.

[2019-09-11 03:58] psibernetic commented on #106
Looks like Tracing.Tracer is back, so only thing to change is remove PropagationComponent.

[2019-09-16 14:18] adrianignat13 opened #204 "ApplicationInsights exporter reports the same metrics on a loop"
Using the TestApplicationInsights you can see that it reports the same metric each time the timer ticks.

[2019-09-17 03:56] jacostro commented on #82
I encountered the same problem. Exception from Stackdriver client explicitly said that `range` is not supported yet, and this section in documentation:
https://cloud.google.com/monitoring/api/ref_v3/rest/v3/TimeSeries#Distribution
says for `range`:

[2019-09-17 04:37] jacostro opened #205 "exporter/stackdriver: LastValue aggregation converts to Gauge with invalid time range"
A view with `LastValue` aggregation converts to Stackdriver's `GAUGE` preserving its own time range, which is invalid:

Seems that correct way is to set start time to the value of end time.

[2019-09-17 13:49] jacostro opened #206 "Construction by dependency injection / excessive reliance on static singletons"
Hello,
I'm currently trying to switch my project which was based on OpenCensus to OpenTelemetry. This is an exercise in frustration, because apparently there is no way to make my existing tests work - thanks to improved protection of classes, constructors and methods by `internal` keyword. I'm not able to find a way to initialize stats component in isolation - it seems that the only way is to use

[2019-09-17 16:10] austinlparker opened #207 "Remove SpanData"
See https://github.com/open-telemetry/opentelemetry-specification/pull/215 for the full discussion.

Changes required:
* `SpanData` removed from Tracing API
* When creating a `Span`, an optional timestamp can be provided.
* When adding events to a `Span`, an optional timestamp can be provided.
* When finishing a `Span`, an optional timestamp can be provided.

When timestamps are provided, they ove

[2019-09-18 19:49] lmolkova commented on #18
Fixed in #139

[2019-09-18 19:49] #18 closed

[2019-09-18 19:50] lmolkova commented on #139
fixed in #139

[2019-09-18 19:50] #139 closed

[2019-09-18 20:06] lmolkova commented on #144
@austinlparker, it seems spec has been finalized. Can I remove the `waiting-for-spec` label?

https://github.com/open-telemetry/oteps/blob/master/text/0006-sampling.md
https://github.com/open-telemetry/opentelemetry-specification/blob/master/specification/api-sampling.md

From the .NET side: `Decision` must be value type to avoid extra allocation

[2019-09-20 21:16] SergeyKanzhelev commented on #156
most issue easily fixeable from VS itself. At the light bulb next to the violation click the drop down link and say "fix for the entire solution". Somehow I don't see any warnings on the solution now. Was it disabled? Digging now =)

[2019-09-21 03:09] lmolkova opened #217 "[Proposal] Remove builders/factories"
Builders came into OpenCensus/OpenTelemtery .NET as literal a result of the translation from Java.

In .NET
- builders are not typical: ctor arguments are. Patterns like `SpanContext.Create` are also not typical and ctor arguments are preferrable
- builders require allocation and allocation on the hot path increases GC pressure. So builders are bad for perf.
- When creating something (like span) i

[2019-09-22 12:36] bruno-garcia opened #218 "Tests fail on timezone ahead of UTC"
`ICommand.CommandCreated` is of type `DateTime`. OTel API uses the more modern `DateTimeOffset`. Since the tests don't setup a value for `CommandCreated`, a `default` `DateTime` is returned.

Tests fail when they run on a machine ahead of UTC since [`DateTimeOffset` tries to convert `DateTime` to UTC and goes out of range.](https://stackoverflow.com/questions/13799214/the-utc-time-represented-when

[2019-09-22 13:07] bruno-garcia commented on #110
I believe this issue was addressed this via #208 by removing the `OS == Windows_NT` from `GenerateDocumentationFile`.

In fact, a search for `Windows_NT` results in checks only for the tests projects, not to run `net4x` outside of Windows, which would require Mono installed:

https://github.com/open-telemetry/opentelemetry-dotnet/search?q=Windows_NT&unscoped_q=Windows_NT

See #155 for details.

[2019-09-22 17:00] #218 closed

[2019-09-22 18:29] #113 closed

[2019-09-23 04:40] lmolkova opened #223 "Implement simple span processor"
https://github.com/open-telemetry/opentelemetry-specification/blob/7d7c3aa74f706b7b5e5c632e475ccbc2289c106f/specification/sdk-span-processors.md

[2019-09-23 04:41] lmolkova opened #224 "Implement batching span processor"
https://github.com/open-telemetry/opentelemetry-specification/blob/7d7c3aa74f706b7b5e5c632e475ccbc2289c106f/specification/sdk-span-processors.md

[2019-09-23 04:42] lmolkova opened #225 "Change span exporters to work according to spec"
https://github.com/open-telemetry/opentelemetry-specification/blob/7d7c3aa74f706b7b5e5c632e475ccbc2289c106f/specification/sdk-exporter.md

[2019-09-23 04:57] lmolkova opened #226 "Implement multi-processor registration on Tracer"
https://github.com/open-telemetry/opentelemetry-specification/blob/7d7c3aa74f706b7b5e5c632e475ccbc2289c106f/specification/sdk-span-processors.md

[2019-09-23 16:00] #207 closed

[2019-09-23 19:12] #144 closed

[2019-09-23 19:34] #120 closed

[2019-09-25 07:31] czs1993 opened #229 "When does Opentlemetry.NET SDK support EntityframeworkCore tracing Collector?"

[2019-09-25 17:40] lmolkova commented on #229
For the next several months we are focusing on shipping production-ready stable version of core components. We'll be looking into extending auto-collectors after that.

[2019-09-26 19:05] #224 closed

[2019-09-26 19:16] lmolkova commented on #225
fixed in #227

[2019-09-26 19:16] #225 closed

[2019-09-26 19:17] lmolkova commented on #223
Fixed in #227

[2019-09-26 19:17] #223 closed

[2019-09-26 21:13] lmolkova opened #232 "Remove IBinaryFormat and ITextFormat abstractions"
There is no need in the abstraction, we could just have sealed implementations (as Java does).

Need to get conclusion on https://github.com/open-telemetry/opentelemetry-specification/issues/8

[2019-09-26 22:29] lmolkova opened #234 "Remove option to set IsRecordingEvents during span creation"
This is not required by spec and should be controlled by sampler

https://github.com/open-telemetry/opentelemetry-specification/blob/master/specification/api-tracing.md

[2019-09-27 23:23] #106 closed

[2019-09-30 12:03] z1c0 opened #237 "Implement "Named Tracers and Meters""
The "Named Tracers and Meters" RFC (https://github.com/open-telemetry/oteps/blob/master/text/0016-named-tracers.md) has been approved and the subsequent spec changes are also close to approval (https://github.com/open-telemetry/opentelemetry-specification/pull/264).

OpenTelemetry language repositories now need to implement this mechanisms.

[2019-09-30 17:18] austinlparker commented on #28
This was completed in #197, we'll make new issues as they come up.

[2019-09-30 17:18] #28 closed

[2019-09-30 17:18] austinlparker opened #240 "Update OpenTracing bridge to target newest OT C# lib"
OpenTracing 0.12.1 has been published so the OT bridge needs to be updated as well.

[2019-09-30 19:27] JamesNK opened #241 "Improve dependency injection registration"
Currently OT documentation asks the user to registered a lot of services:

[code]

This internal implementation detail should be hidden behind a helper method, e.g.

https://github.com/grpc/grpc-dotnet/blob/f448189939124bd38a4924754e0256b0da671391/src/Grpc.AspNetCore.Server/GrpcServiceExtensions.cs#L58

There should be a friendly user experience for OT configuration.

[2019-09-30 19:34] lmolkova commented on #241
@JamesNK you are right, we should provide such a method.
We are now focused on delivering and stabilizing core components (Abstractions and implementation packages with a few exporters) and integration with ASP.NET Core will be the next step for us.

We are happy to get contributions :)

[2019-09-30 20:10] JamesNK commented on #241
We'll see. At the very least I can help with design and review.

I think something like ConfigureLogging is what you would want to do - https://wakeupandcode.com/logging-in-asp-net-core/

e.g.

[code]

[2019-09-30 20:17] lmolkova commented on #241
Yeah, something similar would be great.

We also have another example for [AppInsights](https://github.com/microsoft/ApplicationInsights-aspnetcore/blob/develop/src/Microsoft.ApplicationInsights.AspNetCore/Extensions/ApplicationInsightsExtensions.cs#L124) created initially by @pakrym

There are couple of complications  I see
1. Exporters cannot have reference to Ms.Ext.DI and you cannot configure

[2019-09-30 20:24] JamesNK commented on #241
Exporters could each have an additional project that contains just an extension method for registering it with DI, e.g. `OpenTelemetry.Exporter.Zipkin.Abstractions`. The project would then reference DI and `OpenTelemetry.Exporter.Zipkin`.

I don't know of how to fix that off the top of my head. It would need some investigation. There is probably some nice way to improve it though.

[2019-09-30 20:30] lmolkova commented on #241
right. I think for e.g. AppInsights, we'll have another extension methods that configure all OTel for AppInsights usage, would be great to have common look and feel for different exporters though. Stackdriver might want to choose this path too.

AppInsights work the same problem around with making something else (that will get resolved) depend on auto-collectors. I hope there is nice and a more ex

[2019-09-30 23:54] cijothomas commented on #229
Duplicate of: https://github.com/open-telemetry/opentelemetry-dotnet/issues/79

[2019-09-30 23:59] cijothomas commented on #241
For Asp.Net Core, ApplicationInsights registers an `IStartupFilter`, and attempts to resolve config. This IStartupFilter is added to DI, and hence its guaranteed to run before `Configure` method. This way autocollectors need no be manually resolved.

https://github.com/microsoft/ApplicationInsights-aspnetcore/blob/develop/src/Microsoft.ApplicationInsights.AspNetCore/Implementation/ApplicationInsig

[2019-10-01 05:45] lmolkova commented on #206
We are doing some changes that mostly eliminated static singletons in Tracing API. There will be global tracer, but you'll have control to set it.

Metrics/Tags everything else will get similar treatment  in the next month or two.

Overall, we want to minimize static singletons usage and allow users to completely avoid them when possible.

[2019-10-02 02:14] cijothomas commented on #85
I was searching through EventSource implementation , and found that we have 3 EventSource implementations.
https://github.com/open-telemetry/opentelemetry-dotnet/blob/master/src/OpenTelemetry/Internal/OpenTelemetrySdkEventSource.cs#L28

https://github.com/open-telemetry/opentelemetry-dotnet/blob/master/src/OpenTelemetry/Implementation/OpenTelemetryEventSource.cs#L24

https://github.com/open-teleme

[2019-10-02 02:23] lmolkova opened #251 "Named tracers with DiagnosticSources"
Named tracers being introduces in https://github.com/open-telemetry/opentelemetry-dotnet/pull/239 is intended to provide different behavior for different instrumentations (sampling, filtering, etc)

.NET/Microsoft provided libraries are typically instrumented with DiagnosticSource + Activity. DiagnosticSource already has filtering mechanisms that prevent any instrumentation from happening and perf

[2019-10-02 05:28] z1c0 opened #254 "Move "Resource" type from API (Abstractions) to SDK"
Resources have been moved from API into SDK in the specification.
https://github.com/open-telemetry/opentelemetry-specification/pull/254

[2019-10-04 10:00] z1c0 commented on #237
Named Tracers implemented in #239.
Named Meters still TBD.

[2019-10-07 18:19] lmolkova commented on #251
The approach I've been thinking about it:

- users enable listeners (i.e. OTel collectors per DiagnosticSource) by adding the reference to the collector library + configuring the listener.
- Listener  SHOULD support configuration via tracer instance (named tracer instance) which could be set up by DI or configuration API helpers, It MAY provide configuration through TracerFactory and control categ

[2019-10-07 18:21] lmolkova commented on #232
closing for now

[2019-10-07 18:21] #232 closed

[2019-10-07 18:25] lmolkova commented on #130
I believe it has been fixed in #131

[2019-10-07 18:25] #130 closed

[2019-10-07 20:00] pcwiese commented on #85
@cijothomas

At the moment, the CollectorEventSource is used from two other other projects, hence the current public but it really should n't be public. Move/copy/duplicate this EventSource as necessary (changing the provider name) to the project(s) that currently call these events.

I'm sure the OpenTelemetrySdkEventSource and OpenTelemetryEventSource could be merged into a single provider...

[2019-10-08 13:44] AlexeiScherbakov opened #264 "JaegerUdpBatcher sending/flushing is incorretly implemented"
1. Batches can be delayed infinitly when spans are small.
2. Flush is never called in AppendAsync

[code]
When batchByteSize + spanSize < this.maxPacketSize - flush is not called.
When batchByteSize + spanSize > this.maxPacketSize - it can be never delivered because packedt size is too long

[2019-10-08 13:46] #175 closed

[2019-10-08 15:42] AlexeiScherbakov opened #265 "Endianness mismatch in OpenTelemetry and Jaeger UI"
For example activity '00-ea0f546325a856439a4c24eaa860b0e8-5d1490511c77e947-01' displays in jaeger UI as:
traceid=4356a82563540feae8b060a8ea244c9a
spanid=47e9771c5190145d

spanid is inversed, and traceid contains two inversed int64 bits 4356a82563540fea + e8b060a8ea244c9a

[2019-10-08 19:53] lmolkova commented on #156
So the first step I want to take - usings inside namespaces (as it hurts me the most):

1. There is [little-to-no difference](https://stackoverflow.com/questions/125319/should-using-directives-be-inside-or-outside-the-namespace) in including usings inside namespace. It basically boils down to having conflicting names in different namespaces (which we should not do anyway).

2. Default tooling (Vis

[2019-10-09 00:05] austinlparker commented on #156
I concur. I've never worked on a project that had usings inside the namespace, fwiw, and conventionally most .NET projects I've seen have them outside as well.

[2019-10-09 00:24] #166 closed

[2019-10-09 00:39] lmolkova commented on #84
https://github.com/open-telemetry/opentelemetry-dotnet/pull/262 provides a way to test certain isolated APIs or very small scenarios and helps during development - you can run it for master vs your branch and see the difference. Or use it as a way to find bad (in terms of perf) implementation or API choice.

We still need to have integration perf-test for typical web-service:

- Enable default ins

[2019-10-09 14:46] lmolkova commented on #254
Fixed in #248

[2019-10-10 15:51] vkozyrev0 opened #269 "Change TraceFactory Internal Locking Method"
TraceFactory currently used old-style locking mechanism

`private read-only object lck = new object();`

This can lead to deadlocks when the async/await pattern is used. The recommended change is to use this

`private readonly SemphoreSlim lck = new SemphoreSlim(1,1);`
`...`
`try{`
`   await lck.WaitAsync(cancellationToken).ConfigureAwait(false);`
`   //or`
`   lck.Wait();`
`}`
`finally {`
`   lck

[2019-10-10 16:41] simonz130 commented on #156
I worked on projects that had it in both ways. In projects where usings were inside the namespace it required extra effort to note this in code reviews of new contributors, fix resharper and stylecop, etc. I second Liudmila - it's more efficient from day-to-day perspective to have usings outside the namespace.

[2019-10-10 16:47] pcwiese commented on #269
I'm failing to see the issue here. There is no awaiting anything in this class. Isn't the problem when you attempt to await _inside_ a lock statement?

[2019-10-10 17:25] lmolkova commented on #269
TraceFactory from my expectations is not going to have a lot of concurrent requests. During setup it is accessed to create all tracers (may be handful of times?) and accessed rarely as everyone supposedly will cache tracer.

So, there is not much concurrency there and also as @pcwiese mentioned - there is no async code inside the lock. I'm closing the issue for now, feel free to reopen if we misse

[2019-10-10 17:25] #269 closed

[2019-10-11 15:41] z1c0 opened #270 "Must be possible to provide multiple SpanProcessors"
Currently, only a single instance of `SpanProcessor` can be provided at `TracerFactory` (hence, also `Tracer`) creation.

According to the specification (https://github.com/open-telemetry/opentelemetry-specification/blob/master/specification/sdk-tracing.md#span-processor), it must be possible to provide multiple `SpanProcessors` which are are invoked in the same order as they were registered.

Spe

[2019-10-11 22:13] lmolkova commented on #270
Is it dup of #226?

[2019-10-11 22:20] lmolkova opened #271 "Lock in Span SDK should be revisited"
Concurrency on Span APIs is probably not a real-world case.

[2019-10-11 22:43] lmolkova opened #272 "Span should support creation with lazy links"

[2019-10-11 22:44] lmolkova opened #273 "Sampling API needs to be revisited"
https://github.com/open-telemetry/oteps/blob/master/text/0006-sampling.md

[2019-10-11 22:47] #145 closed

[2019-10-12 01:53] #206 closed

[2019-10-12 03:36] lmolkova commented on #251
this approach is implemented with #266 and #267

[2019-10-12 03:36] #251 closed

[2019-10-12 03:37] lmolkova commented on #234
fixed with #268

[2019-10-12 08:57] JamesNK opened #276 "Consider having TracerBuilderExtensions classes use the same namespace"
Consider making all the `TracerBuilderExtensions` live in the `OpenTelemetry.Trace.Configuration` namespace. A common namespace that is probably already imported will help them show up in intellisense when the NuGet package is referenced. Note that if you do this then you should make the extension method class names unique:

* Before - `OpenTelemetry.Exporter.ApplicationInsights.TracerBuilderExten

[2019-10-12 17:22] lmolkova commented on #276
Good point, I'll fix ot

[2019-10-12 17:24] #234 closed

[2019-10-12 17:26] lmolkova commented on #108
Should be fixed with #167 and #259

[2019-10-12 17:26] #108 closed

[2019-10-12 17:32] lmolkova commented on #93
Fixed in #267

[2019-10-12 17:32] #93 closed

[2019-10-12 17:55] lmolkova commented on #229
Closing as duplicate

[2019-10-12 17:55] #229 closed

[2019-10-12 17:58] lmolkova commented on #173
Is this still a problem with latest nighly build from myget? If it is, please provide the repro app/code snippet

[2019-10-12 18:03] lmolkova commented on #83
I believe this was fixed in some clean up round. There are no more Collections utils

[2019-10-12 18:03] #83 closed

[2019-10-12 18:05] lmolkova commented on #56
Removed in #268

[2019-10-12 18:05] #56 closed

[2019-10-12 18:06] lmolkova commented on #75
Closing in favor of #163 and discussion in it

[2019-10-12 18:06] #75 closed

[2019-10-12 18:10] lmolkova commented on #32
Ocagent exporter was removed. Closing and tracking ot agent support in #19

[2019-10-12 18:10] #32 closed

[2019-10-12 18:11] lmolkova commented on #69
Fixed in #259

[2019-10-12 18:11] #69 closed

[2019-10-12 18:13] lmolkova commented on #74
ListenerHandler is public and it is possible to implement extra listeners on top of it

[2019-10-12 18:13] #74 closed

[2019-10-13 08:56] z1c0 commented on #270
I missed that one. Thanks

[2019-10-13 08:56] #270 closed

[2019-10-13 08:57] z1c0 commented on #226
Depends on https://github.com/open-telemetry/opentelemetry-specification/issues/304

[2019-10-15 00:03] bruno-garcia commented on #272
On #273 there's a link to the new approved sampling spec. There under TLDR it says:

Maybe I don't understand this issue but does it conflict with the quite above?

[2019-10-15 00:08] lmolkova commented on #272
no, links should be provided in StartSpan, but not later.
Today we only have API that accepts array of links, which leads to https://github.com/open-telemetry/opentelemetry-specification/issues/305

So here, we need to remove `Span.AddLink` and find a nice way to accept `Func<IEnumberable<Link>>` on span creation.
Open question: do we need to keep overloads that accepts IEnumerable<Link>

[2019-10-15 00:10] bruno-garcia commented on #240
I've Opened a PR for it, but the OT change log says:

* Binary header propagation support (for Envoy)
* Improved thread-safety in GlobalTracer.IsRegistered
* Adds a boolean value to manage if a tracer has been registered in the GlobalTracer.

I'm not sure there's any code change required on the OTel side.
Could you please confirm?

[2019-10-15 00:59] bruno-garcia commented on #272
If we take a `Func<IEnumerable<Link>>`, we'd pass it along to the _sampling decision_ and in case the span is sampled in, we'd need to invoke the func again to get links?

Do you see a way around that?
We could take a type (like `LinkProvider`) which takes the Func in the constructor and caches the value if invoked. This way if the samples does invoke it, the value is kept in the instance and can

[2019-10-15 01:12] lmolkova commented on #272
Noop impl will ignore func. Sdk will invoke lambda to make sampling decision - you have to know links to make it.

The only thing lambda to protects from is perf impact for noop case.

[2019-10-15 01:23] bruno-garcia commented on #272
Right. But one time we'll give the `Func<>` to `ISampler`. That'll invoke it to decide whether to sample or not.

Then it returns `true` and we need to populate the `Span.Links` so we'll need to invoke the `Func<>` again.

[2019-10-15 04:48] #276 closed

[2019-10-15 13:40] austinlparker commented on #240
@bruno-garcia Inject/Extract (see https://github.com/open-telemetry/opentelemetry-dotnet/blob/cc41648685ca5e7d4db905e463398d5050b2fc5a/src/OpenTelemetry.Shims.OpenTracing/TracerShim.cs#L61) need to be updated for binary headers. I don't believe either of the GlobalTracer changes affect the shim.

[2019-10-16 12:43] nmbro opened #283 "Dead link in source code"
The line
https://github.com/open-telemetry/opentelemetry-dotnet/blob/e299734f807aaa5a4b6be5439bfe471ce6d4b629/src/OpenTelemetry.Collector.AspNetCore/Implementation/HttpInListener.cs#L54

Points to a dead link: https://github.com/open-telemetry/OpenTelemetry-specs/blob/master/trace/HTTP.md

I have no idea what the right url is suppose to be

[2019-10-16 22:59] lmolkova commented on #283
there is a PR for it - https://github.com/open-telemetry/opentelemetry-specification/pull/263. Once it's merged, we should update the link.

[2019-10-18 07:24] andy-g opened #287 "Dapper Collector"
Is there any plan to release an OpenTelemetry collector for Dapper? Would this be something that would be implemented at a similar time to #79?

It'd be awesome to have telemetry data automatically populated from dapper, especially as a major reason for using dapper is the performance advantage it can give over something like EFCore.

There is already a collector for StackExchangeRedis (https://gi

[2019-10-19 16:29] SergeyKanzhelev commented on #13
I think this is not relevant any longer

[2019-10-19 16:29] #13 closed

[2019-10-20 03:37] lmolkova commented on #287
We are now focused on shipping core features of OpenTelemtery and getting to the stable version. We will definitely consider Dapper collector after that. In the meantime, we accept contributions :star:

[2019-10-20 04:24] lmolkova commented on #241
I believe this is fixed with #253

[2019-10-20 04:24] #241 closed

[2019-10-21 11:54] Oberon00 commented on #283
Related: open-telemetry/opentelemetry-specification#311

[2019-10-21 17:45] lmolkova opened #295 "Error handling: OTel should not throw in runtime"
https://github.com/open-telemetry/opentelemetry-specification/blob/master/specification/error-handling.md#basic-error-handling-principles

According to these principles, it's ok to throw during configuration, but not in runtime.

All tracing APIs are built according to the opposite principle: validate input parameters and throw explicitly.

[2019-10-21 23:01] lmolkova opened #297 "Span creation options: for advanced overloads use span creation options"
following suggestion here https://github.com/open-telemetry/opentelemetry-dotnet/pull/268#issuecomment-540716028. or we are going to drown in different startSpan overloads.

We should have basic span creation args available through overloads without builder/options
- name
- kind
- parent

advanced things should be populated through options.
- sampling hint
- timestamp
- links
- lazy link factory
-

[2019-10-22 00:06] #271 closed

[2019-10-22 00:20] SergeyKanzhelev commented on #240
My understanding it is closed via https://github.com/open-telemetry/opentelemetry-dotnet/pull/296 @austinlparker please reopen otherwise

[2019-10-22 00:20] #240 closed

[2019-10-22 00:42] #226 closed

[2019-10-22 01:16] bruno-garcia opened #298 "New NuGet package version scheme"
I'd like to propose a new versioning format for the `OpenTelemetry` NuGet packages.

Currently, IMHO there are a couple of problems, e.g:

![image](https://user-images.githubusercontent.com/1633368/67253615-92d79200-f446-11e9-9eed-b92728ea97bb.png)

1. Given the two versions we have out, it's a bit confusing which one is the latest. I understand it's  semver recommendation but right now we have tw

[2019-10-22 04:45] lmolkova commented on #297
With the above approach, it's not possible to avoid creating span options for noop case.

[2019-10-22 23:56] lmolkova opened #301 "TraceFactoryBase.Default should not be settable"
From API design perspective setter may cause confusion, that it's ok to set it multiple times. `SetDefault` method (or similar name) is more explicit. It should throw (misconfiguration) if called more than once per app lifetime.

[2019-10-23 00:02] lmolkova opened #302 "Should SpanContext be struct?"
I tried to make it `readonly struct` https://github.com/lmolkova/opentelemetry-dotnet/tree/SpanContextStruct

And found that average time to create span became noticeably worse (while there is predictably 32b less allocated mem).

So I gave up on this idea. Adding this issue as a record of negative perf optimization.

**Before**

|                           Method |        Mean |      Error |

[2019-10-23 00:08] lmolkova opened #303 "Span.Attributes: IEnumerable or dictionary"
Exporters iterate over attributes to get http.url or error or some other kind of well-known attribute. It seems exposing attributes as dictionary<string,string> makes them a bit more usable.

Note that it is going to complicate how we are going to limit number of them: I suggest we should ignore the order (today we take last added) and just not add anything above the max number. This should comply

[2019-10-23 05:09] SergeyKanzhelev commented on #46
Let's start enforcing CHANGELOG.md updates with PRs instead.

[2019-10-23 05:09] #46 closed

[2019-10-23 17:53] #110 closed

[2019-10-23 18:23] #297 closed

[2019-10-23 22:13] SergeyKanzhelev commented on #217
I think this is done. Please re-open otherwise

[2019-10-23 22:13] #217 closed

[2019-10-23 23:19] SergeyKanzhelev commented on #298
as discussed at the last SIG meeting, this proposal looks great. We also need to align (loosely) with the specification versioning.

So if you can make it work - it will be great!

[2019-10-25 00:21] bruno-garcia commented on #298
The library mentioned by Ludmila which controls the version is: [MinVer](https://github.com/adamralph/minver).

It's added here:

https://github.com/open-telemetry/opentelemetry-dotnet/blob/0c3b1102d9ed3911a45566a9ffd6bfdfc69d4045/build/Common.prod.props#L5

The TLDR of the lib is:

It will version the package as the exact value of a git tag, if building a tag.
Otherwise it'll look up the git tree

[2019-10-25 05:12] SergeyKanzhelev commented on #58
on one hand it will make easier to understand what does `CanonicalCode` enum is for. On other hand - making it a sub-enum of Status conflicts with the name of a property. So better not do it.

[2019-10-25 05:12] #58 closed

[2019-10-25 17:11] #163 closed

[2019-10-26 01:49] SergeyKanzhelev commented on #298
So what's the action item here? Create a tag `1.0.0-alpha01`?

[2019-10-27 18:21] bruno-garcia commented on #298
@SergeyKanzhelev I would suggest that, yes.

[2019-10-28 04:52] #265 closed

[2019-10-28 04:56] SergeyKanzhelev commented on #173
Seems to be fixed. Please re-open if issue persists

[2019-10-28 04:56] #173 closed

[2019-10-28 04:59] SergeyKanzhelev commented on #272
@lmolkova @bruno-garcia  Is there anything left here after @282?

[2019-10-28 05:09] SergeyKanzhelev opened #316 "Epic: Implementing Metrics"
Implementing metrics falls into 4 buckets. API, instrumentation adapters, data pipeline, export. Breakdown is below.

**For all the items - before starting, please create an issue and link it from this epic.**

## API implementation

- [X] Basic API. Done by @cijothomas
- [ ] Handles and other optimizations
- [ ] API documentation
- [ ] API usability review

## API Usage (instrumentation adapters)

[2019-10-28 23:17] #49 closed

[2019-10-28 23:40] #283 closed

[2019-10-28 23:41] SergeyKanzhelev commented on #237
this seems to be implemented: https://github.com/open-telemetry/opentelemetry-dotnet/blob/master/src/OpenTelemetry.Api/Metrics/MeterFactoryBase.cs

@cijothomas please confirm. Assigning to you to close

[2019-10-28 23:43] Dwood15 opened #319 "(REQUEST) README: Identify lvl of back-compatibility, note incompatible changes from ancestor project"
As a user of the old opencensus project, I'm not sure whether the exported tracing is 100% compatible with your typical stackdriver (or other) tracing provider/exporting.

If I do a ctrl + f on the readme, I don't find any mentions of opencensus or what degree or level of intent there is for back-compat.

I understand the prior project never left Alpha, and this is also alpha, and therefore offers

[2019-10-29 15:39] SergeyKanzhelev commented on #117
What needs to be done as a minimal cleanup:
1. TagKey, TagValue -> replace with simple strings (#320)
2. Create tagger factory
3. Rename tags to DistributedContext
4. Add metadata with TTL (#33)

[2019-10-30 22:06] #33 closed

[2019-11-07 18:26] pcwiese commented on #19
Have feelings changed about how to proceed with these .proto files? At the very least a reference to a commit from the proto repo is necessary. We could copy the .proto files over and generate as part of the build of this project I think. No need to check-in the intermediate g.cs files.

[2019-11-07 18:37] SergeyKanzhelev commented on #19
Java went submodule way: https://github.com/open-telemetry/opentelemetry-java/tree/master/proto/src/main We can try the same

[2019-11-07 18:37] SergeyKanzhelev commented on #19
I don't have strong feelings

[2019-11-07 20:24] pcwiese commented on #19
Ugh. submodules sounds nice in principle and a bit nasty in practice. I'll make a copy of the files.

[2019-11-07 23:58] SergeyKanzhelev opened #332 "Examples in Readme and disposing of TracerFactory"
Do we really need to dispose TracerFactory in examples we are giving in readme? Looks misleading

See this comment: https://github.com/open-telemetry/opentelemetry.io/pull/72#discussion_r343770484

[2019-11-08 00:02] SergeyKanzhelev commented on #101
@pakrym do you have suggestion on how `IOptions` can be used alongside this style of configuring:

https://github.com/open-telemetry/opentelemetry-dotnet#configuration-with-microsoftextensionsdependencyinjection

Where the constructor of zipkin collector will get the options from?

[code]

I'm a bit lost in injections =)

[2019-11-08 19:27] pakrym commented on #101
You can add a `T GetOptions<T>()` to `TracerBuilder` (with default implementation being just `new T()` and in `AddOpenTelemetry` extension method create a derived `TracerBuilder` that would implement `GetOptions` via `IOptions<>` resolution.

Then in UseZipkin method would become something like:
[code]

[2019-11-08 19:38] lmolkova commented on #272
this is done in #282.

[2019-11-08 19:38] #272 closed

[2019-11-08 19:40] lmolkova commented on #332
`TracerFactory` lives as long as application lives. When it's disposed it shuts down processors and collectors. It should be disposed to shutdown gracefully.

We should also add `async Shutdown(CancellationToken)`  to the factory, so it could be shut down with timeout (vs dispose).

[2019-11-08 21:43] lmolkova opened #335 "Confusion around collector name"
[Collector](https://github.com/open-telemetry/opentelemetry-specification/blob/master/specification/overview.md#collector) according to spec is something that forwards telemetry in OTel format over OTLP to intermediate components/backends.

We have API `AddCollector` on `TracerBuilder` which is something that generates spans (e.g. HTTP in or out ). Spec suggests calling them 'adapters' but does no

[2019-11-10 05:27] SergeyKanzhelev commented on #101
I just realized that this will mean that all packages will have a reference to `IOptions` (Microsoft.Extensions.Options) from everywhere except `OpenTelemetry.Api`. It may not work for `net45`. And in general looks excessive. Is it by design or I'm missing something?

[2019-11-11 13:52] mwinkler opened #337 "Capture tracing header for incoming requests"
Hi

If my webserver receives a request with tracing http headers (for example 'Uber-Trace-Id' (jaeger) or w3c trace context headers) from a other system (eg. traefik),
how do i attach this tracing context/id, that the current span (in the request) acts like a child of the given tracing id from the header.

Is there some interception when the request collector creates the current span for the reque

[2019-11-11 17:27] pakrym commented on #101
I think you can design it in a way where only `OpenTelemetry.Hosting` would have a dependency on `IOptions`

[2019-11-12 05:50] SergeyKanzhelev commented on #332
my point here is that examples may be misleading as it will be extremely rare to write a code like we provide in readme where creating of trace factory is done in `using` statement.

[2019-11-12 23:07] nmbro opened #339 "Issue receiving stackdriver traces from the Stackdriver Exporter"
Hi open-telemetry guys

I'm trying to export traces to zipkin for local development and distributed traces, and plan on forwarding those into stackdriver.
But when using the the openzipkin/zipkin-gcp container to export my traces directly from zipkin into stackdriver, I wasn't seeing any traces at all.

I added the Stackdriver exporter directly to my project instead to try to see, if that made any

[2019-11-15 21:10] MikeGoldsmith commented on #337
Hi @mwinkler

The process of carrying trace information between systems, eg via HTTP headers, is propagation. Propagators have two functions:
1) Inject - given a `SpanContext`, creates a known structure that can be passed between desperate systems (eg via HTTP headers, TextMap, etc)
2) Extract - given a known structure, create a `SpanContext` that includes TraceId and ParentSpanId that be used as

[2019-11-16 07:58] thangchung commented on #332
Hi. I think the `TracerFactory` lifetime is a little bit confusing, especially in ASP.NET Core integration with Hosting. Currently, I try to create an example using `OpenTelemetry.Hosting`, `OpenTelemetry.Collector.AspNetCore` and `OpenTelemetry.Exporter.Jaeger`. Any request also traced only once time because `TracerFactory` only works on the `controllers` by wrapping it with `using`, but then in

[2019-11-17 22:30] mwinkler commented on #337
Hi @MikeGoldsmith
Thank you for the hint.

So i build this class:
[code]

and register it at `startup.cs`
[code]

The problem is, that the `Extract()` method of `JaegerFormat` never gets called.

I try to analyze why, found the this code in `OnStartActivity()` at `OpenTelemetry.Collector.AspNetCore.Implementation.HttpListener`

[code]
It seems that the `this.hostingSupportsW3C` flag is set to `tru

[2019-11-18 09:34] thangchung opened #342 "Jaeger Exporter isn't working with OpenTelemetry.Collector.AspNetCore on OpenTelemetry.Hosting"
Currently, I have used `OpenTelemetry` at version `0.2.0-alpha.110`. I used `AspNetCore Collector` on `OpenTelemetry.Hosting` with `Zipkin Exporter`, everything is working. Then I tried to use `Jaeger Exporter` when the application is running, but nothing exporting to `Jaeger`. The code as below

[code]

I 'm wondering might `Jaeger Exporter` has a bug, but I don't know how to fix it.
The sample s

[2019-11-18 11:57] MovGP0 commented on #342
It seems like the `UseJaeger()` extension is missing for `TracerBuilder`:
[code]

[2019-11-18 12:05] MovGP0 opened #343 "Configure using the IOptions pattern"
Instead of having a configuration like:

[code]

It should look like:

[code]

Details: [Options pattern in ASP.NET Core](https://docs.microsoft.com/en-us/aspnet/core/fundamentals/configuration/options?view=aspnetcore-3.0)

[2019-11-18 15:10] thangchung commented on #342
@MovGP0 Thanks for your suggestion. I tried it, but still not working. Still waiting for the OT team to react

[2019-11-18 16:20] #301 closed

[2019-11-18 19:56] hannahchan commented on #342
I'm having the same problem too. That or I don't understand the documentation.

[2019-11-19 14:25] MikeGoldsmith commented on #343
Thanks for the suggestion @MovGP0. We'll look into if it's somewhere we want to adopt or if there are any factors that may stop it.

[2019-11-19 21:00] tarekgh opened #344 "OpenTelemetry.Trace.Export.Test.BatchingSpanProcessorTest.ProcessorDoesNotBlockOnExporter is flaky"
This is test is failing during the CI run

[code]

[2019-11-20 09:32] mwinkler opened #346 ".AddOpenTelemetry(c => c.SetTextFormat()) -> Extract() gets not executed (.NET Core 3)"
Hi

I implement a `ITextFormat` for Jeager:

[code]

and register it at `startup.cs`
[code]

The problem is, that the `Extract()` method of `JaegerFormat` never gets called.

I try to analyze why and found this code in `OnStartActivity()` at `OpenTelemetry.Collector.AspNetCore.Implementation.HttpListener`

[code]
It seems that the `this.hostingSupportsW3C` flag is set to `true` if you use .NET Cor

[2019-11-21 14:48] nmbro commented on #339
Testing on `0.2.0-alpha.114` and now the Stackdriver Exporter is working at least

[2019-11-22 09:53] MikeGoldsmith commented on #342
I added the missing `UseJaeger` extension method in #347.

I'll try to test exporting to Jaeger using @thangchung's sample project soon.

[2019-11-24 12:01] AlexeiScherbakov commented on #343
Linked with https://github.com/open-telemetry/opentelemetry-dotnet/issues/101

[2019-11-25 11:33] czs1993 opened #353 "The stats of distribution may not be correct."
I use the distribution to aggregations:

        private static readonly IViewManager ViewManager = Stats.ViewManager;
        private static readonly IStatsRecorder StatsRecorder = Stats.StatsRecorder;
        private const string TagUrl = "url";
        private const string TagMethod = "method";
        private const string TagStatus = "status";
        private static readonly ITagContext TagCon

[2019-11-25 11:59] czs1993 opened #354 "exporter/Prometheus:the metric type of distribution format is not consistent with Prometheus metric type of histogram"
When I used Prometheus Export to export metrics, I found that the format of distribution metrics was wrong.
`# HELP http_response_time_seconds_bucket Bucket of time needed to handle requests
http_response_time_seconds_bucket{metrickind="Server",url="https://localhost:44386/api/HttpIn",method="GET",status="404"} 0.0022608 1574682841307
http_response_time_seconds_bucket{metrickind="Client",url="http

[2019-11-26 00:04] mgodse opened #356 "Exporters in OT repo"
We are building a TraceExporter and see that other vendors have added Exporters in the OT repo. We had heard from Java OT implementation that vendor specific Exporters should be in separate repos. Any guidance here would be helpful, so we can think through our packaging story.

Thanks

[2019-11-26 00:37] austinlparker commented on #356
In general, vendor-specific exporters should be kept outside of the API/SDK repository. The current exporters in this repository will be migrated out once we've hit beta (or around then).

[2019-11-26 00:44] mgodse commented on #356
Thanks for your response, is there a specific repo where Exporters are collectively kept, or vendors can choose to host them in their respective github orgs?

[2019-11-26 07:52] jacostro opened #357 "Request filtering mechanism in ASP.NET Core collector cannot work"
Hi,
I recently tried to actually use a filtering delegate in `OpenTelemetry.Collector.AspNetCore` by providing a code which expected `HttpContext` instance as an argument. The delegate is used as an argument to subscribe to diagnostic source in `AspNetCoreCollector` constructor:

[code]

But, as it turns out, ASP.NET Core does not pass any argument to filtering delegate, which can be seen in its c

[2019-11-26 08:35] jacostro commented on #357
OK, it's not exactly true that it cannot work, it just is not as easy to get information on current request as I expected. A possible workaround is to embed a reference to `IHttpContextAccessor` instance in the delegate - this is what I did. Still such wrapper could be provided by the collector code.

[2019-11-26 13:44] austinlparker commented on #356
In the vendors GitHub org, yeah.

[2019-11-27 00:32] #356 closed

[2019-11-27 19:09] DOMZE commented on #342
Same here,

I'm using the code
`services.AddOpenTelemetry(builder =>
            {
                builder.SetSampler(Samplers.AlwaysSample)
                    .UseJaeger(o =>
                    {
                        o.ServiceName = "DocumentService";
                        o.AgentHost = JaegerTraceExporter.DefaultAgentUdpHost;
                        o.AgentPort = JaegerTraceExporter.Defau

[2019-11-28 10:40] oliverroer opened #360 "Spans handled by BatchingSpanProcessor.Worker may get lost on Shutdown"
Consider the following scenario:

- You've [configured the Jaeger exporter](https://github.com/open-telemetry/opentelemetry-dotnet/blob/master/README.md#using-the-jaeger-exporter).
- You dispose your TracerFactory
[code]

The Dispose sets off a chain of events, one of which is a call to [`Dispose` on the `BatchingSpanProcessor`](https://github.com/open-telemetry/opentelemetry-dotnet/blob/master/sr

[2019-11-28 13:05] MikeGoldsmith commented on #360
Hi @oliverroer

We have seen this behaviour before in other background worker style implementations and agree it's not ideal. If the worker is actively exporting spans, it should block shutdown until it has completed, or a shutdown delay has been reached to prevent indefinite blocking.

[2019-12-01 07:51] thangchung commented on #354
Which version of OTel you used? I'm struggling to use it with .NET gRPC Hosting on `0.2.0-alpha.123` :(

[2019-12-01 08:08] czs1993 commented on #354
I used  OpenTelemetry.Exporter.Prometheus on 0.2.0-alpha.100

[2019-12-01 09:53] thangchung opened #365 "Prometheus exporter isn't working on gRPC Hosting"
Currently, I have tried to integrate Prometheus exporter to gRPC Hosting which run on Kestrel server, and actually it isn't work well when HttpListener in Prometheus Exporter used at https://github.com/open-telemetry/opentelemetry-dotnet/blob/master/src/OpenTelemetry.Exporter.Prometheus/Implementation/MetricsHttpServer.cs#L30

Could we use HttpListener on Kestrel Server evenly? As far as I know, H

[2019-12-03 17:10] SergeyKanzhelev commented on #365
Similar to this: https://github.com/open-telemetry/opentelemetry-dotnet/issues/65

[2019-12-03 17:13] SergeyKanzhelev commented on #353
Stats API is deprecated. Sorry for confusion. Closing the issue

[2019-12-03 17:13] #353 closed

[2019-12-03 17:18] SergeyKanzhelev commented on #337
Similar to https://github.com/open-telemetry/opentelemetry-dotnet/issues/346. assigning to the current milestone

[2019-12-03 17:20] SergeyKanzhelev commented on #319
I'm sorry, but we made a decision not to support a bridge from OpenCensus to OpenTelemetry in C# as OpenCensus SDK was in such an early alpha stage. You'd need to re-instrument your app. Sorry again

[2019-12-03 17:20] #319 closed

[2019-12-04 01:11] lmolkova commented on #357
Here is where you have IsEnabled callback with HttpContext:

https://github.com/aspnet/AspNetCore/blob/3b7cdc166aa3c9733fa60b56d91fc0fff9b11652/src/Hosting/Hosting/src/Internal/HostingApplicationDiagnostics.cs#L50

So you should get non-null first argument in **some** callbacks and it should have `HttpContext`. If this is not the case, this but probably belongs to ASP.NET Core.

[2019-12-04 07:55] #344 closed

[2019-12-04 20:46] MikeGoldsmith commented on #342
I've just got round to testing @thangchung's example code and I can see spans in the Jaeger UI.
![image](https://user-images.githubusercontent.com/3481731/70179847-babd4500-16d6-11ea-88c3-d896d75d57ab.png)

By default Jaeger doesn't select a service type - eg I had to select _meteorite-service_ from the Services dropdown in the top left.

@thangchung @DOMZE can you confirm if you've selected an ac

[2019-12-04 21:32] lmolkova commented on #357
Just checked if HttpContext is provided in the callback. Yes it does under `Microsoft.AspNetCore.Hosting.HttpRequestIn` name

![image](https://user-images.githubusercontent.com/2347409/70183278-554b6300-169a-11ea-9893-cd5a8ca4e9bc.png)

This is ASP.NET Core 2.1 app, the feature has been there from 2.0 and didn't change in 3.0.

I'm closing this issue. If you feel I didn't address the concern - fee

[2019-12-04 21:47] lmolkova commented on #346
ASP.NET Core 3.0 supports W3C Trace-Context on its own. If tracing is enabled, it always reads Trace-Context headers and starts `Activity` (it's a .NET `Span`).

It could only be turned off only with the ability to trace http calls which is the explicit choice of ASP.NET Core team - they do not provide support for arbitrary protocols.

Since OpenTelemtery does support arbitrary protocols, we proba

[2019-12-04 23:02] lmolkova commented on #303
Spec [explicitly mentions](https://github.com/open-telemetry/opentelemetry-specification/blob/master/specification/api-tracing.md#span) that attributes on Span need to be ordered `An ordered mapping of Attributes`.

I'm closing this issue for now.

[2019-12-04 23:02] #303 closed

[2019-12-05 01:40] #264 closed

[2019-12-06 12:35] MikeGoldsmith commented on #365
@SergeyKanzhelev I'm working on this, but don't have access to self-assign.

[2019-12-06 12:35] MikeGoldsmith commented on #65
@SergeyKanzhelev I'm working on this, but don't have access to self-assign.

[2019-12-06 19:02] SergeyKanzhelev opened #373 "DistributedContext: SDK initialization model is very different from Tracer and Meter"
Initialization model chosen for DistributedContext is very different than for Tracer and Meter. Ideally, there should not be a need for an explicit override of the DistributedContext. Perhaps even move implementation in API

[2019-12-06 19:04] SergeyKanzhelev opened #374 "DistributedContext - values of "bigger scope" must be inherited"
If i defined a larger scope with the value "appVersion=1.0" and later smaller scope with the property "flightID=Foo" I want both properties to be propagated downstream. Without manually merging these two collections

It is expected to inherit scopes. But there should be a mechanism to

- wipe it and start fresh (typical for situation you enter some "hostile" code that will call into external servi

[2019-12-06 19:40] SergeyKanzhelev opened #375 "Rename Resource.labels to Resource.attributes"
Recent spec change calls into renaming labels to attributes. Also in proto file we allow the same data types for values. I believe the same must be allowed in API

[2019-12-06 19:43] SergeyKanzhelev opened #376 "http data collection - align with the updated spec"
Make sure SDK collects properties according to the spec: https://github.com/open-telemetry/opentelemetry-specification/blob/master/specification/data-http.md

[2019-12-06 19:54] lmolkova commented on #376
I believe this was done in https://github.com/open-telemetry/opentelemetry-dotnet/pull/358. What's missing?

[2019-12-06 20:52] alexvaluyskiy commented on #376
I have aligned with the specification only for a http client. We have to do the dame for http server too.

[2019-12-07 18:21] bruno-garcia commented on #375
More context in this PR: https://github.com/open-telemetry/opentelemetry-specification/pull/344

[2019-12-07 18:24] lmolkova commented on #375
Hey, @bruno-garcia I accidentally did it along with validation changes. Sorry, I didn't know we have issue for it. Will send PR on Monday

[2019-12-07 18:31] bruno-garcia commented on #375
@lmolkova Little race condition. Just thought a string replace was something I could fit on a weekend to do some work here ;)

I've opened the PR already. if it's going to conflict, feel free to close it and unassing me here.

[2019-12-07 18:33] lmolkova commented on #375
no problem :) it happens. I'll have a look at your PR and will do validation on top of it.

[2019-12-09 19:06] lmolkova opened #381 "ExportMoreSpansThanTheMaxBatchSize flaky"
[code]

[2019-12-10 05:48] #85 closed

[2019-12-10 06:24] #381 closed

[2019-12-11 07:50] keepgoing147 opened #386 "Nuget JaegerExporter reference missing TracerBuilderExtensions"
Hi,
I am trying to add [JaegerExporter](https://www.nuget.org/packages/OpenTelemetry.Exporter.Jaeger/0.2.0-alpha.100) thru Nuget, and I encountered an error:

![image](https://user-images.githubusercontent.com/4708600/70601456-03bc4e80-1c2d-11ea-920e-8d92b861090c.png)

But when I install [ZipkinExporter](https://www.nuget.org/packages/OpenTelemetry.Exporter.Zipkin/0.2.0-alpha.100), it works.

I fo

[2019-12-11 18:29] cijothomas opened #387 "Implement labelset with correct encodings."
Parent: https://github.com/open-telemetry/opentelemetry-dotnet/issues/316

The current LabelSet is a trivial quick and dirty implementation. This should be replaced with proper implementation.

[2019-12-11 18:44] cijothomas opened #389 "Implement batcher with custom dimesions"
Parent: https://github.com/open-telemetry/opentelemetry-dotnet/issues/316
The current impementation only has a UnGroupedBatcher which retains all dimensions.

This item is to track implementation of new Batcher which aggregates based on a subset of dimensions. This also should answer the question - "when and where would key dimensions for aggregation is specified"

[2019-12-11 18:47] cijothomas opened #390 "Implement Controller for metric"
Parent: https://github.com/open-telemetry/opentelemetry-dotnet/issues/316

From the spec: "A controller is needed to coordinate the decision to begin collection. Controllers generally are responsible for binding the Meter implementation, the Batcher, and the Exporter."

There are no controllers yet in current implementation. There should be atleast one Controller implementation provided as part of

[2019-12-11 18:50] cijothomas opened #391 "Implement metric aggregators"
Parent: #316
This issue is to track creation of all aggregators as required by spec.
Counter aggregator for counter instruments - basic implementation already done as part of SDK
Gauge aggregator for gauge instruments - basic implementation already done as part of SDK
MinMaxSumCount aggregator for measure instruments
Sketch aggregator for measure instruments
Histogram aggregator for measure instru

[2019-12-11 19:03] cijothomas opened #392 "Revisit the use of generics in Metric instruments"
Parent: #316
With generic metric instruments, the aggregators has to do multiple checks/casts for every metric update as in below example code. JIT may optimize this, but this needs to be discussed to see if it makes sense to get rid of generics.

[code]

The above would be re-written as
[code]
This would obviously involve copy pasting code for Int64 and Double implementations, but it may be bette

[2019-12-11 19:04] cijothomas commented on #392
@tarekgh please share you thoughts on this when you are back from vacation.

[2019-12-11 19:14] lmolkova commented on #392
I share the same concern for Counter and Gauge

[code]

this does not seem right and I think implementing long and double counters is a much better alternative as it makes users' life better.

[2019-12-11 23:29] lmolkova commented on #295
I believe I addressed all I could find in Api and Sdk and adapters. I did not look precisely into exporters and suggest to address any arising issues separately.

[2019-12-11 23:29] #295 closed

[2019-12-11 23:35] lmolkova commented on #386
I believe this was addressed in https://github.com/open-telemetry/opentelemetry-dotnet/pull/347
which version of OTel you are using? Perhaps after we addressed it, we didn't ship a new nuget package.

Please try nightly build and check if addresses the issue: https://github.com/open-telemetry/opentelemetry-dotnet#nightly-builds

Also, if you absolutely have to install packages from nuget.org, you

[2019-12-11 23:35] #386 closed

[2019-12-12 02:39] keepgoing147 commented on #386
Thanks for response, I'm using [OpenTelemetry 0.2.0-alpha.100](https://www.nuget.org/packages/OpenTelemetry) and [OpenTelemetry JaegerExporter 0.2.0-alpha.100](https://www.nuget.org/packages/OpenTelemetry.Exporter.Jaeger/0.2.0-alpha.100)

After configuring Jaeger without `Use` sugar, I was able to build and get trace data from my project, thanks!

[2019-12-12 02:45] tarekgh commented on #392
As I mentioned before the JIT is really optimizing that so no perf hit with this pattern. Also, the framework uses this patterns in some places so this is not something new here. In addition to that, the compiler guys are already discussing how to simplify this and I am expecting in the near future compiler versions will allow easier pattern that don't need to do the type checks. At that time we c

[2019-12-12 05:24] cijothomas commented on #392
I remember you mentioned JIT optimizes this, and I understand that end users are less impacted as they call `public override Counter<long> CreateInt64Counter(string name, bool monotonic = true)`.

However, I faced some issues with use of generics while implementing SDK. I could be implementing these wrong, but i'd like to get opinions on the below:

The `MeterSDK` should keep list of all active in

[2019-12-12 09:53] keepgoing147 commented on #386
By the way, `UseJaeger` is supported in `0.2.0-alpha.137`

[OpenTelemetry 0.2.0-alpha.137](https://www.myget.org/feed/opentelemetry/package/nuget/OpenTelemetry/0.2.0-alpha.137)
[JaegerExporter 0.2.0-alpha.137](https://www.myget.org/feed/opentelemetry/package/nuget/OpenTelemetry.Exporter.Jaeger/0.2.0-alpha.137)

[2019-12-12 21:09] Masquerade0097 commented on #81
Hello @SergeyKanzhelev, I find the project idea interesting and would love to work on it in the community bridge program. Please let me know if I can get started with it.

[2019-12-12 21:56] lmolkova opened #394 "Documentation and examples for DistributedContext"
I suggest having basic examples of how to use distributed context in README (or we may split readme for tracing/distributed context/metrics/configuration/etc) similar to hat we have for tracing.

[2019-12-12 21:57] lmolkova opened #395 "Documentation and examples for Metrics"
I suggest having basic examples of how to use metrics in README (or we may split readme for tracing/distributed context/metrics/configuration/etc).

[2019-12-13 02:44] czs1993 commented on #391
Are there any examples of Metrics（Counter、Gauge、Histogram、） usage in the new interface ？

[2019-12-13 03:25] lmolkova commented on #273
this was accidentally closed via PR. There are more changes coming through OTEP, so let's keep it open.

Also, spec now asks to have [extra config](https://github.com/open-telemetry/opentelemetry-specification/blob/master/specification/sdk-tracing.md#built-in-samplers) for  probability sampler

[2019-12-13 05:46] HongChenTW opened #397 "dispose tracerFactory cause dead lock"
[OpenTelemetry 0.2.0-alpha.137](https://www.myget.org/feed/opentelemetry/package/nuget/OpenTelemetry/0.2.0-alpha.137)
[JaegerExporter 0.2.0-alpha.137](https://www.myget.org/feed/opentelemetry/package/nuget/OpenTelemetry.Exporter.Jaeger/0.2.0-alpha.137)

I was trying to add Jaeger Exporter at `OnActionExecuting` method:

[code]

I removed tracerFactory `using` for debug, and discovered that `tracer

[2019-12-13 06:15] czs1993 opened #398 "The metrics is thread unsafe."
When I use the new metrics sdk to aggregator metric  under  the multiple thread will throw exceptions :"The key already existed in the dictionary".

use examples:

        using System;
	using System.Collections.Generic;
	using System.Threading;
	using System.Threading.Tasks;
	using OpenTelemetry.Metrics;
	using OpenTelemetry.Metrics.Configuration;
	using OpenTelemetry.Metrics.Export;
	using OpenT

[2019-12-13 15:26] keepgoing147 commented on #397
After comment out:

[code]

The website successfully loaded, but Jaeger UI still no trace on it.

[2019-12-13 15:34] keepgoing147 commented on #397
After trying at osx, it works as expected!

I test with 2 types of package version:

[OpenTelemetry 0.2.0-alpha.137](https://www.myget.org/feed/opentelemetry/package/nuget/OpenTelemetry/0.2.0-alpha.137)
[JaegerExporter 0.2.0-alpha.137](https://www.myget.org/feed/opentelemetry/package/nuget/OpenTelemetry.Exporter.Jaeger/0.2.0-alpha.137)

[OpenTelemetry 0.2.0-alpha.100](https://www.nuget.org/package

[2019-12-13 19:20] cijothomas commented on #391
The new API follows the spec: https://github.com/open-telemetry/opentelemetry-specification/blob/master/specification/api-metrics-user.md

The Metrics SDK is WIP, once we have fully working SDK ready, there will be examples on usage.

[2019-12-14 00:34] SergeyKanzhelev commented on #81
@Masquerade0097 thank you for interest!

I'd suggest the following steps to approach it:

- [ ] Basic project set up.
   - [ ] Create a separate project. Zipkin can be used as an example.
   - [ ] Implement TelemetryProcessor that will receive all span's creation/finish events.
   - [ ] Make sure you can configure processor to receive all spans
- [ ] Basic zPage
   - [ ] Implement HttpListener (as

[2019-12-14 03:24] Masquerade0097 commented on #81
@SergeyKanzhelev Thanks for providing the details. I have started working on the project.

[2019-12-14 05:22] VineethReddy02 commented on #81
Hi! @SergeyKanzhelev
Thanks for putting the projects for the community bridge on my request in Otel community. I am already contributing Otel golang client library & Jaegar. As discussed earlier with you. I will be taking up the zpages for Otel go-client.

[2019-12-15 00:53] tarekgh commented on #392
Your approach looks reasonable but would be nice to tell more details to think if there is a better approach. like, when you'll will cache the counter object? and the dictionary key string is unique for this type of counter or it can be used as a key of different types of counters.

I disagree with that. You are mixing the concept of the public APIs and the implementation details. What you are tal

[2019-12-15 07:59] czs1993 commented on #391
@cijothomas  Thanks.
When I use the new metrics sdk to aggregator metric under the multiple thread will throw exceptions :"The key already existed in the dictionary".and the counter sum result is smaller than the actual value.(the old stats sdk also have the same problem)

[2019-12-16 23:06] cijothomas commented on #392
If MeterSDK's current approach of keeping separate Dictionary instances for longCounters and doubleCounters is the right way, then when we introduce (if we ever) intCounter, MeterSDK will need to be changed to have this new Dictionary instance. So the implementation still needs to change a lot of places to accommodate new type. (I agree user API won't require change) I am seeing that using generic

[2019-12-17 02:33] tarekgh commented on #392
It does save as we'll not introduce a new class and implement it. Also the implementation changes would be very minimal than handling fully a new class.

Where you are going to call the interlock operation? and why? if you are calling it inside the counters, then we already have the type check there which make it easy to know which overload you want to use for the interlock. you are going to do th

[2019-12-17 05:07] cijothomas commented on #392
Interlocked will be used in aggregators. (see a sample aggregator https://github.com/open-telemetry/opentelemetry-dotnet/blob/master/src/OpenTelemetry/Metrics/Aggregators/CounterSumAggregator.cs)
I am changing the Aggregator from its current (incorrect) implementation to do Sum in thread safe way.

With generic, I cannot find a way to implement the same. Without generic,  `Interlocked.Add(this.sum

[2019-12-17 06:28] cijothomas commented on #391
Yes the aggregator is a quick and dirty implementation. I am submitting a PR with actual thread safe implementation tomorrow.
Will check key issue - it may have something to do with LabelSet being used as the key, instead of a string.

[2019-12-17 06:40] cijothomas commented on #392
@tarekgh The following is how I write Aggregator without generic. (simplified version) I am yet to find how to implement the same with generic involved here.

[code]

And for double:
[code]

Agree this is implementation and no API, but the above looks simple to read and reason about. I am comparing it with the below code I have currently with generic. This code needs to be modified to use Interloc

[2019-12-17 07:36] tarekgh commented on #392
@cijothomas feel free to use non-generic. I have some ideas can achieve implementing it as generic but it has to have the type checking blocks which you don't like. are we talking here about the aggregator classes or you want to convert all counter classes too? I am just checking to know the scope of the change.

[2019-12-17 07:43] tarekgh commented on #392
By the way, I may not be able to respond quickly so if you get blocked, don't wait and do the change you think unblock you. thanks for your help.

[2019-12-17 17:46] cijothomas commented on #392
For now my goal is to get aggregators implemented correctly - I will move to use non-generics for aggregators for now to unblock and make progress. There may be other areas which might face similar issues.

Lets keep this issue open.  When you get a chance, please respond on how to achieve the aggregator  implementation (shared above) with use of generics.

[2019-12-17 22:13] tarekgh commented on #392
Here is one of the ideas how you can implement the generic version:
For full framework compilation, you may need to add reference to the NuGet package https://www.nuget.org/packages/System.Runtime.CompilerServices.Unsafe/

[code]

[2019-12-18 03:20] cijothomas commented on #392
Thanks! Let me try the above.

[2019-12-18 03:54] lmolkova opened #404 "Make W3C trace-context test suite pass"
Check out https://github.com/open-telemetry/opentelemetry-dotnet/pull/403

[2019-12-18 03:55] lmolkova opened #405 "Automate W3C trace-context test suite run"
and run it in CI

[2019-12-18 12:59] alexeyzimarev opened #407 "Repeated enumeration vs allocation"
There're several places in the solution where an `IEnumerable` is repeatedly enumerated.

Some are really weird and seem dangerous, like this one:
https://github.com/open-telemetry/opentelemetry-dotnet/blob/master/src/OpenTelemetry.Api/DistributedContext/DistributedContext.cs#L46

Here the new list is allocated anyway and the whole cumbersome method can be replaced with three lines of code with LI

[2019-12-18 19:01] lmolkova opened #409 "Make MeterSdk internal"
It seems some part of implementations are still missing and we need to call `MeterSdk.Collect()` until then.

MeterSdk should be made internal after implementation is finished and before beta

[2019-12-18 19:27] alexeyzimarev opened #410 "Code style configuration"
This project uses code style guidelines that seem to pay a lot of attention to  XML comments, the order of private vs public, properties vs methods and spaces before and after curly braces.

But there's no guideline that concerns the actual _code_, not how it's formatted. It creates a lot of confusion. Using `this` seems to be the standard although that's the first .NET project that I've seen sinc

[2019-12-18 21:14] lmolkova commented on #357
Was able to repro it with ASDP.NET Core 3.

Caveat is that `loggingEnabled` is https://github.com/aspnet/AspNetCore/blob/3b7cdc166aa3c9733fa60b56d91fc0fff9b11652/src/Hosting/Hosting/src/Internal/HostingApplicationDiagnostics.cs#L50  is true and this was changed in 3.0.

[2019-12-19 00:53] #398 closed

[2019-12-19 03:26] czs1993 commented on #391
@cijothomas  Thanks
When I use the thread safe of Counter aggregator under the multiple thread. the program will still throw an exception:' The key already existed in the dictionary" .
the exception was throw when use  GetHandle(LabelSet labelset)
https://github.com/open-telemetry/opentelemetry-dotnet/blob/master/src/OpenTelemetry/Metrics/CounterSdk.cs

      public override CounterHandle<T> GetHa

[2019-12-19 05:32] lmolkova opened #413 "Allow arrays/ienumerables of supported types for attribute values"
https://github.com/open-telemetry/opentelemetry-specification/blob/master/specification/api-tracing.md#set-attributes

[2019-12-19 05:58] lmolkova commented on #407
@alexeyzimarev in the first case - there certainly is some room for the optimization - would you mind sending a PR to fix that?

In the second case (links) in many cases they will never be enumerated (sampler may disregard them, and if span is sampled out, they won't be touched again). Assuming there are a few of them (yes, I stay strong on this assumption) you would prefer to re-enumeration over

[2019-12-19 07:16] alexeyzimarev commented on #407
Makes total sense. I am travelling now but I’d love to submit a PR for the first case. I already have the code. Also need to check if the benchmark tests cover context propagation. If not, I can add that too so it would be easier to compare.

[2019-12-19 12:01] NatMarchand commented on #407
If I may, according to your tweet your code is :
[code]
which is not equivalent to what is done in the current implementation.
You'll need to pass a comparer to the distinct in order to compare on the Key property value and not on the object itself.

As long as we're commenting, instead of defining an empty list, Array.Empty<T>() could be used. static fields should be readonly as they're not mutat

[2019-12-19 12:26] alexeyzimarev commented on #407
The DistributedContextEntry already implements IEqutable that only compares
the key. I had a test that produced identical results but it might be
wrong, I need to check it.

On Thu, 19 Dec 2019 at 13:02, Nathanael Marchand <notifications@github.com>
wrote:

[2019-12-19 12:29] NatMarchand commented on #407
DistributedContextEntry does not implements anything. It override Equals but compares Key and Value. DistributedContext however does impment IEquatable<DistributedContext>
(as of commit e304133)

[2019-12-19 13:41] alexeyzimarev commented on #407
Than I am wrong and my test definitely missed something. I think it should
be ok to pass a static comparer instance and then it will work.

I would very much appreciate switching from IEnumerable to
IReadOnlyCollection. The N+1/2 issue will go away entirely. I think the
client should be responsible to enumerate the collection upfront to avoid
any side effect like IO or anything of that kind that I

[2019-12-19 13:45] NatMarchand commented on #407
FYI, I only saw your tweet and came here because I was curious and tried to understand.
I don't work at all on the project, it was just kind remarks and humble opinion. :)

[2019-12-20 01:53] #375 closed

[2019-12-23 10:43] bruno-garcia commented on #410
@alexeyzimarev The repo has a [.editorconfig](https://github.com/open-telemetry/opentelemetry-dotnet/blob/master/.editorconfig). One caveat with it is that [VSCode/OmniSharp](https://www.strathweb.com/2019/07/editorconfig-support-in-omnisharp-and-c-extension-vs-code/), [Rider](https://www.jetbrains.com/help/rider/Using_EditorConfig.html), and [Visual Studio](https://docs.microsoft.com/en-us/visual

[2019-12-23 10:48] bruno-garcia commented on #410
Digging a bit on codeformatter, it seems abandoned. [One issue](https://github.com/dotnet/codeformatter/issues/267) has such note:

Last commend points to [dotnet-format](https://github.com/dotnet/format).

[2019-12-24 11:30] bruno-garcia commented on #298
I believe there's a lot going on already and this issue won't add that much value at this point.
Feel free to reopen if make sense.

[2019-12-24 11:30] #298 closed

[2019-12-26 23:13] lmolkova commented on #357
fixed in #403

[2019-12-26 23:13] #357 closed

[2019-12-28 04:43] lmolkova commented on #404
After #418 we still have a few failures related to traceparent parsing.

Traceparent parsing is baked into .NET [Activity](https://github.com/dotnet/runtime/blob/master/src/libraries/System.Diagnostics.DiagnosticSource/src/System/Diagnostics/Activity.cs).

Reasons for this failures are in several cases are caused by it's tolerance for invalid parts of traceparent: if one part is wrong, Activity wi

[2019-12-28 04:43] #404 closed

[2020-01-04 18:05] #339 closed

[2020-01-06 18:25] SergeyKanzhelev opened #421 "Request duration calculation error"
Here is report that the first request duration is calculated incorrectly:

https://github.com/fbeltrao/dotnet-observability-sample/blob/master/opentelemetry-ai-state.md#4-difference-in-first-request-duration

[2020-01-06 18:26] SergeyKanzhelev commented on #421
CC: @fbeltrao

We definitely are not calculating duration as "self-time". Perhaps some issue with the conversion of timestamps?

[2020-01-06 23:05] #346 closed

[2020-01-07 13:11] Masquerade0097 commented on #81
Hi @SergeyKanzhelev, I have completed the basic setup for the project. Also, I have applied on the community bridge platform to this project. Can you please let me know the next steps ?

[2020-01-07 17:58] SergeyKanzhelev commented on #81
@Masquerade0097 unfortunately this time we only have 1 spot for CommunityBridge and it's already taken.

I'll be happy to work with you outside of CommunityBridge program if you are interested. Or stay tuned for GSoC and other opportunities where we plan to participate.

Thank you for your interest!

[2020-01-07 18:46] lmolkova commented on #302
done in #411
while micro-benchmarking shows rather negative effect, this should help with GC pressure

[2020-01-07 18:46] #302 closed

[2020-01-07 18:52] lmolkova opened #425 "Add Microsoft.Azure.ServiceBus adapter"
Events are described here https://docs.microsoft.com/en-us/azure/service-bus-messaging/service-bus-end-to-end-tracing

[2020-01-07 18:54] SergeyKanzhelev commented on #405
perhaps make it as a separate CI definition so main one will not slow down

[2020-01-07 18:56] lmolkova commented on #405
I don't think this task make sense now as it fails on .NET side: https://github.com/open-telemetry/opentelemetry-dotnet/issues/404#issuecomment-569384877

[2020-01-08 15:04] fbeltrao commented on #421
It turns out to be an error on my side, sorry.

Analyzing again (and running with docker-compose) actually shows that only the self-time (+local dependencies) are computed as duration.

[2020-01-08 16:59] #421 closed

[2020-01-08 17:00] SergeyKanzhelev commented on #421
thank you for validation!

[2020-01-09 07:38] czs1993 opened #427 "When will the metrics available"
The stats has a lots of changes,when will the new metrics implementation be works?

[2020-01-09 11:49] MikeGoldsmith commented on #427
Hi @czs1993

We recently had an update to the metrics implementation and there will be work on another update in the next week or so to bring it up to date with the current OTEP specification.

[2020-01-09 11:53] czs1993 commented on #427
@MikeGoldsmith thanks.

[2020-01-09 11:53] #427 closed

[2020-01-09 14:40] MikeGoldsmith commented on #65
I've pushed first PR to break the Exporters dependency on HttpListener. I'll work on additional PRs to add support for other methods of exposing the `/metrics` endpoint, eg ASP.NET Core.

[2020-01-10 02:38] lmolkova opened #429 "Convert ISpan to abstract class and rename"
As per general .NET guidance and discussion in https://github.com/open-telemetry/opentelemetry-dotnet/pull/420, abstract classes are preferable over interfaces and `ISpan` should be changed to abstract class.

Then we have a naming problem `Span` (tracing) conflicts with `Span<T>` (efficient memory/array primitive). We've been advised by .NET team NOT to use `Span` and call it `TelemetrySpan`

Bas

[2020-01-10 07:40] fbeltrao opened #430 "Tracer.StartActiveSpanFromActivity does not copy Activity.Tags"
When creating a Span from an activity the tags are not copied. Application Insights, copies it (Tracer.StartActiveSpanFromActivity vs TelemetryClient.StartOperation)

[2020-01-10 07:43] fbeltrao opened #431 "Span started from Activity seems to requires it to have been started"
Based on a few tests I have made, when starting a span from an Activity, the same requires the Activity to have been started (Activity.Start()).

In comparison, the same does not apply to ApplicationInsights SDK (TelemetryClient.StartOperation).

Is my assumption correct?

[2020-01-10 09:26] SychevIgor opened #434 "[Question] Do we have in a Roadmap - export ExceptionTelemetry objects in ApplicationInsights"
In ApplicationInsightsTraceExporter.cs class I see export of TraceTelemetry, RequestTelemetry and DependencyTelemetry types, but Azure Application Insights support also ExceptionTelemetry and AvailabilityTelemetry types. Also exceptions not list in SpanKind.cs enum

Will exporter support ExceptionTelemetry and AvailabilityTelemetry  or it's not on a roadmap (or even not part of opentelemetry speci

[2020-01-10 09:29] SychevIgor commented on #434
The same for pageviews and other tables/methods of native ApplicationInsights SDK
![image](https://user-images.githubusercontent.com/578954/72141996-d9cd8780-33a4-11ea-8dd3-2f30d24eb1ff.png)

[2020-01-10 10:32] SychevIgor opened #435 "[Question] Correct Target .Net Framework version"
After some research I see some mismatch of .net framework versions across different libraries.

Almost all project use .net46 and .standard
Like this exporter
![image](https://user-images.githubusercontent.com/578954/72146046-bad2f380-33ac-11ea-9ac2-4d14a6c49866.png)
In another hand, some other exporters use only .netstandard like this
![image](https://user-images.githubusercontent.com/578954/7214

[2020-01-10 10:45] MikeGoldsmith commented on #435
Hi @SychevIgor

We should have consistent target frameworks defined for the core OpenTelemetry projects (OpenTelemetry.Api & OpenTelemetry), which I believe should be `net46;netstandard2.0`.

Implementations of the APIs are not required to target a particular framework but I do agree we should have guidelines to try and target as close to the Core project frameworks as possible to have the widest

[2020-01-10 11:21] SychevIgor commented on #435
As of now- .net461 is a requirement only for RedisCollector due to https://www.nuget.org/packages/StackExchange.Redis/

[2020-01-10 11:34] SychevIgor commented on #435
@MikeGoldsmith added PR to address it

[2020-01-10 11:35] SychevIgor commented on #435
.net framework 4.5 is out of support and we should not use it https://support.microsoft.com/en-us/lifecycle/search/548

https://support.microsoft.com/en-us/help/17455/lifecycle-faq-net-framework
.NET Framework 4.5: .NET Framework 4.5 shipped both in Windows 8, Windows Server 2012 and as a stand-alone redistributable package. Support for .NET Framework 4.5 on all operating systems ended on January

[2020-01-10 11:47] MikeGoldsmith commented on #435
Looks good, thanks for the contribution @SychevIgor :+1:

[2020-01-10 17:15] SergeyKanzhelev commented on #435
One reason we have `net45` in API package is that some libraries are still targeting it. Even though the final app will never run on it. Thus if we want to allow those libraries to reference OpenTelemetry we needed net45 support in `Api` package. `Sdk` package should not be referenced by libraries and typically only referenced by the app itself. Thus it doesn't need to support `net45`.

Also from

[2020-01-10 19:51] SychevIgor commented on #435
benchmark is even 462
![image](https://user-images.githubusercontent.com/578954/72182047-b8e45100-33fb-11ea-8a6b-5a63733fa8a8.png)

[2020-01-13 13:57] MikeGoldsmith opened #438 "Add simple logging exporter"
For testing and demonstrations it would be nice to have a simple exporter that can easily be configured to write spans to console. To make things easier, if the exporter is based on `ILogger` we can then easily write spans to any target that has an ILogger implementation, eg NLog, Log4Net, Serilog, etc.

[2020-01-13 14:18] alexeyzimarev opened #440 "[Question] Reason for not using BinaryReader in binary serializer"
I read through the binary serializer code, including the VarInt story and string encoding/decoding. Seems like it uses the standard 7-byte int for the string length and then the char bytes for the string itself. The `BinaryReader` does the same job in `ReadString` but better (at least in my opinion). For example, it tries to return the whole string from chars if the length matches and I would expe

[2020-01-13 14:26] alexeyzimarev opened #441 "Tests and benchmarks for OpenTelemetry.Api"
I can't find any tests and benchmarking for the API project. In particular, I am interested to see tests and benchmarks for the remote context propagation and serialization. Lack of tests creates impediments for suggesting improvements. For example, I am eager to propose something for #407 but it's not easy, I can't be sure if my changes would work.

If there's no particular reason for those tests

[2020-01-13 15:39] MikeGoldsmith commented on #441
Hi @alexeyzimarev

We plan on adding additional testing and benchmark projects over the coming weeks. We see these as a prerequisite to a beta release. We actively encourage contributions, so if you feel you want to help, we'd be very happy for you to help.

[2020-01-13 15:40] alexeyzimarev commented on #441
@MikeGoldsmith it would be great if you can give me some initial guidance in regards to my other questions, so I can put things in the right place.

[2020-01-13 18:14] lmolkova commented on #441
@alexeyzimarev here are the [benchmarks for API](https://github.com/open-telemetry/opentelemetry-dotnet/blob/master/benchmarks/OpenTelemetrySdkBenchmarks.cs#L71). You can  expand this as you wish.

Note that context propagation (if you mean context propagation over the wire) is done by .NET and hard to test without making real outgoing HTTP requests.

[2020-01-13 18:19] lmolkova commented on #440
This code was first translated from Java and there is no reason to believe `BinaryReader` cannot be used. At the same time, AFAIK binary format is not standardized by the OTel community and optimizing the implementation is likely premature.

[2020-01-13 19:50] alexeyzimarev commented on #440
I think 7 bit string encoding is pretty standard and cross-platform, otherwise it won’t be the same across Java and .NET implementation.

[2020-01-13 19:51] alexeyzimarev commented on #441
I meant tests for Extract and Inject. Both methods are reasonably complex and I believe it’s possible to test those methods in isolation.

[2020-01-13 19:53] lmolkova commented on #440
This is not string encoding https://github.com/w3c/trace-context-binary (e.g. trace-id is 16 bytes or two longs). also Java is big-endian, while .net depends on processor, so there certainly are concerns here.

[2020-01-13 19:58] lmolkova commented on #441
sure, but the will not be used in typical HTTP .NET app as serialization (for traceparent) is done by .NET [Activity](https://github.com/dotnet/runtime/blob/master/src/libraries/System.Diagnostics.DiagnosticSource/src/System/Diagnostics/Activity.cs#L356)  in [HttpClient](https://github.com/dotnet/runtime/blob/master/src/libraries/System.Net.Http/src/System/Net/Http/DiagnosticsHandler.cs#L254) and

[2020-01-13 20:00] lmolkova commented on #441
check OTel listener code [here](https://github.com/open-telemetry/opentelemetry-dotnet/blob/3905e7818947c9a1746e067f201dc45220822669/src/OpenTelemetry.Collector.Dependencies/Implementation/HttpHandlerDiagnosticListener.cs#L87). there is very similar check for Http-in listener

[2020-01-13 20:32] alexeyzimarev commented on #441
Well, I would argue about the meaning of “typical” because we have tons of microservices and almost none of them use http.

I get the point but I am very much interested in having a fast binary context serialiser. I could also refer to the OpenTracing .NET client that uses BinaryReader. I assume it complies with the standard, which OpenTelemetry is based upon for obvious reasons.

That’s why I got

[2020-01-13 21:28] alexeyzimarev commented on #440
I see. Then, I think it would make sense to inspect the BinaryReader.ReasString closer to get some ideas about avoiding using an unbounded StringBuilder. For the sake of interoperability it would make sense to share plain and serialised values that comply with the standard to have some seed dataset to run tests against. Otherwise  I am not sure how interoperability and compliance to the standard c

[2020-01-14 07:51] alexeyzimarev commented on #440
@lmolkova just figured out that I indeed wrote nonsense by trying to make "7-byte int for the string length and then the char bytes for the string itself" shorter :) From the spec you referred to, this issue is about parsing the `tracestate` only.

[2020-01-14 08:04] alexeyzimarev commented on #440
I wrote a small test using the example `tracestate` from the spec and those two methods return identical results:

[code]

[2020-01-14 12:31] alexeyzimarev commented on #440
Ok, I benchmarked it and apparently using the `BinaryReader` is a bit slower.

[2020-01-14 17:48] tarekgh commented on #392
@cijothomas is there anything blocking you to complete this work?

[2020-01-14 18:50] MikeGoldsmith commented on #392
I believe @cijothomas is on PTO, not sure when he's due back. I agreed with @SergeyKanzhelev to pick this up and review what's outstanding once I've finished my OTEP-66 prototype (if Cijo isn't available). I hope to get to this by the end of the week.

[2020-01-14 18:56] tarekgh commented on #392
Thanks @MikeGoldsmith for the info. I'll wait then and let me know if there is any issue I can help with.

[2020-01-15 14:13] nmbro opened #442 "Stackdriver exporter HTTP method not populated in Stackdriver Trace UI"
When using the Stackdriver exporter - the HTTP Method in the Stackdriver Trace list is not being populated.

![stackdriver_issue](https://user-images.githubusercontent.com/3308346/72440518-4d0e3980-37a9-11ea-9bae-85b9d40c97de.PNG)

As you can see the top part of the trace list HTTP Method is empty - even though the http.method property is filled.

I'm probably using it wrong?

The version I'm usin

[2020-01-15 17:20] MikeGoldsmith commented on #442
Hi @nmbro

Please can you provide an example of how you're configuring OpenTelemetry and the StackDriver exporter?

Thanks

[2020-01-15 17:52] nmbro commented on #442
I'm using Autofac for my IOC here's my extensionmethod

[code]

[code]

[2020-01-16 15:51] MikeGoldsmith commented on #442
Okay, so nothing out of the ordinary then. Thanks for confirming.

[2020-01-16 16:30] MikeGoldsmith commented on #442
Looks like we need to create a specific attribute within the span that is sent to StackDriver. I've started to have a look into it.

Also, StackDriver API version we currently have is fairly out of date and should be updated.

1.0.0-beta02 (Aug 2019) vs 1.1.0 (Dec 2019)

[2020-01-16 20:57] MikeGoldsmith commented on #442
These seem to be the labels Google Trace uses if you configure their ASP.NET middleware. I'll test out swapping some of them out.

[2020-01-16 21:30] nmbro commented on #442
Cool let me know if I can use them internally too - that would be cool; Also btw the Name attribute doesn't seem to hit Google Stackdriver either

[2020-01-17 04:37] czs1993 commented on #391
@cijothomas when will the new metrics implementation be works?

[2020-01-17 19:01] SergeyKanzhelev opened #450 "Need to have ability to report out of band Spans with the custom-defined spanId"
There are scenarios when one may receive spans from  external source - for example from external process - and wants to send it to the backend. It will be useful if Span or SpanData will allow to specify a custom spanID for those scenarios

[2020-01-17 19:03] SergeyKanzhelev commented on #450
Marking as SDK as I believe the best way to enable this scenario is to support it on SDK, not API. Keep API for libraries in-place instrumentation scenarios and out-of-process Spans tracking will need an SDK reference

[2020-01-17 19:22] lmolkova opened #451 "Flaky test ExportMoreSpansThanTheMaxBatchSize"
https://dev.azure.com/opentelemetry/pipelines/_build/results?buildId=1133&view=logs&j=12f1170f-54f2-53f3-20dd-22fc7dff55f9&t=006e6f7c-8314-5e02-a3df-483f3a1f4cfa

[xUnit.net 00:00:04.01]     OpenTelemetry.Trace.Export.Test.BatchingSpanProcessorTest.ExportMoreSpansThanTheMaxBatchSize [FAIL]
  X OpenTelemetry.Trace.Export.Test.BatchingSpanProcessorTest.ExportMoreSpansThanTheMaxBatchSize [1s 25ms]

[2020-01-17 20:39] MikeGoldsmith commented on #442
I've pushed a PR that replaces four labels that there were conversions for.

We set the StackDriver Trace.DisplayName property to the OTel Span.Name property. eg when you call the span when creating it `tracer.StartActiveSpan("/getResource", out var span)`. I'm not sure what we could / should use instead.

[2020-01-18 02:52] lmolkova commented on #451
fixed in #452

[2020-01-18 02:52] #451 closed

[2020-01-18 18:14] provegard opened #455 "Not seeing root span with Stackdriver exporter"
Maybe related to #442 - because I don't see the method either.

In the Stackdriver Trace UI, the URL column contains the name of a child span:

![image](https://user-images.githubusercontent.com/795010/72668250-38d67080-3a25-11ea-93fd-321dd31964cb.png)

The name in the URL column belongs to a span that is a descendant of the root span.

I create the root span as follows in a custom ASP.NET Core mi

[2020-01-18 19:12] provegard commented on #455
I just realized that I'm on an "old" version. I will try the MyGet feed and see what happens.

[2020-01-18 23:41] provegard commented on #455
Same behavior with 164.

[2020-01-21 17:01] #438 closed

[2020-01-21 17:18] #450 closed

[2020-01-21 19:13] #374 closed

[2020-01-21 21:00] #71 closed

[2020-01-21 21:04] MikeGoldsmith commented on #455
Hi @provegard - I think the recently merged #453 should also address this issue. If you could pull a recently MyGet feed build and test that would be really appreciated.

[2020-01-21 21:10] MikeGoldsmith commented on #442
This should be resolved now #453 has been merged - you can test by grabbing a recent MyGet build.

Please re-open if required. Thanks.

[2020-01-21 21:10] #442 closed

[2020-01-21 22:31] tarekgh commented on #373
@SergeyKanzhelev There is a difference between Tracer/Meter and DistributedContext. Tracer and Meter are abstract interfaces while DistributedContext is just a concrete type that can be created by the Builder. Following the Tracer/Meter way will require making the DistributedContext/Builder to be abstract which I don't think we need to complicate the interfaces for DistributedContext just to follo

[2020-01-21 23:47] tarekgh opened #456 "Make SpanData thinner again"
Initially, SpanData was intended to be a thin wrapper around the Span object. with the change https://github.com/open-telemetry/opentelemetry-dotnet/pull/454 it started to support another scenario that needs creating the SpanData not from Span but other different fields. We initially made the SpanData a struct because it was a small size but now it is not. We should do one of the following:

- Eit

[2020-01-21 23:48] tarekgh commented on #456
CC @lmolkova

[2020-01-22 06:43] provegard commented on #455
Thanks, I'll give it a shot!

[2020-01-22 09:41] MikeGoldsmith commented on #373
Are we going to allow consumers to replace the DistributedContext implementation like we do for Tracer/Meter? If yes, then I think having a consistent approach with using an abstract base class with default implementation makes sense. I think having a consistent API, whether that uses builders or static defaults, is a good thing.

Regarding default tracer, [OTEP PR 76](https://github.com/open-tele

[2020-01-22 09:45] MikeGoldsmith commented on #456
Yeah, I agree option 3 feels the best and will allow us to remove the additional fields and simply the property getters too which us null coalescing `??` to switch between using the span or discrete property.

[2020-01-22 13:50] MikeGoldsmith opened #461 "Separate Context propagation (OTEP-66)"
Following [OTEP-66](https://github.com/open-telemetry/oteps/blob/master/text/0066-separate-context-propagation.md) correlation context, span context and metric context should have a generic top-level grouping.

This is a fairly large change, so I want to break it into a number of chunks.

- [ ] - Rename DistributedContext to CorrelationContext (#462)
- [ ] - Add new DistributedContext that contain

[2020-01-22 15:50] MikeGoldsmith opened #463 "Add Console TracerBuild extension method"
Other exporters have an extension method to help configure the exporter's options directly on the TracerBuilder. The ConsoleExporter doesn't have that yet but should.

[2020-01-22 16:43] tarekgh commented on #373
I am not seeing any reason we need to have the DC be abstract and replaced. It is a really simple key-value list carrier. That is the point I am trying to make. I am open to change that if we really think in a scenario that requires replacement as I may be missing something.

That is right. Now we should think which way is simpler for the library code to get the default tracer and how the SDK can

[2020-01-23 00:55] lmolkova commented on #431
Yes, you are correct. Starting span from Activity is used to listen to instrumentation in .NET libraries (e.g. HttpClient, ASP.NET Core and some SDKs) which start activity and notify about it.

If you need to start span from not-started Activity, you can construct SpanContext out of the Activity and pass it to StartSpan overload.

We are working on better integration story between Span and Activit

[2020-01-23 00:55] #431 closed

[2020-01-23 02:59] lmolkova opened #467 "Implement Propagators API"
https://github.com/open-telemetry/opentelemetry-specification/blob/master/specification/api-propagators.md

[2020-01-23 07:09] fbeltrao commented on #431
@lmolkova thanks for the clarification

[2020-01-23 21:50] MikeGoldsmith commented on #373
I agree we probably don't need `DistributedContext` to be be abstract and won't be replaced in application code.

Currently we utilise `TracerFactory` to get Tracer instances, and I believe typically expect application code to manage an instance of that (eg DI). I think some sort of static default tracer type make sense, which would default to the API's NoopTracer.

To follow on from that, there h

[2020-01-23 22:35] tarekgh commented on #373
Thanks, @MikeGoldsmith. looks static default tracer would making sense and that will be the same way we initialize DistributedContext.

@SergeyKanzhelev @lmolkova could you please let's know what are your thoughts around that and keeping the DistributedContext initialization as what we have today?

[2020-01-24 02:32] #456 closed

[2020-01-24 17:11] #463 closed

[2020-01-25 18:55] nmbro opened #470 "Stackdriver Trace - wrong label used for http user_agent"
Following this reference here: https://cloud.google.com/trace/docs/reference/v1/rest/v1/projects.traces#TraceSpan

the `/http/user_agent` should be used - the `/agent` is reserved for the name of the tracing agent.

#453 did introduce replacing of some of the labels - but might have replace http user agent with the wrong label

[2020-01-27 21:37] nmbro commented on #455
did it help?

[2020-01-27 22:41] provegard commented on #455
Apologies, other things came in the way. :( I will try to test it during this week

[2020-01-27 23:28] #429 closed

[2020-01-28 17:54] SergeyKanzhelev opened #475 "Unable to find a version of 'System.Buffers' that is compatible with 'System.IO.Pipelines 4.6.0 constraint: System.Buffers (>= 4.5.0)'."
Getting error messages:

[code]

[2020-01-29 19:44] #470 closed

[2020-01-30 09:17] n1dtec opened #476 "Shared library for creating http server"

[2020-02-05 06:32] SergeyKanzhelev opened #480 "Build failed after zPages PR was merged"
It looks like pack target only executes for main build, not for CI.

Link: https://dev.azure.com/opentelemetry/pipelines/_build/results?buildId=1214&view=results

Error:

[code]

[2020-02-05 06:33] SergeyKanzhelev commented on #480
@n1dtec can you please take a look?

[2020-02-05 08:01] JamesNK opened #482 "Create RPC spans for gRPC"
Spec: https://github.com/open-telemetry/opentelemetry-specification/blob/master/specification/trace/semantic_conventions/rpc.md

grpc-dotnet adds metadata to an activity in ASP.NET Core and provides its own activity for the client. There should be enough information on it, and in the types passed to the diagnostic source events to create the spans in the OT spec.

[2020-02-05 20:33] #480 closed

[2020-02-11 21:40] MikeGoldsmith opened #488 "Console Exporter doesn't output ParentSpanId in json"
When the console exporter serializes a span to output to the console, the ParentSpanId property is populated for spans with a parent but no value is output.

eg
[code]

[2020-02-12 12:14] brunosantosfarfetch opened #489 "ZipkinTraceExporter DoPostAsync method"
I was going through OpenTelemetry code checking some implementation details and found this:

[code]
It seems that both the `if` statement and the `var` declaration are done but don't add any value and could be removed. Is my understanding correct? If so I am more than willing to remove it.

[2020-02-12 20:43] #488 closed

[2020-02-14 14:07] MikeGoldsmith commented on #489
Hi @brunosantosfarfetch

You're correct - the `if` and `var` are redundant in this case because the statusCode is not used.

An alternative to checking status codes manually is to use the [EnsureSuccessStatusCode](https://docs.microsoft.com/en-us/dotnet/api/system.net.http.httpresponsemessage.ensuresuccessstatuscode) on the `response` object. This throws an exception if a non 2XX response is recei

[2020-02-14 15:16] brunosantosfarfetch commented on #489
I think throwing an exception will cause a behavioural braking change. It's probably better to remove the redundant lines of code

[2020-02-14 15:25] MikeGoldsmith commented on #489
Yeah, that's a good first step. I'm not familiar with the code, but I would assume whomever created this method expected to do something with the status code, and likely want to report failed requests.

[2020-02-14 17:11] tomstreet opened #493 "Unable to set RequestFilter for AspNetCore RequestCollector in the AspNetCoreCollectorOptions"
Is there a reason that the `RequestFilter` property on `AspNetCoreCollectorOptions` is internal? I was looking for a way to apply a filter to the RequestCollector based on the request path and stumbled across this. It looks like it is all wired up internally but isn't publicly exposed thus can't be used.

I was hoping to be able to do something like:
`services.AddRequestCollector(o => o.RequestFil

[2020-02-14 18:33] lmolkova commented on #493
This API is not exposed because it's probably not final shape for it and we don't want to expose it until we have a consistent story for filtering across different integrations.
Also, filtering before collection is not common OpenTelemetry concept (while definitely good for perf!)

You can still do it by implementing some custom filtering `SpanProcessor`. Check out the example here https://github.

[2020-02-14 18:49] tomstreet commented on #493
Thanks for the clarification and guidance.

I like how the processor pipeline provides a standardised way of plugging in extra functionality, so the collector doesn't need to worry and can just focus on collecting. It would be nice to have a simple API exposed, like that `RequestFilter`, to allow access purely in the name of perf so at least the option is there. I guess it would have to be specifi

[2020-02-17 09:20] #493 closed

[2020-02-17 19:58] SergeyKanzhelev opened #496 "Support array-valued attributes"
See https://github.com/open-telemetry/opentelemetry-specification/pull/368

[2020-02-18 15:57] MikeGoldsmith opened #497 "Replace gauge with observer metric instrument"
Implements spec change [430](https://github.com/open-telemetry/opentelemetry-specification/pull/430).

- Removes gauge metric
- Add observer (includes adding new LastValueAggregator)

[2020-02-18 23:19] justinfoote opened #501 "Do not validate tracestate"
Right now, the opentelemetry-dotnet implementation of W3C TraceContext is validating every tracestate entry (See [here](https://github.com/open-telemetry/opentelemetry-dotnet/blob/master/src/OpenTelemetry.Api/Context/Propagation/TraceContextFormat.cs#L249-L251)), and if any invalid entries exist, the entire tracestate is dropped.
The W3C Spec allows for validation, with this text:

But there is an

[2020-02-20 10:35] frankbohman commented on #395
Would configuring logging of the EventSources fit here aswell? It would be very helpful to people getting started i think.

[2020-02-20 13:48] MikeGoldsmith opened #502 "Flaky Event.FromDescription tests"
Event unit tests in are inconsistently failing. This looks to be a timing issue as the failure indicates a created time range problem.

[FromDescription](https://github.com/open-telemetry/opentelemetry-dotnet/blob/master/test/OpenTelemetry.Tests/Impl/Trace/EventTest.cs#L33)
[FromDescriptionAndTimestamp](https://github.com/open-telemetry/opentelemetry-dotnet/blob/master/test/OpenTelemetry.Tests/Imp

[2020-02-20 21:35] MikeGoldsmith opened #503 "Coerce invalid span attribute values to strings"
If an invalid data type is used for a span attribute value, currently an empty string is used. It may be useful to try to coerce the value into a string representation to for better debugging and to support lazily loaded values.

Also note, an attribute value can be an `IEnumerable`, which complicates the process of converting the value into a useable string.

[2020-02-21 05:46] SergeyKanzhelev opened #504 "upgrade to new major version of this task 'Use .NET Core (2.*)'"
##[warning]Kindly upgrade to new major version of this task 'Use .NET Core (2.*)' for installing newer versions of .NET Core. '0.*' task version might not be able to download newer .NET core versions. To know more about 'Use Dot Net (2.*)', refer https://docs.microsoft.com/en-us/azure/devops/pipelines/tasks/tool/dotnet-core-tool-installer?view=azure-devops. 3.1.100

[2020-02-21 18:41] #496 closed

[2020-02-25 16:15] MikeGoldsmith commented on #455
@provegard have you been able to confirm if the changes in #453 helped?

[2020-02-25 16:42] MikeGoldsmith opened #506 "0.5.0-beta readiness tracker"
This is a tracking issue for the requirements outlined in the beta release document: https://docs.google.com/document/d/1eviggoIguOS89dgKL-8ntUOCfPP6FLWAoQkGoBDsld0/edit#

## Traces
- [x] OpenTelemetry SpanWrapper on top of .NET Activity.
- [x] Stable API of every spec'd feature #573
- [x] SDK Implementation of every spec'd feature
- [x] #574
- [x] #575
- [x] #576
- [x] #577
- [x] #578
- [x] Basic

[2020-02-25 18:57] cijothomas commented on #391
@czs1993 I just came back to work after parental leave and will pick up/ continue metric work. Thanks for being patient.!

[2020-02-26 08:02] jacostro opened #507 "No access to span name?"
Hi,
I'm updating code based on early version of OpenTelemetry. I've just discovered that I can't read current span's name anymore. `TelemetrySpan` no longer has `Name` property. It exists in `SpanSdk`, which is an internal implementation, so inaccessible. `TelemetrySpan` contains `UpdateName` method, so the notion of name does exist on this level.
Is there some deeper thought in not allowing to re

[2020-02-26 15:34] provegard commented on #455
I'm trying 195 now, but I'm not seeing anything at all in GCP. Something must be misconfigured - I'll see if I can get log messages from OT. I'll keep you posted.

[2020-02-26 15:43] provegard commented on #455
I'm getting this in the event log in PerfView:

    ERROR: Exception in Command Processing for EventSource OpenTelemetry-Sdk: Unsupported type ReadOnlySpan`1 in event source." FormattedMessage="ERROR: Exception in Command Processing for EventSource OpenTelemetry-Sdk: Unsupported type ReadOnlySpan`1 in event source.

[2020-02-26 18:40] erick-thompson opened #508 "DataDog exporter"
Is anyone aware of a planned Data Dog exporter? I use both App Insights and Data Dog, and using OpenTelemetry seems like a great way to integrate the two.

[2020-02-26 18:51] provegard commented on #455
Same error with 179.

[2020-02-26 21:09] SergeyKanzhelev commented on #508
DataDog is working with OpenTelemetry. So I would expect the exporter will be implemented at some point.

We plan to "evict" vendor specific exporters from this repository https://github.com/open-telemetry/opentelemetry-dotnet/issues/138. So even if implemented, it likely will be in DataDog-specific GitHub account

That's said if you will ask DataDog and somebody will decide to contribute DataDog

[2020-02-26 21:09] #508 closed

[2020-02-26 22:13] SergeyKanzhelev commented on #507
The idea is that Span must not be used to exchange information so there are setters, but no getters. In Java it is strictly enforced. We are not as strict in .NET.

What is your scenario so you need access to `Name`?

[2020-02-26 22:14] SergeyKanzhelev commented on #504
this issue requires simple update of tasks definition: https://github.com/open-telemetry/opentelemetry-dotnet/tree/master/.vsts

[2020-02-26 22:16] SergeyKanzhelev commented on #501
Tracestate is not validated by .NET (native implementation). Tracestate parsing in this repository is strict as there are no clear guidance on which non-compliant `tracestate`s are acceptable and which are not. Unless this guidance is documented I suggest we keep the current behavior. Please re-open if disagree.

[2020-02-26 22:16] #501 closed

[2020-02-26 22:18] #497 closed

[2020-02-26 22:24] SergeyKanzhelev commented on #476
right now Prometheus and zPages implements the server that allows to serve additional endpoint from the app process to expose telemetry. The suggestion here is whether we want to share the code.

Generally speaking this work is not OpenTelemetry specific. So naming of this NuGet may be more generic. Also it may be a good idea to suggest this NuGet to be a part of .NET.

[2020-02-26 22:27] SergeyKanzhelev commented on #441
It is a good idea to create a benchmarks in 0.4 milestone to address potential fundamental issues before the 1.0.

@TimothyMothra can you take a look?

[2020-02-26 22:29] SergeyKanzhelev commented on #440
BinaryReader was temporarily taken out of the specification of OpenTelemetry. Need to remove it from the codebase or move to "misc" project for now.

[2020-02-26 22:32] SergeyKanzhelev commented on #405
so this task a bit more involved as simply run the test suite. It also needs to exclude "expected" failures

[2020-02-26 23:15] SergeyKanzhelev commented on #413
Fixed via #500

[2020-02-26 23:15] #413 closed

[2020-02-26 23:20] SergeyKanzhelev opened #509 "SpanProcessors input data type"
SpanProcessors takes `SpanData` as an [input](https://github.com/open-telemetry/opentelemetry-dotnet/blob/ddd13c3eed07819cd1d87e1b9f5c45313b5cd76d/src/OpenTelemetry/Trace/Export/SpanProcessor.cs#L24-L43) which is read only.

This change breaks the important scenario described here: https://medium.com/opentelemetry/opentelemetry-beyond-getting-started-5ac43cd0fe26

[code]

Need to re-think this API

[2020-02-27 07:47] alexeyzimarev commented on #441
Btw, I had to upgrade the `BenchmarkDotNet` package to 0.12, otherwise, I wasn't able to run it on .NET Core 3.1 runtime.

[2020-02-27 08:00] jacostro commented on #507
Thank you for the response. The code I'm referring to is a collector for MVC Core events - a kind of extension for `AspNetCore` collector (more precisely, to the code in `HttpInListener.OnCustom`). In case of some events I was checking current span's name in addition to incoming operation name.

Reading current span's name seems to me analogous to reading `Activity.Current.OperationName`, which is

[2020-02-27 17:20] SergeyKanzhelev commented on #507
So you are listening for callbacks, what are you checking the current span's name for? I wonder what is the scenario here.

[2020-02-27 21:59] jacostro commented on #507
Yes, I'm listening for callbacks from `Microsoft.AspNetCore` diagnostic source to get some additional insight into internal stages of MVC processing of a request. As there were some significant gaps in our traces between the start of incoming request and the beginning of our own processing, I thought it might have been interesting to see what MVC is doing in that time. `OpenCensus.Collector.AspNet

[2020-03-02 09:03] lukasz-pyrzyk opened #511 "Documentation - method UseZipkin() doesn't exist"
I'm going through readme and in some places, there are calls to the method `UseZipkin`, like

[code]

Unfortunately, method `UseZipkin` without arguments doesn't exist. `TracerBuilderExtensions` has only `UseZipkin(this TracerBuilder builder, Action<ZipkinTraceExporterOptions> configure)` and `Action<ZipkinTraceExporterOptions> zipkinConfigure, Action<
            SpanProcessorPipelineBuilder> pro

[2020-03-02 14:47] MikeGoldsmith opened #512 "Re-add binary format"
The binary format was removed from the [spec](https://github.com/open-telemetry/opentelemetry-specification/pull/426) because a protocol has not yet been formally agreed.

This issue tracks re-adding the binary format when a protocol is agreed.

[2020-03-02 15:00] MikeGoldsmith commented on #511
Hi @lukasz-pyrzyk - you are correct that none of `UseZipkin`s overloads are paremeterless.

This is a bug in the docs and I've put it into the v0.4 milestone.

[2020-03-02 17:52] #511 closed

[2020-03-03 08:46] lukasz-pyrzyk opened #516 "How to read W3C trace-context?"
Readme in section https://github.com/open-telemetry/opentelemetry-dotnet#context-propagation-out-of-process says that I can read the context from the incoming request. However, I cannot find this API in the code.

There is no field/property on `Tracer` class called `TextFormat` and I don't see any method with signature `Extract(headers, [..])`. Am I missing something?

[2020-03-03 09:41] lukasz-pyrzyk opened #517 "Sending metadata from client to server"
I would like to use OpenTelemetry to spread metadata information about a client that starts the tracing graph. I imagine it by sending a metadata from a client that makes HTTP request to the server, for example, something like `requestkind: selftest` or `sender: selftest`. This value is needed in the last child.

If I'm not mistaken, in OpenTracing spec it sounds like `Baggage Items https://opentr

[2020-03-03 15:13] MikeGoldsmith opened #518 "Intermittent Jaeger UDP Batcher test failure"
There are inconsistent test failures for JaegerUdpBatcher. I've only seen the failure on Windows and not Linux hosts.

Example from [Azure Pipeline CI](https://dev.azure.com/opentelemetry/pipelines/_build/results?buildId=1310&view=logs&jobId=2d2b3007-3c5c-5840-9bb0-2b1ea49925f3&j=2d2b3007-3c5c-5840-9bb0-2b1ea49925f3&t=ea74d3ec-af51-57bf-65e6-f50dd234a1e5):
[code]

[2020-03-03 20:05] SergeyKanzhelev commented on #517
DistributedContext / CorrelationContext needs to be used in OpenTelemetry. @MikeGoldsmith is working on it: https://github.com/open-telemetry/opentelemetry-dotnet/pull/462

@MikeGoldsmith can you please comment on when it may be ready?

I mentioned this scenario here: https://devblogs.microsoft.com/aspnet/improvements-in-net-core-3-0-for-troubleshooting-and-monitoring-distributed-apps/ and here ht

[2020-03-03 20:06] SergeyKanzhelev commented on #517
Marked for better documentation for the 0.4 milestone

[2020-03-03 20:08] SergeyKanzhelev commented on #516
Are you looking for w3c implementation specifically? Or the way to call into extract? See this:

https://github.com/open-telemetry/opentelemetry-dotnet/blob/cfd198429c3f09fe049805603bc1255d448b34f1/src/OpenTelemetry.Collector.AspNetCore/Implementation/HttpInListener.cs#L68-L80

[2020-03-03 23:44] eddynaka commented on #489
Hi all, is this issue still available?

If yes, can I take it?

If yes, should I just remove the if and var lines?

Thanks!

[2020-03-04 01:22] czs1993 commented on #391
@cijothomas that great, looking forward to your work !

[2020-03-04 17:26] SergeyKanzhelev commented on #440
We deleted the BinarySerializer for now

[2020-03-04 17:26] #440 closed

[2020-03-04 17:36] SergeyKanzhelev commented on #342
need a repro. Closing for now

[2020-03-04 17:40] #118 closed

[2020-03-04 17:40] SergeyKanzhelev commented on #117
This is tracked in OTEM-66 item assigned to @MikeGoldsmith

[2020-03-04 17:40] #117 closed

[2020-03-04 17:43] SergeyKanzhelev commented on #70
need repro

[2020-03-04 17:43] #70 closed

[2020-03-04 17:44] SergeyKanzhelev commented on #66
We change APIs. It's irrelevant now

[2020-03-04 17:44] #66 closed

[2020-03-04 17:45] #64 closed

[2020-03-04 17:45] SergeyKanzhelev commented on #63
it will be re-implemented

[2020-03-04 17:45] #63 closed

[2020-03-04 18:25] SergeyKanzhelev commented on #489
@eddynaka yes, go ahead!

[2020-03-04 19:40] #518 closed

[2020-03-04 20:59] SergeyKanzhelev commented on #504
Just to be clear - the warning shows up in Azure Pipelines: https://dev.azure.com/opentelemetry/pipelines/_build/results?buildId=1325&view=results
![image](https://user-images.githubusercontent.com/9950081/75922473-e9eb6b80-5e17-11ea-96ef-c225f7192966.png)

[2020-03-04 22:48] #504 closed

[2020-03-04 23:10] eddynaka commented on #475
Hi all,

Write now, we have 3 versions of System.Buffers: 4.3, 4.4, 4.5

Projects that contains more than one version:
- OpenTelemetry.Exporter.Zipkin.csproj
- OpenTelemetry.Exporter.Console.csproj
  - System.Text.Json (nuget) -> System.Buffers (4.5)
  - OpenTelemetry.Api (project) -> System.Buffers (4.4)

The same happen for OpenTelemetry.Collector.StackExchangeRedis.csproj, the only difference i

[2020-03-04 23:16] SergeyKanzhelev commented on #475
I don't see reference to System.Buffers from here: https://github.com/open-telemetry/opentelemetry-dotnet/blob/master/src/OpenTelemetry.Api/OpenTelemetry.Api.csproj. Is it a reference from the System.Diagnostics?

[2020-03-04 23:24] eddynaka commented on #475
Hi @SergeyKanzhelev ,

yes. System.Diagnostics -> System.Memory -> System.Buffer 4.4

[2020-03-04 23:33] SergeyKanzhelev commented on #475
oh, What would be the proposed solution than? Can we downgrade the version of `System.Text.Json`? If not - will adding an explicit reference to System.Buffers from Zipkin solve the issue?

[2020-03-04 23:40] eddynaka commented on #475
Hi @SergeyKanzhelev ,

Downgrading wouldn't solve because text.json always depended from buffers.4.5

We could install manually in those projects that have multiple versions and test.

How did you generate those versions to test?

[2020-03-04 23:42] SergeyKanzhelev commented on #475
just `pack` them. Wither from command line: "dotnet pack foo.csproj" or right click on project in VS and select "pack" (or publish), not sure which

[2020-03-05 14:44] lukasz-pyrzyk commented on #425
Please correct me if I am wrong.

To close this story, we need to write a collector (like `AzurePipelineCollector`) and a `DiagnosticSourceSubscriber` for diagnostic source events from ServiceBus. We can easily subscribe for example for `Send` and `Schedule` activities. With that, we will be able to monitor and observe sending/scheduling.

But what with receiving messages in different application

[2020-03-05 14:52] lukasz-pyrzyk commented on #516
For learning purposes, I was following the readme. It gave me the thoughts that I can extract `SpanContext` from the request headers and read `TraceId` / `SpanId` when I want, for example for a quick log message.

It looks like readme is a little bit out of date when it comes to API call to the `tracer.TextFormat.Extract`, right? `TextFormat` fiedl is not available at the `Tracer` level

[2020-03-05 15:25] lukasz-pyrzyk opened #525 "Migration to C# 8"
Can we update `Directory.Build.props` to use C# 8? It has few nice features that can simplify the code

[2020-03-05 16:36] tomstreet opened #526 "Collectors using a different service name and version"
I'm using the HttpClientCollector and AspNetCoreCollector and they both appear to be using the wrong service name and version in the spans they create.

I'm using Jaeger to view the traces and they both appear to be using the value of `http.host` as the service name and `semver:0.0.0.0` as the service version.  This causes Jaeger to display the spans as though they are from a different service whi

[2020-03-05 17:30] SergeyKanzhelev commented on #525
Yes. We discussed it here: https://github.com/open-telemetry/opentelemetry-dotnet/pull/380 and if you want to take it over from @bruno-garcia, please go ahead!

[2020-03-05 17:33] SergeyKanzhelev commented on #526
bug.

[2020-03-05 17:52] #525 closed

[2020-03-05 20:47] #489 closed

[2020-03-06 20:51] cijothomas commented on #392
@tarekgh I am back from parental and continuing metrics work.
This issue needs resolution before we ship beta.

You mentioned you haven't checked performance when using Unsafe.As conversions. We definitely want to know if there is a perf hit due to this as this conversions occur for **every** metric update and is a hot path - Can you help check this?

I'd prefer to move away from Generics and impl

[2020-03-06 21:20] tarekgh commented on #392
@cijothomas to be honest none of the listed reasons really block from using Generic. As I mentioned before Generic will give the benefit not exposing more types. you'll need to expose at least 6 more types with the none generic and in the future, you'll need more if you want to support other types. In addition, as mentioned before, developers are not going to use the Generic directly. I was trying

[2020-03-09 18:51] cijothomas opened #530 "Implement short lived binding to instruments for Metrics"
Current implementation does not ever remove a bound instrument. Whenever user calls update on a metric instrument with labels specified as <key,value> pair,  Metrics SDK internally creates a bound instrument, and keep this in memory forever. As per the spec, unless user explicitly creates the bound instrument, it should be short lived. Without this, the Metrics SDK can have potentially unbound mem

[2020-03-09 18:53] cijothomas opened #531 "Implement Observer instrument and corresponding aggregation."
We have an instrument named Observer already, but it does not have any 'callback' mechanisms implemented. This issue is to track implementing an Observer as per the specs.

https://github.com/open-telemetry/oteps/blob/master/text/0072-metric-observer.md

[2020-03-10 11:25] MikeGoldsmith opened #532 "Add support for single B3 Propagator header"
B3 propagation supports span context in both a single combined header and over multiple headers. The current implementation only supports multiple headers.

https://github.com/openzipkin/b3-propagation#single-header

[2020-03-10 13:32] MikeGoldsmith commented on #517
Sorry for the slow reply.

The OpenTelemetry spec moved from baggage to Correlations. I'm working on this and expect it to be done by the end of this week. It's a far reaching change and touches on a large number of areas.

Once updated, correlations set on parent spans will be passed to child spans the same way baggage worked.

[2020-03-10 13:43] MikeGoldsmith commented on #516
Currently, span context propagation is broken because Propagators was was removed from `Tracer`. This is because propagators should exist outside of the tracer.

Adding the Propagators API is tracked in #467 and will be required for beta. I've added a comment to the issue to ensure the docs are updated too.

[2020-03-10 13:44] MikeGoldsmith commented on #467
We need to make sure documentation is also updated. The README has details on how propagation works, but uses the old way of trying to get a propagator from a tracer.

[2020-03-10 14:30] MikeGoldsmith commented on #392
I am in favour replacing generic types with concrete types - although they could wrap the generic type. Generics used in this way are not easy to understand and don't form a user-friendly interface.

I feel it also complicates metric processing with multiple `typoeof()` checks to determine code path.

I think a mixed approach of concrete and generics could work well. Something along the lines of:

[2020-03-10 15:59] simon-davis opened #534 "asp.net core metrics middleware and non httplistener"
Hi,

I am currently implementing metrics into a POC and wondering if there are any future plans to provide any metric middleware for .net core request instrumentation and an exporter (One that does not rely on httplistener)?

We currently use packages such as appmetrics and prometheus-net for these purposes if it helps for context of what I mean!

[2020-03-10 16:12] tarekgh commented on #392
@cijothomas @SergeyKanzhelev feel free to get rid of the generic. I don't think mixing approach will buy us much if we just use non-generic all the time. we'll have to expose other classes anyway. Feel free to close this issue when you do so and let me know if you have any questions.

[2020-03-10 16:44] MikeGoldsmith commented on #534
Hi @simon-davis

Yes, there has been discussion on exposing exporters as Middleware in ASP.NET core. The work to decouple the PrometheusExporter was a step towards that; @cijothomas said he might look at it soon but we're also very open to additional contributions.

[2020-03-10 16:56] cijothomas commented on #534
Duplicate of: https://github.com/open-telemetry/opentelemetry-dotnet/issues/65
Its tagged as P1, so we'll get to it after all P0 item are complete.

I believe @hananiel also mentioned interest in this area.

[2020-03-10 17:05] SergeyKanzhelev commented on #516
seems like a dup. Closing. Please reopen if you have a question

[2020-03-10 17:05] #516 closed

[2020-03-10 17:05] #534 closed

[2020-03-10 17:06] SergeyKanzhelev commented on #517
closing in favor of Correlation Context work #461

[2020-03-10 17:06] #517 closed

[2020-03-10 17:08] SergeyKanzhelev commented on #441
CC: @TimothyMothra

[2020-03-10 17:10] SergeyKanzhelev commented on #394
@MikeGoldsmith do you want me to assign it to you?

[2020-03-10 22:26] eddynaka commented on #475
Hi @SergeyKanzhelev , just tried the same command and the it worked fine. Below the files that were downloaded:
![image](https://user-images.githubusercontent.com/16199012/76364864-b1123180-6304-11ea-9ff8-32c8b0517f36.png)

I saw that the version of `System.IO.Pipelines` is different from the version that you have an issue (4.5.1 vs 4.6).

The same happened with the other command as well:
![image]

[2020-03-11 05:51] cijothomas commented on #531
Rough usage will look like below
[code]

[2020-03-11 13:22] tomstreet opened #535 "Adding duplicate attributes to span"
Version: 0.2.0-alpha.197

The `SetAttribute` method name implies that the value for a key is set, implying the key is unique and any additional attempts to set a given key will result in the previous value being overwritten and the last one winning. Currently this is not the case and it behaves like an `AddAttribute` where you are able to add many attributes with the same key.

I feel either this

[2020-03-11 14:49] MikeGoldsmith commented on #531
Looks good. I think `Create` is more accurate as we're creating the bound instrument, where I think `register` would take the meter as a parameter.

[2020-03-11 14:51] MikeGoldsmith commented on #535
Spec indicates we should replace existing keys if possible
https://github.com/open-telemetry/opentelemetry-specification/blob/23dbc05986eec68741f82c79174df85a4379836e/specification/api-tracing.md#span-creation.

@SergeyKanzhelev you happy for this to be marked as a bug?

[2020-03-11 17:14] cijothomas commented on #409
There are other classes which needs to be reviewed for access modifier. `Metric` is now the 'export record' i.e `Metric` represent the data structure passed on to the Exporters. Users should not be allowed to create `Metric` ever - they should always create metric using one of the metric instrument.
Adding this note here to make sure the public ctor for Metric is removed once all connecting pieces

[2020-03-11 17:43] #532 closed

[2020-03-11 18:02] SergeyKanzhelev commented on #531
So shorter version of passing callback will be something like this:

[code]

When implementing this for things like EventCounters or such - will this allow to observer multiple observations? How the interface will look like?

[2020-03-11 18:58] MikeGoldsmith commented on #409
We did something similar for Spans being passed to Exporters by creating a SpanData that only had public setter, we create something like `MetricData` that is used in the same way.

[2020-03-11 19:19] cijothomas commented on #531
@SergeyKanzhelev For observing multiple metric (i.e separate instruments) in one go, there is a different API. Its Meter.RecordBatch, which is not implemented in .NET yet.
https://github.com/open-telemetry/opentelemetry-specification/blob/master/specification/api-metrics-user.md#recordbatch-calling-convention

On the other hand if reporting CPU_Usage per core (uses single instrument, but different

[2020-03-12 14:10] lizthegrey commented on #79
Might be easier to just take https://github.com/opentracing-contrib/csharp-netcore/blob/master/src/OpenTracing.Contrib.NetCore/EntityFrameworkCore/EntityFrameworkCoreDiagnostics.cs and s/OpenTracing/OpenTelemetry/. Will see if someone here can do it this month.

[2020-03-12 19:34] SergeyKanzhelev opened #540 "Discuss a new API in .NET"
See https://github.com/dotnet/runtime/issues/31373 for the discussion on a new API proposal in .NET

[2020-03-13 16:00] damonbarry commented on #335
Is it safe to say that pretty much _all_ instances of the word "collector" in the current master branch should be "adapter"?

[2020-03-13 17:00] cijothomas opened #542 "Metric Observer callback - enforce timeout?"
Background: https://github.com/open-telemetry/opentelemetry-dotnet/issues/531

This issue is opened for addressing the issue of enforcing a timeout in Observer callbacks. Callbacks are user-defined, and are called during `Meter.Collect()` phase.
Current implementation does not enforce any timeout.

1. We need to decide if a timeout should be enforced.
2. If yes, what would be a reasonable timeout.

[2020-03-13 20:51] cijothomas commented on #530
Rough proposal:

MeterSDK holds the list of all instruments ever created using a Dictionary with Key as name of instrument. There is no cleanup done ever. This matches spec as spec says there is no API to delete/remove an instrument once created. Hence no change required to this.

Proposing to do the following for bound instrument cleanup:

BoundInstruments can have 3 states:
1. Permanently pinned

[2020-03-16 10:53] tomstreet commented on #65
Hi just ran into this. It would be really good to have the logic that writes the prometheus metrics response to a stream as something separate that can be injected anywhere - this would make it nice and reusable. That way it doesn't have to be a middleware, but can be easily injected into a middleware to get that kind of functionality.

[2020-03-16 14:54] lukasz-pyrzyk opened #544 "Resuming trace graph with Activity.SetParentId"
I'm building a PoC of resuming trace graph in the service bus message handler. Imagine a architecture like:

[code]

WebService sends CPU consuming commands to the workers via servicebus messages. Worker saves results in the CosmosDB.

As a part of diagnostic improvements, I would like to resume a trace graph from WebAPI in the command handler.

Web API:
[code]

Webjob
[code]

Zipkin shows that fe