[2020-03-16 15:13] MikeGoldsmith commented on #542
I don't believe this is covered in [OpenTelemetry-Specification](https://github.com/open-telemetry/opentelemetry-specification), so would probably warrant opening an issue there to make sure we're implement consistently.

My preference would be some sort of overridable configuration set in the Meter SDK builder.

[2020-03-16 15:16] MikeGoldsmith commented on #530
Sounds like a good plan :+1:

[2020-03-16 15:18] MikeGoldsmith commented on #65
Hi @tomstreet - the work to do that is in the open PR #541. Hopefully it won't be before we can merge into master.

[2020-03-16 22:29] #531 closed

[2020-03-17 16:02] SergeyKanzhelev commented on #540
Proposal here: https://github.com/dotnet/designs/pull/98

[2020-03-17 20:28] SergeyKanzhelev commented on #335
@damonbarry yes. We need to find time for a massive rename =). Right now there is a PR in flight that introduces a new collector. Maybe right after it.

[2020-03-17 21:42] SergeyKanzhelev commented on #544
CC: @tarekgh , @noahfalk what do you think? This is one of the scenarios we need to account for in the design discussions

[2020-03-19 22:41] CodeBlanch opened #546 "Backburner: Consume ApacheThrift 0.14.0 in JaegerExporter when it is released"
This change https://github.com/apache/thrift/pull/2057 will be part of ApacheThrift 0.14.0 (presumably) and can be used to improve the performance of the JaegerExporter. This ticket is to watch for that release (https://www.nuget.org/packages/ApacheThrift) and then update OT when it is available.

Relates to #524.

[2020-03-24 20:04] MikeGoldsmith opened #549 "Unable to build sln on non-Windows"
There is a build error when building on a machine without Visual Studio installed. This is because the newly added ASP.NET collector #543 included a new sample project that has a project import with a `VSToolsPath` prefix which is not available:
[OpenTelemetry.Exporter.AspNet.Win.csproj#L109](https://github.com/open-telemetry/opentelemetry-dotnet/blob/master/samples/Exporters/AspNet/OpenTelemetry.

[2020-03-24 20:23] TimothyMothra opened #550 "Some code samples are incorrect"
Several code samples in the [Readme](https://github.com/open-telemetry/opentelemetry-dotnet/blob/master/README.md) have a reference to `tracer.SpanBuilder("incoming request")` but this method does not exist.

I see `SpanBuilderShim : ISpanBuilder` in the Shims.OpenTracing project, but that's the only reference I could find.

**Is this meant to be a future deliverable or is this a mistake?**

Both

[2020-03-24 22:05] MikeGoldsmith commented on #550
This is an old API pattern that we've moved away from. The example docs need to be updated to use `tracer.StartActiveSpan`.

[2020-03-25 07:08] CodeBlanch commented on #549
@MikeGoldsmith I'll mess with it and try to come up with a way to have the old-style projects ignored when VS isn't available. What are you using to build? Win, Mac, Linux? VS Code, MSBuild, dotnet CLI? Might be a few days out I have a bunch of work in the pipe.

[2020-03-25 14:07] MikeGoldsmith opened #551 "Build warnings in LastValueAggregatorTest"
There are 4 build warnings regarding unassigned variables in LastValueAggregatorTest

[code]

[2020-03-25 20:03] #551 closed

[2020-03-30 07:50] #435 closed

[2020-03-31 08:10] alexeyzimarev opened #555 "Unnecessary generic metric types introduce complexity and boxing allocation"
There are a lot of generic classes in `OpenTelemetry.Metrics` that are generic, like `CounterSumAggregator<T>`. In fact, it can only be `CounterSumAggregator<double>` or `CounterSumAggregator<long>`.

Each of those classes is full of `if` statements checking for types. Also, conversion between `T as struct` to a value type is not supported by the language, so the conversion goes via boxing, with a

[2020-03-31 11:10] eddynaka commented on #550
@MikeGoldsmith / @TimothyMothra , just updated the samples in README. Let me know if those are alright! Thanks.

[2020-03-31 11:26] eddynaka commented on #535
Hi @tomstreet , can you share a sample? What collector were you using? Thanks!
Hi @MikeGoldsmith , I will try to look at that issue, ok?

[2020-03-31 14:46] #555 closed

[2020-03-31 14:47] MikeGoldsmith commented on #550
Thanks @eddynaka - I'll review your PR shortly.

[2020-03-31 14:48] MikeGoldsmith commented on #535
Hi @eddynaka - I've assigned to you, thanks.

[2020-03-31 19:14] MikeGoldsmith opened #559 "Replace Austin with Mike as maintainer"
I'd like to suggest myself replacing Austin (@austinlparker) as a maintainer as he is no longer actively engaged with the OpenTelemetry .NET project due to other commitments and taking on a more general role within OpenTelemetry.

I've been a member of OpenTelemetry org since November 27th 2019 and an active approver since January 7th 2020. I attend the .NET SIG regularly, help coordinate & plan w

[2020-03-31 19:19] austinlparker commented on #559
+1 It doesn't appear that I'll have time for any contributions to this SIG going forward and I believe Mike will do a great job.

[2020-03-31 23:52] longility opened #561 "Question: What am I doing wrong to get jaeger exporter to work?"
Here is my attempt at getting the jaeger exporter to work: https://github.com/longility/TracingExampleApp

Does anyone notice that I'm missing something, or can someone see if they can reproduce by cloning/forking the example?

I tried testing with this sample https://github.com/open-telemetry/opentelemetry-dotnet/blob/master/samples/Exporters/Console/TestJaeger.cs to make sure the agent port work

[2020-04-01 01:55] czs1993 opened #562 "Is the new metrics sdk available?"
Is the new metrics sdk available and where have any basic examples of how to use new metric sdk to Collector different metrics (Counter/Gauge/Histogram/Summary)

[2020-04-01 17:19] SergeyKanzhelev commented on #559
Let's not call it replace =). I'm supportive of appointing @MikeGoldsmith as maintainer. I'm also OK removing @austinlparker

[2020-04-01 19:10] #559 closed

[2020-04-01 19:19] #549 closed

[2020-04-01 20:43] #535 closed

[2020-04-01 23:34] geofflamrock opened #564 "OpenTracing shim usage"
Hi,

I'm wondering if there are any samples or guidance that could be given on how to configure the OpenTracing shim? I'm having trouble working out how to configure it up inside an Asp.Net Core app.

Thanks.

[2020-04-02 06:07] geofflamrock commented on #564
I've just realised I'm looking at it the wrong way, I thought it was a shim that exported OpenTelemetry traces to OpenTracing, but it appears to be the other way OpenTracing -> OpenTelemetry.

Some samples or docs would be helpful still I expect, but doesn't hit the use case I was trying to test at the moment.

[2020-04-02 17:20] cijothomas commented on #562
Counter, Observer, Measure - are the only instruments with Sum, LastValue, MinMaxSumCount being corresponding aggregator.

I am implementing a Controller now, which is a must have before we can have a usable metric sdk - will be posting E2E examples along with that.

[2020-04-03 00:07] #561 closed

[2020-04-03 00:15] longility opened #567 "AddOpenTelemetry not working with singleton TracerFactory"
I was trying to debug on why traces were not sent to jaeger, and I was able to narrow down the issue.

`services.AddOpenTelemetry(..)` registers `TracerFactory` as singleton, which doesn't work. I tested this by not using `AddOpenTelemetry` extension and registering the `TracerFactory` directly as singleton. When I changed this to scoped lifetime, it works.

**Works**
[code]
**Does Not Work**
[cod

[2020-04-03 12:22] MikeGoldsmith commented on #564
Thanks for the update @geofflamrock. I agree additional docs describing what exactly the shim can do and how to configure it would be good.

[2020-04-03 12:41] MikeGoldsmith commented on #567
That's interesting. TraceFactory should function as a singleton so I'm unsure why it doesn't work.

Can you elaborate on what failure you were seeing when `TracerFactory` was registered a singleton?

[2020-04-03 12:56] longility commented on #567
I think the root cause isn't `TracerFactory` since I had time this morning to dig deeper. I think I narrowed it down to `JaegerUdpBatcher.cs` related to flushing I think.

I forced it to flush and can see in jaeger so I think it has to do with the process of flushing.

I did this to force flush to see in jaeger:
[code]

The `SpanExporter` is `JaegerTraceExporter`.

I don't have time right now, but

[2020-04-03 13:43] hacst commented on #506
@MikeGoldsmith Any updates on this or ETA for the beta? [The general beta announcement post](https://medium.com/opentelemetry/opentelemetry-is-officially-in-beta-352fa859db10) said "The .Net API + SDK will follow shortly." but it is really hard to get a feeling for how close this actually is as an outsider. Thanks.

[2020-04-03 13:46] longility commented on #567
I think the issue is I may not have the latest version that includes this https://github.com/open-telemetry/opentelemetry-dotnet/pull/479
 I have version `0.2.0-alpha.179`, which is the latest at nuget.org. I tried using this feed: https://www.myget.org/F/opentelemetry/api/v3/index.json, however, it isn't allowing me to pull the nuget package. It is stalling and continuously trying to update nuget

[2020-04-03 13:46] MikeGoldsmith commented on #506
Hi @hacst

I'll be updating this today / over the weekend ready for our next SIG call on Tuesday. With this complete, we should have a better picture of what is left for us to complete before we can release our first Beta release.

[2020-04-03 13:51] MikeGoldsmith commented on #567
Thanks again for your investigation and update.

I'm not sure why you're having trouble with getting a newer nuget from MyGet - are you trying to get it directly or have you added it as a nuget source?

[2020-04-03 14:47] #550 closed

[2020-04-03 18:45] longility commented on #567
Of course, I think it might have to do with VS for mac, not sure. It is really weird. I was able to get it working by manually changing the version in the csproj file.

I'm now on `0.2.0-alpha.227`, but I'm getting a different error:
![image](https://user-images.githubusercontent.com/720635/78394522-6b6a2100-75b1-11ea-9496-d837342a3c95.png)

[2020-04-03 19:02] longility opened #568 "Could not load file or assembly Thrift, Version=0.13.0.0"
I think it is related to this PR change #545

Unless I install `ApacheThrift` nuget pkg `0.13.0.1`, I get the following error:
![image](https://user-images.githubusercontent.com/720635/78394522-6b6a2100-75b1-11ea-9496-d837342a3c95.png)

[2020-04-03 19:05] longility opened #569 "jaeger service name expectation"
I was expecting the service name to be `tracing-example-app`.

![image](https://user-images.githubusercontent.com/720635/78395055-65c10b00-75b2-11ea-98c6-d59e72da4c8b.png)

[code]
I'm not sure if that is expected or not for default tracing of an asp.net core request.

[2020-04-04 12:42] longility commented on #569
I believe that information is coming from span end:
![image](https://user-images.githubusercontent.com/720635/78450917-c77f8480-7647-11ea-9c53-be4ccdb0504e.png)

[2020-04-04 13:07] longility commented on #569
Okay, I think this is all good. I ran in a docker-compose network and it is reporting the way I would want it to.

[2020-04-04 13:07] #569 closed

[2020-04-06 08:52] brunomasantos commented on #430
I would like to make contributions to this project. Wondering if I can pick this up?

Just to be clear, the objective is to copy the Activity.Tags for the Span.Attributes?

[2020-04-06 21:02] tarekgh commented on #430
Just a small note, Span.Attributes internally defined as [EvictingQueue](https://github.com/open-telemetry/opentelemetry-dotnet/blob/79828a209e573248913182dcef56be411d09be18/src/OpenTelemetry/Trace/Internal/EvictingQueue.cs#L24). Would be nice if we can add a constructor to EvictingQueue which takes IEnumerable returned from Activity.Tags so we don't have to call Span.SetAttribute for each item in

[2020-04-06 22:05] brunomasantos commented on #430
Can you take a look at https://github.com/open-telemetry/opentelemetry-dotnet/pull/572 to see if it is the desired approach to solve the issue?

[2020-04-06 22:22] tarekgh commented on #430
I added a minor comment there.

Also, I added a question to @SergeyKanzhelev https://github.com/open-telemetry/opentelemetry-dotnet/pull/572#discussion_r404423390

[2020-04-07 08:35] MikeGoldsmith opened #573 "Add TracerProvider"
This is missing from the spec.

https://github.com/open-telemetry/opentelemetry-specification/blob/master/specification/trace/api.md#obtaining-a-tracer

[2020-04-07 10:41] MikeGoldsmith opened #574 "Move SamplerResult to SDK"
Samplers and associated classes / structs are meant part of the SDK, not the API. SamplerResult is currently in OpenTelemetry.Api/Trace.

https://github.com/open-telemetry/opentelemetry-specification/blob/master/specification/trace/sdk.md#sampling

[2020-04-07 10:46] MikeGoldsmith opened #575 "Sampler implementations missing XML comments"
All public class / structs should have XML comments to describe class, constructors, properties and methods.
- Sampler
- Samplers/ProbabilitySampler
- Samplers/AlwaysOffSampler
- Samplers/AlwaysOnSampler
- Samplers/AlwaysParentSampler

[2020-04-07 10:54] MikeGoldsmith opened #576 "Replace TracerFactory with TracerProvider"
Once the API (#573) has TraceProvider defined, the SDK also needs to implement it. We currently use a TracerFactory to build tracers, we can probably move most of the logic from that to the TracerProvider implementation.

https://github.com/open-telemetry/opentelemetry-specification/blob/master/specification/trace/sdk.md#tracer-creation

[2020-04-07 10:57] MikeGoldsmith opened #577 "Add ForceFlush() to SpanProcessor"
SpanProcessor is missing ForceFlush - https://github.com/open-telemetry/opentelemetry-specification/blob/master/specification/trace/sdk.md#forceflush

[2020-04-07 11:03] MikeGoldsmith opened #578 "BatchingSpanProcessor missing exporterTimeout"
The BatchingSpanProcessor should have the property expoterTimeoutMillis to control the timeout for the configured exporter to send the spans.

https://github.com/open-telemetry/opentelemetry-specification/blob/master/specification/trace/sdk.md#batching-processor

[2020-04-07 11:10] MikeGoldsmith opened #579 "Move MeterProvider to API"
The MeterFactory is currently part of the SDK metrics/Configuration but should be part of the API.

https://github.com/open-telemetry/opentelemetry-specification/blob/master/specification/metrics/api-user.md#obtaining-a-meter

[2020-04-07 11:11] MikeGoldsmith opened #580 "Replace MeterFactory with MeterProvider"
MeterFactory should be MeterProvider:

https://github.com/open-telemetry/opentelemetry-specification/blob/master/specification/metrics/api-user.md#obtaining-a-meter

[2020-04-07 11:22] MikeGoldsmith opened #581 "Add Global Propagators API"
Propagators were moved from Tracer into a separate area so they can be consumed by meters too.

https://github.com/open-telemetry/opentelemetry-specification/blob/master/specification/context/api-propagators.md#global-propagators

[2020-04-07 11:25] MikeGoldsmith opened #582 "Composite Propagator"
https://github.com/open-telemetry/opentelemetry-specification/blob/master/specification/context/api-propagators.md#composite-propagator

[2020-04-07 11:31] MikeGoldsmith opened #583 "LightStep exporter fails to send spans"
Reports sent to LightStep are failing, it looks like the Relationships is causing it in the span report.

[2020-04-07 17:43] cijothomas commented on #530
Completed for Counters in #547

[2020-04-07 18:58] pjanotti opened #584 "Bootstrap OpenTelemetry .NET Auto-Instrumentation SIG and repo"
There is already an OTEP describing the recommendations for [OpenTelemetry Without Manual Instrumentation](https://github.com/open-telemetry/oteps/blob/master/text/0001-telemetry-without-manual-instrumentation.md). This proposal follows it and just adds a few extra points below.

## Motivation
The OTEP above has a [good section on motivation](https://github.com/open-telemetry/oteps/blob/master/tex

[2020-04-07 20:30] pjanotti opened #585 "32bit correctness/support"
This issue came via code inspection, not a problem that I encountered directly (I'm not using 32bit).

While the project builds for `AnyCPU` I noticed concurrent access to a 64bit size value type that is treating the read/write as atomic, the calls below can be concurrent and `T` is in practice a `double` or `long`:
https://github.com/open-telemetry/opentelemetry-dotnet/blob/3f43c5aaf1e65f047599d5

[2020-04-07 22:05] cijothomas commented on #585
Thanks. We can convert them to use `Interlocked`.

[2020-04-07 22:41] CodeBlanch commented on #568
@longility I just tested with the Thrift package fix (#545)(https://www.myget.org/feed/opentelemetry/package/nuget/OpenTelemetry.Exporter.Jaeger/0.2.0-alpha.231) and everything seems good now. Can you confirm the same?

[2020-04-07 23:16] longility commented on #568
@CodeBlanch Seems to work for me too. Thanks!

[2020-04-07 23:16] #568 closed

[2020-04-08 05:59] ocdi commented on #332
I'm experimenting with OpenTelemetry. I can see basic AspNetCore requests appear on Zipkin with a minimal config. The documentation is really confusing on how we are supposed to augment a span that is currently appearing, with additional spans from within an MVC Controller action, or even in service code.

Are we supposed to DI `TracerFactory` into a Controller? It doesn't seem right to me but I c

[2020-04-08 07:33] albertocorrales opened #586 "Application Insights exporter not working with AWS lambdas"
I'm trying to use OpenTelemetry to implement observability in my AWS lambda functions and I'm having a strange behaviour.

I've configured exporters Console and Application Insights. For console exporter, it is working fine, I can see my traces on Amazon CloudWatch perfectly. However, for Applicaiton Insights most of the time I don't see any traces on Azure.

Having a look at the code, it might be

[2020-04-08 08:41] MikeGoldsmith commented on #584
Great, thanks for getting a start on this @pjanotti :+1:

[2020-04-08 08:49] MikeGoldsmith commented on #584
Created a community [issue](https://github.com/open-telemetry/community/issues/325) to create the new repo.

[2020-04-08 19:28] #583 closed

[2020-04-08 19:56] SergeyKanzhelev commented on #584
I'd like to learn more about the DD agent architecture and features. I want to make sure that we aligned with the [instrumentation engine](https://github.com/microsoft/CLRInstrumentationEngine) so whatever profiler component we will be using will be future proof and will be able to work side-by-side with other profilers.

There is also interest from Elastic: https://github.com/microsoft/CLRInstrum

[2020-04-08 23:46] tarekgh opened #588 "SpanCreationOptions.Attributes should be defined as IEnumerable instead of IDictionary"
The [spec](https://github.com/open-telemetry/opentelemetry-specification/blob/master/specification/trace/api.md#set-attributes) is saying the attributes keys should be unique. but at the same time, it requires keeping the order of the keys too which the Dictionary doesn't guarantee that.

[code]

[2020-04-08 23:48] SergeyKanzhelev commented on #586
Is there any way on AWS lambda to notify SDK when it is about to be unloaded? So `Flush` can be called?

Alternatively, we will need to expose a setting that will make timeouts and batches to be ultra short so telemetry will be sent immediately

[2020-04-09 03:05] cijothomas commented on #580
https://github.com/open-telemetry/opentelemetry-specification/blob/master/specification/trace/api.md#obtaining-a-tracer  Need similar renaming for TracerFactory as well ?

[2020-04-09 07:45] albertocorrales commented on #586
I guess for simple lambdas you will have to call that explicitly to that Flush. If you are working with dotnet core, you could build a filter

For example, I tried to initialise UseApplicationInsights with a custom TelemetryChannel, in particular I used InMemoryChannel (https://docs.microsoft.com/en-us/dotnet/api/microsoft.applicationinsights.channel.inmemorychannel?view=azure-dotnet), so I could

[2020-04-09 10:43] MikeGoldsmith opened #589 "service.name is not used when displaying services in Jaeger"
Discussed as part of [#567](https://github.com/open-telemetry/opentelemetry-dotnet/issues/567#issuecomment-608604953).

Configuring the service name in the JaegerExporter, the service name is not displayed in Jaeger correctly.

![image](https://user-images.githubusercontent.com/720635/78395055-65c10b00-75b2-11ea-98c6-d59e72da4c8b.png)

[code]

[2020-04-09 10:44] MikeGoldsmith commented on #567
@longility I've raised issue #589 to track the service name being set correctly in Jaeger as described above.

[2020-04-09 11:00] MikeGoldsmith commented on #332
Hi @ocdi - the current strategy is for the application to manage the lifetype of the TracerFactory, eg with DI. However, the OpenTelemeltry spec has been expanded to require TracerProvider which will hold a global reference that can be used.

We have #573 & #576 to track adding these to this project.

[2020-04-09 11:01] MikeGoldsmith commented on #580
We have #573 & #576 to track tracer changes :+1:

[2020-04-09 11:16] MikeGoldsmith commented on #586
I believe there are some clean-up hooks apps can listen on for the shutdown signal from Lambda. I've use them previously in Node, but not for .NET.

`UseApplicationInsights` does have an overload that lets you configure the SpanProcessorPipeline and you could use the `SimpleSpanProcessor` instead. There is still a chance some spans won't be exported if the process is just killed though.

[code]

[2020-04-09 11:18] #430 closed

[2020-04-09 14:53] MikeGoldsmith opened #590 "Build warnings for Assert.NotNull on KeyValuePair in TracerTests"
We see build warnings for the test case `Tracer_StartSpanFromActivity_ValidArguments_ReturnsSpanWithActivityAttributesAsSpanTags`.

The warning it not to use `Assert.NotNull` on KeyValuePair<K, V>. Instead we should use `Assert.Single`.

[2020-04-09 15:16] pjanotti commented on #584
@SergeyKanzhelev I didn't find material describing the architecture itself, the [dd docs](https://docs.datadoghq.com/tracing/setup/dotnet-framework/?tab=code) are user-focused. What about if I do a presentation next SIG meeting and describe their architecture?

[2020-04-09 15:21] pjanotti commented on #585
I was going to pick this up but noticed this pending PR #560 - will comment there instead.

[2020-04-09 19:33] MikeGoldsmith commented on #502
I've seen this again appear both locally and in CI.

[2020-04-10 13:57] brunomasantos commented on #589
Hi,

I was checking this issue and I was able to pinpoint the problem to this line: [https://github.com/open-telemetry/opentelemetry-dotnet/blob/master/src/OpenTelemetry.Exporter.Jaeger/Implementation/JaegerUdpBatcher.cs#L97](here)

Inverting the condition works as expected but dont know if it makes sense. Setting the Peer Service Name as the Span Service Name should be the default? Or it should b

[2020-04-10 15:58] eddynaka commented on #574
@MikeGoldsmith , can I take this issue? If yes, the idea is to move the file OpenTelemetry.API/Trace/SamplingResult.cs to OpenTelemetry/Trace/SamplingResult.cs and the classes that that struct uses? What other classes should i move?
Thanks

[2020-04-10 17:35] cijothomas commented on #574
Other classes using `SamplingResult` are already in the SDK itself, so only `SamplingResult` would require movement.

[2020-04-10 17:42] eddynaka commented on #574
Ok.

I'll move and open a pr

On Fri, Apr 10, 2020, 14:35 Cijo Thomas <notifications@github.com> wrote:

[2020-04-10 18:30] eddynaka commented on #579
@MikeGoldsmith , i started to look at this issue but I got some items that I don't know if it is intentional:
1. with the first move of MeterFactory I had to move many other files as well, such as Aggregators, Configuration, some Export files and filenamesdk.cs inside Meters folder. Is that right?
2. with this movement, many classes started to throw an error based on some xml docs rule. For exampl

[2020-04-10 18:41] cijothomas commented on #579
@eddynaka
Most likely, other classes shouldn't be moved. This is not trivial, as unlike Tracer specs, Meter specs are not complete (eg: No specs abour MetricProcessor exists). So each has to be evaluated individually.

Perhaps you can look into the, renaming MeterFactory to Provider, similar to TracerFactory to TracerProvider.

I have upcoming PRs in Meter (anotger PR is pending) , and we are like

[2020-04-10 19:35] eddynaka commented on #576
@MikeGoldsmith , the PR that I create is renaming the TracerFactory* to TracerProvider*. I would like to know what else should we change to complete this.

Thanks

[2020-04-10 20:00] tarekgh commented on #373
@SergeyKanzhelev do we need to keep this opened?

[2020-04-11 00:14] #574 closed

[2020-04-11 00:17] SergeyKanzhelev commented on #589
Peer name is about the service we call. Service name is the name of service reporting telemetry. Those are a different concepts. Are they mixed up in Jaeger exporter?

[2020-04-11 08:49] eddynaka commented on #590
Hi @MikeGoldsmith , I will open a pr solving this :)

[2020-04-11 09:08] eddynaka commented on #590
The only change that i will make, instead of verifying for null, i will check the value of the returned object to be the same as the one that we created. Something like this:
[code]

Assert.Single just work for IEnumerables. So, checking for the value itself would be a better check, right?

[2020-04-11 09:13] eddynaka commented on #590
Is it ok to create a PR solving the Message errors as well? I would start with the IDE0009 first. What do you think?

[2020-04-12 11:34] macon commented on #342
Can confirm this is still not working. The only service-type I see in Jaeger UI is it's own "jaeger-query" service, nothing from my app.

[2020-04-13 03:07] longility opened #597 "span.End throwing NullReferenceException using StartSpanFromActivity"
I followed this: https://github.com/open-telemetry/opentelemetry-dotnet#auto-collector-implementation-for-activitydiagnosticsource

This is my current configuration:
[code]

I'm running this inside a hosted service and the error is at `span.End()` with a `NullReferenceException`:
[code]

I'm not sure how to debug further to provide more information to help narrow down issue. Hopefully, what is sha

[2020-04-13 10:28] brunomasantos commented on #589
From what I can see, on the reporting phase, the `SpanServiceName` is set with the Peer Service Name. I can see the tag `peer.service` being set but I don't know for sure is the concepts are mixed or not.

[2020-04-13 13:11] longility commented on #589
I'm new to distributed tracing, opentelemetry, and jaeger so feel free to correct my understanding and help clarify as I'm trying to make sense of things from a very limited perspective.

1. In Jaeger, with the list of services, should we see the service name (of the reporting telemetry only) or also the peer name (calling service)? Is there a common practice or expectation?
2. From the issue, `lo

[2020-04-13 17:52] longility commented on #526
This may be related to #589

[2020-04-13 23:52] CodeBlanch commented on #589
Compared to Zipkin the Jaeger spec is a bit overcomplicated IMO. It requires you to send a batch for each service. If you don't, it thinks all the spans on a batch are internal and won't color them as different dependencies. This was added & working on #486 but I broke it on #524. Sorry! I just put in a fix and added a test case on #595 since it was already open in the area.

[2020-04-13 23:56] SergeyKanzhelev commented on #584
People interested in this topic, can we have a meeting on it outside of 9AM sync up tomorrow? I have very hard time making it for a meeting in the morning during this corona times.

[2020-04-14 13:56] alexeyzimarev commented on #585
Ok, I'll do that too.

[2020-04-14 15:36] pjanotti commented on #584
@SergeyKanzhelev it is fine for me - I will present it for people present in the meeting today, and present it again on the next one. I'm on PDT but can wake-up earlier or sleep later as needed :)

[2020-04-14 20:48] #589 closed

[2020-04-15 11:21] MikeGoldsmith commented on #589
Thanks for the update @CodeBlanch 👍

[2020-04-15 14:05] lingabalaji17 commented on #342
Am also facing the above mentioned issue - traces are not logged from asp.net core web API to Jaeger UI. The service dropdown doesn't have the asp.net core service created.

Here is the configuration that I have followed in Startup -> ConfigureServices method. Could you let me know if I miss something here

[code]
[code]

[2020-04-15 20:34] eddynaka commented on #156
Hi all, looking at this thread, can i start creating PR's following the StyleCop guidelines in the project? The first i was looking for is about the using inside the class.

What do u think?

[2020-04-15 21:01] SergeyKanzhelev commented on #156
@eddynaka that would be great. I think we agreed on using outside the class. But other stylecop rules might be worth fixing. You can start switching projects from using https://github.com/open-telemetry/opentelemetry-dotnet/blob/master/build/OpenTelemetry.prod.loose.ruleset to https://github.com/open-telemetry/opentelemetry-dotnet/blob/master/build/OpenTelemetry.prod.ruleset One project at a time

[2020-04-15 21:22] eddynaka commented on #156
@SergeyKanzhelev , thanks for the tip! that makes thing a lot easier! Just created the first PR. Let me know what do you think :)

[2020-04-15 22:58] #590 closed

[2020-04-15 23:35] SergeyKanzhelev commented on #584
@pjanotti would it be possible to make slides you presented available?

[2020-04-16 11:50] MikeGoldsmith opened #605 "Unable to install Jaeger exporter in .NET Core 2.1 web app"
Raised by lingabalaji17 on Gitter.

Unable to install OpenTelemetry.Exporter.Jaeger (v0.2.0-alpha.242) nuget package from MyGet source into a default ASP.NET Core web app that is targeting .NET Core 2.1.

Severity | Code | Description | Project | File | Line | Suppression State
-- | -- | -- | -- | -- | -- | --
Error | NU1107 | Version conflict detected for Microsoft.AspNetCore.Http.Abstractions. I

[2020-04-16 12:38] czs1993 opened #606 "When use the OpenTelemetry.Collector.StackExchangeRedis to Collect Tracing of Redis,the custom metric Collector(use opentelemetry new metrics sdks) will not work!"
When I  use OpenTelemetry. Collector. StackExchangeRedis and OpenTelemetry new metrics SDK collecting Tracing and Metric info
[code]
Only the last registered Collector can obtain the ProfilingSession. Because ths StackExchangeRedis. ConnectionMultiplexer. RegisterProfiler  can only register one ProfilingSession.  If I want to collect both Tracing and Metric information for Redis when the new Metri

[2020-04-16 16:06] heldergregorio commented on #397
Hi,

Any news on this? I'm having the exact same problem on a ASP.NET application. Is there a workaround for this? I still haven't figure out how to flush the events without disposing the TracerFactory

[2020-04-16 16:23] CodeBlanch commented on #605
@MikeGoldsmith Yes introduced when taking the official ApacheThrift NuGet on #494.
[code]
Looks like ApacheThrift 0.13.0.1 wants a newer version of Http.Abstraction than what 2.1 is targeting. I'll mess with it and see if I get it to work. Maybe we can downgrade the Thrift package when targeting netcoreapp 2.1?

[2020-04-16 16:39] cijothomas commented on #605
@CodeBlanch I wonder how to target different version based on the runtime version? The exporter package is targetting netstandard2.0, and netstandard2.1.

When using in asp.net core 2.1 or 2.2,, wont it always take the netstandard20 targets? I'd like to know if there is a workaround.

Another library I own has the same issue..(library targets netstandard20, but depends on 2.2 version of a package,

[2020-04-16 17:16] CodeBlanch commented on #605
@cijothomas We might have to add a target for all versions of .NET Core (in addition to what we have for Standard) and then map them to the Thrift versions we need. Imagine something like this:

[code]
[code]
I took a stab at it but I wasn't able to test consuming via .NET Core 2.x/3.x because there are other issues. ApacheThrift 0.12.0.1 doesn't have the [netstd](https://github.com/apache/thrift/

[2020-04-16 17:23] cijothomas commented on #605
mm. How about depending on 0.12.0.1 for NETSTANDARD20? SO all Asp.Net Core 2.0,2.1,2.2 runtime gets old version of Thrift which wont require the 2.2 packages?

_Might be better to only support .NET Core 2.2+ for the Jaeger library?_
Officially 2.2 has reached end of life. 2.1 is the LTS version. So only supporting 2.2+ is probably as good as saying, we only support .NET 3.0 or higher.

[2020-04-16 17:38] CodeBlanch commented on #605
@cijothomas That's a good point! If we are OK with all the preprocessor directives I can take a stab at making it work targetting 0.12.0.1 for NETSTANDARD20, 0.13.0.1 for NETSTANDARD2.1.

[code]
[code]

[2020-04-16 17:52] cijothomas commented on #605
I think that's the right solution.
The Jaeger.Tests project is now running only .netcoreapp3.1, so we may want to add netcoreapp2.1 as well, since our Thrift versions differ in 2.xx and 3.xx

[2020-04-16 19:02] cijothomas commented on #585
560 is merged, so we can close this

[2020-04-16 20:42] MikeGoldsmith commented on #605
Thanks for looking into this @CodeBlanch @cijothomas :+1:

[2020-04-16 20:46] #585 closed

[2020-04-16 20:58] MikeGoldsmith commented on #584
I'd be interested in the slides too - @SergeyKanzhelev do you have the recording from the SIG call?

[2020-04-16 21:02] MikeGoldsmith commented on #606
@cijothomas could you take a look at this please?

[2020-04-16 21:03] MikeGoldsmith commented on #397
I think this was meant to be fixed in the Jaeger Exporter - @CodeBlanch do you remember something related?

[2020-04-16 21:11] cijothomas commented on #584
https://www.youtube.com/watch?v=LOF_Aqs6vfU - The recording link Sergey shared in Gitter. Presentation starts around 15 min mark.

[2020-04-16 21:19] CodeBlanch commented on #397
@heldergregorio The JaegerExporter in the current version on NuGet (alpha.179) has a bug that causes it to deadlock. If you switch over to the newer MyGet version (alpha.243 right now) it should be resolved.

The fix is more or less on this commit: https://github.com/open-telemetry/opentelemetry-dotnet/pull/486/commits/2978200a3791b857c483ecad470254652a9034e8

[2020-04-17 01:43] czs1993 commented on #562
awesome, thanks @cijothomas ! Keep up with the great work you are doing.

[2020-04-17 01:43] #562 closed

[2020-04-17 04:07] cijothomas commented on #606
The plan for AspNetCore collector is to modify AspNetCore collector to collect both Traces and Metrics, instead of creating AspNetCoreTraceCollector and AspNetCoreMetric collector separately. (its technically possible to have them separate, but its inefficient as we'll be re-subscribing to same DiagnosticSourceEvents, and parsing objects from it)

For RedisCollector as well, we can follow similar

[2020-04-17 04:28] czs1993 commented on #606
awesome, thanks @MikeGoldsmith  @cijothomas

[2020-04-17 05:32] CodeBlanch commented on #605
Ran into a problem, it looks like the 0.12.0.1 version isn't signed:
[code]
Not sure where to go from here. I can put back a custom build of Thrift? The NuGet version is a real challenge to target.

[2020-04-17 10:57] MikeGoldsmith commented on #397
Thanks @CodeBlanch. Instructions for using the MyGet feed are in the README.

I'll close this issue now - please reopen if you have any trouble.

[2020-04-17 10:57] #397 closed

[2020-04-17 11:01] MikeGoldsmith commented on #605
So Thrift v0.12.0 is not signed but v0.13.0 is? That's super weird 👎

[2020-04-17 21:59] cijothomas commented on #605
From the nuget description,  0.12.0.1 fixes the signing dll issue of 0.12.0,
@CodeBlanch Maybe clear you bin/obj directory and try again.

If still an issue, we can ask as an issue in Thrift Repo?

[2020-04-17 22:02] cijothomas commented on #605
I downloaded the nuget locally and it looks signed! .12.0.1
![image](https://user-images.githubusercontent.com/5232798/79617400-4222b800-80bc-11ea-9543-8314cbdcb2c9.png)

Following is .12.0 which is clearly not signed.
![image](https://user-images.githubusercontent.com/5232798/79617461-641c3a80-80bc-11ea-8ffd-1d278f56da97.png)

[2020-04-17 22:38] CodeBlanch commented on #605
@cijothomas Interesting! I downloaded the packages last night but didn't notice that digital signatures tab showing in Windows. Here's the assembly info shown in dotPeek:

![image](https://user-images.githubusercontent.com/28367120/79618755-d04c6d80-80bf-11ea-88f1-e1d321810585.png)

See how 0.13.0.1 has a PublicKeyToken and 0.12.0.1 does not? I'm not sure how the digital signature plays into that,

[2020-04-17 22:56] CodeBlanch commented on #605
Here's the issue I opened with the Apache Thrift team: https://issues.apache.org/jira/browse/THRIFT-5176

[2020-04-18 13:21] kirillta commented on #342
Same for me. No traces besides it's own Jaeger activity

[2020-04-19 13:48] longility commented on #335
@SergeyKanzhelev do you know if that PR for new collector is in? I don’t see one.

Also, who is planning to do this work?

I have done plenty of refactoring before, and I can help out. I’m still new to this codebase. Not sure if first issue for me with this is okay, but willing to help out.

[2020-04-20 09:13] heldergregorio commented on #342
I was having the same problem. Had to download the code to debug what the problem was. In my case the problem was related to trying to load wrong dll versions.
When calling `AppendAsync` in JaegerTracerExpoerter.cs it was throwing an exception with the error, but since there isn't a `catch` block, I couldn't see the error anywhere.

[2020-04-20 12:13] longility commented on #335
I went ahead and did the work.

[2020-04-20 12:17] longility commented on #342
@heldergregorio Can you elaborate on how you debug by downloading the code? I have a different issue, and I want to go down this path. Did you have to pull in the project references into your own solution and add project dependencies, or is there a cleaner way?

[2020-04-20 14:07] longility commented on #526
@tomstreet can you see if the latest version fixes the issue you found?

[2020-04-20 16:35] tomstreet commented on #526
Sure. Just need to fix some of the breaking changes and I'll let you know.

[2020-04-20 17:20] cijothomas commented on #342
One really fast way is to clone this repo, and run the samples. (samples\Exporters).

[2020-04-20 18:12] heldergregorio commented on #342
I've cloned the repo and instead of adding the reference to the nuget package, I've added the reference to the project. After that, build and everything works fine

[2020-04-20 18:49] DOMZE commented on #342
@heldergregorio Could you elaborate on the versions (nuget packages) you were using when the problem occurred of all libraries involved?

[2020-04-20 22:44] CodeBlanch commented on #342
I just tested JaegerExporter via the MyGet 0.2.0-alpha.246 package on a .NET Core 3.1 app, everything worked fine.

@lingabalaji17 I don't think your bootstrap is valid. You are manually registering `TracerFactory` and then calling AddOpenTelemetry which will spin up its own TracerFactory via:
[code]
Meaning, your code is never used. If you switch to...
[code]
You should get up and running.

@held

[2020-04-20 23:09] eddynaka commented on #156
@SergeyKanzhelev , based on what i did so far and the changes i made, i'm removing all the .rulesets from the projects and maintaining it in the Common.props. With this, i think we dont have any other issue, the ones i found we already solved it.

What else should we do?

[2020-04-21 05:11] cijothomas commented on #65
This can be closed as #541 is merged

[2020-04-21 05:43] cijothomas commented on #354
There is no API/Aggregator for Histogram yet. Summary (min,max,sum,count) is the only one available, and it is correctly exported to Prometheus with #608

Please close this.

[2020-04-21 05:45] #354 closed

[2020-04-21 09:25] tomstreet commented on #526
@longility the AspNetCoreCollector is fixed but this is still happening for the HttpClientCollector.

[2020-04-21 09:34] heldergregorio commented on #342
I was using MyGet 0.2.0-alpha.246

I'm targeting .NET Framework 4.7.2. I don't think it is related, I was trying to load a wrong version of System.Buffers (if I recall correctly). I was just trying to point out to a pattern that could be problematic and how I solved it

[2020-04-21 09:41] tomstreet commented on #526
I think using the host name as the service name is the correct thing for the HttpClientCollector to do isn't it, as this is also what the SqlClientCollector does which makes sense?

I think the problem I'm seeing is Service A has a bunch of spans with the service name set as "Service A", then it sends a request to "Service B" but this has a URL like "serviceb.mynamespace". The Jaeger UI uses diffe

[2020-04-21 11:05] longility commented on #526
Tom, thanks for taking your time to test the original issue again.

I also experience and that makes sense to me and I'm okay with it I think. However, I'm no expert. Can someone else verify? @SergeyKanzhelev ?

This is my thought process. When calling service B from service A, I would expect service A to not have service B's service name as that is defined in service B so using the hostname makes

[2020-04-21 11:20] longility commented on #342
So @heldergregorio does not have any issue. (thanks for providing details and making that point)

@macon @lingabalaji17  Can you provide details? What version are you running? I know when mine didn't work, I switch to the latest on myget and that works. I am assuming you were trying to use the packages from nuget.org.

@lingabalaji17 Can you also add `.AddRequestCollector()` to create the initial

[2020-04-21 14:40] #390 closed

[2020-04-21 16:41] pjanotti commented on #584
Sorry for the delay (need to update my GH notifications): link to the slides https://docs.google.com/presentation/d/18IqqBQdVwTtOCV3BTqkkf-FX1JjDhBeQehO1760Bf8Y/edit?usp=sharing

[2020-04-21 16:41] CodeBlanch commented on #342
After my comment yesterday @heldergregorio sent me a code snippet on gitter. It's just a snippet, so I can't say for certain, but based on the description I think the issue is he's trying to create the TracerFactory over and over again in Application_BeginRequest. I took the sample in the OT solution and switched it to MyGet + code form his snippet, seems to work fine: https://github.com/CodeBlanc

[2020-04-21 16:59] pjanotti commented on #584
Follow-ups from questions at the presentation:

__1. Stack traces for instrumented applications: does instrumentation break symbols or the stack itself?__
I did some manual tests for this and didn't encounter any broken stacks. The testing was relatively limited but so far no issues.

__2. Confirm DD behavior regarding ReJIT (ie.: instrumentation after the start of target app)__
The DD repo has th

[2020-04-21 19:40] cijothomas opened #619 "StartSpanFromActivity is confusing as OperationName can be specified in two ways."
The following API to create Span from Activity is confusing as it takes an explicit `operationName` and `activity` also has operation name. Current SDK implementation uses the `operationName` and ignores the one from Activity.
`public abstract TelemetrySpan StartSpanFromActivity(string operationName, Activity activity, SpanKind kind, IEnumerable<Link> links);`

Would it be better to change this AP

[2020-04-21 23:20] cijothomas commented on #597
@longility The nullref is being fixed in #622

But the real issue you are facing is different.
`StartSpanFromActivity` - starts your span, but doesn't make it active. When you later retrieve the `CurrentSpan`, you are not getting the span you created, but the original active span (which happened to be invalid in this case)

Most likely, you'd want to use `StartActiveSpanFromActivity` to start the

[2020-04-22 05:09] lingabalaji17 commented on #342
I am using ASP.net core 2.1 and I tried both against nuget and myget. with myget package and asp.net core 2.1, I got the issue as mentioned here :
https://github.com/open-telemetry/opentelemetry-dotnet/issues/605

[2020-04-22 12:38] AlexeiScherbakov opened #624 "How to connect StackExchangeRedisCallsCollector to ConnectionMultiplexer via DI?"
Currently when creating StackExchangeRedisCallsCollector ConnectionMultiplexer must be initialized.
How I can get connect it to StackExchangeRedisCallsCollector via IServiceProvider/DI?

[2020-04-22 13:27] longility commented on #597
Thanks for the guidance @cijothomas . That got me passed the exception. I don't see the trace, but that is a separate problem for me to investigate later.

I'm trying to understand, the use cases or the differences:
1. Is there meaning to _start_ a span in contrast to creating a span?  Intuitively, when we _start_ a span, I think something would be going. Is there something happening when _startin

[2020-04-22 14:44] cijothomas commented on #597
The tracing spec is clear about Creating the span should not make it active. (https://github.com/open-telemetry/opentelemetry-specification/blob/master/specification/trace/api.md#span-creation)

But I also have same question as you have - whats the deal with starting a span, vs starting a active span. I plan to get answers from experts and modify readme docs accordingly.

[2020-04-22 15:07] cijothomas commented on #624
There are no extension methods in RedisCollector, so the collector is configured manually as shown in this example.

https://github.com/open-telemetry/opentelemetry-dotnet/blob/master/samples/Exporters/Console/TestRedis.cs#L42

(Sorry if this is not what you were looking for. I dont have any knowledge of Redis client.)

[2020-04-22 17:09] cijothomas commented on #597
StartSpanFromActivity(string operationName, Activity activity, SpanKind kind, IEnumerable<Link> links);

The above ignores activity if its not in w3c format or if its not started. Can you also ensure you call activity.Start(). ?
This sure is confusing and will try to get clarity around this - but to unblock your experiments, you can try with started activity.

[2020-04-22 18:03] AlexeiScherbakov commented on #624
Yes, I saw this sample. In this sample we need to create ConnectionMultiplexer **before** creating StackExchangeRedisCallsCollector. And it comes from other scope, not from DI.

[2020-04-22 18:57] SergeyKanzhelev commented on #156
I'd suggest we close this one and will create specific issues for concrete proposals on improving code style

[2020-04-22 18:57] #156 closed

[2020-04-22 18:57] #65 closed

[2020-04-22 21:44] #335 closed

[2020-04-23 00:20] longility commented on #597
@cijothomas starting the activity did the trick! Thanks! I'm still new to all of this.

[2020-04-23 00:20] #597 closed

[2020-04-23 00:32] cijothomas commented on #597
https://github.com/open-telemetry/opentelemetry-specification/issues/469
https://github.com/open-telemetry/opentelemetry-specification/issues/238

@longility the above are good pointers to read about "starting a span" and "making span active" being separate things.
In dotnet, the most common one would be - start and activate span in one go, not separate.

[2020-04-23 02:26] longility opened #625 "Proposal: introduce a nuget meta package"
_Originally posted by @CodeBlanch in https://github.com/open-telemetry/opentelemetry-dotnet/pull/623#issuecomment-617895745_

I'm trying to gather additional buy-in, opinions and thoughts. I believe @cijothomas and @CodeBlanch are on board with this current proposal:

# Motivation
There is a common set of nuget packages (`OpenTelemetry.Adapter.AspNetCore`, `OpenTelemetry.Adapter.Dependencies`, and

[2020-04-23 03:04] longility commented on #619
Is there a use case where the relationship of Activity to Span is 1 to many respectively? If so, then I think advertise the priority order is necessary.

If we don't know then I think I might lean towards going with Activity operation name alone to keep it simple until there is a need.

[2020-04-23 03:08] longility commented on #597
Solution that is working for documentation:
[code]
I don't like the activity + span combo, but minor.

[2020-04-23 07:43] #546 closed

[2020-04-23 07:43] #605 closed

[2020-04-23 14:09] longility commented on #576
@eddynaka Do you still plan on working on this? I think I can take a stab at it if you aren't working on this.

@MikeGoldsmith
Based on back and forth comments on the closed PR. This is what I gathered as potential tasks.
1. `TracerProvider` to be a singleton those has a reference to `TracerFactory` and exposes API based on spec.
2. `TracerFactory` becomes "internal" and not expected to be used. I

[2020-04-23 14:10] eddynaka commented on #576
@longility , ok! go for it! thanks :)

[2020-04-23 16:09] cijothomas commented on #619
We'll be replacing Span with Activity completely in near term once the new System.Diag.DiagnosticSource package is shipped. (https://github.com/dotnet/designs/pull/98/files)

At which point, this confusion shouldn't arise as Span and Activity will be the same.

[2020-04-23 21:56] SergeyKanzhelev commented on #19
As discussed on Gitter, @pjanotti assigning this to you

[2020-04-23 22:24] cijothomas commented on #625
Adding to the list:

OpenTelemetry.AspNet with the following nuget packages as dependencies:
OpenTelemetry.Adapter.AspNet.Win
OpenTelemetry.Adapter.Dependencies

OpenTelemetry.Worker (https://docs.microsoft.com/en-us/aspnet/core/fundamentals/host/hosted-services?view=aspnetcore-3.1&tabs=visual-studio#worker-service-template) with the following nuget packages as dependencies:
OpenTelemetry.Adapter.

[2020-04-23 23:16] longility commented on #576
I will try to have something by Monday if not sooner.

[2020-04-23 23:47] SergeyKanzhelev commented on #526
I think it's a dup for #589. Closing, please re-open if this is still a problem

[2020-04-23 23:47] #526 closed

[2020-04-23 23:55] SergeyKanzhelev commented on #624
Related: https://github.com/StackExchange/StackExchange.Redis/issues/1044

[2020-04-23 23:55] SergeyKanzhelev commented on #624
I'm open for suggestions on what would be the best way to initialize Redis connections with the configured profiler

[2020-04-24 01:59] cijothomas commented on #576
@longility I am also looking at the config pieces , but feel free to go ahead with this approach.
Also - are you in our gitter channel? Its faster to quickly send messages there.

[2020-04-24 02:21] longility commented on #576
I have not been in gitter channel. I will try it out. I'll try to do things incrementally and get feedback.

[2020-04-24 03:32] cijothomas opened #630 "Libraries referring OT.API gets NoOpTracer only even if SDK is installed."
Libraries who wish to emit OT traces are expected to depend on the OT.API only. They would do the following to get `Tracer` instance to start/stop spans.
`var tracer = TracerFactoryBase.Default.GetTracer("LibName");`

If this library is used in an application which do not install OT SDK, then the above code will return a "no-op" `Tracer`, and there will be near zero perf impact as no traces/spans

[2020-04-24 04:29] longility commented on #576
As I'm studying the code, it is a bit trickier so I'm going to need some feedback considering I'm a newbie in this codebase and may not see the impact.

I would like to understand how we want to consume before going into implementation detail.

I'm going to start with consumer usage taking our first example in the `README.md`.

# Current
[code]
ref https://github.com/open-telemetry/opentelemetry-d

[2020-04-24 05:05] CodeBlanch commented on #630
@longility I just noticed you mention this issue on gitter. Basically I ran into this the other day working on #620. To resolve I updated the factory to set the default instance. Sharing here for consideration.

https://github.com/open-telemetry/opentelemetry-dotnet/blob/a391a48f0ab01e085843b78c5a0b6efa544bc6de/src/OpenTelemetry/Trace/Configuration/TracerFactory.cs#L107-L110

[2020-04-24 06:41] cijothomas opened #632 "Reusing Adaptors for Traces and Metrics."
**Background**:
We have several Adapters (called Collectors earlier) which emits OT spans corresponding to http outbound/inbound calls, sqlclient calls, azure sdk calls etc. All these adapters require a `Tracer` instance so as to start/stop spans. The adapters currently receive `Tracer` by virtue of `AddAdapter` method in `TracerBuilder`.  In other words, adapters knows about, and depends on OT SD

[2020-04-24 06:50] cijothomas commented on #630
Thanks. I also thought of modifying `TracerFactory.Create` to `SetDefault`. But if user creates multiple `TracerFactory` (with different processing pipelines, exporter - a valid OT scenario), then we cannot decide which one is the default. User has to tell which factory should be default.

[2020-04-24 07:12] CodeBlanch commented on #630
My thinking with the `useAsDefaultFactory` ctor parameter was that for the common case where the user only has one pipeline we'll just use the first factory spun up as the default. If they are building more than one pipeline, which is the more advanced case, they'll have to use the param. It's not great ::shrug::

[2020-04-24 12:13] longility commented on #576
Now that I realize there is a difference between SDK and API, I'm seeing more of it now such as `TracerProvider` is specific to SDK, which is `OpenTelemetry` project and not `OpenTelemetry.Api`.

![image](https://user-images.githubusercontent.com/720635/80211261-04151f00-85fb-11ea-9961-228bc99efe7e.png)

[2020-04-24 15:00] cijothomas commented on #632
The concept of SpanProcessor, SpanExporter is part of SDK, so naturally Exporters need SDK.

(Below is purely my interpretation or my mental model)
Adapters are needed because libraries didn't emit spans in the way we expect. So adapters simply convert the telemetry emitted by libraries, into OT API format.
If libraries are using OT API, and emitting OT Spans, then there would be no need of adapte

[2020-04-24 15:10] cijothomas commented on #576
@longility TracerProvider is an API concept. https://github.com/open-telemetry/opentelemetry-specification/blob/master/specification/trace/api.md#obtaining-a-tracer

It must be implemented in API, so libraries who depend only on API can get a Tracer from TracerProvider.

[2020-04-24 15:43] longility commented on #576
Thanks for catching that! You are right @cijothomas.

[2020-04-25 03:48] longility commented on #576
Here I go with bold change proposals with limited experience and knowledge...

# Proposal
## 1. TracerProvider not to be a singleton, separate object as singleton container
### Prior Art
Both go and js approaches this way. One difference between them is that go has one singleton container while js has specific singleton containers (i.e. one for metric and one for tracer).
https://github.com/open-t

[2020-04-25 20:06] longility commented on #576
Alright, I have a WIP that I'm actually comfortable with (slimmed down to allow better reviewing of approach):
https://github.com/longility/opentelemetry-dotnet/commit/f700828635bace0517142b06029093d39b16270c

Not sure what the best way to communicate the change is. I'll do my best here.

1. `BlankSpan` -> `NoopSpan`
   - Simplify by removing singleton pattern.
   - Keep consistent with no-op nami

[2020-04-26 14:23] cijothomas commented on #576
@longility Thanks for sharing this.
I added comments in the commit diff itself.
Can you share examples here on how the usage would look like? Specifically, how does libraries get Tracers? They should get noops if no SDK available. If SDK available, they should get real Tracers.

[2020-04-26 19:55] longility commented on #576
I will answer based on current WIP commit and focused on your question here.

If the SDK is not initialized, calling `TracerProvider.GlobalInstance` will give you no-ops as `TracerProvider.GlobalInstance` is initialized with a new instance of `NoopTracerProvider`. If they use `TracerProvider.GetTracer(..)` static method, it will delegate to `TracerProvider.GlobalInstance.GetTracer(..)`.

When `Tra

[2020-04-26 21:47] cijothomas commented on #576
As mentioned in the PR - the issue not solved is when libraries call TracerProvider.GlobalInstance,  before SDK is done iniitalizing (i.e setting GlobalInstance = this in your PR), then the library will always live with the NoOp. Libraries mostly get Tracer once at its startup and then cache it.

[2020-04-26 23:49] longility commented on #576
That comment helped.

@cijothomas This is my plan now for tomorrow. Feel free to provide additional feedback of my plan. If not, I will do minimally to get feedback similar to the commit you have been commenting.

1. `TracerProvider` will be an abstract class following patterns of `Tracer` and `TelemetrySpan`.
2. `NoopTracerProvider` and `TracerProviderSdk` that inherits `TracerProvider`
3. Keep `

[2020-04-27 22:50] SergeyKanzhelev opened #637 "Build broke: CI that uploads to MyGet"
First failed build: https://dev.azure.com/opentelemetry/pipelines/_build/results?buildId=1631&view=results

[code]

[2020-04-27 23:04] #588 closed

[2020-04-27 23:25] cijothomas opened #638 "Revisit TracerFactory and MeterFactory throwing when multiple calls to SetDefault"
**Is your feature request related to a problem?**
The current code throws an Exception when TracerFactory/MeterFactory.SetDefault is called more than once. Following the general rule of "telemetry libraries should never throw and continue working with defaults", this behavior need to be revisited.

**Describe the solution you'd like.**
1. Instead of throwing, simply ignore every call after the 1st

[2020-04-28 00:31] CodeBlanch opened #639 "Perf: Cache HTTP operation name"
There was this bit of [discussion](https://github.com/open-telemetry/opentelemetry-dotnet/pull/633#discussion_r415140592) on #633 about caching the operation names (and method.ToString() results) to improve the performance of HTTP spans slightly.

This issue is just to capture that idea for a follow-up PR.

[2020-04-28 01:29] #606 closed

[2020-04-28 05:36] cijothomas commented on #576
@longility Can you open PRs in draft mode with your changes? This makes it easier to try out things. Once we are ready, simply mark PR as ready for final review from draft mode.

[2020-04-28 08:33] longility commented on #576
@cijothomas #641 has WIP with two meaningful commit: 1 refactor and 1 wip introduce tracer provider.

If we want to split into two PRs, one dependent on the other, we can do that. Let me know what is best to review and tackle this as this is pretty large. I'm very comfortable with git to break things up as needed. I just have it all together so that you have a full working branch to try out things

[2020-04-28 10:11] PaxHumana opened #642 "PrometheusMetricBuilder using local culture info"
When exporting values the local machine localization is used, resulting in error when Prometheus attempts to load the data.

Fix by adding:
using System.Globalization;

And on line 183 change:
writer.Write(m.Value);
to
writer.Write(m.Value.ToString(CultureInfo.InvariantCulture));

[2020-04-28 22:46] SergeyKanzhelev commented on #584
Document to be presented today: [CLR Instrumentation Engine & Intercept Extension](https://docs.google.com/document/d/1s2QPWJkK_NDNpImXi1olcnb93ok_Q-_mT2TWr4nbJg0/edit?usp=sharing)

[2020-04-29 03:36] longility commented on #638
Yeah, I don't think there is consistency with this one. If I read go correctly (I can't read go very well), I think it overrides the previous. For js, it keeps the first one and never override.

Personally, last one wins makes sense as the name `SetDefault` has a meaning like setter, which just sets again.

Do we want to pick a solution for now so that it is doesn't throw an exception?

[2020-04-29 04:16] longility commented on #630
Assuming #641 is good, I can think of two options that could solve this issue:

**1. `TracerProvider` has the new default instead of `TracerFactory`**
[code]
**2. `TracerProvider` sets the new default to `TracerFactory`**
[code]

[2020-04-29 13:38] PaxHumana opened #644 "MeterSDK, reporting DoubleObserver as LongSum"
Should be reported as DoubleSum on line 219, else PrometheusExporterExtensions will not report these.

[2020-04-29 16:21] reyang opened #645 "Remove ApplicationInsights exporter from this repo"
Following https://github.com/open-telemetry/opentelemetry-specification/pull/277#discussion_r330265935, we need to move vendor specific exporters away from this repo.
Need to make sure the exporter is registered under https://opentelemetry.io/registry/?s=net.

This needs to go somewhere else: https://github.com/open-telemetry/opentelemetry-dotnet/tree/master/src/OpenTelemetry.Exporter.ApplicationI

[2020-04-29 16:23] reyang opened #646 "Remove Lightstep/Stackdriver exporter from this repo"
Following https://github.com/open-telemetry/opentelemetry-specification/pull/277#discussion_r330265935, we need to move vendor specific exporters away from this repo.
Need to make sure the exporter is registered under https://opentelemetry.io/registry/?s=net.

This needs to go somewhere else: https://github.com/open-telemetry/opentelemetry-dotnet/tree/master/src/OpenTelemetry.Exporter.LightStep.

[2020-04-29 16:24] reyang opened #647 "Remove Stackdriver exporter from this repo"
Following https://github.com/open-telemetry/opentelemetry-specification/pull/277#discussion_r330265935, we need to move vendor specific exporters away from this repo.
Need to make sure the exporter is registered under https://opentelemetry.io/registry/?s=net.

This needs to go somewhere else: https://github.com/open-telemetry/opentelemetry-dotnet/tree/master/src/OpenTelemetry.Exporter.Stackdriver.

[2020-04-29 16:27] reyang commented on #645
@cijothomas

[2020-04-29 21:09] SergeyKanzhelev commented on #645
There is an issue https://github.com/open-telemetry/opentelemetry-dotnet/issues/138. I think this will be a single action of branching code out as a backup and remove all exporters from the master. I don't think we need to track those tasks separately unless you want to move specific exporters proactively.

In any case, I was delaying with this to make sure we concentrate an effort on running to a

[2020-04-30 00:25] pjanotti opened #649 "Implement InstrumentationLibrary per OTEP 83"
This is to follow the pattern described at https://github.com/open-telemetry/oteps/blob/master/text/0083-component.md (Java already implement this pattern).

[2020-04-30 00:39] pjanotti opened #650 "Expose "dropped counts" for span attributes, events, and links"
**Is your feature request related to a problem?**
Spans have limited capacity for attributes, events, and links these when any of these are dropped due to capacity being exceeded it is necessary to provide some visibility to this information.

**Describe the solution you'd like.**
OTel Java and Go and offer ways to track the number of dropped items for attributes, events, and links. .NET should ha

[2020-04-30 00:43] pjanotti opened #651 "Add support to arrays of primitive types for Span Attributes"
Per [spec](https://github.com/open-telemetry/opentelemetry-specification/blob/e0bd41739a92304c0be5d68840f434e281b5f8b2/specification/trace/api.md#set-attributes) span attributes should support array of primitive types.

[2020-04-30 01:10] pjanotti opened #652 "Better handling of OTLP proto sources"
Separating this from the discussion at #19

Currently, the proto files are copied to the OTLP exporter sources. At this stage I see two possible options:

1. Use a github submodule;
2. Hack the project to use a nuget source package - of course, in the end, this will require the proto repo to be published in a nuget.

[2020-04-30 01:18] pjanotti opened #653 "Allow the description of Span Status to be set."
Currently, there is no way to set the description of a span status.

[2020-04-30 10:28] AlexeiScherbakov commented on #624
We wrap ConnectionMultiplexer inside our own object, which provide cache interfaces and make ConnectionMultiplexer recreation, something like "No connection is avaliable" happens (This is a group of linked issues. One of the latests - https://github.com/StackExchange/StackExchange.Redis/issues/1387). On hi-load StackExchange.Redis is unstable, when Redis cluster has some kind of 'physical' problem

[2020-05-01 22:53] cijothomas commented on #637
@CodeBlanch is fixing this.

[2020-05-02 19:31] #637 closed

[2020-05-03 11:54] noamarbel commented on #137
Hi, I am new to the project, and would like to start working on this ticket. Some questions:
1. Does it make sense as a starting point?
2. Is the point to enable the warnings, and put comments on all API methods?
3. Do we need meaningful method and params messages, of just placeholders that make sense? How deeply do I need to understand the API to document it?

Would appreciate some guidance.

Tha

[2020-05-04 16:41] alanwest commented on #482
Has this been picked up yet? If not, I'm interested.

[2020-05-04 16:46] cijothomas commented on #482
@alanwest No one is working on this feature, so its available for pickup.

[2020-05-04 20:49] #645 closed

[2020-05-04 22:22] SergeyKanzhelev commented on #137
this issue is a great opportunity to learn the codebase. It might be a bit challenging if PR will be getting too big, but I can prioritize merging of it. Also, you can split it into small chunks.

Please, no placeholders. It will be hard to untangle later.

[2020-05-05 12:34] enzian commented on #137
go file by file, commit frequently (at least after every file you touch) and regularly rebase on master to keep eventual merges small!

[2020-05-05 13:30] mmisztal1980 opened #661 "OpenTelemetry.Exporter.Console 0.2.0-alpha.179 missing"
It would appear that `OpenTelemetry.Exporter.Console` 0.2.0-alpha.179 was not released along with the remaining packages.

Was this intentional?

[2020-05-05 13:39] noamarbel commented on #137
Got it. Will start working on it.

Do I need to assign this to myself somehow? Call dibs?

[2020-05-05 19:18] bruno-garcia commented on #646
We've discussed this on Gitter and the following proposal arrived:

1. Create a repo: https://github.com/open-telemetry/opentelemetry-dotnet-contrib which @MikeGoldsmith is raising an issue for.
2. Move all vendor-specific exporters to it.
3. Depend on `OpenTelemetry` packages via NuGet dependency.

[2020-05-05 19:19] MikeGoldsmith commented on #647
Requested contrib project for any exporters that are not reassigned to owning organisations: https://github.com/open-telemetry/community/issues/340

We can also push other non-core code here. Utilities, helpers, etc.

[2020-05-05 19:47] bruno-garcia opened #662 "Investigate GitHub packages"
As part of the [discussion to pull out of this repo the vendor specific exporters](https://github.com/open-telemetry/opentelemetry-dotnet/issues/646), the question of availability on NuGet came up.

Currently the latest package is months old and relying on releases to work on exporters could be a problem.

One suggestion was to use myget, but since [GitHub has a package registry](https://github.co

[2020-05-05 22:09] SergeyKanzhelev commented on #137
consider it's yours. GH only allows assigning to the members of the org =(

[2020-05-05 22:55] kirillta opened #664 "AddCollector cause exception on versions higher than 253"
**Describe your environment.** Describe any aspect of your environment relevant to the problem:
* SDK version: (nuget versions of the all the relevant packages)
[code]

* .NET runtime version (.NET or .NET Core, TargetFramework in the .csproj file): netcoreapp3.1
* Platform and OS version: Windows and Linux

If you're reporting a problem with a specific version of a library in this repo, please ch

[2020-05-06 03:29] longility commented on #664
Can you get the latest version 277 to see if you are having issues still?

[2020-05-06 10:05] AndyPook commented on #664
still a problem here.
worked previously with .227

[2020-05-06 11:07] longility commented on #664
Ah, sorry this is due to my refactoring and poor communication. We went through and did some renames to meet spec or to better communicate intent.

Try the following:
[code]

[code]

We are considering adding a meta-package #625 which would have minimized the need of transparency of this type of change. Of course, besides the breaking code changes, which would have indicated that a major change ha

[2020-05-06 12:30] kirillta commented on #664
@longility I don't see updates on MyGet, 253 is still the last consolidated version

[2020-05-06 13:27] AndyPook commented on #664
Ahhh, makes sense.
This is the point of "alpha" after all :)

[2020-05-06 13:33] longility commented on #664
@kirillta I forgot to emphasize, we made changes to names of packages. I assume you just updated the version numbers or looking at version numbers for the current packages only. Can you update the package name as well?

`OpenTelemetry.Hosting` -> `OpenTelemetry.Extensions.Hosting`
`OpenTelemetry.Collector.AspNetCore` -> `OpenTelemetry.Adapter.AspNetCore`
`OpenTelemetry.Collector.Dependencies` -> `

[2020-05-06 13:36] AndyPook commented on #664
dotnet seems to be quite a bit behind the others (they've gone beta) and there doesn't seem to be much traction on the milestone issues. I understand "resourcing" for this kind of thing is hard. Do you know if there is "a plan"?

I have some small things in the "perf" area I plan to PR as some small contribution

[2020-05-06 14:05] kirillta commented on #664
Now it works. Thanks!

[2020-05-06 16:42] cijothomas commented on #664
We discussed this in SIG meeting, but sharing for your info:

We delayed beta so as to align .NET platform itself with Open Telemetry. There is another major breaking change coming as we are replacing Span/Tracer with .NET Bcl classes like `Activity`, `ActivitySource` etc. Some details are in the below blog post, but expect a lot more info on this over the next few days.
https://medium.com/opentel

[2020-05-06 19:34] AndyPook commented on #664
Thank you for taking the time.
I should have found that for myself

[2020-05-06 19:46] MikeGoldsmith commented on #646
PR to move StackDriver to contrib project: https://github.com/open-telemetry/opentelemetry-dotnet-contrib/pull/3

[2020-05-06 21:19] SergeyKanzhelev commented on #664
I removed all Collector packages from the MyGet feed.

Closing issue, please reopen if there are more questions

[2020-05-06 21:19] #664 closed

[2020-05-06 21:22] #646 closed

[2020-05-06 21:24] reyang commented on #647
#646

[2020-05-06 21:24] #647 closed

[2020-05-07 06:45] cijothomas commented on #650
Would logging to EventSource be sufficient here?

[2020-05-07 07:28] cijothomas opened #668 "Remove dotnet5 feed once DiagnosticSource is on nuget.org"
Opening an issue to remind us to remove the dotnet5 feed, added temporarily.
https://github.com/open-telemetry/opentelemetry-dotnet/pull/667

[2020-05-07 09:01] xontab opened #670 "New naming convention for packages affecting older packages"
The NuGet packages have been changed and the old packages were also renamed in MyGet. Although I agree with the new naming convention and I understand that this project is still not stable, I still believe that the old packages should still be available using the old convention for backwards compatibility. Only the new ones should use the new naming convention.  This is causing the following error

[2020-05-07 12:01] MikeGoldsmith commented on #670
Hi @xontab - yes, I don't believe old packages have been removed. Can you elaborate more on your setup? eg what package(s) with what references?

As we've moved some packages to owning organisations (eg LightStep, StackDriver) / contrib, we had to update the project reference to a package reference. However, as the most recent release of the API / SDK on nuget.org is from 3 months ago, we set the

[2020-05-07 12:06] MikeGoldsmith commented on #661
Hi @mmisztal1980

You are correct the console package has not been released to nuget.org yet. It was added after the last nuget publish, ~3 months ago. We're currently working on our package organisation and publishing strategies. Not publishing to nuget.org for so long is not good.

The package is available on our MyGet feed, and you can add a reference to it like this:

[code]

Please re-open th

[2020-05-07 12:06] #661 closed

[2020-05-07 12:54] xontab commented on #670
Just to give an example, all the following packages are no longer available due to the naming refactoring.

[code]

Only the new packages `OpenTelemetry.Adapter.AspNetCore` from `0.2.0-alpha.254` onwards are available on MyGet.  On the other hand, packages that were not renamed, such as `OpenTelemetry.Api` are still available (starting from `0.2.0-alpha.215` onwards)

[2020-05-07 16:17] cijothomas commented on #670
The package are indeed removed per : https://github.com/open-telemetry/opentelemetry-dotnet/issues/664#issuecomment-624896961

[2020-05-08 19:24] codmw44 opened #673 "PrometheusExporterMetricsHttpServer stop by self"
**Describe your environment.** Describe any aspect of your environment relevant to the problem:
* SDK version: 0.2.0-alpha.281
* .NET runtime version: .NET Core 3.1
* Platform and OS version: Linux

If you're reporting a problem with a specific version of a library in this repo, please check whether the problem has been fixed on master.

**Steps to reproduce.**
Create `PrometheusExporter` and `Pro

[2020-05-09 20:40] bruno-garcia commented on #662
If I understand correctly the GitHub Packages documentations for NuGet, an access token is always required.

That means that not only to publish the package, which anyone would expect, but also when **restoring** a package. So beside the custom feed URL in a `nuget.config`, an access token must also be available there.

Considering our goal is to have a public feed where even someone without a Git

[2020-05-11 20:42] cijothomas opened #674 "Improvements to SimpleSpanProcessor."
Opening an issue to track fixing the issues with current SimpleSpanProcessor (and in its future replacement SimplyActivityProcessor).

1. Current implementation is fire & forget- no awaiting the Exporter. This is different from other languages.
2. Producer could be overwhelmed, and we need a system to handle this.

Original discussion:
https://github.com/open-telemetry/opentelemetry-dotnet/pull/66

[2020-05-12 16:45] cijothomas opened #675 "Comparing OpenTelemetry Tracing API with .NET Activity API"
I was planning to do a comparison post between using Activity API and Span API after Step1 (https://github.com/open-telemetry/opentelemetry-dotnet/pull/660) is merged, but posting this along with the PR, to help drive more clarity.

Background read:
https://github.com/dotnet/designs/pull/98
https://medium.com/opentelemetry/opentelemetry-net-sdk-progress-3a63dcdc6cb0
https://github.com/open-telemet

[2020-05-12 17:27] tarekgh commented on #675
Thanks @cijothomas, this is very useful. Here are some comments mapping to your bullet numbers:

1- It will be better when adding code samples using `ActivitySource.StartActivity` to pass the component name as a convention. Something like `ActivitySource.StartActivity("System.Net.Http")` . This will be useful to allow users to understand how they can name the ActivitySource objects.
2- We can add

[2020-05-12 18:36] CodeBlanch commented on #675
I've chatted with @cijothomas about this, but for discussion's sake, I'll mirror here:

One thing I would really like to have in the .NET design is a "TerminalSpan" solution. That's the whole idea of non-capturing spans/activities for internal stuff we need to do (like calling Zipkin to transmit data). See #620. Today we have an infinite loop of span/activity generation unless we URL sniff and bre

[2020-05-12 19:33] reyang commented on #675
@CodeBlanch in OpenTelemetry Python we achieved the goal by having a flag in the context: https://github.com/open-telemetry/opentelemetry-python/blob/82359d5bfc6fe34f3012a44b3d8580f083706c9c/opentelemetry-sdk/src/opentelemetry/sdk/trace/export/__init__.py#L78

[2020-05-12 20:03] CodeBlanch commented on #675
@reyang Thanks. Cijo sent me the same a few days ago. I think that is (more or less) what @lmolkova's [proposal](https://github.com/lmolkova/oteps/blob/terminal-context/text/0069-terminal-context.md) is doing. Totally fine with that approach. If we move away from Span in favor of Activity though, do we also move away from SpanContext/DistributedContext? I see in the .NET design there is ActivityCo

[2020-05-12 22:16] tarekgh commented on #675
I am wondering if this will be proposed to OT specs too? or we expect every language implementation will do its own thing?

[2020-05-12 22:50] cijothomas commented on #675
This issue would exist in every language, and must be defined in spec as well in my opinion.
Also - I'd like to move the discussion about Terminal Span to this PR https://github.com/open-telemetry/opentelemetry-dotnet/pull/620, so its easier to find these discussions later.

[2020-05-12 22:54] SergeyKanzhelev commented on #675
Great summary. Worth to put it as a google doc to simplify editing and comments

[2020-05-12 22:55] cijothomas commented on #675
Sure. I'll start a more detailed doc and share. I already realize editing is tricky to this issue!

[2020-05-15 08:11] yhvicey commented on #645
When will there be the repo for AI exporters available? Looks like the latest version of AI exporter package is `179`, which is far behind current opentelemetry api package version `286`.

[2020-05-15 22:08] SergeyKanzhelev commented on #645
CC: @cijothomas and @reyang

@yhvicey one alternative for you is to run a collector with Azure Monitor exporter. It has a few flaws though

[2020-05-18 19:04] CodeBlanch opened #680 "Update HttpWebRequestDiagnosticSource to use .NET 5 ActivitySource"
I'm going to update [HttpWebRequestDiagnosticSource](https://github.com/open-telemetry/opentelemetry-dotnet/blob/master/src/OpenTelemetry.Adapter.Dependencies/Implementation/HttpWebRequestDiagnosticSource.net461.cs) to use the new .NET 5 ActivitySource API which should eliminate the need for [HttpWebRequestDiagnosticListener](https://github.com/open-telemetry/opentelemetry-dotnet/blob/master/src/O

[2020-05-18 20:58] tarekgh commented on #675
https://github.com/dotnet/runtime/issues/31372

[2020-05-18 21:01] cijothomas commented on #675
Note to self:
Span.IsRecording maps to activity.IsAllDataRequested

[2020-05-19 03:54] cijothomas opened #684 "Epic - Span API -> Activity API"
With the end goal is replacing OT Span API with .NET Activity API (part of System.Diagnostics.DiagnosticSouce nuget package), opening this Epic to track overall state of this effort.

Notes: For each heading, supporting the most basic (a being most basic, b being next, and so on) is current priority. This would allow us to validate Activity APIs and provide sufficient and timely feedback to .NET T

[2020-05-19 21:02] cijothomas commented on #675
One more:  (https://github.com/open-telemetry/opentelemetry-dotnet/pull/683#discussion_r427284489)

For OT sampling algorithms, one of the input parameter is the SpanID of the Span to be created. This is not achievable in new Activity API. We can create a Activity.GenerateSpanID, but there is no option to create an activity using this generated Span ID in the new model of creating activity (which

[2020-05-20 00:30] tarekgh commented on #675
@cijothomas trace id is interesting too as the span id.

[2020-05-20 05:35] guitarrapc opened #690 "How to expose PrometheusExporterMetricsHttpServer to other container?"
**Describe your environment.** Describe any aspect of your environment relevant to the question:

* docker/kubernetes

**What are you trying to achieve?**
What did you expect to see?

Expose endpoint for Prometheus server to collect metrics from PrometheusExporterMetricsHttpServer.

Current PrometheusExporterMetricsHttpServer implementation is collecting endpoint url from exporter. Therefore it ex

[2020-05-20 06:16] guitarrapc commented on #690
workaround and usecase sample on docker-compose. (kubernetes is similar to this.)

[2020-05-21 19:15] reyang commented on #675
Update on `Span.Status`:
* [Notes taken from the OpenTelemetry specification SIG meeting](https://github.com/open-telemetry/opentelemetry-specification/issues/306#issuecomment-631656558)
* [Notes taken from the follow up meeting](https://github.com/open-telemetry/opentelemetry-specification/issues/306#issuecomment-632289186)

[2020-05-23 06:02] Illia-M opened #695 "JaegerUdpBatcher crash application when Jaeger down"
**Describe your environment.**:
* SDK version: all OTel packages 0.2.0-alpha.294
* .NET runtime version: netcoreapp3.1
* Platform and OS version: Docker container in k8s

**Steps to reproduce.**
1. Strat app with JaegerExporter when Jaeger service down

**What is the expected behavior?**
App running in any condition of Jaeger service

**What is the actual behavior?**
Application crash with

 --->

[2020-05-25 06:00] #695 closed

[2020-05-25 16:20] WorldIsM opened #698 "npgsql collector"
Hi. As far as I understand, SqlClientDiagnosticListener currently expects System.Data.SqlClient.* or Microsoft.Data.SqlClient.*.

I thought to write similar listener for npgsql, but as far as I understand npgsql driver do not produce diagnostic source events.

Any idea what would be the approach to work with npgsql? Thanks.

[2020-05-26 11:39] WorldIsM opened #699 "Jaeger Exporter - UDP Packet size was 9886. Exception message: Message too long"
**Describe your environment.** Describe any aspect of your environment relevant to the problem:
* SDK version: all OTel packages 0.2.0-alpha.275
* .NET runtime version: netcoreapp3.1
* Platform and OS version: mac os

If you're reporting a problem with a specific version of a library in this repo, please check whether the problem has been fixed on master.

**Steps to reproduce.**
1. Strat app with

[2020-05-26 22:46] Aaronontheweb commented on #684
@cijothomas

.... Why is this even necessary? Wouldn't should OT for .NET adopt a totally different terminology and API surface area compared to all of the other implementations? How many years is it going to take for any of this to be accessible to library developers like myself who want to use OT? And are these API changes to `Activity` going to be .NET 5-only going forward?

[2020-05-26 22:50] SergeyKanzhelev commented on #690
I'm not sure what's the question here. Can you please elaborate?

One option to simplify set up is to use the middleware implemented in this PR: https://github.com/open-telemetry/opentelemetry-dotnet/issues/65

[2020-05-26 22:56] cijothomas commented on #684
Clarifying 2 important things here:
1. The .NET Activity API is shipped out-of-band. It works for .NET Core 2.x or higher, .NET Framework 4.5.2 or higher.
2. The .NET Activity API will support everything from OT Span API. The names will ofcourse be different, (like Activity instead of Span) - This is where item 7 comes into picture - the shim/wrapper will make everything matching OT SPan API.

@Aa

[2020-05-26 22:58] SergeyKanzhelev commented on #684
Activity is a part of DiagnosticSource package which is build for all platforms down to `NET45`. So it must be accessible as soon as we GA. As for terminology - we need more feedback on what's OK and what is broken.

[2020-05-27 01:48] Aaronontheweb commented on #684
Very glad that this isn't going to be a .NET5-only thing. That would have been a big problem for us. .NET Standard 2.0 and up is our current target.

Per the advice of @davidfowl on Twitter I wanted to include feedback from my experience as an OpenTracing user / contributor / library developer looking to replace that work with OpenTelemetry in the coming years:

### Customization and Extensibility

[2020-05-27 16:10] austinlparker commented on #684
I'm not entirely sure if this is aligned with the spec in terms of API re-implementation (see https://github.com/open-telemetry/opentelemetry-specification/blob/master/specification/library-guidelines.md). I think having a translation layer between span/activity is fine, but I don't think we can just replace things in the API outright, especially since the existing OTel API is pretty well-defined.

[2020-05-27 19:29] MikeGoldsmith opened #704 "BatchingProcessor should export when max size is reached"
Both [`BatchingSpanProcessor`](https://github.com/open-telemetry/opentelemetry-dotnet/blob/master/src/OpenTelemetry/Trace/Export/BatchingSpanProcessor.cs#L77) and [`BatchingActivityProcessor`](https://github.com/open-telemetry/opentelemetry-dotnet/pull/697/files#diff-75dfb0dfff9526c2f665dfb296b28b6dR78) just return when trying to add a span / activity and the queued items are equal or greater than

[2020-05-28 07:09] czs1993 commented on #632
when will the “Reusing Adaptors for Traces and Metrics” be works ？

[2020-05-28 14:00] cijothomas commented on #632
There is no ETA on this, but this item most likely will become irrelevant once Span->Activity work is complete.

[2020-05-28 20:33] Aaronontheweb opened #705 "Add Fluent / Builder Interface to TelemetrySpan"
When I'm creating `TelemetrySpan` instances inside our library it's common for us to see code like:

[code]

I would love to have a fluent "builder" interface for doing this:

[code]

[2020-05-29 03:08] czs1993 commented on #632
@cijothomas  thanks, the beta version need how  long  time will be work?

[2020-05-29 05:36] cijothomas commented on #632
If you can tell me what specific part you want to try, I can try to give a better estimate.

Trace part is very likely ready in 2 weeks or less. But instrumentationadapter for HttpClient, AspNetCore etc may take more as we are likely going to ask more fixes from .NET platform.

Noone is actively working on metrics now, as the goal is to focus on tracing.

[2020-05-29 19:21] MikeGoldsmith commented on #705
Thanks for the suggestion @Aaronontheweb. I think it a good idea and something we had in OpenTracing. We can review this once we've completed our spike on whether the new Activity implementation can be used.

[2020-05-29 19:39] MikeGoldsmith commented on #684
Copying this from Gitter where we originally discussed:

I was very much in the camp of preferring OTel being a separate entity to the basr .NET Activity & ActivitySource. I expected the current API to be the main programming interface and be able to subscribe / capture multiple forms of diagnostic trace forms via instrumentation.
I also understand Microsoft's position of wanting to closely tie Op

[2020-05-29 19:43] MikeGoldsmith commented on #699
Thanks for the bug report @WorldIsM. We are currently trying to integrate some upcoming .NET5 diagnostic library changes into the core project. Once this has been completed we will have time to properly triage and investigate your bug report.

[2020-05-30 16:51] reyang opened #708 "Potential improvement for ActivitySource name matching"
The following code holds a hash set of ActivitySource names - converted to uppercase invariant:
https://github.com/open-telemetry/opentelemetry-dotnet/blob/577ae6cce35dde254af4ddcd065903aacd158afa/src/OpenTelemetry/Trace/Configuration/OpenTelemetryBuilder.cs#L73

The following code converts the incoming ActivitySource name to uppercase invariant, and do a hash lookup. This involves a string alloca

[2020-05-30 16:52] reyang commented on #708
@tarekgh @noahfalk any further improvement ideas?

[2020-05-30 22:45] kimbell opened #709 "Usage of static member variables"
This project looks very interesting for our environment. In my case I'm running .NET Core 3.1; I don't care that much about .NET Framework, so the question is very biased.

I did some exploring in the code. Several places I noticed static member variables. One is AsyncLocal, but the rest are plain static.

https://github.com/open-telemetry/opentelemetry-dotnet/blob/ace469d42b037244e409e9cda0e5acbe

[2020-05-31 08:45] noahfalk commented on #708
The runtime implementation for invoking the ShouldListenTo(ActivitySource) callback should only occur once for each (ActivityListener, ActivitySource) pair in the process and then the result is cached. This means any performance changes in this suggestion probably show up as a small difference in process startup time. Were you concerned about process startup time or perhaps there was a misundersta

[2020-05-31 17:10] reyang commented on #708
+1 on the consideration of startup overhead of RegEx. This might not be a problem for services but definitely I've seen a lot in device/app scenario.

Looks like we're looking from different angles:
1. I assume that majority of the case we will has mismatch rather than match - I was assuming the application to have many different sources (e.g. could be hundreds or thousands, if source names are hi

[2020-05-31 17:22] reyang commented on #708
This is good to know, I wasn't aware of this caching. This has a small implication that the listener has to give consistent result for the given name/ver (so if we want to change the listener behavior, we should create a new one and discard the old one rather than modify it in place). Seems to be a very good choice considering the outcome vs. implication.

In this case, looks like `HashSet<string>

[2020-05-31 21:22] Aaronontheweb commented on #705
Makes sense - was also contemplating opening an issue on making `TelemetrySpan` / `Activity` implement `IDisposable` too - that way I could use scoping and `using` statements succinctly inside our applications. Another idea from the original OpenTracing `IScope` implementation that may be worth replicating.

[2020-05-31 22:37] tarekgh commented on #708
Yes using StringComparer.OrdinalIgnoreCase is the preferred method here as it shouldn't allocate extra objects and it should perform fast comparisons too.

The other question I have is, why using HashSet and not something like Dictionary? I am asking because HashSet on the full framework has some perf issues which we fixed on the net core only.

[2020-06-01 01:29] janaka commented on #664
@SergeyKanzhelev

Are these Collector packages supposed to be in Nuget still?

https://www.nuget.org/packages/OpenTelemetry.Collector.AspNetCore/0.2.0-alpha.179

[2020-06-01 09:28] MikeGoldsmith commented on #705
We've run into scoping issues with activity / telemetryspan when doing some unit tests and I believe @CodeBlanch added IDisposeable to the object returned during setup.

You're very welcome to create a PR to add it, I'd appreciate it if you could do it for both so we don't lose it during the current work.

[2020-06-01 18:12] cijothomas commented on #675
one more:
SpanContext has isRemote, ActivityContext doesn't have isRemote.
IsRemote is not part of W3C spec.
(There was a note in .NET pr that isRemote is likely going to be removed from OT spec, need to find the status on that)

[2020-06-01 19:00] tarekgh commented on #675
@reyang could you please track discussing removing IsRemote from the SpanContext spec in the SIG meeting?

[2020-06-01 19:16] cijothomas commented on #708
We havent finalized on what would be the default listening model - it could or "listen to all except those explicitly turned off", or "listen to only sources explicitily enabled" or "something else".
This is tracked as 5a under https://github.com/open-telemetry/opentelemetry-dotnet/issues/684

For now, we can change the comparison to ignorecase to avoid the string allocation.
@tarekgh There was no

[2020-06-01 19:17] reyang commented on #675
I don't think `SpanContext.IsRemote` should be removed and I cannot recall any discussion in the OT spec. @cijothomas do you have more context on this?

I've added a topic in the [06/2/2020 specification SIG meeting](https://docs.google.com/document/d/1-bCYkN-DWJq4jw1ybaDZYYmx-WAe6HnwfWbkm8d57v8/edit#heading=h.tdfnys7gxras) to clarify/confirm it. @tarekgh

[2020-06-01 19:19] tarekgh commented on #708
I would say try to measure the perf when using HashSet and Dictionary on the full framework. and we can decide which to use. just make sure you use OrdinalIgnoreCase with both when you measure it. let me know if you want any help from me on that.

[2020-06-01 19:25] CodeBlanch commented on #705
@MikeGoldsmith This is different than the IDisposable thing I did. That is on the global scope, this is per-span. The ask is to change the `TelemetrySpan` class to:
[code]

* Added IDisposable, which will call Stop. `SpanSdk` is already built that way.
* Added `TelemetrySpan` return type on most methods. That's the fluent/chaining part. Would require a bit of refactoring, but easy to do.

I think

[2020-06-01 20:47] tarekgh commented on #675
IIRC, this was feedback from @lmolkova but I don't have much context. @noahfalk @SergeyKanzhelev do you recall more details about that?
But, in general, I am wondering how this property is useful if marking the context as remote? I mean how this going to be used in the OT scenarios.

[2020-06-01 23:05] Aaronontheweb commented on #705
That looks right on to me.

[2020-06-02 00:28] #639 closed

[2020-06-02 00:28] #680 closed

[2020-06-02 10:19] MikeGoldsmith commented on #664
Thanks @janaka - you're correct they should be removed from nuget.org too.

I've un-listed and added deprecated warnings/redirects to all of collector packages now.

[2020-06-02 10:22] MikeGoldsmith commented on #705
Thanks for the clarification @CodeBlanch. Yes, I agree the above proposal looks good.

Even if the Activity/ActivitySource migration happens, the shim would also benefit from this change.

[2020-06-02 10:29] MikeGoldsmith commented on #709
Hi @kimbell.

The context data that you're referring to above is related to span context. I understand the negative feeling towards static state variables, particularly around unit testing. You can elect to not use static state management in unit tests by using local instances of the tracer / spans.

The static AsyncLocal context is useful in larger, more complex code systems where we do not want

[2020-06-02 13:10] kirillta commented on #699
Same on 288

[2020-06-02 14:41] MikeGoldsmith commented on #675
The `IsRemote` flag is set only on a span context that is built during propagation extraction to identify the context has a parent that was created outside the current process.

As far as I'm aware, there is no current discussion about removing it.

[2020-06-02 15:44] reyang commented on #675
I've clarified in today's OpenTelemetry specification SIG - **IsRemote is useful and will NOT be removed from SpanContext**.

[OpenTelemetry specification SIG meeting notes (06/2/2020)](https://docs.google.com/document/d/1-bCYkN-DWJq4jw1ybaDZYYmx-WAe6HnwfWbkm8d57v8/edit#).

[2020-06-02 15:49] cijothomas commented on #675
Thanks @reyang for getting this clarified! @tarekgh Could we consider making this part of ActivityContext/Activity ?

[2020-06-02 17:24] tarekgh commented on #675
Thanks @MikeGoldsmith and @reyang for confirming. I'll track this one.

[2020-06-02 23:56] janaka opened #712 "Consistent namespace use for Zipkin, Jaeger, and otlp TracerBuilderExtensions"
**Is your feature request related to a problem?**
The Zipkin and Jaeger TracerBuilderExtensions are in one namespace but the otlp TracerBuilderExtensions is in a different namespace. This is confusing and not intuitive. Is it intentional? method names are similarly inconsistent.

`namespace OpenTelemetry.Exporter.OpenTelemetryProtocol`
[OpenTelemetry.Exporter.OpenTelemetryProtocol/TracerBuilderExt

[2020-06-03 00:47] janaka opened #713 "Consistent exporter configuration between Zipkin and otlp"
**Is your feature request related to a problem?**
Otlp `ExporterOptions` doesn't have a `ServiceName` property like the Zipkin and Jaeger ones. Without this property the OTel collector "panics" and crashes.

One needs to add `.SetResource(Resources.CreateServiceResource("hello-world-api"))`

Otel
[code]

Zipkin
[code]

**Describe the solution you'd like.**
Be able to set the service name as an exp

[2020-06-03 09:37] czs1993 commented on #632
@cijothomas  thanks, In  the current project, I used OpenTelemetry version 0.2.0-alpha.100 SDK to Collect Metrics and Tracing. there have many problems,So I want to upgrade the sdk(version 0.2.0-alpha.100) to beta version. when the beta version is completed.

[2020-06-03 21:31] janaka commented on #713
Yeah, IMO inconsistency is the problem. I was considering submitting a PR but it then seemed like it was really about broader design hence better for somebody with more context. Thanks.

[2020-06-04 17:52] cijothomas commented on #434
OpenTelemetry only will have Traces(Request/Dependency in applicationinsights), Logs(Traces in applicationinsights), Metrics(Metric in applicationinsights).

Its possible we'll get Exception. But not likely for TrackAvailability/Event/Pageview.

(Additional note: This repo no longer has ApplicationInsights exporter - it'll be hosted in github.com/microsoft/somewherenotyetfinalized)

[2020-06-04 17:52] #434 closed

[2020-06-04 18:22] francisminu commented on #342
Hi
I am trying to find AddRequestCollector and AddDependenyCollector and is unable to locate the nuget. Could anyone please let me know which package this comes from?

[2020-06-04 18:35] francisminu commented on #342
@MikeGoldsmith I have the below code:
services.AddOpenTelemetry((builder) =>
            {
                builder.UseJaeger((o) =>
                {
                    o.AgentHost = "localhost";
                    o.AgentPort = 6831;
                    o.ServiceName = "SampleJaegerApplication";
                })
                .SetSampler(new AlwaysOnSampler());
            });
The only diff

[2020-06-04 18:54] CodeBlanch commented on #342
Apologies @francisminu there was some renaming. "Collectors" were renamed "Adapters" so you'll want...
* `OpenTelemetry.Adapter.AspNetCore` or `OpenTelemetry.Adapter.AspNet` to get `AddRequestAdapter`.
* `OpenTelemetry.Adapter.Dependencies` to get `AddDependencyAdapter`.

I'm doing that from memory please reply back if you get it working or I was off about something.

The bad news is they have bee

[2020-06-04 19:19] francisminu commented on #342
Thank you @CodeBlanch I will try and gte back to you. So all I need to do is add - AddDependencyAdapter and AddRequestAdapter just like it was when they were named collector?

[2020-06-04 19:27] CodeBlanch commented on #342
@francisminu Correct new names, same behavior.

[2020-06-04 19:32] francisminu commented on #342
Yes, I am using the Extensions.Hosting package. I haven't looked into the details. But straight out adding those 2 fields is giving me this error:

MissingMethodException: Method not found: 'OpenTelemetry.Trace.Configuration.TracerBuilder OpenTelemetry.Trace.Configuration.TracerBuilder.AddAdapter(System.Func`2<OpenTelemetry.Trace.Tracer,!!0>)'.

This is what my code looks like:
    services.AddOpe

[2020-06-04 19:47] CodeBlanch commented on #342
@francisminu Try this...

csproj:
[code]

Startup.cs:
[code]
[code]

[2020-06-04 19:56] francisminu commented on #342
Thank you so much @CodeBlanch - updating to version 275 of all packages seems to have fixed it. I can now see my application on the Jaeger UI. Thank you once again!

[2020-06-05 13:58] giuliano-barberi-tf commented on #506
@MikeGoldsmith @SergeyKanzhelev I'm wondering if there's been any updates to the beta readiness. As an outsider I've also read a few blog posts about using OpenTelemetry in .NET but in this repo I couldn't find whether the beta is close or not. It's been a few months since the last update I'm wondering if anything has changed. Thanks!

[2020-06-05 17:21] cijothomas commented on #506
@giuliano-barberi-tf We are currently focused on .NET Activity API integration with OpenTelemetry. We understand a lot of people are waiting for beta to arrive - I'd tentatively say June end based on this https://github.com/open-telemetry/opentelemetry-dotnet/issues/684

I'll put on an agenda on next weeks SIG meeting, to discuss more on beta release, and update back here.

[2020-06-08 23:49] reyang opened #716 "Support for .NET 4.5.2"
.NET 4.5.2 is still [supported by .NET](https://dotnet.microsoft.com/download/dotnet-framework) and will be supported until 10/10/2023.
I wonder if we need to support it in OpenTelemetry .NET SDK.

The life cycle of .NET 4.5.2 is tight to Windows Server 2012 R2 https://docs.microsoft.com/en-us/lifecycle/faq/dotnet-framework:
* Support for .NET 4.5.2 follows the lifecycle policy of the parent OS. I

[2020-06-11 23:36] eddynaka commented on #716
I started to add supportability to some of the Exporters. OpenTelemetry.Exporter.Console depends on System.Text.Json, but that doesn't work for .NET 4.5.2. Should I use Newtonsoft instead? If Yes, which version should I add?

[2020-06-11 23:40] cijothomas commented on #716
ConsoleExporter is just for local testing, and not official OT exporter. its fine to leave it without 452

[2020-06-11 23:41] eddynaka commented on #716
hi @cijothomas , thanks for the answer.

Next question: .net 452 DateTimeOffset doesn't have `ToUnixTimeMilliseconds`. What would be a good replace for that?

[2020-06-11 23:43] cijothomas opened #721 "Add ActivityExporter for Zipkin"
Similar to Jaeger/Otlp, we need to make Zipkin exporter work with Activity.

Opening an issue as @rajkumar-rangaraj agreed to work on this. Cannot assign to him as not a OT member yet.

[2020-06-12 00:27] eddynaka commented on #716
looking at [reference source](https://referencesource.microsoft.com/#mscorlib/system/datetimeoffset.cs,8f33340c07c4787e) we can see the function logic:
[code]

Should I add this function somewhere?

[2020-06-12 00:37] reyang commented on #716
One possible way - make an extension method `ToUnixTimeMilliseconds` and guard it using `NET452`, scope it so it is only visible to this project.

[2020-06-12 00:39] eddynaka commented on #716
@reyang , where do you suggest to create that?

[2020-06-12 00:48] reyang commented on #716
https://docs.microsoft.com/en-us/dotnet/csharp/programming-guide/classes-and-structs/extension-methods

[2020-06-13 06:12] cijothomas commented on #708
The `ShouldListenTo` callback is not in the hotpath as its **only** called when ActivitySource is created.
(https://github.com/dotnet/runtime/blob/master/src/libraries/System.Diagnostics.DiagnosticSource/src/System/Diagnostics/ActivitySource.cs#L37)

`GetRequestedDataUsingContext` or `GetRequestedDataUsingParentId` are the ones invoked with every `StartActivity`.

As `ShouldListenTo` is only invok

[2020-06-15 12:33] alexeyzimarev opened #728 "Pooling StringBuilder instances"
OpenTelemetry for .NET extensively uses `StringBuilder` that is continuously instantiated and, therefore, allocated and then loads the GC.

The object pooling ASP.NET Core extensions allow pooling object instances, in particular, `StringBuilder` even has a default policy. It is quite easy to use but it also introduces a dependency. Would it be a good idea to implement a simplified string builder p

[2020-06-15 17:00] cijothomas commented on #728
Will the dependency be required only for exporter projects? or OT SDK itself?

[2020-06-15 22:04] francisminu opened #729 "Tracing multiple applications"
Hi,

I am trying to implement Tracing using OpenTelemetry. I am relatively new to OpenTelemetry and have been trying to figure out the same since a week. I am able to get it working in my Hosted service on its own. I am able to see the traces in Jaeger. Our use case is as follows:
1. We have an API which then has a hosted service started from it.
2. We need to trace the request starting from API a

[2020-06-15 23:47] cijothomas commented on #729
I am not sure if I understood the question correctly, so here's my interpretation:
You have an asp.net core application which has a web component (reacting to http requests) and then there is a hostedservice as well. And you are trying to correlate telemetry from the hostedservice with the one from webcomponent.

Is my understanding of your question correct?

If yes, could you tell how is the comm

[2020-06-16 14:05] francisminu commented on #729
Hi Cijo,

Yes, what you have explained correctly. We have rabbitmq as the middle piece. The API will be publishing the messages to a queue and the hosted service subscribes to the same queue. In this case, how do I get the hosted service to act as a child of the span that was created for the message (just before publish). I am looking for a functionality similar to the one OpenTracing provides whe

[2020-06-16 17:36] cijothomas commented on #729
RabbitMQ is not supported out-of-the-box.
You'll need to manually propagate context (from Activity) into the messages and later extract it at the receiving end, and start activity based off it.

[2020-06-16 17:42] francisminu commented on #729
The extract part is the one I am struggling with. Do you have some sample on how this can be done?

[2020-06-16 17:48] cijothomas commented on #729
**High level:**

For injection: `Activity.Current.Context` would have the TraceId, SpanID, etc.  Put this into the RabbitMQMessage.

Extraction & Restore:
Retrieve the context from the RabbitMQ message.
Then start a new activity with parentid = the one extracted from rabbitmq message.

I'll see if there are examples doing this.

[2020-06-16 20:07] francisminu commented on #729
Thanks Cijo. I will take a look at this approach. @cijothomas

[2020-06-17 19:33] cijothomas opened #736 "Default Listening model for ActivitySource"
The current SDK behavior is to listen to only those ActivitySources which are explicitly configured by the user.

https://github.com/open-telemetry/opentelemetry-dotnet/blob/master/src/OpenTelemetry/Trace/Configuration/OpenTelemetrySdk.cs#L89

Adding a ActivitySource is done using builder.AddActivitySource()
https://github.com/open-telemetry/opentelemetry-dotnet/blob/master/src/OpenTelemetry/Trace

[2020-06-18 01:33] czs1993 commented on #506
The beta is completed? the readliness haven’t update for a long time. Thanks!

[2020-06-19 20:29] eddynaka commented on #716
From what i can see, we still have this projects:
- OpenTelemetry.Api: this targets net45, should i change to 452 or add 452?
- OpenTelemetry.Exporter.Jaeger: we have some methods that doesn't exist in 452, for example, TryGetBuffer. Should i migrate this or should leave this way?
- OpenTelemetry.Exporter.Zipkin: i saw the use of Utf8JsonWriter from System.Text.Json, but, if we target 452, we woul

[2020-06-19 20:35] cijothomas commented on #716
For API - i think we can change to net452. There should be no need to support net45 as net45 is no officially supported framework anymore.

@reyang do we have to make Zipkin/Jaeger work for net452 ? Or we can leave them as not supported for net452?

[2020-06-19 21:04] eddynaka commented on #716
@cijothomas , ok, i will open a new pr just updating net452 to api project. for jaeger, the main problem is the task.cancellation. for the other parts, i found a workaround.

[2020-06-19 23:41] #721 closed

[2020-06-20 02:26] reyang commented on #716
@eddynaka @cijothomas regarding `Newtonsoft.JSON` for 4.5.2, alternative way is [JavaScriptSerializer](https://docs.microsoft.com/en-us/dotnet/api/system.web.script.serialization.javascriptserializer).

[2020-06-20 02:28] reyang commented on #716
I don't see an immediate need for now. I think net452 should cover API, SDK and integration with .NET (e.g. ASP.NET). Other parts are nice to have but not required.

[2020-06-20 02:31] reyang commented on #716
Given [4.5 and 4.5.1 were deprecated since 2016-01-12](https://dotnet.microsoft.com/download/dotnet-framework), I think it won't make much sense to support them.

[2020-06-22 17:08] eddynaka commented on #716
Hi all,

just to update:
- OT.Exporter.Zipkin: PR opened
- OT.Exporter.Jaeger: having some problems with `Task.FromCanceled` that isn't available in net452. Still didn't find an answer for that.
- OT.Api: PR merged
- OT.Instrumentation.StackExchangeRedis: we have a dependency that we can't use for net452.

[2020-06-22 20:05] reyang opened #745 "Incorrect assembly version in NuGet package"
**Describe your environment.**
* SDK version: 0.2.0-alpha.275

**Steps to reproduce.**
Download the nuget package, extrac the binary file, use [ILSpy](https://github.com/icsharpcode/ILSpy/releases) to check the assembly version.

**What is the expected behavior?**
Assembly version should be `0.2.0.275`.

**What is the actual behavior?**
Assembly version is `0.0.0.0`.

[2020-06-22 20:14] cijothomas commented on #675
Posted a doc with this:
https://docs.google.com/document/d/1iFHnvaTohbmHtGQWR1eijHkhYrForq8xhmpS0gp06gE/edit

[2020-06-22 21:32] #575 closed

[2020-06-22 21:33] cijothomas commented on #506
No. This repo has never released a beta. We expect to have discussion on this tomorrow's SIG meeting.

[2020-06-22 22:48] reyang opened #746 "Strong-name signing"
The current assemblies seem to be signed use a debug/test cert.
1. Do we need strong-name signing? (I think yes but would like to get perspectives from others).
2. What should be the signing certificate? (e.g. creating an OpenTelemetry one?)

[2020-06-23 23:41] SergeyKanzhelev commented on #746
many enterprises and lib authors sign their assemblies and .NET forbid non-signed references from the signed assembly. We are signing with publicly available cert. This seems to be the common practice for many OSS libraries. Creating a private key will likely require to create a process to grant this key to vendors to build hotfixes to simplify customer support and critical security bug fixes (whi

[2020-06-23 23:42] SergeyKanzhelev commented on #746
Please re-open if this is an issue and we need more discussion.

[2020-06-23 23:42] #746 closed

[2020-06-24 17:34] bruno-garcia commented on #662
Closing this since we agreed so far not to use GH packages

[2020-06-24 17:34] #662 closed

[2020-06-27 14:26] eddynaka opened #750 "GitHub Actions vs Azure Pipeline"
Today, we are using Azure Pipeline to build/test/publish everything.

Since we are including more and more frameworks, the tests will start to take more and more time.

My proposal is to change to GitHub Actions and use the parallel job that they offer:
Steps:
1. restore -> build -> archive
2. tests (download archive)
2.a) test.net452
2.b) test.netcoreappxx
...

with that, we could achieve a bette

[2020-06-29 22:07] Brandon-Kimberly commented on #750
There is a [related proposal](https://github.com/open-telemetry/community/issues/398) on the community repository to switch all CI/CD pipelines to GitHub Actions. Feel free to reach out to me, @alolita , or @trask (who is the mentor for this proposal) if you'd like.

[2020-06-29 22:22] cijothomas commented on #750
My #1 reason of switching from Azure pipeline to GH Action is the ability for anyone to see the CI logs right inside Github without navigating to another website (azure devops). Its already captured in the proposal @Brandon-Kimberly shared!

@eddynaka I think all the perf boosts we get via GH Actions (via parallelization) can be achieved in Azure pipeline as well. But anyways, for this and all oth

[2020-06-29 22:25] eddynaka commented on #750
@Brandon-Kimberly / @alolita / @trask , don't know if u know, but i didn't find a reliable code-coverage report to be published. Do u have a guidance for that? Besides that, i have already created a PR. Let me know what do you think about that strategy as well! Thank you!

[2020-06-30 01:28] czs1993 commented on #506
@cijothomas  thanks, looking forward to the repo update.

[2020-06-30 20:12] cijothomas commented on #577
@rajkumar-rangaraj .

[2020-06-30 20:18] cijothomas commented on #237
This is done.

[2020-06-30 20:18] #237 closed

[2020-07-01 00:15] yallie opened #756 "OpenTelemetry + Jaeger span overlapping"
I'm observing strange behavior when my telemetry spans overlap,
so that a parent span is closed earlier than its child span, like this:

[code]

When this happens, parent-child relationships between spans are broken.
Also, spans don't seem to be properly aligned to the time axis.

**Environment**

* SDK version: 0.2.0-alpha.275 (built from master)
* .NET runtime version: 4.62
* Platform and OS ver

[2020-07-01 01:32] pjanotti opened #757 "Test: flaky test on Windows: OpenTelemetry.Trace.Test.EventTest.FromDescription"
On AzurePipelines: https://dev.azure.com/opentelemetry/pipelines/_build/results?buildId=2099&view=logs&j=2d2b3007-3c5c-5840-9bb0-2b1ea49925f3&t=e17bc6ea-ce1d-53b5-abd4-e6afca33044d See PR #752

[code]

[2020-07-01 20:04] #750 closed

[2020-07-01 21:26] #708 closed

[2020-07-02 13:09] yallie opened #762 "Specifying ServiceName per Tracer or per Span"
Hello!

I have a monolithic application with lots of services implemented as classes, in one process.
I'd like to have all my traces attributed to their services in Jaeger UI.

As far as I see, the only way to specify a service name is to create a `TracerFactory`:

[code]

But I'd like to avoid creating so many tracer factories.
I prefer having a single global tracer factory in my server process.

[2020-07-02 21:03] mdonoughe commented on #76
I think, at least with the current versions, there need to be new traces.

I'm seeing if I have an active span and then make a GRPC call, the GRPC code begins an activity before it calls HttpClient, which begins an activity before making the HTTP call. OpenTelemetry is picking up only the activity started by HttpClient and generating a span from it. Because OpenTelemetry does not generate a span f

[2020-07-02 21:08] eddynaka commented on #76
I think that would be solved by this: https://github.com/open-telemetry/opentelemetry-dotnet/pull/687

[2020-07-03 12:11] eddynaka commented on #653
@pjanotti , what are your suggestions to solve this? Are we talking about the `struct Status` from `OpenTelemetry.Api`?

[2020-07-06 12:23] enzian opened #767 "Log to Spans"
I there an idiomatic way of getting Logs written to a Span? This would accomplish two things at once - eliminate the need for collecting running console outputs and on the other hand it would enable the user to decouple the code from direcly writing to the logs of the current span... The issue I'm facing here is that I am not really clear on the best method to get something like this done. One sol

[2020-07-06 16:23] cijothomas commented on #767
@reyang was doing experiments on something similar. Can you comment on this?

[2020-07-06 16:38] reyang commented on #767
@enzian would you clarify the goal here? It seems that you want logs from ILogger to be attached as Span Events - why would you want to take this approach?
* In OpenTelemetry, logs are separate from traces (spans), logs are different from span events as they following different processing and sampling path.
* Calling a `logger.LogError` shouldn't have side effect to span status.

[2020-07-06 21:06] eddynaka commented on #716
@reyang , just to let you know, we ported almost all to 452, except the list below:
- OT.Exporter.Jaeger: ported to .NET 4.6
- OT.Instrumentation.StackExchangeRedis: already ported to .NET461 (because we have a nuget dependency)

Maybe we can close this. What do you think?

[2020-07-06 21:46] #716 closed

[2020-07-06 21:46] reyang commented on #716
Roger that, thanks @eddynaka!

[2020-07-06 23:27] rajkumar-rangaraj opened #769 "Revise dispose pattern in SpanProcessor/ActivityProcessor"
`Dispose` pattern in `SimpleSpanProcessor`, `SimpleActivityProcessor`, `BatchingSpanProcessor` and `BatchingActivityProcessor` needs to be revised. As @reyang mentioned `ShutdownAsync` is not thread safe, race condition could happen for this.stopping, and it would re-enter to re-execute the same code.

Raised as a part of PR: https://github.com/open-telemetry/opentelemetry-dotnet/pull/755#discussi

[2020-07-07 00:52] alanwest commented on #482
Instrumentation for Grpc.Net.Client has been merged. I aim to get the ASP.NET Core functionality in place this week.

[2020-07-07 04:59] #745 closed

[2020-07-07 05:38] cijothomas opened #773 "HttpClient instrumentation is broken when using non default HttpClient"
Nothing actionable for this repo, but opening an issue for awareness. The issue is tracked in the .NET Runtime repo.
https://github.com/dotnet/runtime/issues/31261

[2020-07-07 12:14] eddynaka opened #778 "Build error"
After we merged the PR https://github.com/open-telemetry/opentelemetry-dotnet/pull/768, we started to face some issues for the users who tried to build using VS2019.

The issue is related to a tag that we added to solve the MinVer Version:
[code]

[2020-07-07 19:32] ayusheesingh opened #781 "Implement Adaptive Sampling"
Implement adaptive sampling for OpenTelemetry, where customers can set a max number of telemetry items per second and the sampling rate will adjust accordingly.

[2020-07-08 08:03] kirillta opened #784 "OpenTracing.Api requires private dependency"
All available OpenTracing.Api packages require a private dependency on `System.Diagnostics.DiagnosticSource 5.0.0-preview.7.20308.13` but the last public version is `5.0.0-preview.6.20305.6`.
Older versions are removed from MyGet and in result I can't build my projects.
Could you give me any advice about that situation?

[2020-07-08 09:55] JamesNK opened #785 "Updated to latest OpenTelemetry and ASP.NET Core requests are no longer recorded"
**Describe your environment.** Describe any aspect of your environment relevant to the problem:
* SDK version: 0.2.0-alpha.352 (from myget)
* .NET runtime version .NET Core 3.1
* Platform and OS version: Windows 10

**Steps to reproduce.**
1. Clone https://github.com/JamesNK/grpc-dotnet/tree/jamesnk/update-opentelemetry-grpc-instrumentation
2. Run Aggregator server sample (instructions https://git

[2020-07-08 14:20] cijothomas commented on #785
Checking this..

[2020-07-08 15:05] cijothomas commented on #785
![image](https://user-images.githubusercontent.com/5232798/86932987-e41bd480-c0ee-11ea-9a87-f63b16b418aa.png)
Asp.Net Core instrumentation is sending null tag value and Zipkin is rejecting.
1. need to fix instrumentation & add tests (with upcoming changes to Activity, setting null value will be ignored as spec warrants it)
2. fix zipkin exporter to sanitize & not send null tags.

[2020-07-08 18:21] cijothomas commented on #784
Can you add the following nuget source as well?
<add key="Dotnet5" value="https://pkgs.dev.azure.com/dnceng/public/_packaging/dotnet5/nuget/v3/index.json" />

@MikeGoldsmith can you help with publishing that version from myget before updating to diagnosticsource preview7, to nuget.org?

[2020-07-08 20:50] JamesNK commented on #785
I retried with the latest packages and it is fixed.

[2020-07-08 20:58] JamesNK commented on #482
I tried out the Grpc.Net.Client telemetry, and recording the correct status is a good improvement 👍

One change I wonder about: Should the original custom activity tags be removed? Highlighted in red below. That information is now in the green metadata.

![image](https://user-images.githubusercontent.com/303201/86969610-295d0680-c1c2-11ea-8852-d66d1b537154.png)

[2020-07-08 21:52] reyang opened #789 "System.Net.Http.DelegatingHandler instrumentation"
Customers using [`DelegatingHandler`](https://docs.microsoft.com/dotnet/api/system.net.http.delegatinghandler) need to write their own instrumentation and propagation for both the client and server code.

The ask is to add official OpenTelemetry support by providing the DelegatingHandlers (which generates the activity with the proper tags, and propagate the TraceContext headers).

[2020-07-08 21:55] cijothomas commented on #789
related: https://github.com/open-telemetry/opentelemetry-dotnet/issues/773

[2020-07-08 23:28] eddynaka commented on #728
@cijothomas , i think @alexeyzimarev  was talking about ObjectPool https://docs.microsoft.com/en-us/aspnet/core/performance/objectpool?view=aspnetcore-3.1, which we would need to install https://www.nuget.org/packages/Microsoft.Extensions.ObjectPool.

Basically, we would need to inject:
[code]

and, then, use it:
[code]

[2020-07-09 10:49] eddynaka commented on #76
@cijothomas , i think we can close this, since the issue #687 was closed as well.

[2020-07-09 12:58] kirillta commented on #784
Yes, that helped, thanks

[2020-07-09 12:58] #784 closed

[2020-07-09 14:11] #76 closed

[2020-07-09 15:09] eddynaka commented on #713
@pjanotti , should we rename from `UseOpenTelemetryProtocolExporter` to `UseOpenTelemetryProtocol` or something like that?

[2020-07-10 04:50] #577 closed

[2020-07-10 06:54] #713 closed

[2020-07-10 07:23] enzian commented on #767
@reyang I am aware, that event != logs. There is two reasons for me wanting to use them to carry logging information though. Please correct me if I'm going wrong on any of them or if there are better or more ideomatic solutions to any of these problems.

The first problem is, that I want to decouple my code for as many depencencies as possible. The way I'd have to record things right now is to wri

[2020-07-10 07:59] reyang commented on #767
This doesn't sound correct to me. Logs/Metrics/Traces are very different things and the OpenTelemetry philosophy is to separate them via different set of APIs. Technically speaking, one could use metrics API for logging and put all the information as dimensions, or use logging API for metrics by putting dimensions as individual fields for a log entry - I don't think OpenTelemetry would encourage s

[2020-07-10 15:07] eddynaka commented on #712
With the PR https://github.com/open-telemetry/opentelemetry-dotnet/pull/794, we solved this.
@cijothomas , i think we can close this issue as well.

[2020-07-10 16:12] cijothomas commented on #712
Not yet. The namespaces are not fixed to be consistent.

[2020-07-10 20:45] #712 closed

[2020-07-12 16:33] alanwest commented on #482
Interesting thought. I can make this change. Though, is there any concern that anything other than OTel may depend on the tags generated from the library?

[2020-07-13 17:41] CodeBlanch commented on #778
Are we sure this is fixed? I'm trying to run the benchmarks, so I have to build in release. When I do, the block above generates an error:
[code]

I did some debugging. With `MinVer` you can see the output of the variables if you add...
[code]
Which gives me this...
[code]
Everything looks fine. So I suspect the issue is with our syntax and not `MinVer`? Maybe the target order?

[2020-07-13 18:01] eddynaka commented on #778
@CodeBlanch , The problem is: the version is invalid with the `-alpha` string. It's why I added the substring and create the version manually. So, what I did to test if the props worked:
`dotnet build --configuration Release`

Right now, i saw that doing inside VS, it's showing the error, as if the values didn't exist and isn't respecting the order of things. Let me try some stuff.

[2020-07-13 18:07] eddynaka commented on #778
@CodeBlanch , can you try this:

[code]

[2020-07-13 18:14] CodeBlanch commented on #778
@eddynaka Thanks. I tested it, seems to work fine (in that the version stuff is skipped). FYI you can combine the conditions into one statement like this:

[code]

[2020-07-13 18:44] #778 closed

[2020-07-14 02:55] rajkumar-rangaraj opened #808 "Convert OpenTracing shim to use activity"
Convert OpenTracing shim `OpenTelemetry.Shims.OpenTracing` to use `Activity` instead of `TelemetrySpan`

[2020-07-14 02:56] rajkumar-rangaraj commented on #808
#assign rajkumar-rangaraj

[2020-07-14 05:51] cijothomas opened #809 "Filter activites proposals."
(copy-pasted from meeting agenda, not formatted correctly. Will edit later.)

Filtering of dependencies from httpclient. 4 approaches to compare and discuss.
	1 - Use Activity processor - OT spec approach, not so performant as allocations are still done.
	2 - Use Sampler (special one wrapping existing samplers) - OT spec supports this, and this is better than above, as some allocations are saved.

[2020-07-14 14:59] eddynaka opened #811 "Old nuget packages still available"
I think we should remove the following package from nuget.org:
- https://www.nuget.org/packages/OpenTelemetry.Hosting/0.2.0-alpha.220

Update this packages for the new namespace package (`Instrumentation`):
- https://www.nuget.org/packages/OpenTelemetry.Adapter.AspNet/0.2.0-alpha.275
- https://www.nuget.org/packages/OpenTelemetry.Adapter.AspNetCore/0.2.0-alpha.275
- https://www.nuget.org/packages/

[2020-07-14 16:37] eddynaka opened #812 "MyGet pipeline failing"
Today i saw that the MyGET pipeline is failing: https://dev.azure.com/opentelemetry/pipelines/_build/results?buildId=2220&view=logs&j=12f1170f-54f2-53f3-20dd-22fc7dff55f9&t=b801fef0-4998-5417-6df0-af092da60315

[code]

[2020-07-14 16:47] #812 closed

[2020-07-14 17:03] eddynaka commented on #812
FYI, the new version is running and already published the version 372 on MyGet!

[2020-07-14 20:59] cijothomas commented on #506
Updated: As discussed, beta date is postponed from July 17 to July 24, so as to have DiagnosticSourcepreview7 available on Nuget. (OT packages depends on this package)

[2020-07-14 21:14] eddynaka opened #817 "Convert Zpages to Activity style"
Convert ZPages to activity style
Add tests

[2020-07-14 21:14] eddynaka commented on #817
#assign eddynaka

[2020-07-14 21:40] pcwiese opened #819 "Expose constants for all Tracing semantic attribute names according to the specification"
The semantic conventions documented here should be used as a guide
https://github.com/open-telemetry/opentelemetry-specification/blob/master/specification/trace/semantic_conventions/README.md

[2020-07-14 21:58] pjanotti commented on #811
IIRC we can't delete a package at nuget.org, but delisting seems a good idea. That said I don't think it is worth updating the old packages to the new namespace

[2020-07-15 06:18] #819 closed

[2020-07-15 19:54] cijothomas commented on #19
This should be complete now. @pjanotti Can you confirm and close this?

[2020-07-15 20:28] reyang commented on #809
FYI - in Python there is a [`suppress_instrumentation`](https://github.com/open-telemetry/opentelemetry-python/search?q=suppress_instrumentation&unscoped_q=suppress_instrumentation) flag.

[2020-07-15 20:42] reyang commented on #809
I think we need to clarify the scenario first, here are the scenarios that I can see:
1. As a customer using OpenTelemetry, I want to have a way to **opt out certain instrumentation based on my business rule**. For example, I'd like the HTTP client to give me traces only for my real customer traffic, not for the requests coming from crawlers and bots. In this way, I would expect something like a b

[2020-07-15 20:44] CodeBlanch commented on #809
@reyang

[2020-07-15 20:47] CodeBlanch commented on #809
Sorry accidentally closed the issue.

[2020-07-15 21:39] alanwest commented on #809
This is not really about a client side request, right? This seems more about filtering requests server side. If we consider the proposed API then, for ASP.NET core for example, I think we'd want something like:

[code]

Perhaps we can either think of a way to generalize the idea of the FilterFunc to accommodate arbitrary payloads based on instrumentation. Or maybe it just makes sense to focus on t

[2020-07-15 22:15] reyang commented on #809
It is just one example, the scenario could cover both client/outgoing request and server/incoming request.

I'm fine with either way as long as perf is reasonable (e.g. we don't do reflections and sacrifice performance in order to be generic).

[2020-07-15 23:46] #817 closed

[2020-07-16 00:03] cijothomas opened #829 "ActivityKind set using reflection"
ActivityKind is set using reflection now.
https://github.com/open-telemetry/opentelemetry-dotnet/blob/master/src/OpenTelemetry.Instrumentation.Dependencies/Implementation/HttpHandlerDiagnosticListener.cs#L78-L79

This is because Activity for old DiagnosticSource based instrumentation will have Kind set to Internal always and that needs to be updated to the correct Kind. It was originally assumed t

[2020-07-16 00:05] cijothomas opened #830 "BatchingActivityProcessor test flakiness"
Opening an issue to track fixing the flaky test inside BatchingActivityProcessor. Some improvements were already made to this, but we need to make it succeed 100% of the time.

[2020-07-16 00:06] cijothomas commented on #830
Assigned to @rajkumar-rangaraj

[2020-07-16 00:18] cijothomas commented on #729
Closing as no further action needed. Please reopen or open new issue, if there are followups.

[2020-07-16 00:18] #729 closed

[2020-07-16 00:21] cijothomas commented on #540
Closing as the proposals are approved and are shipped/or coming with preview 8 of .NET 5

[2020-07-16 00:21] #540 closed

[2020-07-16 01:15] eddynaka opened #831 "How to simplify the usage of OT and Instrumentation"
Right now, if we want to use OT and Instrumentation for aspnetcore we would have to:
[code]

So, the idea was to simplify this..the user wouldn't need to add all this lines.

When we started the idea of the "metapackages", it would work like: `services.AddOpenTelemetryWithInstrumentation`, but, that had a problem, because i wasn't exposing the OpenTelemetryBuilder, with that, I couldn't add the `E

[2020-07-16 02:37] pcwiese commented on #19
We are still missing the instrumentation library in the exports...

[2020-07-16 05:17] #830 closed

[2020-07-16 12:53] eddynaka commented on #829
Hello,

I did some tests using two options:
- Reflection
- Expression

Reflection (the same that we have right now):
[code]

Expression:
[code]

With that, I achieved using BenchmarkDotNet:
|                 Method |      Mean |    Error |    StdDev |
|----------------------- |----------:|---------:|----------:|
| ActivityWithReflection | 254.23 ns | 5.175 ns | 11.994 ns |
| ActivityWithExpression

[2020-07-17 23:28] #829 closed

[2020-07-18 03:50] CodeBlanch commented on #785
Fixed on #832.

[2020-07-18 03:50] #785 closed

[2020-07-18 04:00] #767 closed

[2020-07-18 04:06] CodeBlanch commented on #809
I found a few examples (I think) in other OTel repos:

Python
https://opentelemetry-python.readthedocs.io/en/latest/ext/aiohttp_client/aiohttp_client.html#opentelemetry.ext.aiohttp_client.create_trace_config

Java
https://github.com/open-telemetry/opentelemetry-java-instrumentation/blob/9f1ffbe38c9aaba9bd4886b10ccdd98c7af34ec2/instrumentation-core/spring/spring-webmvc-3.1/src/main/java/io/opentele

[2020-07-18 04:07] #138 closed

[2020-07-18 04:08] reyang commented on #204
#645

[2020-07-18 04:08] #204 closed

[2020-07-18 04:09] reyang commented on #586
#645

[2020-07-18 04:09] #586 closed

[2020-07-18 04:13] reyang commented on #455
#665

[2020-07-18 04:13] #455 closed

[2020-07-18 04:26] #690 closed

[2020-07-18 04:29] #476 closed

[2020-07-18 04:33] reyang commented on #584
https://github.com/open-telemetry/community/issues/325

[2020-07-18 04:33] #584 closed

[2020-07-18 05:30] reyang commented on #809
I support you @CodeBlanch.

[2020-07-18 15:07] cijothomas commented on #809
`public Action<HttpRequestMessage, Activity> StartAction { get; set; }` - This one is a separate topic and we can discuss it separately before adding that.

`public Func<HttpRequestMessage, bool> FilterFunc { get; set; }` - Agree with this and equivalent with `HttpWebRequest`

[2020-07-18 15:57] #642 closed

[2020-07-18 18:40] eddynaka commented on #769
@reyang , for this, do you think a simple lock in a variable in the dispose method would work? Or do you have something else in your mind?

[2020-07-18 21:11] reyang commented on #769
Yes, a simple lock should solve the problem.

[2020-07-19 13:28] dbarbashov opened #843 "Implement MassTransit Instrumentation"
[MassTransit](https://github.com/MassTransit/MassTransit) is a popular distributed application framework for .NET. It already [emits events with DiagnosticSource](https://masstransit-project.com/advanced/monitoring/diagnostic-source.html) so it would be easy to implement MassTransit instrumentation for OpenTelemetry.

[2020-07-20 20:49] CodeBlanch commented on #273
@cijothomas @rajkumar-rangaraj FYI I'm working on bringing us up to spec as it is right now with regard to Probability & ParentOrElse sampler. Should have a PR up soon, just working on tests.

#### Probability

* The `ProbabilitySampler` MUST ignore the parent `SampledFlag`.
  To respect the parent `SampledFlag`, the `ProbabilitySampler` should be used as a delegate of the `ParentOrElse` sampler s

[2020-07-20 23:16] alanwest opened #854 "End-to-end sample applications"
Goal is to develop a set of slightly more sophisticated example applications. The applications should be easy to run - probably using docker-compose to stand up all the dependencies.

Below is a quick outline of what this suite of examples will include. Feedback and thoughts of what else to include is welcome.

#### What the examples should demonstrate
* Available instrumentation
  * ASP.NET
  * A

[2020-07-20 23:24] alanwest commented on #273
I asked Mom and she said, "LGTM." (looks good to mom)

[2020-07-21 17:48] TimothyMothra opened #864 "EventSource using incorrect event ID"
# Part 1
Found a bug in the `JaegerExporterEventSource` class.

The ID in the Event Attribute (line 56) should match the id in the call to `WriteEvent` (line 59). This is an easy fix.
https://github.com/open-telemetry/opentelemetry-dotnet/blob/4aefc62df8b3357607cf5aa4c672efcf737cb7c8/src/OpenTelemetry.Exporter.Jaeger/Implementation/JaegerExporterEventSource.cs#L56-L60

# Part 2
I think the bigger

[2020-07-21 19:59] #864 closed

[2020-07-22 05:17] reyang opened #872 "Should we move Benchmark to test folder before beta release?"
Technically benchmark / integration test / stress test are all tests (which we don't ship as part of the final bits).
We might want to move the benchmark project under `test` folder in order to have less top level folders.

[2020-07-22 05:21] reyang opened #873 "Should we continue to use sample or change to example before beta release?"
Something I always wanted to ask but forgot due to lower priority...

Other OpenTelemetry projects use `example` other than `sample`, .NET is the strange one here:
* C++ https://github.com/open-telemetry/opentelemetry-cpp/tree/master/examples
* Python https://github.com/open-telemetry/opentelemetry-python/tree/master/docs/examples
* Go https://github.com/open-telemetry/opentelemetry-go/tree/master

[2020-07-22 07:13] cijothomas opened #876 "Remove public InstrumentationEventSource"
InstrumentationEventSource is public now. This means any user can use it to log to the same eventsource, which we don't want.
https://github.com/open-telemetry/opentelemetry-dotnet/blob/master/src/OpenTelemetry/Instrumentation/InstrumentationEventSource.cs#L28

Make this internal and probably rename to InstrumentationHelperEventSource or similar.
Every other Instrumentation - Depenencies, Asp.Net

[2020-07-22 11:10] eddynaka commented on #873
Looking at the other repositories, C++ / Go / Java have the example(s) folder. For python, its inside docs, and that docs is the generated one...

I think we can change to Examples folder/namespace as well.

Let me know. I can submit a PR.

[2020-07-22 12:44] alexeyzimarev commented on #728
That's right. I think it can significantly decrease allocations but it introduces a dependency. Maybe it will be built-in in .NET 5, who knows.

[2020-07-22 13:49] cijothomas commented on #728
Thanks for clarifying. @alexeyzimarev could you point couple of places where we use the string-builder and are candidates for this? We need to evaluate if using ObjectPool, or own implementation of similar would be justified.

[2020-07-22 13:51] cijothomas commented on #873
Okay to rename sample to example.

[2020-07-22 13:54] eddynaka commented on #873
Let's use **Examples**, since we will have more than one.

[2020-07-22 14:34] #876 closed

[2020-07-22 16:16] dbarbashov opened #882 "Establish release cycles in both this and contrib repo"
Right now there is no formal release cycle and no actual information about planned features/milestones and overall project status. There is no way for contributors to know when to expect next release.
From gitter: as @CodeBlanch said right now packages are pushed on demand. So we need to establish release cycles with milestones. About after beta as @cijothomas said.

[2020-07-22 16:18] #873 closed

[2020-07-22 16:31] cijothomas commented on #882
I'll cleanup milestones in this repo first, then do the contrib repo. Both will happen after the current beta release.

[2020-07-22 17:38] rajkumar-rangaraj commented on #808
No conversion is required. PR #859 addresses this issue just by using Otel span shim.

[2020-07-22 17:38] #808 closed

[2020-07-22 19:37] #769 closed

[2020-07-22 20:42] cijothomas commented on #872
Agree.

[2020-07-22 20:46] eddynaka commented on #872
I can move that.

[2020-07-22 20:49] eddynaka commented on #872
@cijothomas / @reyang , should we change to test/benchmarks or should we just copy the projects from benchmarks and add to test folders? What do you think?

[2020-07-22 20:54] reyang commented on #872
No strong opinion here. I guess just move the project? For example https://github.com/JamesNK/Newtonsoft.Json/tree/master/Src/Newtonsoft.Json.Tests/Benchmarks.

[2020-07-22 21:02] christopher-taormina-zocdoc opened #884 "B3Format extract creates an ActivityContext with default id when not passed in the request"
**Describe your environment.** Describe any aspect of your environment relevant to the problem:
* SDK version: 0.0.0-alpha.428 of OpenTelemetry.Exporter.Zipkin, OpenTelemetry.Extensions.Hosting, OpenTelemetry.Instrumentation.AspNetCore, OpenTelemetry.Instrumentation.Dependencies
* .NET runtime version (.NET or .NET Core, TargetFramework in the .csproj file): .netcore 2.1
* Platform and OS version:

[2020-07-23 00:09] #872 closed

[2020-07-23 01:59] cijothomas opened #888 "Separate OpenTelemetry.Instrumentation.Dependencies into individual projects"
https://github.com/open-telemetry/opentelemetry-dotnet/tree/master/src/OpenTelemetry.Instrumentation.Dependencies current has HttpClient, SqlClient, GrpcClient.
Proposing to split them into separate own package, rather than the "bundle" :)

[2020-07-23 01:59] #668 closed

[2020-07-23 02:00] cijothomas commented on #84
benchmarking is ready. Atleast basic version. We can improve in future.

[2020-07-23 02:00] #84 closed

[2020-07-23 02:00] cijothomas commented on #576
Done.

[2020-07-23 02:00] #576 closed

[2020-07-23 02:00] #573 closed

[2020-07-23 02:01] cijothomas commented on #376
This is addressed and merged. Closing.

[2020-07-23 02:01] #376 closed

[2020-07-23 03:59] CodeBlanch commented on #888
Personally, I like them together. I feel like we have too many packages already 🤣 Is this what the other SIGs do?

[2020-07-23 04:16] ejsmith opened #893 "Don't record child activities"
I am trying to create an instrumentation for the Elasticsearch.Net client. Internally, it's using HttpClient. I'd like to only record the Elasticsearch call and the details about it and have it show up as a `db.system` of type `elasticsearch`. I've got that much working, but the problem is that it's also recording the internal HttpClient call. Is there some way I can cancel recording all child act

[2020-07-23 05:07] ejsmith opened #894 "Ability to register DI services inside of TracerProviderBuilder"
I am working on implementing an in memory exporter that will keep the last X or most expensive X traces in memory and then show them in an API endpoint in your app. The problem is that I want to register my exporter as a singleton in the DI container, but I don't have access to the `ServicesCollection` when I am calling `AddProcessorPipeline` inside of the `TracerProviderBuilder`. It is pretty com

[2020-07-23 06:46] cijothomas commented on #893
@alanwest faced the same issue Grpc, which is on top of httpclient. We need to solve the problem in generic way to address both these and other future scenarios.
(I don't know of a perfect solution, but will come back to this next week)

[2020-07-23 07:03] cijothomas commented on #894
Would this help - https://github.com/open-telemetry/opentelemetry-dotnet/blob/master/src/OpenTelemetry.Extensions.Hosting/OpenTelemetryServicesExtensions.cs#L59

[2020-07-23 07:06] cijothomas commented on #888
This is necessary. I don't see any strong reason to keep them together. See python:
https://github.com/open-telemetry/opentelemetry-python/tree/master/ext

[2020-07-23 07:07] cijothomas commented on #578
This is fixed.

[2020-07-23 07:07] #578 closed

[2020-07-23 07:14] CodeBlanch commented on #736
I like the idea of using filtering akin to ILogger. A simple `Filter<string, bool>` callback we invoke during `ShouldListenTo` would probably go a long way too; easy to pass when building up the SDK, and users can make it config-driven if they want.

[2020-07-23 07:35] reyang opened #898 "Review all public APIs before GA"
We should review all the public APIs line by line before GA to make sure we don't ship APIs by accident.

Related to:
* #806
* https://github.com/open-telemetry/opentelemetry-dotnet/pull/892#issuecomment-662812470
* https://github.com/open-telemetry/opentelemetry-dotnet/pull/1083#discussion_r471010474
* Also need to check if cctor and static members would throw and trigger TypeInitializationExcept

[2020-07-23 07:40] reyang commented on #893
Relates to #809

[2020-07-23 07:40] reyang commented on #893
@cijothomas is this duplicated with #809 or a different thing?

[2020-07-23 13:11] ejsmith commented on #809
How would I as the author of an instrumentation that uses HttpClient internally be able to filter out the HttpClient activities without having to tell my users to manually add a request filter to their HttpClient instrumentation options?

[2020-07-23 13:15] ejsmith commented on #894
No that doesn't help because I'm creating a new exporter that has a registration method that is an extension method on top of TracerProviderBuilder which does not have access to the ServicesCollection. I want to register my exporter as a singleton inside of the ServicesCollection.

[2020-07-23 13:50] felpasl commented on #893
same here, try to send trace to Linkerd (OpenCensus Collector) using Zipkin exporter and stuck on 100% CPU because of a loop in trace zipkin call

[2020-07-23 13:57] felpasl commented on #811
OpenCensus Exporter still listed, but we are not able to use it anymore because of changes in structure. I'm trying to use Linkerd with OpenCensus Collector but I'm stuck in without options to talk with Linked mesh trace structure.

[2020-07-23 14:23] cijothomas commented on #893
Related, yes. But not exact duplicate. 809 is for users to filter early. This issue if more for InstrumentationLibrary authors.

[2020-07-23 14:37] cijothomas commented on #809
This proposal won't help your scenario. Lets discuss this in the other issue, and find a solution.

[2020-07-23 14:54] cijothomas commented on #894
Sorry I am not sure if I understand what you are trying to achieve. The below shows adding a custom exporter. And you can have access to `IServiceProvider` here, and retrieve any registered instance from there and pass it to custom Exporter.

[code]

Let me know if this helps.

[2020-07-23 15:03] eddynaka commented on #884
@christopher-taormina-zocdoc , I debugged the application and yes, if you don't pass in the header `X-B3-TraceId` OR `X-B3-SpanId`, we will generate a Default value, so TraceId and SpanId will be zero.

@cijothomas , is that expected?

https://github.com/open-telemetry/opentelemetry-dotnet/blob/cbe99df381f1f1b8c05825b509486ad81dd9f3f2/src/OpenTelemetry/Context/Propagation/B3Format.cs#L185-L210

[2020-07-23 15:09] ejsmith commented on #894
@cijothomas I'm not getting a service, I want to add a service to the collection. `sp` in your example is the `IServiceProvider`. I want access to the `IServicesCollection` to be able to add a new registration to the DI.

[code]

So I can do this:

[code]

And then later in my app get access to that singleton instance of the `InMemoryExporter`

[2020-07-23 15:16] ejsmith commented on #893
@cijothomas exactly. I've been looking through the code and I'm not really sure how we could go about this other than some sort of ability for a parent activity to be able to preview and filter out any child activities. Not even sure how that would work since `Activity` is owned by the .NET team.

[2020-07-23 15:51] cijothomas commented on #894
Thanks for clarifying. (I knew I understood some part wrongly :D)

Can you elaborate on the use case for application retrieving the `InMemoryExporter`? To dispose on shutdown? or do something else or does the app intend to the same instance of the exporter for other pipeline?

The following can achieve this, but defeats the purpose of extension method. Once I get the use case, we can try to come u

[2020-07-23 16:03] ejsmith commented on #894
@cijothomas I am building an in memory exporter that collects and saves the most recent and most expensive traces and has the ability to show those traces by registering API endpionts. In order to get access to those to show from the API, I need to be able to get access to the singleton instance.

The example you show is what I am currently doing, but it's generally bad to create the instances dur

[2020-07-23 16:54] lmolkova commented on #789
this is not entirely true. You'd only need own instrumentation in case you substitute innermost handler, which is a bit more rare scenario. I believe the right approach is to make DiagnosticsHAndler in .NET Core public ( in the issue referenced by @cijothomas )

However, this won't help .NET Framework, and here, OTel would really benefit from providing custom handler since .NET Fx is not getting n

[2020-07-23 16:55] alanwest commented on #893
There is some discussion at the spec level here https://github.com/open-telemetry/opentelemetry-specification/issues/530. Seems like a natural solution is to do something like what @reyang did in Python by introducing a `suppress_instrumentation` flag on the context: https://github.com/open-telemetry/opentelemetry-python/pull/181.

[2020-07-23 17:20] cijothomas commented on #894
Okay. Understood the use case now. We need to see where and how to make this work nicely. I will get back to this after beta release. Meanwhile if you have proposals, please do share.

Also, please also look at ZPages exporter. Its doing in-memory "self contained" viewing ability.

[2020-07-23 18:50] #888 closed

[2020-07-23 19:11] ejsmith commented on #894
@cijothomas sounds good. Looking forward to the beta release! Thank you for all the hard work. The more I dig into the library the more I am really impressed with what you guys have built. The code is very impressive.

I didn't know about ZPages. That looks interesting. I will check it out.

[2020-07-24 09:29] czs1993 opened #910 "Is there have any use example for metrics sdk?"
**Describe your environment.** Describe any aspect of your environment relevant to the question:

**What are you trying to achieve?**
What did you expect to see?
The otlp is reach beta, Is there have any use example for metrics sdk? thanks.
**Additional context.**
Add any other context about the problem here. If you followed an existing documentation, please share the link to it.

[2020-07-24 10:13] eddynaka commented on #910
Hi @czs1993 , from the home page, we have a section that redirects to the exporters. There you can find how to use. Or, you can look in `samples/Console` folder to see some samples.

[2020-07-24 15:00] cijothomas commented on #811
Unsupported packages are "unlisted" from nuget.org now. Closing this.

[2020-07-24 15:00] #811 closed

[2020-07-24 15:01] #757 closed

[2020-07-24 15:03] cijothomas commented on #698
In general, the libraries must emit some sort of diagnostic events so that can start collecting OTel trace/metrics from it. If the library doesn't have it, then the dotnet-autoinstrumentation efforts can help some of that.

There will be docs published in this repo on "how to instrument a library with .NET Activity API" soon.

[2020-07-24 15:03] #698 closed

[2020-07-24 15:04] cijothomas commented on #684
Closing this as the major work is complete.
There will be smaller items when .NET releases the next preview. Will track them separately.

[2020-07-24 15:04] #684 closed

[2020-07-24 15:06] cijothomas commented on #670
Myget feed automatically removes older package due to size limitations. Though we try to avoid it, its still possible to have packages renamed and gone from myget.

[2020-07-24 15:06] #670 closed

[2020-07-24 15:07] cijothomas commented on #650
The .NET Actiivty API does not enforce these limits. So no work item here .
If there is a spec which limits thee, we need to enforce it in the API shim. Closing this until then.

[2020-07-24 15:07] #650 closed

[2020-07-24 15:12] cijothomas commented on #72
Closing this as a lot has changes in the instrumentation library. Will open a separate issue to track, if needed.

[2020-07-24 15:12] #72 closed

[2020-07-24 15:14] cijothomas commented on #124
Closing this issue as the stats based exporter is removed.

[2020-07-24 15:14] #124 closed

[2020-07-24 15:14] cijothomas commented on #82
Closing as StackDriver exporter is not part of this repo, and the previous metrics api is removed.

[2020-07-24 15:14] #82 closed

[2020-07-24 15:15] cijothomas commented on #137
@noamarbel This is still an open issue- Do you want to work on it?

[2020-07-24 15:16] cijothomas commented on #205
Closong as StackDrive is removed from this repo. The old metric api is also removed.

[2020-07-24 15:16] #205 closed

[2020-07-24 15:17] cijothomas commented on #332
Closing as new docs are created. We still need to update opentelemetry.io docs. It'll be handled in the future.

[2020-07-24 15:17] #332 closed

[2020-07-24 15:18] cijothomas commented on #630
This issue no longer exist in the new model. CLosing.

[2020-07-24 15:18] #630 closed

[2020-07-24 15:19] cijothomas commented on #619
With new Activity changes, this API simply dont exist. Closing.

[2020-07-24 15:19] #619 closed

[2020-07-24 15:19] cijothomas commented on #564
https://github.com/open-telemetry/opentelemetry-dotnet/blob/master/examples/Console/TestOpenTracingWithConsoleExporter.cs - Sample for OpenTracing shim is added now.

[2020-07-24 15:19] #564 closed

[2020-07-24 15:52] eddynaka commented on #34
@cijothomas , i think we can close this, since we know we have and how to do it.

[2020-07-24 16:26] CodeBlanch commented on #705
This will be part of the beta. Thanks for the suggestion @Aaronontheweb!

[2020-07-24 16:26] #705 closed

[2020-07-24 17:01] reyang opened #917 "Should all packages have the same version?"
Currently we're taking the easy approach - all the packages have the same version.

We were using this approach initially in OpenCensus Python, until we hit beta - there were new packages being added which are not ready (based on beta quality) so we ended up allowing each package to have its independent version. And this is what we carried over to OpenTelemetry Python.

Some of the obvious pros/co

[2020-07-24 20:48] eddynaka commented on #582
@cijothomas @MikeGoldsmith , can you assign me? I will create a PR as draft and start sketching something!

[2020-07-24 22:27] #580 closed

[2020-07-24 22:29] #579 closed

[2020-07-25 00:24] cijothomas opened #925 "Known issues with 0.4.0-beta2 release"
(Will keep updating this for initial few days, so its easy to know what known issues exist in this version)

Correlation-context and Context is not documented. Its possible that Activity.Baggage already covers this, but this must be verified against the spec and documented.
No support for Compose-Propagation or Global-Propagator.
The Tracer shim API  exposes subset of methods from spec - like ther

[2020-07-25 14:33] eddynaka commented on #699
@WorldIsM / @kirillta , do you know how long is the message that you are trying to record? Since we are using UDP, we have some size limitations, so, if you create a message near 65000, it will generate the exception.

[2020-07-25 14:35] cijothomas commented on #699
@eddynaka We need to ensure we don't throw this exception. It should be caught and logged, at the minimum - Do you mind ensuring we do this already?

[2020-07-25 14:42] eddynaka commented on #699
@cijothomas , in my tests, even passing a string greater than 66_000, it didn't crash, just ignored that message.

@WorldIsM  / @kirillta , recently we released the beta version. Can you try with that and share a sample code with us?

Thank you!

[2020-07-26 07:58] Place1 opened #928 "Npgsql Postgresql client instrumentation"
The current `OpenTelemetry.Instrumentation.SqlClient` package can be used to instrument MSSQL clients; could a new package be added for Postgresql (Npgsql.EntityFrameworkCore.PostgreSQL) or perhaps a more general Entity Framework Core instrumentation library?

Locally i've refactored the current SqlClient instrumentation to make it work more generally with Microsoft.EntityFrameworkCore diagnostics

[2020-07-26 13:45] cijothomas commented on #928
Love to see what modifications you made to support EFCore. Please submit a PR. We may make it part of -contrib repo : https://github.com/open-telemetry/opentelemetry-dotnet-contrib
But we can decide that later.

[2020-07-27 01:03] Place1 commented on #928
hey @cijothomas you can see the changes in the related PR above (#929)

[2020-07-27 02:30] czs1993 commented on #910
@eddynaka  thanks.

[2020-07-27 02:30] #910 closed

[2020-07-27 10:27] kirillta commented on #699
I will if you update `OpenTelemetry.Instrumentation.Dependencies` to the beta

[2020-07-27 10:35] eddynaka commented on #699
@kirillta , the `OpenTelemetry.Instrumentation.Dependencies` got divided in: Instrumentation.Http, Instrumentation.SqlClient, Instrumentation.Grpc. Below the links:
https://www.nuget.org/packages/OpenTelemetry.Instrumentation.Grpc/0.4.0-beta.2
https://www.nuget.org/packages/OpenTelemetry.Instrumentation.Http/0.4.0-beta.2
https://www.nuget.org/packages/OpenTelemetry.Instrumentation.SqlClient/0.4.0-

[2020-07-27 15:10] cijothomas commented on #699
Are we not logging to EventSource when this occurs?

[2020-07-27 15:12] eddynaka commented on #699
No, we are just throwing the exceptions. I can do that. I will open a PR saving it to EventSource

[2020-07-27 15:15] eddynaka commented on #699
@cijothomas , looking again at the code, we are saving it: https://github.com/open-telemetry/opentelemetry-dotnet/blob/755f727df00612b9d268cf18f7ac312f53f79d0a/src/OpenTelemetry.Exporter.Jaeger/Implementation/JaegerUdpBatcher.cs#L254-L283

[2020-07-27 20:25] lmolkova opened #934 "Expose utils to parse trace state"
**Is your feature request related to a problem?**
Some custom samplers need to access tracestate to make sampling decision (this is on of the ways to interop with legacy custom correlation protocols). Currently such samplers would have to parse tracestate on their own.
Let's say sampler whats to check certain flag value in tracestate: 'sampling.priority=0.5'

- Sampler implements `SamplingResult S

[2020-07-27 21:44] CodeBlanch commented on #893
I've been harping on this since November! Glad to see everyone finally coming on board 🤣

[2020-07-27 21:48] reyang commented on #893
I've added this to OpenCensus 3 years ago and still having trouble today convincing people it is important 😄

[2020-07-27 22:20] ejsmith commented on #893
Yikes. That doesn't sound promising.

[2020-07-28 00:04] #34 closed

[2020-07-28 00:23] reyang commented on #925
Could we merge this into #506?

[2020-07-28 02:50] alanwest commented on #893
Ugh, really? Having worked on observability products for over four years now, this just seems like basic functionality to me. @reyang @CodeBlanch Is there a particular github issue or venue (other than the ones already noted here) at the spec-level where we could best be chiming in on this discussion? I'd be more than happy to add my voice.

[2020-07-28 02:53] reyang commented on #893
https://github.com/open-telemetry/opentelemetry-specification/issues/530

[2020-07-28 02:58] reyang commented on #893
Given I have done this several times in different languages, I won't be afraid to do it again in this repo 😄
If I got enough 👍 I am happy to send a small PR on this:
1. I think we can do this in the OpenTelemetry API/SDK.
2. I think it is unlikely to get this in the spec before GA, but we can try.
3. I don't think we should/can push .NET to make this as part of the .NET framework API.

[2020-07-28 03:13] alanwest commented on #893
I've attempted to give you all the affirmative emojis github will allow me.

[2020-07-28 03:55] CodeBlanch commented on #893
@reyang sounds good to me. Are you going to do an AsyncLocal context thing? FYI @SergeyKanzhelev sent me this https://github.com/lmolkova/oteps/blob/terminal-context/text/0069-terminal-context.md (by @lmolkova) a while back when we were discussing possible solutions.

[2020-07-28 04:09] reyang commented on #893
I think it needs to be an abstract interface where people can swap the actual implementation. Something similar to this https://github.com/census-instrumentation/opencensus-python/tree/master/context/opencensus-context#opencensus-runtime-context.

[2020-07-28 06:20] cijothomas commented on #736
Added this as required-for-ga. This is a critical portion of OTel enablement experience, so need to ensure this is correctly handled before GA.

[2020-07-29 05:13] cijothomas opened #940 "Update to .NET preview 8"
Update to preview 8.
This update is non-trivial as preview 8 brings many changes to Activity which Otel needs.
Key changes:
GetRequestedDataUsingParentId automatically calling GetRequestdDataUsingParentContext if parent id can be converted to ActiviytyContext.
New option to "pregenerateroottraceid".
Tags supporting string, object.

[2020-07-29 05:16] cijothomas opened #941 "Fix Samplers to match spec."
Sampling result is a binary now, but it should be an enum to match spec.
ActivityProcessors and ActivityExporters are called without regard to Sampler outcome. This must be fixed to match the spec.

[2020-07-29 05:24] cijothomas opened #942 "Quality drive - Epic"
Opening an Epic issue to track all the quality issues. Mainly 2 things.
1. Go through all the TODO: in all the code and tests - actual "DO" the "todo".
2. Do thorough code review to catch issues which are not marked "TODO", but are hacks/temp solutions implemented to make progress.

For non-trivial ones, please create a separate issue, and assign self (if planning to offer PR with fix) to avoid du

[2020-07-29 15:59] cijothomas commented on #704
This was already fixed.

[2020-07-29 15:59] #704 closed

[2020-07-29 16:00] cijothomas commented on #651
Will make this to API Shim as part of upgrading to preview 8 of Activity.

[2020-07-29 18:47] cijothomas commented on #506
Since we are now able to track items using milestones, we no longer need this. closing. Let us know if this is still needed.
To know whats coming in next beta, this should help: https://github.com/open-telemetry/opentelemetry-dotnet/milestone/8

[2020-07-29 18:47] #506 closed

[2020-07-29 18:47] #925 closed

[2020-07-29 18:48] cijothomas commented on #882
This repo is cleaned up and milestones are currently set. Issues for next beta is assigned as well. Closing this.
Will need something similar for -contrib repo.

[2020-07-29 18:48] #882 closed

[2020-07-29 18:50] cijothomas commented on #934
[code]

The above is coming in .NET API. It'll do entire ActivityContext, not just tracestate portion.

[2020-07-29 18:51] cijothomas commented on #509
Closing as this is no longer relevant. Processors take activity which is read and write allowed.

[2020-07-29 18:51] #509 closed

[2020-07-29 18:53] cijothomas commented on #653
Closing this as we currently have Status.Ok.WithDescription("my description").
(Also Status is likely move out of API spec)

[2020-07-29 18:53] #653 closed

[2020-07-29 18:54] cijothomas commented on #638
Closing as this is no longer relevant. (There are other issues, but that's separately handled/tracked)

[2020-07-29 18:54] #638 closed

[2020-07-29 18:55] cijothomas commented on #507
No longer relevant with the switch to Activity, which allows read/write freely.

[2020-07-29 18:55] #507 closed

[2020-07-29 18:56] cijothomas commented on #409
This is done. closing.

[2020-07-29 18:56] #409 closed

[2020-07-29 18:58] cijothomas commented on #405
@xiang17 is looking at this.

[2020-07-29 18:59] cijothomas commented on #360
This must be handled now. If there are more issues, we can revisit. closing now.

[2020-07-29 18:59] #360 closed

[2020-07-29 19:00] cijothomas commented on #273
Closing in favor of: https://github.com/open-telemetry/opentelemetry-dotnet/issues/941

[2020-07-29 19:00] #273 closed

[2020-07-29 19:01] cijothomas commented on #79
Active PR: https://github.com/open-telemetry/opentelemetry-dotnet/pull/929
Closing this in favor of: https://github.com/open-telemetry/opentelemetry-dotnet/issues/928

[2020-07-29 19:01] #79 closed

[2020-07-29 19:02] cijothomas commented on #137
@eddynaka If you want to take it!

[2020-07-29 19:04] eddynaka commented on #137
I started to enable some parts, but, there are things that i don't know the proper words or the usage...., so it's being hard :(

[2020-07-29 19:36] alanwest commented on #137
@eddynaka I'd be happy to be available for brainstorming wording. I may struggle as well, as there are still many aspects of the APIs I'm still learning about, but I'm ok with struggling 😄.

[2020-07-29 19:37] eddynaka commented on #137
Nice to know! i will start a PR and mark as week and ping u on gitter, so we can discuss there :)

[2020-07-29 22:14] cijothomas opened #947 "Comparing OpenTelemetry Trace API and .NET Activity API"
<place holder> Will get contents from doc file to here.

[2020-07-30 02:43] czs1993 commented on #632
@cijothomas The beta version is worked, Whether it has the feature of reusing adaptors for traces and metrics?

[2020-07-30 05:05] czs1993 opened #949 "The Metrics Sdk of "LabelSetSdk" SortAndDedup could base on Configs?"
**Describe your environment.** Describe any aspect of your environment relevant to the question:
When I use the metrics Sdk to collector metrics, the emitting Metrics labels is Sorted.  however ,In some time ,we create a labelset not hope to sorted .
eg:
[code]
the emitting  was :  {method="POST", status="200", url="testurl"}
however, I expect emitting   was {url="testurl",method="POST",status="20

[2020-07-30 08:37] czs1993 opened #950 "When will the opentelemetry instrumentation libraries support to entityframeworkcore trace collect?"
**Describe your environment.** Describe any aspect of your environment relevant to the question:

**What are you trying to achieve?**
Collect the trace of EntityFrameworkcore.
What did you expect to see?
The Instrumentation of SQLClient in the Beta version of OTLP cannot collect trace information for an EntityFrameworkcore,Will support be provided in a later version? thanks.
**Additional context.*

[2020-07-30 09:07] czs1993 opened #951 "Whether the MeasureMetricSdk in the Metrics Sdk supports the collection of the distribution of values？"
**What are you trying to achieve?**
The [metrics of opentelemetry-specification ](https://github.com/open-telemetry/opentelemetry-specification/blob/master/specification/metrics/api.md#valuerecorder) Introduce that the data distribution  information can be recorded by ValeRecorde, but the MeasureMetricSdk did not provide quantile boundary setting. There are only quantiles of 0 and 1 in the output

[2020-07-30 13:48] cijothomas commented on #949
Thanks for reporting the issue. Since our implementation, LabelSet as a concept has been removed from the Metric specs. We need to re-evaluate the alternates, and address concerns at that time.
Don't think the spec has anything about ordering.

I am curious to see why you want a particular order retained for dimensions? Does it impact Prometheus in any way?

[2020-07-30 13:49] cijothomas commented on #950
There is a open PR to add EF support. Once that is merged and released, we'll have the ability for the same.

[2020-07-30 13:49] #950 closed

[2020-07-30 13:50] cijothomas commented on #951
This is true now - Histogram or Qualitile type aggregations are not implemented for .NET Metrics. We'll be adding more features as metrics specs are ready.
(This is not planned for next beta)

[2020-07-30 13:50] #951 closed

[2020-07-30 16:05] pcwiese commented on #917
In my opinion, true semantic versioning is totally lost when everything shares the same package version. From a consumer perspective, it is better to be able to pull in targeted fixes rather than be forced to upgrade all packages. But doing this is hard and introduces developer friction for sure.

[2020-07-30 17:04] lmolkova opened #953 "Attributes added by sampler cannot be populated on activity"
[renamed]

**Describe your environment.** Describe any aspect of your environment relevant to the problem:
N/A

* SDK version: (nuget versions of the all the relevant packages)
0.4.0-beta

* .NET runtime version (.NET or .NET Core, TargetFramework in the .csproj file):
N/A (any)

* Platform and OS version:
any

**Steps to reproduce.**
- configure probability sampling
- create activities without a

[2020-07-30 17:20] cijothomas commented on #953
@lmolkova This is addressed in preview8 :)
I am making a PR to update this repo to preview8 and leverage the new feature to fix this using `PregenerateNewRootId`

https://github.com/dotnet/designs/blob/master/accepted/2020/diagnostics/activity-improvements-2.md#automatic-trace-id--generation-in-case-of-null-parent

[2020-07-30 17:26] tarekgh commented on #953
it is called `AutoGenerateRootContextTraceId`

[2020-07-30 18:14] lmolkova commented on #953
Makes sense, thanks for the update! Great trace-id is addressed already!
It does not seem to support attributes scenario, correct?

[code]

https://github.com/open-telemetry/opentelemetry-specification/blob/master/specification/trace/sdk.md#shouldsample

[2020-07-30 18:26] lmolkova commented on #934
@cijothomas yes!!!

[2020-07-30 18:27] cijothomas commented on #953
Its tracked here: https://github.com/open-telemetry/opentelemetry-dotnet/issues/941. It doesn't require change from .NET as this is SDK only detail.

[2020-07-30 18:29] lmolkova commented on #953
I mean there is no way to propagate attributes generated by sampler in`GetRequestedDataUsingContext` to `Activity`. Am I missing something?

[2020-07-30 18:47] tarekgh commented on #953
You can listen to the Activity start in the listener and add the whatever attributes. But you are right, cannot directly propagate attributes inside `GetRequestedDataUsingContext` callback. I think the purpose of `GetRequestedDataUsingContext` is just passing the information can allow taking sampling decision and not for propagating more data the Activity.

[2020-07-30 18:57] lmolkova commented on #953
yeah, I can add attributes in Start event, but if sampler generates something (which is my scenario) - there would be no way to reflect them on the Activity. This scenario also seems to be part of OTel spec, so I wonder if we cautiously wanted to drop this scenario and if so why. Otherwise, I'd like to plan on fixing it.

[2020-07-30 19:41] tarekgh commented on #953
This scenario is not encountered or requested when we discussed the design with all parties. could you please sens a pointer from the specs regarding that?
My question now, do you see this scenario is a blocking or this can be workaround for now and we can consider supporting that in next release?

CC @noahfalk

[2020-07-30 21:01] lmolkova commented on #953
I guess the scenario is somewhat tricky and not something that exists today at least in .NET so it was hard to expect it.

### Scenario
The spec mentions a set of attributes that are returned in `SamplingResult` that should be populated on Span being created iff it's sampled in.

https://github.com/open-telemetry/opentelemetry-specification/blob/master/specification/trace/sdk.md#shouldsample

It's

[2020-07-30 21:10] lmolkova commented on #953
Here is how java does it:

https://github.com/open-telemetry/opentelemetry-java/blob/f7a52336516435d065370d83a6980893a9c8df23/sdk/src/main/java/io/opentelemetry/sdk/trace/SpanBuilderSdk.java#L247-L259

[2020-07-30 21:32] tarekgh commented on #953
Could you please open a new issue on our runtime repo to discuss it and look at the proposal.

[2020-07-30 21:36] cijothomas commented on #953
Thanks @lmolkova for sharing more details. Yes I agree this scenario is not handled. And I also think its not possible to work around in OTel SDK. We need to change the return type to return ActivityDataRequest , and attributes/tags.

[2020-07-31 03:13] czs1993 commented on #949
it has no impact for Prometheus.But when I develop a custom Exporter and Metrics receivers,It might have the following effect:
1、A collection of Tags normally defines a hierarchy
eg:
 {servicehost = “www.xx.xx.com”, "servicename ="fileuploadservice", serviceport =“8080”, path = "/imageupload“, method="POST", status ="200"}.
If the default sort is done, the metric labels shown cannot show the hiera

[2020-07-31 03:38] cijothomas commented on #953
Update: This is being discussed with .NET runtime team. As fixing this requires changes from .NET.
Will update early next week with the conclusions.

[2020-07-31 15:47] reyang opened #957 "Detect unused using statements during CI"
It looks like we're lacking some nice protection from CI:

1. Better format (if you run `dotnet-format --folder .` under the root folder today, you will find several files being reformatted).
2. Unused `using`.

It would be great if we can automatically enforce this for the pull requests.

[2020-07-31 16:14] eddynaka commented on #957
@reyang , thanks for the suggestion. Just created a new workflow which will validate our files.

And, in the same PR i'm already solving our current issues.

[2020-07-31 18:14] pcwiese opened #961 "[OpenTelemetry.Instrumentation.Http] http.status_code should be an integer value not a string"
I'm seeing the text name equivalents of the HTTP status code put into the http.status_code attribute. According to the semantic conventions for HTTP spans it should be an integer.

[2020-07-31 18:27] pcwiese opened #962 "HTTP status codes 100-200 should map to Span status OK"
e.g. 101 SwitchingProtocols for gRPC upgrades are showing Unknown when it should be OK.

[2020-07-31 18:33] reyang opened #963 "OpenTelemetry.Instrumentation != OpenTelemetryInstrumentation ???"
Yet another dumb question which seems to be related to the history / name changes.
We have a folder called [`src/OpenTelemetry/Instrumentation`](https://github.com/open-telemetry/opentelemetry-dotnet/tree/master/src/OpenTelemetry/Instrumentation) which is intended for SDK internal logging.
We also have `OpenTelemetry.Instrumentation.Xyz` (e.g. [`src/OpenTelemetry.Instrumentation.Http`](https://git

[2020-08-01 04:24] JamesNK opened #968 "gRPC: When exported to Zipkin, server address doesn't include port"
Using OT 0.4.0-beta.2

There is inconsistency between the gRPC call telemetry and HttpClient telemetry in Zipkin. I don't know where the inconsistency starts, but I observed it there.

Out of localhost and localhost:5001, I'm guessing localhost:5001 is the correct value, and the gRPC telemetry is reporting an incorrect value.

grpc.net.client.grpcout telemetry:

![image](https://user-images.github

[2020-08-01 13:41] #962 closed

[2020-08-01 15:13] cijothomas commented on #968
@alanwest Can you help take a look?

[2020-08-02 15:37] eddynaka opened #974 "TracerProviderSdk expects that ActivtyProcessor is Disposable"
**Describe your environment.** Describe any aspect of your environment relevant to the problem:
* SDK version: (nuget versions of the all the relevant packages): master branch
* .NET runtime version (.NET or .NET Core, TargetFramework in the .csproj file): any
* Platform and OS version: any

If you're reporting a problem with a specific version of a library in this repo, please check whether the p

[2020-08-02 15:38] eddynaka commented on #974
Assign me when possible. I will take a look at this.

[2020-08-03 03:29] alanwest commented on #968
I've found out what's going on.

The Zipkin exporter sets `Server Address` by considering a [prioritized list of keys](https://github.com/open-telemetry/opentelemetry-dotnet/blob/master/src/OpenTelemetry.Exporter.Zipkin/Implementation/ZipkinActivityConversionExtensions.cs#L33-L42) on the exported span.

* The HTTP instrumentation sets the `http.host` attribute from the request URI and includes the

[2020-08-03 17:06] reyang opened #979 "Need to rename BroadcastActivityProcessor"
https://github.com/open-telemetry/opentelemetry-dotnet/pull/735#discussion_r441630390

[2020-08-03 17:10] reyang opened #980 "Avoid IEnumerator from FanOutActivityProcessor"
https://github.com/open-telemetry/opentelemetry-dotnet/pull/735/files#r441634244

https://github.com/open-telemetry/opentelemetry-dotnet/pull/735/files#r441634805

[2020-08-03 17:33] eddynaka commented on #979
Are we going to change to FanOutActivityProcessor ?

[2020-08-03 18:20] christopher-taormina-zocdoc opened #981 "Option for custom tagging in instrumentation libraries"
**Describe your environment.** Describe any aspect of your environment relevant to the question: Using aspnetcore 2.1

**What are you trying to achieve?**
I'm setting up an aspnetcore server with both the aspnetcore and redis instrumentations. I'm looking to add a bunch of relevant tags to spans. For example, I want the span created by the aspnetcore instrumentation to have a tag with a value set

[2020-08-03 18:28] eddynaka opened #982 "ActivityProcessor should implement IAsyncDisposable for netstandard2.1?"
After the PR https://github.com/open-telemetry/opentelemetry-dotnet/pull/975, ActivityProcessor will implement `IDisposable`. With netstandard2.1, we can also implement `IAsyncDisposable`.

Below one example that @pcwiese sent me:
[code]

cc: @reyang

[2020-08-03 20:56] lmolkova opened #984 "Root Activity creation is not supported (in presence of active parent)"
**Describe your environment.** Describe any aspect of your environment relevant to the problem:
* SDK version: (nuget versions of the all the relevant packages) 0.4.0-beta
* .NET runtime version (.NET or .NET Core, TargetFramework in the .csproj file): any
* Platform and OS version: any

**Steps to reproduce.**
OTel API spec [requires a method](https://github.com/open-telemetry/opentelemetry-speci

[2020-08-03 21:15] lmolkova commented on #934
been thinking about it and decided to reopen:
Yes. I can use `ActivityContext.Parse` and then create `SpanContext` out of it, but actually the only thing I need is parsed tracestate. So this seems to be a reasonable workaround, but parsing traceparent is an overhead that ideally should be avoided for the sake of perf.

[2020-08-03 21:38] pcwiese commented on #652
So I've got a change that swaps out the protos with files from a git submodule but I don't know how to incorporate this into the ci workflows. A basic clone of the repo won't pull submodules by default (I think). You would need to specify the --recursive flag to the step in some way. @eddynaka Do you know offhand what additional changes would have to be done?

Here is my branch with the change:
ht

[2020-08-03 21:45] cijothomas commented on #981
I think https://github.com/open-telemetry/opentelemetry-dotnet/issues/73 is covering this. There is a proposal to solve this, we haven't finalized yet. But issue #73 is already covering this right?

[2020-08-03 21:58] cijothomas commented on #984
cc: @rajkumar-rangaraj
We can handle this in OTel API while figuring out if .NET can support it in next release. We already have an issue about StartSpan vs StartActiveSpan which also need to do similar messing with .Current. @rajkumar-rangaraj is working to get that, and I think this can be clubbed into that.

[2020-08-03 22:11] eddynaka commented on #652
Talked with @pcwiese offline, but, GitHub actions does support that: https://github.com/actions/checkout

We have to add:
[code]

[2020-08-04 00:12] rajkumar-rangaraj opened #989 "StartSpan should not generate active span by default"
**Describe your issue?**
[OpenTelemetry specification](https://github.com/open-telemetry/opentelemetry-specification/blob/master/specification/trace/api.md#span-creation) states that `Span` creation MUST NOT set the newly created `Span` as the currently active Span by default, but this functionality MAY be offered additionally as a separate operation.

Currently, `Tracer.StartSpan` method creates

[2020-08-04 00:18] reyang opened #992 "More cops (FxCop)"
Currently we have Stylecop but no FxCop, this is to add FxCop based on the feedback [here](https://github.com/open-telemetry/opentelemetry-dotnet/pull/971/files#r464096604).

[2020-08-04 01:32] eddynaka opened #995 "Code Coverage isn't working properly"
Looking at the code coverage workflow, we are receiving a 400 status code.

The issue: GITHUB_ACTION env variable isn't set anymore (by the vm probably) and codecov-action uses that to send to it.

Below the issue from codecov-action: https://github.com/codecov/codecov-action/issues/102

[2020-08-04 11:42] eddynaka commented on #992
@reyang , i was looking at this and i have one question about our current project structure.
Right now, we have the following folders with code:
- examples -> Common.nonprod -> Common.props
- src -> Common.prop -> Common.props
- test -> Common.nonprod -> Common.props

Right now, we have the StyleCop in Common.props. So, it's analyzing all projects inside examples, src, test. But, if we add the sam

[2020-08-04 13:21] eddynaka commented on #995
Looks like it's an issue in GH Action runner: https://github.community/t/github-action-environment-variable-missing-breaking-issue/125913

[2020-08-04 14:10] eddynaka commented on #995
it's back! :)

[2020-08-04 14:10] #995 closed

[2020-08-04 14:33] christopher-taormina-zocdoc commented on #981
Ah yeah I think that would cover it, assuming whatever solution is extended to each of instrumentation libraries.

[2020-08-04 14:59] reyang commented on #979
I'm fine with either `AggregatedActivityProcessor`, `FanOutActivityProcessor` or `MultiActivityProcessor`, as long as it is not misleading / having `broadcast`.
Let's see what @alanwest @cijothomas @CodeBlanch would recommend.

[2020-08-04 16:28] christopher-taormina-zocdoc commented on #73
I've just come up against this in my usage of wanting to add many activity specific tags (e.g. head tags for http in activities, and redis key tags for redis activities). The hook solution (2) seems to best cover this use case in an easy to understand way for all instrumentation libraries, and allows for a common setup for all activities for a particular source.

[2020-08-04 16:56] CodeBlanch commented on #979
For some reason, I feel strongly against `AggregatedActivityProcessor`. Seems to suggest we are aggregating activity/spans somehow?

Either `FanOutActivityProcessor` or `MultiActivityProcessor` I'm good with. I think technically "fan out" reflects what is going on the best. But `MultiActivityProcessor` is used by other repos (more or less) and there is some value in sharing names/concepts.

If I h

[2020-08-04 17:02] alanwest commented on #979
Agreed that `Aggregated` does not inspire the correct meaning in my mind.

I'd lean more towards this argument that `Mutli` is a good way to go. I do see the appeal of `FanOut`, though the only context I've seen this in is messaging systems (that said, there may be other contexts I'm not thinking of, so I could be swayed)

[2020-08-04 17:06] cijothomas commented on #979
The functionality done by the BroadCastActivityProcessor is *not* covered in spec. Spec currently has Simple/batching, and does not mention anything about "fan out or broadcast". Spec also talks about multiple pipelines - but I am guessing we can achieve multiple pipelines by instantiating multiple TracerProviders, each with own config. If we do that, then we would no longer need the equivalent of

[2020-08-04 20:57] #651 closed

[2020-08-04 21:40] #974 closed

[2020-08-04 22:16] #961 closed

[2020-08-04 22:17] cijothomas commented on #953
https://github.com/dotnet/runtime/issues/40339 - Issue tracking this in .NET side.

[2020-08-04 22:38] reyang commented on #992
I guess at this stage we only need fxcop in `Common.prod.props`.

[2020-08-04 22:38] eddynaka opened #1003 "Update exporters to send array of primitives correctly"
Today, we merged the following PRs: https://github.com/open-telemetry/opentelemetry-dotnet/pull/999 and https://github.com/open-telemetry/opentelemetry-dotnet/pull/1000.

With those in mind, when we send data to export we have a switch that translates the object to the type and we do each exporter each logic.

What we must do:
- for each exporter check that logic to include the array of primitives

[2020-08-04 22:50] cijothomas commented on #941
Issue described here https://github.com/open-telemetry/opentelemetry-dotnet/issues/953 is not going to be addressed in 0.5.0-beta release. It requires support from .NET and will not be part of preview8 of diagnosticsource

[2020-08-04 23:37] alanwest commented on #968
@CodeBlanch I was looking at #483 - This PR seems to be where the logic affecting what shows up as `Server Address` in the Zipkin UI was put in.

Question: In the case of gRPC instrumentation that sets `net.peer.name` and `net.peer.port` do you think it makes sense to combine these two when present to set the [remote_endpoint](https://github.com/openzipkin/zipkin-api/blob/master/zipkin.proto#L137-

[2020-08-05 00:26] #582 closed

[2020-08-05 00:37] reyang commented on #979
#923 is using the word `Composite` 😄

[2020-08-05 00:39] eddynaka commented on #979
Took from the spec.

[2020-08-05 02:12] CodeBlanch commented on #968
You know how Zipkin & Jager show each service in a trace with a unique color? When I first started using OpenTelemetry, spans going to un-instrumented services (think 3rd party) all showed with the same color as the hosting service making the call in the trace. Turns out you need to pass _something_ as RemoteEndpoint on your spans otherwise Zipkin & Jaeger think they are internal. For instrumented

[2020-08-05 05:04] alanwest commented on #968
This is great, Thank you for providing all this context! I'll take a look at both Zipkin and Jaeger.

[2020-08-05 06:03] #989 closed

[2020-08-05 17:44] CodeBlanch commented on #992
Agree the priority is to get it into the main source. I think second priority is actually the examples, so that we provide best-practice stuff to our future friends. Third is tests. Fourth is happy hour.

[2020-08-05 19:39] #1003 closed

[2020-08-05 22:08] #980 closed

[2020-08-05 22:53] eddynaka commented on #992
I was looking at the current errors that FxCop shows, below a list:
- [CA1031](https://docs.microsoft.com/visualstudio/code-quality/ca1031): should we disable it? Since every exception we are going to save it and not rethrow
- [CA1066](https://docs.microsoft.com/en-us/visualstudio/code-quality/ca1066?view=vs-2019)/[CA1805](https://docs.microsoft.com/en-us/visualstudio/code-quality/ca1805?view=vs-2

[2020-08-05 23:22] CodeBlanch commented on #992
My thoughts...

Turn off (set to None via ruleset):
* CA1303 (localization): We can always turn on if we want to support multiple languages?
* CA1031 (general exception catch): I usually leave it on just to be explicit but you make a good case for turning it off. Fine by me if other people agree.

Leave on:
* CA1066/CA1805/CA1815 (value type comparison & equality): The IDE has some quick refactori

[2020-08-06 15:22] pcwiese commented on #652
We are not going to use Git submodules for this. if we need to, we can create a NuGet package

[2020-08-06 22:57] cijothomas commented on #482
@alanwest can we close this item? I guess we have both client and server side functionality merged in now.

[2020-08-07 01:25] alanwest commented on #482
@cijothomas Yes, I think we should close this. #687 and #803 cover things here. I will create a new issue to track the idea of removing the library generated tags: https://github.com/open-telemetry/opentelemetry-dotnet/issues/482#issuecomment-655753756. Though to my knowledge, removing tags is not possible on an Activity.

[2020-08-07 04:15] cijothomas commented on #482
Use settag with value as null. It'll remove the tag.

[2020-08-07 05:41] reyang opened #1018 "High Quality Callstack"
Some of the LINQ and lambda code are hurting the callstack quality. This would make it hard to do postmortem debugging, profiling and large scale analysis (e.g. Dr. Watson callstack bucketization).

Here goes one example of a bad callstack:

![image](https://user-images.githubusercontent.com/17327289/89612922-e7ad9300-d835-11ea-9a19-c5585999a502.png)

[2020-08-07 06:24] czs1993 opened #1019 "ZipkinExporter Exported SpanName is not corrected"
**Describe your environment.** Describe any aspect of your environment relevant to the problem:
* SDK version: (nuget versions of the all the relevant packages) 0.4.0-beta.2
* .NET runtime version (.NET or .NET Core, TargetFramework in the .csproj file): any
* Platform and OS version: any

If you're reporting a problem with a specific version of a library in this repo, please check whether the pro

[2020-08-07 15:21] alanwest opened #1021 "Remove tags added by gRPC library in favor of OpenTelemetry tags"
[gRPC for .NET](https://github.com/grpc/grpc-dotnet/tree/master) is instrumented with DiagnosticSource and adds its own tags to an `Activity`. [Proposal](https://github.com/open-telemetry/opentelemetry-dotnet/issues/482#issuecomment-655753756) is to remove these tags now that OpenTelemetry adds its owns set of tags containing the same information.

The gRPC client adds [`grpc_method`](https://gith

[2020-08-07 15:33] #1019 closed

[2020-08-07 17:20] reyang opened #1024 "Consistent Dispose pattern"
* https://github.com/open-telemetry/opentelemetry-dotnet/pull/1017#discussion_r466815721
* #982

[2020-08-07 22:27] eddynaka opened #1026 "Classes that implement ITextFormat"
Hi all,

Right now, we have three classes that implement `ITextFormat`, they are:
- CompositePropagator
- B3Format
- TraceContextFormat

Based on the spec, I'm creating the forth ([CorrelationContextPropagator](https://github.com/open-telemetry/opentelemetry-specification/blob/master/specification/correlationcontext/api.md#correlationcontext-propagation))

Problem:
CompositePropagator and TraceCon

[2020-08-08 09:50] BalassaMarton opened #1028 "Why is CorrelationContext.entries a List and not a Dictionary?"
This may be related to #303 - I noticed that the key-value pairs in `CorrelationContext` and `CorrelationContextBuilder` are stored in a `List<CorrelationContextEntry>` instead of a `Dictionary<string, CorrelationContextEntry>`. Is this a deliberate choice based on use cases of this type?

[2020-08-10 09:57] WorldIsM commented on #699
9216 bytes for Mac by default

[2020-08-10 10:13] eddynaka opened #1030 "Contrib repo"
In the last .NET SIG (08/04/2020), we discussed about the contrib repo and what should we do.

Below some questions that we must decide:
- are we going to maintain the contrib repo?
- who will be the maintainers? will you have time to maintain two repos?
- what the other languages doing? are they maintaining the contrib?
  - **don't have contrib**: java, cpp, php, rust, erlang, ruby, swift
  - **h

[2020-08-10 10:16] eddynaka commented on #699
@WorldIsM , were you able to retry with our latest beta and see if the issue occurs?

[2020-08-10 14:58] kirillta commented on #699
803 bytes

[2020-08-11 05:00] reyang opened #1042 "Rename "ot" to "otel""
OpenTelemetry specification has officially recommended "otel" as the abbreviation rather than "ot" (which could be confusing as it is used for OpenTracing).

Need to find all `ot` names and update them to `otel` when appropriate: https://github.com/open-telemetry/opentelemetry-dotnet/search?q="ot."&unscoped_q="ot."

Reference: https://github.com/open-telemetry/opentelemetry-specification#acronym

[2020-08-11 05:05] reyang commented on #1030
I think who wants to be the maintainer of the contrib repo should reply back here.
If we haven't got reply in a month, we probably should close this issue. Folks who want to take the responsibility later can always re-open the issue.

[2020-08-11 05:21] reyang opened #1043 "Consistent exception message"
Need to review the exceptions and messages before GA:
1. All the public APIs (#898) should have proper input validation (e.g. should extension methods check 1st arg?).
2. Exception message should follow guidance (e.g. probably it shouldn't have the ending period - https://docs.microsoft.com/en-us/dotnet/csharp/programming-guide/exceptions/creating-and-throwing-exceptions).
3. Exception message sho

[2020-08-11 11:05] eddynaka commented on #1042
Assign me. i will create a PR replacing the strings

[2020-08-11 11:18] eddynaka commented on #1042
@reyang , for the case of the extensions, where we have `ot.status_code`, are we going to change that as well?

Or just the comments?
Thanks.

[2020-08-11 12:29] eddynaka commented on #1030
@reyang , should we list in the issue what a maintainer have to do, so the user who replies know what he/she will have to do?

[2020-08-11 14:50] reyang commented on #1030
Here goes the requirement https://github.com/open-telemetry/community/blob/master/community-membership.md#maintainer.

[2020-08-11 14:53] reyang commented on #1042
Looks like it will be all the cases returned by the query https://github.com/open-telemetry/opentelemetry-dotnet/search?q="ot."&unscoped_q="ot.

[2020-08-11 18:38] #854 closed

[2020-08-11 18:40] #482 closed

[2020-08-12 02:25] #941 closed

[2020-08-12 02:33] #1042 closed

[2020-08-12 02:46] reyang opened #1050 "MyGet publishing seems to be broken"
1. Recent merges to master failed to publish MyGet package.
2. I want to bring the topic again - should we simply remove the VSO pipeline and MyGet (and use Actions to publish packages  based on tags)? (I don't see many folks using MyGet packages - they give us maintenance cost without obvious benefit)

![image](https://user-images.githubusercontent.com/17327289/89969381-17301700-dc0b-11ea-81b6-75

[2020-08-12 02:48] reyang commented on #1050
![image](https://user-images.githubusercontent.com/17327289/89969584-a4736b80-dc0b-11ea-81b5-dee96f69fc3e.png)

[2020-08-12 06:03] cijothomas commented on #1050
myget push build is broken in Azure Devops.
Lets first bring it to GHActions. Asked @eddynaka s help to get it. I can setup the myget token as a GH Secret.
And then remove it and replace with nuget daily push.

[2020-08-12 06:41] eddynaka commented on #1050
@cijothomas let me know the token name so I can set up the variables. I will try some stuff later.

[2020-08-12 07:08] reyang opened #1052 "Micro optimization for built-in samplers"
Given sampler code runs at the critical path regardless of whether the activity is created or not, it would worth special case optimization. The following code would give some initial idea:

[code]

[2020-08-12 15:46] eddynaka commented on #1050
@reyang , with our latest pr, the myget is working again.

Now, we go back to the questions:
- should we keep pushing to myget every time?
- should we move to nightly push to nuget?

[2020-08-13 06:15] reyang commented on #1050
Ping back from #1063.

[2020-08-13 06:15] #1050 closed

[2020-08-13 06:24] reyang opened #1070 "Prevent sampler == null"
Sampler == null was previously added to drive for perf comparison and improvement, which resulted in #1052 and #1069.
Once #1069 is merged, it is time to remove the null logic.

[2020-08-13 12:08] chgl opened #1071 "The Jaeger Export should be configurable via the commonly used JAEGER_* environment variables"
**Is your feature request related to a problem?**
I wanted to set the service name via the `JAEGER_SERVICE_NAME` environment variable. Unfortunately, this was ignored and the default value "Open Telemetry Exporter" was used.

**Describe the solution you'd like.**

If the service name is not explicitly set via JaegerExporterOptions.ServiceName, it should check the common JAEGER environment vars bef

[2020-08-13 15:06] eddynaka commented on #957
@reyang @cijothomas , we can close this. With the "dotnet format", we will receive a warning.

[2020-08-13 15:07] eddynaka commented on #979
@reyang @cijothomas , we can close this.

[2020-08-13 15:34] #1052 closed

[2020-08-13 15:47] #979 closed

[2020-08-13 16:35] #957 closed

[2020-08-13 17:10] #1070 closed

[2020-08-13 18:27] reyang opened #1075 "ActivitySourceAdapter fixes/improvements"
1. `ActivitySourceAdapter` is [taking a snapshot of the processor](https://github.com/open-telemetry/opentelemetry-dotnet/blob/812fe936cf70e7ac72769e1e4074d54babea4dea/src/OpenTelemetry/Trace/TracerProviderSdk.cs#L58), which is a bug since the processor can be [altered later](https://github.com/open-telemetry/opentelemetry-dotnet/blob/812fe936cf70e7ac72769e1e4074d54babea4dea/src/OpenTelemetry/Trac

[2020-08-14 05:43] reyang opened #1080 "Perf improvement using zero-alloc foreach"
https://github.com/open-telemetry/opentelemetry-dotnet/pull/1078#discussion_r470401687

Potential places that we want to improve:
1. Processor chain (CompositeActivityProcessor).
2. Exporter interface (a batch of spans).
3. Resource attributes.

[2020-08-14 21:23] pjanotti opened #1082 "Flaky test: OpenTelemetry.Instrumentation.Grpc.Tests.GrpcTests.GrpcAspNetCoreInstrumentationAddsCorrectAttributes"
https://github.com/open-telemetry/opentelemetry-dotnet/pull/1073/checks?check_run_id=986181718#step:6:324

[code]

[2020-08-14 23:26] alanwest commented on #1082
Doh! I battled these tests a bit when putting them in place. I think I know what the cause is here...

When:
1. multiple instrumentation test suites are run concurrently, and
2. the test suites use the same instrumentation, then
3. the test suites can conflict with one another since they are run in the same testhost process

I originally had this problem between the gRPC client and server tests be

[2020-08-18 00:27] reyang commented on #1080
@CodeBlanch has an idea of using `union` approach to address the IEnumerator improvement among Processor/CircularBuffer/Exporter.

[2020-08-18 19:53] christopher-taormina-zocdoc opened #1095 "ZipkinExporter cannot properly handle tags that are null"
**Describe your environment.** Describe any aspect of your environment relevant to the problem:
* SDK version: 0.4.0-beta.111
* .NET runtime version (.NET or .NET Core, TargetFramework in the .csproj file): aspnetcore 2.1
* Platform and OS version: macos 10.14.5

It looks the ZipkinActivityConversionExtension method [ProcessTags](https://github.com/open-telemetry/opentelemetry-dotnet/blob/61d9cc2f

[2020-08-18 20:00] eddynaka commented on #1095
@christopher-taormina-zocdoc , i will create a PR solving this issue. I will probably check if the object is string, if yes, we will maintain that logic, otherwise, it will just maintain as object. That will probably solve your issue.

[2020-08-19 04:19] #1095 closed

[2020-08-19 11:01] eddynaka commented on #1095
@christopher-taormina-zocdoc , yesterday we merged the bugfix. Can you try the latest version in MyGet? The version would be 114. Let us know if that solves the issue, ok?
Thank you.

[2020-08-19 14:57] christopher-taormina-zocdoc commented on #1095
@eddynaka I pull 114 and I still get a null reference exception, as the `http.status_code` tag still seems to be set to null on the ZipkinSpan object

[2020-08-19 14:58] eddynaka commented on #1095
@christopher-taormina-zocdoc , after i saw, i don't know if the package 114 contains my change (we are doing nightly builds). Can you test in the new build that we will generate tonight? Looking at the tests that we made, we are covering that case.

[2020-08-19 14:59] christopher-taormina-zocdoc commented on #1095
@eddynaka about what time do those get released?

[2020-08-19 15:00] eddynaka commented on #1095
@christopher-taormina-zocdoc , it's released at 00:00 where GH Actions run. Not sure exactly what is the timezone.

Below, the tests that I'm covering: https://github.com/open-telemetry/opentelemetry-dotnet/blob/8bd8641e3e4177c25df622cfbc5b3661d2f04a0c/test/OpenTelemetry.Exporter.Zipkin.Tests/Implementation/ZipkinActivityConversionExtensionsTest.cs#L43-L57

[2020-08-19 15:01] eddynaka commented on #1095
Ok, i know the time: Wed, 19 Aug 2020 00:15:08 GMT

[2020-08-20 04:27] #1075 closed

[2020-08-20 16:18] christopher-taormina-zocdoc commented on #1095
Hey @eddynaka , so I think this surfaced one other issue. I'm actually working with sending traces to an opentelemetry collector with a zipkin reciever. In your fix the `http.status_code` tag remains an integer which would normally be fine, but the json request for the span will keep it as an integer. This causes the opentelemetry collector to respond with a 400 because the tag value is not a stri

[2020-08-20 16:29] eddynaka commented on #1095
@christopher-taormina-zocdoc , if that's true, we would have a bigger issue:
https://github.com/open-telemetry/opentelemetry-dotnet/blob/46907830e282ae3cc3b5890a27ce69ac4e8feeb7/src/OpenTelemetry.Exporter.Zipkin/Implementation/ZipkinSpan.cs#L283-L306

If you see this, we would convert almost every know type to their specific type.

[2020-08-20 16:32] christopher-taormina-zocdoc commented on #1095
Ok but this is exactly the behavior I just observed locally.

[2020-08-20 16:33] eddynaka commented on #1095
@christopher-taormina-zocdoc , let me test and see what is happening. Give me some time :)

[2020-08-20 16:37] eddynaka commented on #1095
@christopher-taormina-zocdoc , I tested locally with the latest version using our ConsoleExample.

Added a simple tag:
[code]

And, i can see the data in Zipkin:
![image](https://user-images.githubusercontent.com/16199012/90799910-49680580-e2ea-11ea-8876-fc1efde29fe8.png)

[2020-08-20 16:38] christopher-taormina-zocdoc commented on #1095
Is this using an opentelemetry collector? When I make a post to my opentelemetry collector's zipkin receiver then I receive a 400.
[code]

[2020-08-20 16:39] eddynaka commented on #1095
oh..i see, so u are using zipking exporter with Otel collector, is that it?

[2020-08-20 16:41] christopher-taormina-zocdoc commented on #1095
@eddynaka yeah, in our case we've dropped in the otel collector to start migrating away from zipkin, but primarily use the zipkin reciever to not change all of our existing tracing calls.

[2020-08-20 16:43] eddynaka commented on #1095
IMO, i think u should use OtelExporter instead of ZipkinExporter. We don't have a scenario that uses one exporter to send to a different collector. So, we are assuming (at least in my option), that when you use ZipkinExporter you will send data to Zipkin.

[2020-08-20 16:45] eddynaka commented on #1095
@cijothomas @CodeBlanch , have you seen this case? Do you have another suggestion?

[2020-08-20 16:48] christopher-taormina-zocdoc commented on #1095
@eddynaka the otelexporter uses grpc correct? Our current infrastructure wouldn't allow for that, as the collector is deployed behind an AWS ALB.

[2020-08-20 16:59] christopher-taormina-zocdoc commented on #1095
It also appears the the zipkin API contract states that tags should be strings. https://zipkin.io/zipkin-api/

[2020-08-20 17:01] CodeBlanch commented on #1095
I don't have any hands-on experience with it, but I don't see any reason why it shouldn't work. ZipkinExporter sends span data in Zipkin format. As long as the receiver understands that format, everything should work. So our job is to make sure we are sending valid Zipkin format. If we're not, we should fix it!