[2020-08-20 17:09] christopher-taormina-zocdoc commented on #1095
I can help out with this

[2020-08-20 17:11] eddynaka commented on #1095
IF i create a branch, can you test in ur scenario?

[2020-08-20 17:14] eddynaka commented on #1095
@christopher-taormina-zocdoc , the branch: https://github.com/open-telemetry/opentelemetry-dotnet/compare/master...eddynaka:bugfix/zipkin-format?expand=1, if u download and build you will be able to check if that works for u.

[2020-08-20 17:23] christopher-taormina-zocdoc commented on #1095
Sure let me pull that and work locally for a bit

[2020-08-20 18:04] christopher-taormina-zocdoc commented on #1095
@eddynaka It looks like that fix should work for me.

[2020-08-20 18:33] eddynaka commented on #1095
Nice to know. I openened the PR!

[2020-08-20 20:05] tigrannajaryan opened #1114 "Populate implementation/spec compliance matrix"
In order to have a better understanding of where we stand in terms of implementing OpenTelemetry specification in various language SDKs we would like to have a compliance matrix that shows which features are implemented in which languages.

This will show how much work is remaining and tell us far away are we from being ready for GA.

The matrix is located here: https://github.com/open-telemetry/o

[2020-08-20 20:47] eddynaka opened #1115 "Span should provide Record Exception Method"
Following the [spec](https://github.com/open-telemetry/opentelemetry-specification/blob/master/specification/trace/api.md#record-exception), span should provide a Record Exception method.

My suggestion: in the class TelemetrySpan we should provide two methods:
[code]

With that, as spec says, add the exception as an `Event`.

#assign me

[2020-08-20 22:28] cijothomas opened #1117 "TelemetySpan.AddEvent should accept SpanAttribute"
https://github.com/open-telemetry/opentelemetry-dotnet/blob/master/src/OpenTelemetry.Api/Trace/TelemetrySpan.cs#L239
This is accepting Dictionary of string,obj.
It should be accepting https://github.com/open-telemetry/opentelemetry-dotnet/blob/master/src/OpenTelemetry.Api/Trace/SpanAttributes.cs

[2020-08-20 22:30] cijothomas opened #1118 "SpanAttributes should have constructor taking collection"
https://github.com/open-telemetry/opentelemetry-dotnet/blob/master/src/OpenTelemetry.Api/Trace/SpanAttributes.cs

Similar to:
https://github.com/dotnet/runtime/blob/master/src/libraries/System.Diagnostics.DiagnosticSource/src/System/Diagnostics/ActivityTagsCollection.cs#L38

[2020-08-20 22:31] cijothomas opened #1119 "Link should accept SpanAttributes instead of ActivityTagCollection"
https://github.com/open-telemetry/opentelemetry-dotnet/blob/master/src/OpenTelemetry.Api/Trace/Link.cs#L43

[2020-08-20 22:46] JoshHull-Wellsky opened #1121 "Clean install and build fails the Getting Started instructions"
SDK version: (nuget versions of the all the relevant packages) OpenTelemetry.Exporter.Console.0.4.0-beta.2
.NET runtime version (.NET or .NET Core, TargetFramework in the .csproj file): 3.1
Platform and OS version:  MacOS Catalina 10.15.6, VSCode 1.48.0

**Steps to reproduce.**
Follow https://github.com/open-telemetry/opentelemetry-dotnet/blob/master/docs/trace/getting-started/README.md precisely.

[2020-08-20 22:57] cijothomas commented on #1121
Yes. the readme is updated to the current code (master branch, published to myget daily).
To follow the doc and use released SDK, use this link: https://github.com/open-telemetry/opentelemetry-dotnet/blob/0.4.0-beta/docs/getting-started.md

Or you can add myget source, and pick the latest version from myget.

(This will be better addressed once we start publishing docs officially.)

[2020-08-20 23:22] cijothomas commented on #1026
All propagators can be in API project. Spec allows propagators to be enabled without installing SDK.

[2020-08-20 23:27] cijothomas commented on #984
@rajkumar-rangaraj Can you confirm if this is addressed?

[2020-08-21 00:38] rajkumar-rangaraj commented on #984
Yes @cijothomas, this part is fixed in tracer shim. PR #994

[2020-08-21 00:39] eddynaka commented on #1118
We didn't add that when we created this because if we accept an Dictionary<string,object> how we will handle things that aren't allowed types? are we going to ignore?

[2020-08-21 06:49] #1121 closed

[2020-08-21 18:18] cijothomas opened #1130 "Rename OpenTelemetry.Instrumentation.Grpc to OpenTelemetry.Instrumentation.GrpcClient"
Rename OpenTelemetry.Instrumentation.Grpc to OpenTelemetry.Instrumentation.GrpcClient, as this package only does gRPC Client Instrumentation.
Service side is built on top of Asp.Net Core one, and is enabled when Asp.Net Core instrumentation is enabled.

[2020-08-21 18:42] cijothomas opened #1131 "Test breaking CI"
X OpenTelemetry.Instrumentation.Http.Tests.HttpClientTests.HttpOutCallsAreCollectedSuccessfullyAsync(tc: HttpOutTestCase { Headers = null, Method = "POST", Name = "Successfully POST call to https://example.com", ResponseCode = 0, ResponseExpected = True, ... }) [27ms]
  Error Message:
   Assert.Equal() Failure
          ↓ (pos 0)
Expected: OK
Actual:   DEADLINE_EXCEEDED
          ↑ (pos 0)
  Stack

[2020-08-21 19:42] #1131 closed, assigned to cijothomas

[2020-08-22 02:14] cijothomas opened #1137 "Rename OpenTelemetryServiceExtension methods"
https://github.com/open-telemetry/opentelemetry-dotnet/blob/master/src/OpenTelemetry.Extensions.Hosting/OpenTelemetryServicesExtensions.cs#L36

AddOpenTelemetry was the old name, before the TracerBuilder/Provider was formalized everywhere. Better name would be AddTracerProvider, or AddOpenTelemetryTracerProvider.

[2020-08-22 04:28] #1137 closed, assigned to cijothomas

[2020-08-22 04:35] #1130 closed, assigned to alanwest

[2020-08-23 19:26] CodeBlanch commented on #992
@eddynaka I'm not 100% certain, but I feel like there would actually be slightly less overhead if we specified the format/culture to use. Because if we don't specify it, the framework has to go and look up the current culture. Probably OK to just use invariant everywhere. @reyang What do you think?

[2020-08-23 19:36] reyang commented on #992
I think in this project we should use either `StringComparison.Ordinal` or `StringComparison.OrdinalIgnoreCase`, depending on the scenario.

We need to use `ToString` with `InvariantCulture` everywhere as we're not dealing with UI (e.g. we don't expect an internal exception to be translated to Chinese; we don't expect 12345 to be formatted to "12,345").

[2020-08-23 20:30] eddynaka commented on #992
@CodeBlanch @reyang , i will open a separate pr (probably part 06), because part 05 already has ~40 files changes.

[2020-08-24 13:15] kirillta commented on #699
Running the betas for a month and catch no errors so far

[2020-08-24 13:15] eddynaka commented on #699
@kirillta , thanks for let us know! :)

[2020-08-24 16:12] reyang opened #1143 "More renames from the spec"
The spec has changed, need to rename stuff (treated as a bug since we're literally not compliant with the latest spec):
* HTTPText propagator renamed to TextMap propagator (https://github.com/open-telemetry/opentelemetry-specification/pull/793)
* ProbabilitySampler renamed to TraceIdRatioBased (https://github.com/open-telemetry/opentelemetry-specification/pull/611)
* ParentOrElse renamed to Parent

[2020-08-24 16:21] cijothomas commented on #1143
Tagging for the immediate beta as we can try to make as many breaking changes as earlier as possible.

[2020-08-24 19:51] cijothomas commented on #1021
I don't see any concern here.

[2020-08-24 19:59] cijothomas opened #1145 "Activity should not have public API to set kind"
We currently expose an extension method to Set Kind.
https://github.com/open-telemetry/opentelemetry-dotnet/blob/master/src/OpenTelemetry.Api/Trace/ActivityExtensions.cs#L84

This internally uses reflection. This is required for instrumentations which are dealing with "legacy" activities which has the default 'internal' kind, and must be changed to right one.

Kind is not something which is expect

[2020-08-24 20:02] cijothomas opened #1146 "Make MeterProvider consistent with TracerProvider"
While the Meter API itself is subject to change , the setting up of provider should be consistent with TracerProvider.
https://github.com/open-telemetry/opentelemetry-dotnet/blob/master/src/OpenTelemetry/Sdk.cs#L45

This should follow the TracerProvider approach to ensure consistency.
https://github.com/open-telemetry/opentelemetry-dotnet/blob/master/src/OpenTelemetry/Sdk.cs#L78

var meterProvider

[2020-08-24 20:02] eddynaka commented on #1145
If we go for option (1), people that creates their own instrumentation and have legacy way will have a problem. Based on that, i would go to option (2), and add a remarks tag, so we can say when to use it.

[2020-08-24 20:05] cijothomas commented on #893
@rajkumar-rangaraj is working to make this configurage in gRPC client instrumentation. Once done we can review it and make it the recommendation for every instrumentation authors.

[2020-08-25 00:46] reyang opened #1155 "Clean up Application Insights code"
Remove legacy stuff from https://github.com/open-telemetry/opentelemetry-dotnet/search?q=applicationinsights&unscoped_q=applicationinsights.

[2020-08-25 00:53] reyang opened #1157 "Clean up OpenTelemetry terms"
We have places that we use "Open Telemetry" and "OT".
These should be replaced with "OpenTelemetry" (without space) and "OTel".

[2020-08-25 01:06] #1157 closed

[2020-08-25 01:07] reyang opened #1161 "Need to have consistent line endings as part of the CI check"
Refer to https://github.com/open-telemetry/opentelemetry-dotnet/pull/1158/files#r476024821.

[2020-08-25 01:27] cijothomas opened #1163 "Span/Tracer Shim should be consistent with OTel spec."
The shim should follow the spec as such. Some notable missing:
TelemetrySpan should have get for Context, parent.
TelemetrySpan should not contain getters/setter for SpanKind. etc.

All the methods to add attributes/events should be noops unless IsRecording = true.

Compare with this doc:
https://github.com/open-telemetry/opentelemetry-dotnet/issues/947

[2020-08-25 04:23] #1155 closed

[2020-08-25 09:46] eddynaka commented on #1163
@cijothomas , how are we going to set the `Context`? That one is only possible if we have the Activity with the correct Context, but it's an indirect set. What do you think?

[2020-08-25 13:58] cijothomas commented on #1163
My bad - only Get for Context. There is no way to set context after a Span has been started

[2020-08-25 13:58] eddynaka commented on #1163
@cijothomas , based on that, i think the PR is ready. Let me know what do u think.

[2020-08-25 17:01] #1163 closed

[2020-08-26 02:43] reyang opened #1169 "Avoid spin entirely if running on a single core"
https://github.com/open-telemetry/opentelemetry-dotnet/pull/1088#discussion_r471159257

[2020-08-26 16:06] #940 closed

[2020-08-26 20:29] lmolkova opened #1177 "Populating incoming HTTP requests on activity custom properties"
# Question

Is there a reason why incoming HTTP requests in ASP.NET and Core are not populated on custom Activity properties (similarly to outgoing http requests
https://github.com/open-telemetry/opentelemetry-dotnet/blob/32fb7c12f1269147bea1080f04ea4ba489aa0f63/src/OpenTelemetry.Instrumentation.Http/Implementation/HttpHandlerDiagnosticListener.cs#L103

**What are you trying to achieve?**

Provide

[2020-08-26 20:52] cijothomas commented on #1177
we do it now:
https://github.com/open-telemetry/opentelemetry-dotnet/blob/master/src/OpenTelemetry.Instrumentation.AspNetCore/Implementation/HttpInListener.cs#L105

[2020-08-26 20:53] cijothomas commented on #1177
will be part of the beta release happening this week.

[2020-08-27 01:02] lmolkova commented on #1177
Cool! Thanks for the info

[2020-08-27 01:02] #1177 closed

[2020-08-27 09:49] redondoxx commented on #73
Hi, is this feature available yet?

[2020-08-27 14:08] cijothomas commented on #73
@redondoxx The ability on enhance span using request/response is available now. Its achieved differently than this issue describes.
The request/response etc objects are stored in Activity's customproperties by the instrumentation now, so you can write a activityprocessor, to access them and enrich activity.

I'll be posting  a doc with example usage today.

[2020-08-27 14:34] #1146 closed

[2020-08-27 15:41] #968 closed

[2020-08-27 16:55] christopher-taormina-zocdoc opened #1182 "How to get http.host tags on server zipkin spans?"
# Question

I'm using the 0.4.0-beta.132 package setup up with the aspnetcore instrumentation and a Zipkin exporter. It seems the `http.host` tage the `HttpInListenter` adds to the server span is not added to the ZipkinSpan object when the exporter is converting the Activity to an instance of Zipkin span, but instead is [pulled out](https://github.com/open-telemetry/opentelemetry-dotnet/blob/4915d

[2020-08-28 02:31] redondoxx commented on #73
@cijothomas thank for your response, it will be very nice if we have some docs about this 👍 .

[2020-08-28 05:52] cijothomas commented on #1182
@eddynaka Can you help/take a look?

[2020-08-28 06:00] cijothomas opened #1186 "Instrumentation Filter possible confusion with return type."
PR https://github.com/open-telemetry/opentelemetry-dotnet/pull/1181 exposed public Filter to Http/Aspnet instrumentations.
https://github.com/open-telemetry/opentelemetry-dotnet/blob/master/src/OpenTelemetry.Instrumentation.AspNetCore/AspNetCoreInstrumentationOptions.cs#L43

There are some possible confusion point about the Filter.
The Filter is expected to return a bool now, with true indicating

[2020-08-28 07:11] eddynaka commented on #1182
@christopher-taormina-zocdoc do u have a demo where I can test?

[2020-08-28 08:43] cijothomas commented on #73
@redondoxx Please take a look at this: https://github.com/open-telemetry/opentelemetry-dotnet/pull/1193
I could use your feedback to this doc which is being written :)

[2020-08-28 14:50] christopher-taormina-zocdoc commented on #1182
@eddynaka sure how much do you need? all I have is a server instrumented with the following code

[code]

and debug through ToZipkinSpan method in ZipkinActivityConversionExtensions and later see the resulting json body for the http call not having the tag `http.host`.

[2020-08-28 15:28] cijothomas opened #1196 "AddOpenTelemetryTracerProvider renaming"
This PR rename extension methods on ServiceCollection from AddOpenTelemetry to AddOpenTelemetryTracerProvider. There were questions about the lengthy name and some alternates were suggested.
https://github.com/open-telemetry/opentelemetry-dotnet/pull/1138

Opening this issue to continue the discussion.

AddOpenTelemetry - is not indicative.. Its unclear if Metrics are added?

AddOpenTelemetryTraci

[2020-08-28 15:37] eddynaka commented on #1182
@christopher-taormina-zocdoc , i was looking at this. Running the `Examples.AspNetCore`. I can see some data:
![image](https://user-images.githubusercontent.com/16199012/91585249-2d87e380-e92a-11ea-9617-0ea711f7ae9f.png)

The `http.host` is removed on purpose from the `activity.Tags`. The same happen for other fields: peer.service, peer.hostname, peer.address, http.host, db.instance. Not sure if t

[2020-08-28 16:57] alanwest commented on #1196
Not sure people will like this idea (unsure yet if I do), but just putting it out there...

Was there any discussion about leaving the name as `AddOpenTelemetry` with a plan of extending it to take a `MeterProviderBuilder` and `LogProviderBuilder`?

Something like

[code]

[2020-08-28 16:58] christopher-taormina-zocdoc commented on #1182
I it was removed as an attempt to set RemoteServiceEndpoint as referenced in the spec to convert from otel to zipkin [here](https://github.com/open-telemetry/opentelemetry-specification/blob/master/specification/trace/sdk_exporters/zipkin.md), but it doesn't seem to need to also remove the tag? Is it possible to allow the tag to still be written to the Zipkin span in addition to this logic? As far

[2020-08-28 17:00] eddynaka commented on #1182
@cijothomas @pjanotti @CodeBlanch , since i'm not that involved in the ZipkinExporter from the beginning, would you think that maintaining the `http.host` in the tags would be bad? Today we are not adding / exporting it as tags.

[2020-08-28 17:22] CodeBlanch commented on #1182
@eddynaka Basically, it's a bug. It should be transported. The code linked in the description:
https://github.com/open-telemetry/opentelemetry-dotnet/blob/4915d74b1c4ddc213ec1a125cf940d686797f908/src/OpenTelemetry.Exporter.Zipkin/Implementation/ZipkinActivityConversionExtensions.cs#L185-L190
Should really be:
[code]
The same could also be said for AttributeNetPeerIp & AttributeNetPeerPort tags. Ba

[2020-08-28 17:24] eddynaka commented on #1182
HI @CodeBlanch , my last refactor solves the Write stuff, but, if we don't have those in the tags, it won't write. I will check and push this change to Zipkin and check JaegerExporter as well.

[2020-08-28 17:26] eddynaka commented on #1182
If we could send everything, we could maintain all the logic and remove the else section and add those tags every time. What do you think?

[2020-08-28 17:29] CodeBlanch commented on #1182
The instrumentation is adding them [here](https://github.com/open-telemetry/opentelemetry-dotnet/blob/a09e1f8fa3c5c12afc736d31f833c5d9e52575ad/src/OpenTelemetry.Instrumentation.AspNetCore/Implementation/HttpInListener.cs#L116), so they should be available at the time of export.

Ya that sounds good to me. Always send all the tags. A handful of them while we are sending we want to grab for remote e

[2020-08-28 17:38] eddynaka commented on #1182
@CodeBlanch , for JaegerExporter, we don't have this issue:

[code]

[2020-08-28 17:47] eddynaka commented on #1182
@christopher-taormina-zocdoc , as soon as the PR get's merged, it will push all tags. Below an example:
![image](https://user-images.githubusercontent.com/16199012/91599896-62e9fc80-e93d-11ea-831d-5f9a9a2eb57c.png)

[2020-08-28 17:51] christopher-taormina-zocdoc commented on #1182
@eddynaka awesome thanks again for the help. Sorry if I just manage to create work lol

[2020-08-28 17:51] eddynaka commented on #1182
@christopher-taormina-zocdoc , we are solving bugs! that's the best part!

[2020-08-28 18:19] alanwest commented on #1182
Yes, this makes sense. In fact I was just working on Jaeger this morning and realized that it does not have this issue. That is, it sends up all the tags.

[2020-08-28 18:20] #1182 closed

[2020-08-28 18:23] eddynaka commented on #1182
@christopher-taormina-zocdoc , the code is merged. We will have the new beta soon AND you can still use the myget which will be generated automatically at 00:xx UTC.

thanks again!

[2020-08-28 18:28] christopher-taormina-zocdoc commented on #1182
@eddynaka oh nice, whens the new beta? is there a schedule for that I can follow?

[2020-08-28 18:30] eddynaka commented on #1182
@christopher-taormina-zocdoc , it is scheduled for today but can extend. We don't have an exact time. We are creating PR's to add more docs to all the things we have done so far...etc.

[2020-08-28 18:53] MikeGoldsmith commented on #1196
I think `AddOpenTelemetryTracing` is the most concise yet provides a clear indication of what is actually happening 👍

[2020-08-28 20:56] eddynaka commented on #1182
@christopher-taormina-zocdoc , we just released the new beta!

[2020-08-28 20:58] christopher-taormina-zocdoc commented on #1182
awesome! thanks for the heads up

[2020-08-29 08:14] redondoxx commented on #73
thank i will give it a try soon :)

[2020-08-30 16:51] beef3333 commented on #917
I have had good success using this to help automate generating versions per package, https://github.com/dotnet/Nerdbank.GitVersioning

[2020-08-30 21:27] ejsmith commented on #1196
I vote for `AddOpenTelemetryTracing` as well.

[2020-08-31 01:55] czs1993 opened #1204 "the main work of span->Activity is Completed, Is there any plan to "Reusing Adaptors for Traces and Metrics"?"
Add any other context about the problem here. If you followed an existing documentation, please share the link to it.

**all details infos in** #632

[2020-08-31 13:58] cijothomas commented on #1204
No update. Please use the same issue for tracking.

[2020-08-31 13:58] #1204 closed

[2020-08-31 17:11] cijothomas opened #1206 "Instrumentation improvements."
Http/ASP.NET/Core instrumentation now populates the raw objects into activity's custom property.

Proposals:
1. Instead of doing this always, conditionally do it if explicitly enabled to avoid any unwanted perf hit for users who don't plan to leverage this.

2. Should we somehow clear the customproperty after all the request is finished? Storing the raw httprequest/response etc to the activity, co

[2020-08-31 17:12] cijothomas commented on #73
closing as this feature is done. Docs are being working now.

[2020-08-31 17:12] #73 closed

[2020-08-31 17:13] #1143 closed

[2020-08-31 17:13] cijothomas opened #1207 "OTLP Exporter changes to match change in spec."
OTLP exporter unified configuration for Tracing/Metrics (open-telemetry/opentelemetry-specification#820)

[2020-08-31 17:33] cijothomas commented on #1196
I will do a PR renaming to AddOpenTelemetryTracing as that seems a good balance between "length" and "clarity".

[2020-08-31 17:34] christopher-taormina-zocdoc opened #1208 "ActivityProcessor Start method invoked before custom http request property is set"
# Bug Report
Packages:
* `OpenTelemetry 0.5.0-beta.5`
* `OpenTelemetry.Api 0.5.0-beta.5`
* `OpenTelemetry.Instrumentation.AspnetCore 0.5.0-beta.5`
* `OpenTelemetry.Exporter.Zipkin 0.5.0-beta.5`
* `OpenTelemetry.Extensions.Hosting 0.5.0-beta.5`

Runtime version  `aspnetcore2.1`

## Symptom

I've implemented a simple Activity Processor just like the one in the AspNetCore Instrumentation readme [here

[2020-08-31 17:34] christopher-taormina-zocdoc commented on #73
@cijothomas I think I found an issue with this, I opened a bug ticket here https://github.com/open-telemetry/opentelemetry-dotnet/issues/1208

[2020-08-31 17:39] cijothomas commented on #1208
`.AddProcessor(new MyActivityProcessor());` must be added before the exporter. Can you try that? (I have added the importance of order in AspNet doc PR now. Will be extending it to all docs soon)

[2020-08-31 17:42] christopher-taormina-zocdoc commented on #1208
@cijothomas I just gave that a try and still seem to run into the same issue.

[code]

[2020-08-31 18:08] cijothomas commented on #1208
@christopher-taormina-zocdoc I think the issue is with the ordering. I will fix the ordering.
Meanwhile - you can modify the Processor to check for customproperty in the OnEnd callback and it should work.

[2020-08-31 18:09] christopher-taormina-zocdoc commented on #1208
Yeah it seems to be fine with the OnEnd fight now so I can move forward with that.

[2020-08-31 18:12] cijothomas commented on #1208
Thanks for raising this. I will refactor the ActivitySourceAdapter so that the original examples would work as well.
Adapter should expose GetSampling() method, Start() , Stop() method similar to actual ActivitySource.
Instrumentation can call GetSampling() first and then call Start/Stop.

[2020-08-31 18:13] cijothomas opened #1210 "ActivitySourceAdapter improvement"
ActivitySourceAdapter currently expose start and stop only, and internally calls GetSampling (equivalent) inside Start. Instead it must expose GetSampling, Start, Stop separately to aligh with the behaviour of actual ActivitySource. And to prevent issues like the one reported here: https://github.com/open-telemetry/opentelemetry-dotnet/issues/1208

[2020-08-31 18:14] #1208 closed

[2020-08-31 21:34] cijothomas opened #1212 "Update DiagnosticSource to Rc1"
Has several renamings,
support for adding tags from sampler to the activity.
removes AutoGenerateRootContextTraceId

[2020-09-01 00:22] cijothomas opened #1215 "Extensions.Hosting can add multiple TracerProvider without disposing old"
A code like below will add 2 instances of TracerProvider and new ones replace the old one. Old ones are not disposed when being overwritten.

[code]

Opening an issue to track as this was reported offline.

[2020-09-01 00:22] #953 closed

[2020-09-01 00:22] #1212 closed

[2020-09-01 00:32] #1196 closed

[2020-09-01 00:39] reyang commented on #1210
nit: imprvoement -> improvement

[2020-09-01 05:15] CodeBlanch commented on #1030
I think it's good to have the repo. It gives people one place to go to see all the community add-on stuff. Ultimately, that helps the project grow! I don't have a lot of time to spend on it, but I don't mind helping out. It's not like there is a ton of activity. Should we switch the package names to something like OpenTelemetry.Community.*?

[2020-09-01 05:20] reyang commented on #1030
I would vote for `OpenTelemetry.Contrib` since "community" might be misleading (OpenTelemetry .NET itself is also a community).

[2020-09-01 05:23] reyang commented on #1030
I think for the contrib repo we probably need to have the following things before proceeding further:
1. Have the initial process documented in the README.md and CONTRIBUTING.md. This would help people (maintainer/approver/user) to set the right expectation.
2. Explore federated model where each component/sub-folder could have individual owners / CI / release cadence. This needs clarification from

[2020-09-01 10:03] eddynaka commented on #1030
For the first releases, we could do the same thing as we do in the main repo (one shoot release), so it will be less trouble for the maintainers.

I can help with that, but I think the main focus will be this repo

[2020-09-01 10:03] eddynaka commented on #1030
I will change that

[2020-09-01 21:51] alanwest opened #1217 "Adding only HttpClient instrumentation to ASP.NET Core app does not work"
# Bug Report

If you only add HttpClient instrumentation to an ASP.NET Core app, no spans from HttpClient are collected.

The issue is not specific to HttpClient instrumentation. I have also reproduced this when adding only Grpc.Net.Client instrumentation.

## Reproduce

[code]

[code]

## Update

See my analysis below for the reason why this occurs. Some thoughts come to my mind on how best to ad

[2020-09-01 23:44] alanwest opened #1218 "Include details of MyGet feed somewhere"
Assuming the plan is to continue to push packages to MyGet, it would be nice to document this information somewhere.

One thought shared in a SIG meeting is to add the MyGet feed details to `CONTRIBUTING.md`. Does this make sense to folks?

We recently removed the MyGet links for all the individual packages from READMEs, does it make reintroduce these somewhere, or is feed details in `CONTIRBUTING

[2020-09-02 01:28] xiang17 opened #1219 "Make all test cases in W3C trace-context test suite pass"
PR #1124 created a workflow to run W3C trace-context integration test, but there are still some failed test cases in the test suite. This issue is to track fixing of those test cases.

- [ ] Step 1: Identify and exclude the existing  failures in W3C trace context tests. In progress #1243.
- [x] Step 2: Fix each of the following testcases except for the ones failing with known external dependencies

[2020-09-02 01:30] reyang commented on #1114
Initial PR has been merged https://github.com/open-telemetry/opentelemetry-specification/pull/904.

[2020-09-02 09:25] SmithSgq opened #1222 "about .net461 OpenTelemetry.Instrumentation.SqlClient"
this is my code
-----
  static void Main(string[] args)
        {
            var tracerProvider = Sdk.CreateTracerProviderBuilder()
               .AddHttpClientInstrumentation()
               .AddAspNetInstrumentation()
               .AddSqlClientInstrumentation(options =>
               {
                   options.SetTextCommandContent = true;

               })
               .AddZipkinExpo

[2020-09-02 14:51] cijothomas commented on #1222
@SmithSgq Thanks for reporting this. What you see is the expected behavior. In .NET Framework, SQLClient doesn't emit the command text. It only has StoredProcedure name. (unless you use Microsoft.Data.SqlClient, instead of System.Data.Sqlclient)

(We need it make it clear ... maybe conditionally have `SetTextCommandContent` only for .netstandard? ... Still need to deal with Microsoft.Data.SqlClien

[2020-09-03 08:05] SmithSgq commented on #1222
Thank you for your reply

We used azure monitor and application insights, which are products of Microsoft azure.

Azure Monitor： https://azure.microsoft.com/services/monitor/

The open source library address of application insights is  https://github.com/microsoft/ApplicationInsights-dotnet

I still use it system.data.sqlclient Can record SQL statements

So I suggest implementing this function

[2020-09-03 18:23] reyang opened #1226 "Replace AddTag with SetTag"
SetTag seems to be the way to go and we probably want to replace all `AddTag` calls in this repo?

https://github.com/open-telemetry/opentelemetry-dotnet/search?q=AddTag&unscoped_q=AddTag

[2020-09-03 18:31] eddynaka commented on #1226
@reyang , are u going to replace? or should I?

[2020-09-03 18:32] reyang commented on #1226
Feel free to take it.

[2020-09-03 18:38] cijothomas commented on #1226
@eddynaka Also check if we are retrieving Activity.Tags. It should be Activity.TagObjects

[2020-09-03 20:57] SergeyKanzhelev opened #1229 "Release intermediate beta version mid September"
This is a request to release an intermediate beta version mid September. Needed for app onboarding that hit the nasty concurrency bug: https://github.com/open-telemetry/opentelemetry-dotnet/pull/1185

App is currently being validated with the MyGet version of the package. Once validation is OK we should be good to go as this was identified as the only blocking issue.

Proposed release date: 9/14/2

[2020-09-03 21:12] cijothomas commented on #1229
DiagnostciSource RC1 is expected to release on 9/14. So no objection to doing a release on 9/14 or a day after.

[2020-09-04 02:42] SmithSgq commented on #1222
Thank you for your reply

Datadog is a monitoring tool that can monitor SQL. How can I associate with otel? I use two tools to monitor. This makes it more difficult for me to check and compare.

So I'm going to use it in this way. I'm looking forward to the following updates and features in the evening

[2020-09-04 02:44] SmithSgq commented on #1222
Thank you for your reply

Datadog is a monitoring tool that can monitor SQL. How can I associate with otel? I use two tools to monitor. This makes it more difficult for me to check and compare.

So I'm going to use it in this way. I'm looking forward to the following updates and features in the evening

[2020-09-04 03:24] alanwest commented on #1217
For the Web API case, the reason the HttpClient span does not show up without adding the ASP.NET Core instrumentation is because the `ParentBasedSampler` _always_ makes a `NotRecord` decision.

1. It _does_ have a parent (the ASP.NET Core HTTP IN activity), so `parentContext.SpanId != default` here
https://github.com/open-telemetry/opentelemetry-dotnet/blob/32fb7c12f1269147bea1080f04ea4ba489aa0f63

[2020-09-04 10:04] AlexeiScherbakov opened #1231 "Make PropertyFetcher public and place it in OpenTelemetry.Api"
1. PropertyFetcher is used as copy-paste in many opentelemetry projects:

- https://github.com/open-telemetry/opentelemetry-dotnet/blob/master/src/OpenTelemetry.Instrumentation.GrpcNetClient/Implementation/PropertyFetcher.cs
- https://github.com/open-telemetry/opentelemetry-dotnet/blob/master/src/OpenTelemetry.Instrumentation.AspNetCore/Implementation/PropertyFetcher.cs
- https://github.com/open-t

[2020-09-04 13:43] cijothomas commented on #1231
We can make it public and move it to https://github.com/open-telemetry/opentelemetry-dotnet/tree/master/src/OpenTelemetry/Instrumentation, and have all instrumentation get it from the common place.

[2020-09-04 13:44] cijothomas commented on #1231
Currently these instrumentations depend on SDK project, instead of the API project, as it has to do some conversion from legacy to new activity, which requires ActivitySourceAdapter, which is in SDK...

[2020-09-04 16:08] alanwest opened #1233 "Improve instrumentation documentation"
Improve instrumentation documentation and make the format consistent across all the supported libraries.

@cijothomas Is this the list of items you had in mind for this effort? If so, I can pick some of these up.

- [x] [OpenTelemetry.Instrumentation.AspNet](https://github.com/open-telemetry/opentelemetry-dotnet/tree/master/src/OpenTelemetry.Instrumentation.AspNet) #1205
- [x] [OpenTelemetry.Instr

[2020-09-04 16:36] alanwest opened #1235 "Jaeger/Zipkin remote endpoint cache improvements"
Zipkin had a remote endpoint cache to reduce allocations:
https://github.com/open-telemetry/opentelemetry-dotnet/blob/465fc093203b309836f0443740c72114e3afe7ed/src/OpenTelemetry.Exporter.Zipkin/Implementation/ZipkinActivityConversionExtensions.cs#L109-L117

Jaeger does not have a cache. @CodeBlanch and I discussed (https://github.com/open-telemetry/opentelemetry-dotnet/pull/1195#discussion_r4795023

[2020-09-04 16:42] cijothomas commented on #1233
For SQL (https://github.com/open-telemetry/opentelemetry-dotnet/issues/1222), can you add some text to clarify that full SQL Query is supported in only following scenarios:
.NET Core - System.Data.SQlCient or Microsoft.Data.SqlClient
.NET Framework - Microsoft.Data.SqlClient
.NET Framework + System.Data.SqlClient - no ability to get full SQL text.

[2020-09-06 17:13] #1226 closed

[2020-09-06 17:35] #1231 closed

[2020-09-08 17:40] #405 closed

[2020-09-08 19:56] SergeyKanzhelev commented on #1229
Great. Thank you

[2020-09-08 20:47] lupengamzn opened #1240 "Overriding Trace ID"
# Question

**Describe your environment.**

As AWS X-Ray adopts trace ID with timestamp, we need to override OT's original random trace ID when writing the propagator. The **only** exposed API allow us to do so is through `SetParentId`. However, when we apply this API to a root activity, its trace ID will be overridden but its parent ID will no longer be `null`, which will fail the sampling [check

[2020-09-08 20:48] lupengamzn commented on #1240
cc/ @anuraaga @srprash

[2020-09-08 23:13] alanwest opened #1242 "HttpClient & ASP.NET Core instrumentation invokes Propagator.Inject/Extract when it should not"
I just spotted this in the HTTP instrumentation

https://github.com/open-telemetry/opentelemetry-dotnet/blob/dd4bd3e0bd6daa0ef114c34b1d216aa0e313f584/src/OpenTelemetry.Instrumentation.Http/Implementation/HttpHandlerDiagnosticListener.cs#L113-L116

This seems to suggest that we do not call `Inject` when the version of HttpClient being used is one that already propagates W3C trace context (.NET Core

[2020-09-09 00:42] eddynaka commented on #1242
In the "past" we had a method called `IsInjected` and we would only inject in `CompositePropagator` if we didn't have injected yet. But, that was removed. so I think that is a know "issue". Don't say it's a bug, because it would inject something that it already has.

[2020-09-09 02:19] CodeBlanch commented on #1242
@alanwest Your write-up is correct. We used to let .NET handle it, but when we added support for Baggage we switched to the CompositePropagator so it will now be firing by default where it didn't before.

It looks like .NET has an existence check:
https://github.com/dotnet/runtime/blob/632cdcab09fda363e460296a77be0be32096f512/src/libraries/System.Net.Http/src/System/Net/Http/DiagnosticsHandler.cs#

[2020-09-09 03:16] alanwest commented on #1242
Nope. I just saw the code and thought it looked fishy, so figured I'd ask.

Yes, seems like a possible minor perf issue if the `DiagnosticsHandler` does it work first, then the work we do is redundant.

This seems like a decent thing to explore.

At a minimum, I think we should do away with the `if (!(this.httpClientSupportsW3C && this.options.Propagator is TextMapPropagator))` check no longer rea

[2020-09-09 06:31] xiang17 commented on #405
Some test cases are still failing (other than the "expected" failures). Created another issue to track each failure test case: #1219

[2020-09-09 16:53] cijothomas commented on #1208
Thinking bit more on this - I think its safe to modify examples to expect the raw objects only in OnEnd callbacks.. ActivitySourceAdapter is invented to simulate the behavior of ActivitySource for old (DiagnosticSource based) instrumentations.
In ActivitySource, there is no ability to start an activity with customProperties. ie there is no API like activitySource.StartActivity(...customProperty).

[2020-09-09 16:55] cijothomas commented on #1210
The current method/behavior of Start is aligned with ActivitySource, which has StartActivity - which does Sampler invocation, and depending on outcome, OnStart callback is called.
ActivitySourceAdapter exposes Start (which is equivalent of activitySource.StartActivity) - this does Sampler invocation, and invokes OnStart. So there is no need to any change here.

[2020-09-09 16:55] #1210 closed

[2020-09-09 16:57] cijothomas opened #1245 "Sampler attributes must be part of activity for legacy instrumentation"
https://github.com/open-telemetry/opentelemetry-dotnet/issues/953 is fixed for activities created using ActivitySource. The same must be fixed for legacy/old (DiagnosticSource based) instrumentations as well.

[2020-09-09 17:02] Goxiaoy opened #1246 "How to serialize Activity object and store in local storage to prevent data lost"
# Question
I want to use opentelemetry in my client side app, and store telemeties in some kind of local storage and then send it to server to import to existing exporter like Jaeger. I have seen relative design in ApplicationInsights. It's really useful when telemetries produced in client side

**Describe your environment.**

.net core 3 console app

**What are you trying to achieve?**

What I am

[2020-09-09 17:11] cijothomas commented on #1246
Improving reliability by making LocalStorage is in the plan and was discussed few times. (Don't think an issue was created to track this). The goal is provide this facility in the Processor itself, so *every* exporter can leverage it.
Agree we need to address the serializability of Activity. (We'll probably need to create something like ExportActivity or similar.)

If you want to contribute this f

[2020-09-09 17:49] Goxiaoy commented on #1246
So is this a dotnet only issue or open-telemetry spec issue? Cause I can not find any relative  information about LocalStorage in the whole opentelemetry-specification.

BTW
My case is more complicated then just LocalStorage. Because I have to send the temetry data from client side to server side, and deal with some cases to prevent DDOS like attack from clients in different places.  Most of my cu

[2020-09-09 18:19] cijothomas commented on #1246
Making this part of spec - not likely this year.
We are trying to address this specific to dotnet only now. Will share more details as we start working on it.
You can also chat Gitter channel, if you cannot attend sig meeting.

[2020-09-09 21:10] damonbarry opened #1251 "Can't use OtlpExporter in an Alpine docker image"
# Bug Report

List of [NuGet packages](https://www.nuget.org/profiles/OpenTelemetry) and version that you are using:
* `OpenTelemetry.Exporter.OpenTelemetryProtocol 0.5.0-beta.2`

Runtime version:
* `netcoreapp3.1`

## Symptom

When I run a .NET Core application in an Alpine-based docker image, and the app calls

[code]

I get an exception because GRPC is missing a native dependency. It seems to b

[2020-09-10 01:06] reyang commented on #1161
#1250

[2020-09-10 01:06] reyang commented on #1161
#1253

[2020-09-10 03:45] #1245 closed

[2020-09-10 15:24] ejsmith opened #1255 "Inconsistent SamplingDecision Names"
- `NotRecord`
- `Record`
- `RecordAndSampled`

Seems like we should pick between present tense or past tense and make it consistent. Either `Recorded` / `RecordedAndSampled` or `Record` / `RecordAndSample`.

`NotRecord` doesn't make sense. It's not correct English. Maybe just `Skip` or `DontRecord`. Personally I like just `Skip` better. It's already in an enum so it's always going to be qualified

[2020-09-10 16:34] cijothomas commented on #1255
The names were borrowed from the spec.
https://github.com/open-telemetry/opentelemetry-specification/blob/master/specification/trace/sdk.md#sampler
Agree its not consistent.

We should try to change the spec naming as well.

[2020-09-10 16:47] #1161 closed

[2020-09-10 18:54] ejsmith commented on #1255
Ahh, yeah, I was thinking that was probably the case. Seems unlikely that we would get the spec to change, right? Consistency across the implementations/spec is much more important than the individual names.

[2020-09-10 19:05] cijothomas commented on #1255
Small renamings are likely not controversial and you can try submitting a PR to the spec repo :)

[2020-09-10 20:09] xiang17 opened #1258 "Proposal to create public Logging APIs and log writer for easier Self Diagnostics experience"
## Current Problems

Every project needs to create its own EventSource implementation, most of which is repeated boilerplate code to achieve the same purpose. Currently there are 14 EventSource implementations for emitting errors, yet it's not straight-forward to capture and log these EventSource events in case of need for troubleshooting.

## Proposal

To solve these problems, I'm trying to provi

[2020-09-10 20:55] tylergohl opened #1259 "Add support for Datadog as an exporter"
# Feature Request

Add support for Datadog as an exporter for `opentelemetry-dotnet`

**Is your feature request related to a problem?**

No

**Describe the solution you'd like:**

Be able to select Datadog as an exporter

**Describe alternatives you've considered.**

Only alternative I'm aware of is using the Datadog's native implementation

## Additional Context

N/A

[2020-09-10 21:04] TimothyMothra commented on #1258
Can you elaborate more on # 3 of your plan...

It sounds like the order of operations is this:
1. Someone calls `OpenTelemetrySelfDiagnostics.Log.LogError()`
2. Internally, you emit to ETW
3. You also subscribe to ETW
4. Then you log to a file.

I think it would be more efficient to log straight to file when your LogError method is called. (skipping 3).

I think emitting to ETW is still valid.

I

[2020-09-10 23:12] cijothomas commented on #1259
The general guidance is - this repo will only be hosting exporters for Prometheus/Jaeger/Zipkin/OTLP. Vendor specific exports should live elsewhere.
(We had originally hosted some vendor specific exporters here, but they got moved out to vendors own github repo)

[2020-09-11 00:35] tylergohl commented on #1259
Thanks!

[2020-09-11 00:35] #1259 closed

[2020-09-11 05:34] reyang commented on #893
I think this should be addressed by #1202 and #1184.

[2020-09-11 05:34] #893 closed

[2020-09-11 05:39] reyang commented on #809
I think both filtering (at instrumentation level) and suppression (based on the runtime context, could happen anywhere including exporter, instrumentation, processor) are solved.

[2020-09-11 05:39] #809 closed

[2020-09-11 14:47] cijothomas commented on #1206
@eddynaka is lookin at 1,2

[2020-09-11 23:33] alanwest commented on #1242
@eddynaka @CodeBlanch

Similar thing in ASP.NET Core instrumentation. Though I think the effect is a little worse in this case because an additional activity is created.

https://github.com/open-telemetry/opentelemetry-dotnet/blob/5e41c6232760a34d4b705aa5a625b7aa00d7ff2a/src/OpenTelemetry.Instrumentation.AspNetCore/Implementation/HttpInListener.cs#L81-L103

[2020-09-13 17:10] CodeBlanch commented on #1242
@alanwest FYI it should only create that additional Activity if the extracted ActivityContext is different than the running one. That _should_ only happen if someone uses something like B3 which ASP.NET Core won't understand. Also, if you look in the Extract implementations, I added a short-circuit that quits out if the ActivityContext is already valid:

https://github.com/open-telemetry/opentelem

[2020-09-14 08:17] AlexeiScherbakov commented on #1246
I think this is a reinvention of the wheel because in production environment it must be an Agent feature, not an instrumentation library. Storage must be 1 per container or 1 per physical host. If you look at Jaeger architecture - ideal place for local storage is a Jaeger Agent, not a client library
1. https://www.jaegertracing.io/docs/1.19/architecture/
2. https://www.jaegertracing.io/docs/1.19/p

[2020-09-14 16:16] cijothomas commented on #1222
@alanwest has made doc changes to clarify the options. This should avoid any confusion now.

[2020-09-14 16:17] cijothomas commented on #1222
https://github.com/open-telemetry/opentelemetry-dotnet/tree/master/src/OpenTelemetry.Instrumentation.SqlClient#settextcommandcontent

[2020-09-14 16:17] cijothomas commented on #1222
Sorry, I cannot comment on Datadog part.

[2020-09-14 16:17] #1222 closed

[2020-09-14 16:36] cijothomas commented on #1246
Agree it could be better handled in agent, but we need to handle the following scenarios too:
1. Scenarios where running an agent is not possible. (PaaS service like Azure Web Apps, where its not easy to *install* agent)
2. The Agent itself is down due to whatever reason. The SDK has to have some mechanism to store the telemetry until agent comes back.

[2020-09-14 18:47] cijothomas commented on #1229
https://www.nuget.org/packages/System.Diagnostics.DiagnosticSource/5.0.0-rc.1.20451.14
I can do a release tomorow as RC1 is available now.

[2020-09-14 19:06] SergeyKanzhelev commented on #1229
This would be great! Do you need my help?

[2020-09-14 23:08] xiang17 opened #1264 "Make docker tests run on NetCoreApp 2.1"
There are 3 test projects that use docker (search for `dockerfile` in https://github.com/open-telemetry/opentelemetry-dotnet/find/master), all of which only run on NetCoreApp 3.1.

They need to be updated to run tests on NetCoreApp 2.1 as well according to supported .NET versions: https://github.com/open-telemetry/opentelemetry-dotnet#supported-net-versions

[2020-09-15 01:01] #1021 closed

[2020-09-15 01:13] cijothomas commented on #1229
pre-req done: https://github.com/open-telemetry/opentelemetry-dotnet/pull/1265

I will do the release, and update the pending releaseing doc PR as well. So next time onwards, any one (maintainers) can do the release.

[2020-09-15 22:16] alanwest opened #1269 "Collect basic HTTP metrics - response time and requests per second"
Collect HTTP repsonse time and RPS metrics for relevant frameworks/libraries:

* ASP.NET Core
* HttpClient
* Grpc.Net.Client
* ASP.NET

High-level requirements:

* Metrics should be able to be collected irrespective of whether tracing has been enabled.
* If tracing is enabled, sampling should have no impact on the collection of metrics.
* Metric and label names should follow the [semantic conventi

[2020-09-16 07:30] SergeyKanzhelev commented on #1229
this is done!!!

[2020-09-16 07:30] #1229 closed

[2020-09-16 09:01] dstoreng opened #1275 "Query parameters"
AspNetCoreInstrumentation currently captures query parameters from the request url.

These often contain sensitive information, should it really be the default?

[2020-09-16 09:31] JamesNK opened #1276 "Record gRPC message events"
The OpenTelemetry spec for gRPC has been updated with details about the events captured as messages are messages are sent. See https://github.com/open-telemetry/opentelemetry-specification/blob/master/specification/trace/semantic_conventions/rpc.md#events

First step is to figure out how to do this. Currently no diagnostic source method is called or event added to the current activity in [grpc-dot

[2020-09-16 13:23] astencel-sumo opened #1277 "HttpClient instrumentation sets span name that is too broad"
# Bug Report

List of [NuGet packages](https://www.nuget.org/profiles/OpenTelemetry) and
version that you are using (e.g. `OpenTelemetry 0.4.0-beta.2`):

* OpenTelemetry.Instrumentation.Http 0.5.0-beta.2

Runtime version (e.g. `net461`, `net48`, `netcoreapp2.1`, `netcoreapp3.1`, etc.
You can find this information from the `*.csproj` file):

* netcoreapp3.1

## Symptom

When instrumenting HttpClien

[2020-09-16 15:29] cijothomas commented on #1276
Yes. (grpc-dotnet must update to DiagnosticSource version 5.* to leverage Activity.AddEvent though)

[2020-09-16 19:46] eddynaka commented on #1275
@dstoreng , looking at the [spec](https://github.com/open-telemetry/opentelemetry-specification/blob/master/specification/trace/semantic_conventions/http.md#common-attributes), it's saying that we should save it in the span.

What you can do to avoid that is:
1. create your own processor: https://github.com/open-telemetry/opentelemetry-dotnet/tree/master/docs/trace/extending-the-sdk#processor
2. r

[2020-09-16 20:08] eddynaka commented on #1277
Hi @astencel-sumo , looking at all the information that you posted, that looks right. Can you open a PR and add the proper tests to validate it?

We are using the HttpTagHelper to prevent some allocations.

@CodeBlanch , looking at that file, I think you were the one who created/updated it. Do you know if we have a motive to not to change it based on the spec?

[2020-09-16 20:15] rajkumar-rangaraj opened #1278 "Add persistent storage to exporter"
To avoid data loss with transient errors, enable OpenTelemetry exporters to store failed telemetry and retry sending it at later time. Idea is based on persistent storage option available with [Application Insights SDK](https://docs.microsoft.com/en-us/azure/azure-monitor/app/data-retention-privacy#does-the-sdk-create-temporary-local-storage) and @reyang design principles discussed in [OpenCensus

[2020-09-16 20:28] dstoreng commented on #1275
I removed the query by creating a processor, which is fair enough i guess.

I just feel like this attribute in particular deserves a spot in the instrumentation options which prevented it from being captured in the first place.

[2020-09-16 20:30] reyang commented on #1278
We can probably leave this to each exporter since they might want to use other formats?

[2020-09-16 20:33] reyang commented on #1246
Ping back from #1278

[2020-09-16 20:34] rajkumar-rangaraj commented on #1278
Yes, it makes sense for every exporter to use their own format.

[2020-09-16 20:40] reyang commented on #1278
What is a `Process Identity`?

[2020-09-16 21:04] rajkumar-rangaraj commented on #1278
I should have clarified this earlier, `Process Identity` has different meaning in different environments. I meant here to say "Identity for user account which is running the application process". Will get the issue updated.

[2020-09-16 22:05] JamesNK commented on #1276
Is there a concern about long running streams that send and receive many messages, and `Activity.Events` acting as a memory leak?

See https://github.com/dotnet/runtime/issues/42347

[2020-09-17 00:55] JamesNK opened #1280 "gRPC call metadata not added in nested calls"
# Bug Report

I have an OpenTelemetry sample that has a client that makes a gRPC call to a service, and the service then calls itself.

The first call is detected as gRPC and gRPC specific metadata is present in Zipkin:

![image](https://user-images.githubusercontent.com/303201/93406403-b10e7200-f8e3-11ea-8242-d087022491de.png)

The nested call is not:

![image](https://user-images.githubuserconte

[2020-09-17 02:56] cijothomas commented on #1269
linking our Python friends doing similar: https://github.com/open-telemetry/opentelemetry-python/pull/1116

[2020-09-17 04:24] anuraaga opened #1281 "Confirm specification for runtime information"
open-telemetry/opentelemetry-specification#882 is adding a list of well-known runtime information to the specification to populate in the Resource. The author (me) only knows Java well and has guessed at helpful values for other languages. Please check the spec and update it if there is anything that should be fixed or could be more clear. Thanks!

[2020-09-17 04:50] CodeBlanch commented on #1277
Hey @astencel-sumo! Thanks for taking the time to write this up. Maybe the most thorough issue I've seen! I'm going to have to disagree with you on it though. Check out [Semantic conventions for HTTP spans](https://github.com/open-telemetry/opentelemetry-specification/blob/master/specification/trace/semantic_conventions/http.md#name) from the spec.

It says specifically on this topic:

The way I r

[2020-09-17 07:43] astencel-sumo commented on #1277
Oh thanks @CodeBlanch for the link to the other part of spec, totally missed it and it describes exactly what my concern was - going from "too broad" with just the HTTP method to "potentially too specific" with the request path. The spec is clearly on the side of "better too broad than too specific". I've dug up the issue behind this change in the spec and it gives even more sensible rationale - h

[2020-09-17 10:33] GiorgioG opened #1283 "How to add activities to AspNetCore traces?"
# Question
After configuring OpenTelemetry for use with ASP.NET Core (3.1), how do I include my own instrumentation of activities/spans/events?  For example, say I have an EmailService and I want to instrument the SendAsync method.

Here's how I've configured OpenTelemetry in my Startup class:
[code]

**Describe your environment.**
ASP.NET Core 3.1 Web API project

**What are you trying to achieve

[2020-09-17 10:35] phat1234 opened #1284 "Connect to port 14250 collector"
- Im using 0.6.0-beta.1 to send data to the collector with port 14250. but got something wrong
sample code here:
services.AddOpenTelemetryTracing((builder) => builder
                    .AddHttpClientInstrumentation()
                    .AddAspNetCoreInstrumentation()
                    .AddGrpcClientInstrumentation()
                    .AddOtlpExporter(options =>
                    {

[2020-09-17 11:04] eddynaka commented on #1264
@xiang17 , just to let you know I was trying to do something "automatic" using matrix from GH Actions to inject the dotnet version to docker-compose which would pass to dockerfile.

Tried some stuff using env, env-file, but yet couldn't accomplish. I'm studying and checking if that's possible with docker-compose up option.

[2020-09-17 11:45] astencel-sumo commented on #1277
It seems it is actually already possible to customize the span name by adding an ActivityProcessor.

I based my solution on this nice description in the ASP.NET Core instrumentation library: https://github.com/open-telemetry/opentelemetry-dotnet/tree/master/src/OpenTelemetry.Instrumentation.AspNetCore#special-topic---enriching-automatically-collected-telemetry.
I uploaded this solution to a branch

[2020-09-17 14:37] eddynaka commented on #1264
@xiang17 , just to let you know, I found a way to do that with:
- one docker file
- 1 compose
- 2 compose override

With that, if we need to enable it to net5, we should just add another compose override.

[2020-09-17 14:42] cijothomas commented on #1283
You can wrap the EmailService.SendAsync inside `using (var activityEmailSend = activitySource.StartActivity(...))`

Check the following example which shows how to generate own Activities.
https://github.com/open-telemetry/opentelemetry-dotnet/blob/master/examples/Console/TestConsoleExporter.cs#L43-L47

[2020-09-17 15:01] cijothomas commented on #1284
Code looks correct. Should have worked.
Can you explain what is the issue you are seeing?

[2020-09-17 15:14] cijothomas commented on #1277
@astencel-sumo There is a active PR to add document for HttpClient instrumentation https://github.com/open-telemetry/opentelemetry-dotnet/pull/1244/files

[2020-09-17 16:17] phat1234 commented on #1284
thanks ur reply @cijothomas
- I'm no idea to trace how it doesn't works. becoz i tried to do on .net frame 4.7.1 and i was working.
that's why i quite sure something wrong with the code.

[2020-09-17 16:42] phat1234 commented on #1284
Mightbe im missing service name there?

[2020-09-17 22:04] cijothomas commented on #1280
Not closing as we have to validate if the #1286 issue fixes this issue. @alanwest has volunteered to help validation.

[2020-09-18 00:38] ejsmith opened #1287 "Attempting to configure ASP.NET Core app with OTel Collector"
# Bug Report

OpenTelemetry 0.6.0-beta.1

I've got the OpenTelementry Collector demo working inside of docker-compose. Now outside of docker I am attempting to get my ASP.NET Core app configured to report traces to the collector. I attempted to use the Jaeger exporter, but it's not working and I don't have any idea how to trouble shoot it. I also configured a console exporter and that is working f

[2020-09-18 00:40] alanwest commented on #1280
I've created a similar set up using the Aggregator example. #1286 appears to have resolved the issue

<img width="1673" alt="Screen Shot 2020-09-17 at 5 32 08 PM" src="https://user-images.githubusercontent.com/3676547/93541653-e0d17000-f90b-11ea-9f58-4a83a866cabd.png">

[2020-09-18 02:43] ejsmith commented on #1287
Seems like maybe this is some sort of issue with being able to report data from outside of docker. The demo emitter's work insider of docker just fine. I tried telling docker-compose to expose the port as UDP for Jaeger, but it still didn't work.

[2020-09-18 14:21] cijothomas commented on #1287
otlp exporter is to be used if you have OpenTelemetry collector running. (https://github.com/open-telemetry/opentelemetry-collector) Its best to ask troubleshooting guide for collector in that repo.

[2020-09-18 14:25] ddiaz-relativity opened #1288 "Traces are rejected by SignalFx because Root Span contains ParentSpanId=00000000"
# Bug Report

List of [NuGet packages](https://www.nuget.org/profiles/OpenTelemetry) and
version that you are using (e.g. `OpenTelemetry 0.4.0-beta.2`):

* OpenTelemetry -Version 0.6.0-beta.7

Runtime version (e.g. `net461`, `net48`, `netcoreapp2.1`, `netcoreapp3.1`, etc.
You can find this information from the `*.csproj` file):

* netcoreapp3.1

## Symptom

We were trying to export traces to Signa

[2020-09-18 15:42] ejsmith commented on #1287
In general, I'm just trying to figure out how to troubleshoot this library though. It doesn't seem like there is any feedback on what is happening and whether or not things are working. Maybe I just have a simple config issue, but I can't tell if the library is trying to send data and failing or it thinks it's successful. So I was more looking for troubleshooting information for this specific libr

[2020-09-18 15:45] #1280 closed

[2020-09-18 15:51] cijothomas commented on #1287
The best option currently: Use perfview and look for OpenTelemetry-* sources.
In future, https://github.com/open-telemetry/opentelemetry-dotnet/issues/1258 this issue should make this more easy.

Please try perfview and see if you see any logs which explains the behavior.

[2020-09-18 16:01] ejsmith commented on #1258
I have a big problem with the proposal to create a new logging implementation. This library already takes a bleeding edge dependency on `System.Diagnostics.DiagnosticSource` and in general is a very modern library. IMO, there is no reason that this library shouldn't also take a dependency on `Microsoft.Extensions.Logging.Abstractions` and use that for logging which would give you easy integration

[2020-09-18 16:01] cijothomas commented on #1288
Opened an issue in runtime:
https://github.com/dotnet/runtime/issues/42456

(We may be able to workaround it, but will wait to confirm if this is indeed a bug)

[2020-09-18 16:12] cijothomas commented on #1258
Myunderstanding is this:
We are not introducing a new logging for end users.
We can simply ask every Otel components to simply log into EventSource.
The self-diagnostic module - will subsribe to all EventSource with a name matching "OpenTelemetry.**" or somethign like this.
And the self-diag module will simply print it to a local file, based on config.

The reason why I prefer to use EventSource,

[2020-09-18 16:14] cijothomas commented on #1258
In Azure ApplicationInsight, we did log to both Ilogger and eventsource here:
https://github.com/microsoft/ApplicationInsights-dotnet/blob/develop/NETCORE/src/Microsoft.ApplicationInsights.AspNetCore/Implementation/ApplicationInsightsStartupFilter.cs#L42-L43

We need to evaluate this further.

[2020-09-18 16:23] ejsmith commented on #1258
It seems like you are arguing that the primary reason for not wanting to use Ms.Ext.Logging is because it can't capture issues during bootstrap. Well, 1) this library isn't typically used that early in the application and 2) you can capture bootstrapping issues using Ms.Ext.Logging just fine since it's just a logging abstraction and you could hook it up as early as you want in the app. Look at the

[2020-09-18 17:07] cijothomas commented on #1258
-- not exactly. That's just one reason. There are many I think, but I will get the official recommendation from .NET Diagnostics team.
Also, I don't think ILogger is available in net452. EventSource is available every .NET version we care about. This was one of the original reason (I think), why this repo chose to use EventSource.

[2020-09-18 17:12] ejsmith commented on #1258
It supports 4.6.1 in latest release: https://www.nuget.org/packages/Microsoft.Extensions.Logging.Abstractions/5.0.0-rc.1.20451.14

[2020-09-18 17:12] cijothomas commented on #1258
This is exactly what me and @alanwest concluded.

[2020-09-18 17:13] cijothomas commented on #1258
mm.. We need net452 as well, as we support net452, and net452 is officially Microsoft supported.
https://github.com/open-telemetry/opentelemetry-dotnet/blob/master/src/OpenTelemetry/OpenTelemetry.csproj#L3

[2020-09-18 17:16] ejsmith commented on #1258
Any particular reason you decided to go back that far? To me it seems highly unlikely that someone would use this library in an old application that isn't even upgraded to the latest version of full framework which has full backwards compatibility with all previous versions. This library is still brand new and not even out of alpha yet. I can't see someone who won't upgrade their .NET framework ve

[2020-09-18 17:19] cijothomas commented on #1258
.NET452 is an officially supported version by Microsoft. When Microsoft drops support for it, we can drop support for it as well. But until then we have to support this. (There were discussions in early SIG meeting on this, and I believe the consensus was to support all officially supported .NET versions)

[2020-09-18 17:19] cijothomas commented on #1258
Btw - I am not opposed to using ILogger :) As long as it can meet all the requirements, happy to use it.
(In fact I am working on Ilogger this very moment :) )

[2020-09-18 17:22] cijothomas commented on #1258
@shirhatti What are your thoughts on using EventSource vs ILogger as the mechanism to log from the OpenTelemetry SDK itself?

[2020-09-19 08:58] sergeyshaykhullin opened #1292 "OpenTelemetry incompatible with EfCore System.Collections.Immutable"
# Bug Report

* **OpenTelemetry 0.6.0-beta.1**
* **net5.0**

## Symptom

I can't install **OpenTelemetry** with **Microsoft.EntityFrameworkCore** because of version conflicts

**What is the expected behavior?**
No errors

**What is the actual behavior?**
[code]

## Reproduce
Install **OpenTelemetry 0.6.0-beta.1** and then install **Microsoft.EntityFrameworkCore 5.0.0-rc.1.20451.13**

## Additional

[2020-09-19 14:54] eddynaka commented on #1292
@sergeyshaykhullin , do you have a repro project? I changed locally and added an upper bound. If i open a PR, can you download and test it?

[2020-09-19 15:46] sergeyshaykhullin commented on #1292
@eddynaka Just add both packages

[code]

[2020-09-19 16:10] eddynaka commented on #1292
Hi @sergeyshaykhullin , just added and the solution is compiling.

Will enable the PR to be reviewed. After the merge, you can test using the MyGet source.

[2020-09-19 16:36] #1292 closed

[2020-09-19 16:37] eddynaka commented on #1292
@sergeyshaykhullin , the pr got merged. tomorrow the package will be available at myget.

[2020-09-19 20:42] eddynaka commented on #1264
@CodeBlanch @cijothomas , we can close this issue. I forgot go mark the pr that closed this.

[2020-09-20 20:38] dgrozenok opened #1294 "Service Name is displayed as otlpresourcenoattributes when using OtlpExporter, opentelemetry-collector and zipkin"
# Bug Report

NuGet Packages:
- OpenTelemetry 0.6.0-beta.1
- OpenTelemetry.Exporter.OpenTelemetryProtocol 0.6.0-beta.1
- OpenTelemetry.Extensions.Hosting 0.6.0-beta.1
- OpenTelemetry.Instrumentation.AspNetCore 0.6.0-beta.1
- OpenTelemetry.Instrumentation.Http 0.6.0-beta.1

Runtime version netcoreapp3.1

ASPNET.Core application with the AspNetCoreInstrumentation, HttpClientInstrumentation and OtlpE

[2020-09-21 03:30] #1264 closed

[2020-09-21 21:51] cijothomas opened #1296 "Modify samplers to take ActivityCreationOptions instead of SamplingParameters"
SamplingParameters are created from ActivityCreationOptions.
https://github.com/open-telemetry/opentelemetry-dotnet/blob/master/src/OpenTelemetry/Trace/TracerProviderSdk.cs#L219-L227

Proposing to use the ActivityCreationOptions directly in the samplers, to achieve highest performance, considering this is the hot path for trace creation.

[2020-09-21 22:08] cijothomas commented on #1288
@ddiaz-relativity Were you using Otlp exporter? If yes, #1295 should fix this issue for you.
If you were writing own exporter, then do the similar workaround as 1295.

Let us know once you try this.

[2020-09-21 22:35] #1288 closed

[2020-09-21 23:57] #1255 closed

[2020-09-21 23:58] cijothomas commented on #1255
This is done. Thank @ejsmith for making the fix in the spec itself :)

[2020-09-22 10:56] astencel-sumo commented on #1277
Thanks @cijothomas for the link to the PR. I'm not sure how to contribute to that, so I'll just paste a piece of docs about overriding activity name as would be useful to me and let you update the docs if/how you wish, if that's OK? Or please let me know how I can contribute.

To summarize, it occurs this issue is not really a bug as it the behaviour is according to spec. Also, the extensibility i

[2020-09-22 10:56] #1277 closed

[2020-09-23 17:33] ddiaz-relativity commented on #1288
Comparing the output traces from the otel-dotnet library to the otel-Java library (As seen here https://github.com/Omnition/synthetic-load-generator) we see that the java-based Root spans have no parentSpanId.

So it seems signalfx would need to update their check on their side to something like this
`if (activity.ParentSpanId.ToHexString() != EmptyActivitySpanId)`

[2020-09-23 17:46] cijothomas commented on #1288
@ddiaz-relativity Its fixed already. You can use our daily build from myget which would contain the fix

[2020-09-23 21:42] christopher-taormina-zocdoc opened #1299 "Accept `X-B3-Sampled` header to equal `true`"
# Feature Request

Right now when you use the `B3Propagator` for the AspNet/AspNetCore instrumentations, the incoming request needs to set the `X-B3-Sampled` header to `1` for the request to be sampled. As mentioned in the [open zipkin repo](https://github.com/openzipkin/b3-propagation#sampling-state-1) some tracer implementations may have set this header to the value `true` instead of `1`.

Can t

[2020-09-24 07:57] foresterLV opened #1301 "OpenTelemetry.Instrumentation.StackExchangeRedis seems to have thread racing condition in 0.6.0-beta1"
# Bug Report

OpenTelemetry.Exporter.Jaeger 0.6.0-beta.1
OpenTelemetry.Extensions.Hosting 0.6.0-beta.1
OpenTelemetry.Instrumentation.AspNetCore 0.6.0-beta.1
OpenTelemetry.Instrumentation.Http 0.6.0-beta.1
OpenTelemetry.Instrumentation.StackExchangeRedis 0.6.0.-beta1
System.Diagnostics.DiagnosticSource 5.0.0-rc.1.20451.14
StackExchange.Redis 2.1.58

netcoreapp3.1 running on mcr.microsoft.com/dotnet

[2020-09-24 17:49] cg110 opened #1302 "OpenTelemetry.dll and OpenTelemetry.Api.dll are unsigned"
# Bug Report

List of [NuGet packages](https://www.nuget.org/profiles/OpenTelemetry) and
version that you are using (e.g. `OpenTelemetry 0.4.0-beta.2`):
OpenTelemetry 0.6.0-beta.1
OpentTelemetry.Api 0.6.0-beta.1

*

Runtime version (e.g. `net461`, `net48`, `netcoreapp2.1`, `netcoreapp3.1`, etc.
You can find this information from the `*.csproj` file):
net472

*

## Symptom

OpenTelemetry.Api.dll an

[2020-09-24 17:58] niksanla2 opened #1303 "Constructor with parameters SpanAttributes has missed attributes initialized"
# Bug Report

*OpenTelemetry 0.6.0-beta.1
*OpenTelemetry.Trace. 0.6.0-beta.1

Runtime version netcoreapp3.1

## Symptom

When I call SpanAttributes  with parameters I get the NullRefException:
[code]

Expected: It shouldn't throw exception

Actual: It does

## Reproduce

Run this code
[code]

## Additional Context

It looks like this code is not called
            `this.Attributes = new ActivityTa

[2020-09-24 18:00] eddynaka commented on #1303
@niksanla2 , thanks! i will open a PR to solve this issue

[2020-09-24 18:31] alanwest opened #1305 "Adding gRPC instrumentation but not HttpClient causes issues with parenting"
Both the gRPC .NET and HttpClient libraries generate their own Activity for outgoing calls.

gRPC .NET uses HttpClient behind the scenes, so when you configure OpenTelemetry with both gRPC and HttpClient instrumentation you'll see that the Activity generated by gRPC is the parent of the Activity generated by HttpClient.

However, if you only include gRPC instrumentation or if you only include Http

[2020-09-24 18:35] #1303 closed

[2020-09-24 18:38] eddynaka commented on #1303
@niksanla2 , we have merged the solution. If you want to test early, you can wait the MyGet package that is publish nightly. Otherwise, wait the next beta version.

[2020-09-24 19:07] niksanla2 commented on #1303
@eddynaka, thx. I will be wait the next beta version

[2020-09-26 03:25] GiorgioG commented on #1283
Thank you @cijothomas! Sorry for the delayed response I didn't seem to get a notification (or it wound up in my spam folder.)

[2020-09-26 03:25] #1283 closed

[2020-09-28 20:41] reyang opened #1311 "Update Status to meet with the latest specification"
The OpenTelemetry specification has been changed to reduce the complexity of Span Status https://github.com/open-telemetry/opentelemetry-specification/blob/master/specification/trace/api.md#status.

Need to take this breaking change and update the https://github.com/open-telemetry/opentelemetry-dotnet/blob/6633dc846e20c72460ae478f86e7225e32110717/src/OpenTelemetry.Api/Trace/Status.cs#L22 file.

[2020-09-28 20:44] eddynaka commented on #1311
I'll take a look today/tomorrow

[2020-09-28 20:57] eddynaka commented on #1311
Should we change the `StatusCanonicalCode` as well? https://github.com/open-telemetry/opentelemetry-dotnet/blob/6633dc846e20c72460ae478f86e7225e32110717/src/OpenTelemetry.Api/Trace/StatusCanonicalCode.cs#L26

It contains the same list from the Status.

[2020-09-28 21:00] reyang commented on #1311
Yes.

[2020-09-29 00:24] eddynaka commented on #1311
I started to look at this and we might have a problem. Grpc uses the `StatusCanonicalCode`. With that, it's mapped to the `Status` itself.
I'm opening a draft PR to get other comments.

[2020-09-29 00:26] eddynaka commented on #1311
I started to look at this and we might have a problem. Grpc uses the `StatusCanonicalCode`. With that, it's mapped to the `Status` itself.
I'm opening a draft PR to get other comments.

[2020-09-30 16:57] reyang opened #1316 "Consistent ArgumentOutOfRangeException message"
This was brought up in a [PR comment](https://github.com/open-telemetry/opentelemetry-dotnet/pull/1315#discussion_r497176966) by @ThomsonTan.

Currently we don't have a consistent message, here are the options:
1. {VariableName} should be {description of the constraint}.
2. {VariableName} should be {description of the constraint}, the actual value is {ActualValue}.

Please suggest which one you li

[2020-10-01 14:18] #928 closed

[2020-10-01 14:19] cijothomas commented on #1251
@eddynaka Do you have free cycles to investigate this issue?

[2020-10-01 14:21] cijothomas commented on #1246
Closing as we can track this in #1278

[2020-10-01 14:21] #1246 closed

[2020-10-01 14:35] cijothomas commented on #1030
Closing this issue as there is general consensus about the need for -contrib repo. We probably have to update readme.md in contrib repo and also explore per directory approver in that repo.

[2020-10-01 14:35] #1030 closed

[2020-10-01 14:37] cijothomas commented on #1240
linking to similar discussion from runtime - https://github.com/dotnet/runtime/issues/42786

[2020-10-01 14:38] #1218 closed

[2020-10-01 14:40] cijothomas commented on #1145
Closing as this is already removed from public and made part of activitysourceadapter. https://github.com/open-telemetry/opentelemetry-dotnet/blob/master/src/OpenTelemetry/Trace/ActivitySourceAdapter.cs

[2020-10-01 14:40] #1145 closed

[2020-10-01 14:42] #843 closed

[2020-10-01 14:43] cijothomas commented on #728
Not sure if this is still relevant after all recent perf improvements in the exporters. Will check if we need this.

[2020-10-01 14:46] cijothomas commented on #394
There is no distributed context anymore. so  closing this as not applicable now.

[2020-10-01 14:46] #394 closed

[2020-10-01 14:49] cijothomas commented on #109
Closing as there is no action pending. Reopen or create new issue, if there are open questions.

[2020-10-01 14:49] #109 closed

[2020-10-01 14:51] cijothomas commented on #68
Closing in favor of https://github.com/open-telemetry/opentelemetry-dotnet/issues/1269

[2020-10-01 14:51] #68 closed

[2020-10-01 14:54] cijothomas commented on #19
@eddynaka please check if the instrumentationlibrary info is missing in the otlp exporter.

[2020-10-01 15:20] anuraaga commented on #1240
Is it even conceivable for OTel to continue to use the Activity API? That has not been developed based on our spec I think - it would be crazy if it was given how unstable our spec has been. Our spec is finally nearing stability but .NET has a different roadmap probably. It makes me wonder how we can manage this seeming disconnect in roadmaps. Really what we need is a story of .net migrating to OT

[2020-10-01 15:28] eddynaka commented on #1251
Hi @damonbarry , after some research, it looks like we have to add an step:

[code]

After I added this, the docker ran normally.

It's a known issue: https://github.com/grpc/grpc/issues/21446

[2020-10-01 17:13] eddynaka commented on #1251
Let us know if you face any other issue. We are closing this for now.

[2020-10-01 17:13] #1251 closed

[2020-10-01 17:41] cijothomas commented on #1240
Yes. This repo was initially written outside of Activity API. Then the maintainers here and .NET runtime team collaborated, to add more capabilities to Activity API, and decided to implement OTel on top of the Activity API. We can have more discussions on this - either in the SIG meetings, or here.

[2020-10-01 18:10] cijothomas commented on #107
@xiang17 Can you validate that the Zipkin is logging somethign to EventSource in this case? And eventually when we have self-diagnostics, it'll be captured and written to local file.

[2020-10-01 21:56] mat-rumian commented on #1287
@ejsmith I was running OpenTelemetry-Collector in docker and applications outside and for `OTLP exporter` everything was fine. But for TestHttpClient ASP.NET app (the one from examples) with Jaeger exporter it doesn't work.

Console exporter log:

[code]

In the ConsoleExporter log there're now resources like `span.name` and `service.instance.id`. Looks like it waits for something or hangs.

@ejsm

[2020-10-02 03:11] damonbarry commented on #1251
@eddynaka I rebuilt my container with the workaround, and it seems to have worked, thanks!

[2020-10-02 13:11] eddynaka commented on #1275
@dstoreng , i'm closing this issue since we have a way to do that.
Let us know if you face any other issue

[2020-10-02 13:11] #1275 closed

[2020-10-04 19:42] niksanla2 opened #1321 "span that uses AddTag with null value it isn't send via JaegerExporter to Jaeger"
# Bug Report

0.6.0-beta.1

*

Runtime version  `netcoreapp3.1`

*

## Symptom

If I use activity.AddTag("SomeValue", null) the created span doesn't send to Jaeger.
If I use activity.SetTag("SomeValue", null) the created span sends to Jaeger.

**What is the expected behavior?**

In both cases span should be sent to Jaeger

**What is the actual behavior?**

in first  case span isn't sent to jaeger

[2020-10-07 10:08] eddynaka commented on #1311
FYI, opened an issue in the spec: https://github.com/open-telemetry/opentelemetry-specification/issues/1044

Problems: we don't have a current map from the rpc status code to otel status code.

The current mapping in the PR is based on assumptions...

[2020-10-08 19:04] reyang opened #1334 "In Memory Exporter"
# Feature Request

This is required by the [specification](https://github.com/open-telemetry/opentelemetry-specification/blob/master/specification/library-guidelines.md#requirements).
Currently we do have something similar in the test cases. We probably want to make an `InMemoryExporter<T>` and leverage it in the test cases (and folks who use OpenTelemetry can also leverage the InMemoryExporter to

[2020-10-08 23:04] TimothyMothra opened #1336 "How to publish 3rd party Exporter packages?"
Hello Community,
We're ready to publish the first beta of our [Azure Monitor Exporter](https://github.com/Azure/azure-sdk-for-net/tree/master/sdk/monitor/OpenTelemetry.Exporter.AzureMonitor).
When trying to publish, we ran into the error that this name is already reserved:

How do we get access to [this namespace](https://www.nuget.org/packages?q=OpenTelemetry.Exporter)? :)
Is there a formal proce

[2020-10-09 00:25] reyang commented on #1336
Why do we want to publish 3rd party nuget to the OpenTelemetry namespace?
I think Azure Monitor Exporter should publish to Azure SDK namespace.

[2020-10-09 00:25] #1336 closed

[2020-10-09 21:41] #1334 closed

[2020-10-10 00:50] reyang commented on #1321
@Austin-Tan this is a good issue to get you started. Please see if you could get it addressed.

[2020-10-12 19:12] reyang commented on #1299
@vishweshbankwar this looks like a good first issue for you.

[2020-10-13 16:42] eddynaka opened #1345 "Update grpc.status_code based on spec"
Hi,

after the merge of the PR https://github.com/open-telemetry/opentelemetry-dotnet/pull/1313, we will have to keep following the spec https://github.com/open-telemetry/opentelemetry-specification/issues/1044 to decide where we will save the StatusCanonicalCode from grpc.

Right now, I'm re-enabling the original value from GRPC itself.

cc: @alanwest , @cijothomas , @CodeBlanch

[2020-10-13 17:11] #1311 closed

[2020-10-14 14:49] twenzel opened #1349 "NullReferenceException in HttpInListener"
# Bug Report

OpenTelemetry.Extensions.Hosting" Version="0.6.0-beta.1"
OpenTelemetry.Instrumentation.AspNetCore" Version="0.6.0-beta.1"
OpenTelemetry.Instrumentation.Http" Version="0.6.0-beta.1"

Runtime version netcoreapp3.1

## Symptom

When calling a site in our Asp.Net core application a NullReferenceException ocurrs within the HttpInListener (see screenshot)
![error_httpInListener](https://us

[2020-10-14 17:12] eddynaka commented on #1349
Hi @twenzel , thanks for providing the repro. Just created a PR solving the null reference exception!

[2020-10-15 07:02] twenzel opened #1352 "Sample Sampler implementation"
I tried to create a Sampler which suppress some calls to external and some incoming requests.

The problem is, the information provided by `SamplingParameters` are not enough.
For outgoing requests I need at least the url, but no tags or links are filled

![image](https://user-images.githubusercontent.com/500376/96084878-24de7300-0ec0-11eb-947c-e3c484b1e64d.png)

The tags are filled in the exporte

[2020-10-15 08:32] TopSwagCode commented on #1316
Hi. I wrote gitter and would love to help with this issue :)

[2020-10-15 14:09] cijothomas commented on #1352
It is by design. Each libraryinstrumentation decides how much information to put into tags before Sampling call is made. The general recommendation is to put the minimum (or already available info) into tags initially, then do the sampling call. If sampling decision is favorable, then populate the rest of the tags.

Most instrumentation in this repo offer `Filter` concept, which can be used to fil

[2020-10-15 16:58] mberginbh commented on #1301
We're also experiencing duplicate span IDs in Jaeger. Some cursory testing indicates the activities are being generated correctly but something in JaegerExporter is causing duplicates. I'm interested to see whether #1262 has fixed this.

[2020-10-15 18:57] eddynaka commented on #1321
@niksanla2 , this is expected to happen when we use `.SetTag` method

Below the summary and the implementation:
[code]

https://github.com/dotnet/runtime/blob/master/src/libraries/System.Diagnostics.DiagnosticSource/src/System/Diagnostics/Activity.cs#L383-L395

[2020-10-15 19:00] cijothomas commented on #1321
@eddynaka The issue is about the span itself being lost in exporter, right?

[2020-10-15 19:01] eddynaka commented on #1321
yeah, taking a second look, we have another part where it shouldn't send:

[code]

Recently @CodeBlanch  changed a bit the Exporters. Trying to test locally but couldn't reproduce.

[2020-10-15 19:09] eddynaka commented on #1321
@niksanla2 , testing locally with our current version I couldn't reproduce the issue. Can you download from MyGet and see if you face the same issue?

For both cases, we shouldn't send to Jaeger a `null` value.

[2020-10-15 19:45] niksanla2 commented on #1321
yes

[2020-10-15 19:46] niksanla2 commented on #1321
Could you explain, how can I download your packages?

[2020-10-15 19:50] cijothomas commented on #1321
Daily builds from this repo are published to MyGet, and can be installed from this [source](https://www.myget.org/F/opentelemetry/api/v3/index.json)

[2020-10-15 19:50] eddynaka commented on #1321
IF you use VS2019, you can add a new source to get the packages.

This is the link for the myget: https://www.myget.org/F/opentelemetry/api/v3/index.json

With that, you will be able to update to our latest beta (0.6.0-beta.54)

[2020-10-16 06:45] cijothomas commented on #1217
Same issue reported differently:
As reported in gitter channel this is an issue if you try to start own activity inside an AspNetCore application without enabling the AspNetCoreInstrumentation.

[2020-10-16 09:08] niksanla2 commented on #1321
yep, in  version (0.6.0-beta.54) in both cases spans are sent to Jaeger. It works correctly

[2020-10-16 09:10] eddynaka commented on #1321
@niksanla2 , probably soon we will release the new version (0.7.*) in nuget.

if u need to this to work right now, keep using the myget (its a nightly build)

[2020-10-16 09:12] eddynaka commented on #1321
let us know if u face any other issue. closing the issue for now.

[2020-10-16 09:12] #1321 closed

[2020-10-16 10:15] mberginbh commented on #1301
Downgrading to 0.5.0 beta2 fixed this for us too.

[2020-10-16 14:13] twenzel commented on #1352
Using filter is working like a charm 👍

[2020-10-16 15:52] cijothomas commented on #1301
Thanks for reporting this.
This will be investigate and fixed *after* .7 release, which is happening today.

[2020-10-16 16:46] moshen opened #1360 "Examples for adding child spans to request traces for aspdotnetcore controllers and grpc services?"
# Question

**Describe your environment.**

aspdotnetcore / grpc

**What are you trying to achieve?**

Cannot figure out how to create a child span to a grpc service request trace. The method I was using during the alpha no longer works and attempts to adapt it to the updated api in the beta don't seem to work.

There don't appear to be any examples of doing this in the examples folder.

## Additi

[2020-10-16 17:34] #1349 closed

[2020-10-16 17:40] cijothomas commented on #1360
Can you share how are you attempting to create a span, which is no longer working?

In general, starting an Activity (span) should be done using ActivitySource.StartActivity API, and it should take care of correctly parenting - if an activity is already active, which it should be when you enable grpcinstrumentation.

[2020-10-16 18:26] cijothomas opened #1364 "Release process automation"
The release process is listed here.
https://github.com/open-telemetry/opentelemetry-dotnet/blob/master/RELEASING.md
We can automate everything (tag, changelog, release, nuget/myget push) with GHActions including push to nuget. (maintainers can store the nuget token as a secret, similar to how its done for myget).

[2020-10-16 19:59] moshen commented on #1360
So my current code using the alpha packages is injecting the `TracerFactory ( https://github.com/moshen/dotnet-grpc-poc/blob/ce99a51fbce9cb3d5e70a9f266b953084bc9aa66/src/DotnetGrpcPoc/Services/ConverterService.cs#L16 ), which appears to no longer be injected by default.  As you mentioned I should use the `ActivitySource` api, when I do that my child spans never show up anywhere ( though they don't

[2020-10-17 09:22] eddynaka commented on #1301
@mberginbh , can you check if the newest version still contains the issue?

[2020-10-17 21:03] reyang opened #1370 "Mark metrics related API as "experimental""
The current Metric API/SDK implementation is a prototype based on initial draft version of the Otel Metrics spec. This will be completely rewritten to match the new spec. This rewrite is expected to happen [after](https://github.com/open-telemetry/opentelemetry-dotnet/issues/1501) the 1.0.0 release of Trace/Logs components. Since Metrics is also shipped as part of the same package as Trace/Logs, w

[2020-10-17 23:35] eddynaka commented on #1294
@dgrozenok , can you show us how are you initializing the sdk?

[2020-10-18 02:13] dgrozenok commented on #1294
Created a sample project to reproduce here https://github.com/dgrozenok/OtlpDemo

The initialization is here
https://github.com/dgrozenok/OtlpDemo/blob/a162510cfc10a7d26a874a6e38dc3a6bc4397880/OtlpDemo/Startup.cs#L25

I realize that if I uncomment the line

// .SetResource(new Resource(new[] {new KeyValuePair<string, object>("service.name", "WebApi")}))

all the spans will have WebApi name. Howeve

[2020-10-18 17:36] dgrozenok commented on #1294
One suggestion may be to making the ServiceName as part of the Otlp Exporter options similar to the Zipkin exporter to avoid the .SetResource() call with the hard-coded key "service.name".

The issue with mapping the attributes produced by the instrumentation libraries may actually be on the opentelemetry-collector level. Not sure which attributes are part of the Otlp protocol and where the mappin

[2020-10-18 18:01] moshen commented on #1360
Here is me trying to use the `ActivitySource` api in the same service: https://github.com/moshen/dotnet-grpc-poc/blob/98da68227ce9d78131df17653127eab318248ab0/src/DotnetGrpcPoc/Services/ConverterService.cs#L18 , kind of imitating https://github.com/open-telemetry/opentelemetry-dotnet/blob/e381b395cb3afd5e169f2ad3e241e325c895bf27/examples/Console/InstrumentationWithActivitySource.cs .  Every time I

[2020-10-18 18:02] moshen commented on #1360
I was mistaken previously, using `DiagnosticSource` to start the activity instead of `ActivitySource` appears to work without error, but nothing shows up.  When I attempt to use `ActivitySource` it simply returns `null` every time.

[2020-10-19 05:07] cijothomas commented on #1360
@cijothomas Can you share the code snippet used to enable OpenTelemetry SDK as well? ActivitySource.StartActivity creates activity only if some listeners are registered and the sampling decision allows creation of activity.

[2020-10-19 05:14] moshen commented on #1360
https://github.com/moshen/dotnet-grpc-poc/blob/98da68227ce9d78131df17653127eab318248ab0/src/DotnetGrpcPoc/Startup.cs#L37 Is where I'm setting up OpenTelemetry. I'm not sure what you mean by a listener, this api? https://docs.microsoft.com/en-us/dotnet/api/system.diagnostics.activitysource.addactivitylistener?view=net-5.0 I'm definitely not doing that. I didn't see any examples doing it either...

[2020-10-19 05:46] cijothomas commented on #1360
ActivityListener is setup when you do `services.AddOpenTelemetryTracing`, so you are good there.
The only thing missing is not adding the `ActivitySource` which is used to start activities. If "DotnetGrpcPoc.ConverterService" is the name of the activitysource, then it must be subscribed to, when doing AddOpenTelemetryTracing.

[code]

[2020-10-19 06:04] moshen commented on #1360
Awesome! Thank you.  That was the piece I was missing. I definitely didn't connect the dots when I was looking at the examples.

[2020-10-19 06:04] #1360 closed

[2020-10-19 15:59] jonasi-resideo opened #1372 "Jaeger Agent errors since 0.7"
# Bug Report

List of [NuGet packages](https://www.nuget.org/profiles/OpenTelemetry) and
version that you are using (e.g. `OpenTelemetry 0.4.0-beta.2`):

* OpenTelemetry 0.7.0-beta.1

Runtime version (e.g. `net461`, `net48`, `netcoreapp2.1`, `netcoreapp3.1`, etc.
You can find this information from the `*.csproj` file):

* netcoreapp3.1

## Symptom

I'm seeing error logs in my jaeger all-in-one ins

[2020-10-19 16:16] reyang opened #1373 "Generalize ConsoleExporter"
Currently the [`ConsoleExporter`](https://github.com/open-telemetry/opentelemetry-dotnet/tree/master/src/OpenTelemetry.Exporter.Console) only supports traces.
The goal is to cover both logs and traces (metrics can be covered later).

FYI - here is how [`InMemoryExporter`](https://github.com/open-telemetry/opentelemetry-dotnet/tree/master/src/OpenTelemetry.Exporter.InMemory) provided support for bo

[2020-10-19 16:17] reyang commented on #1373
@utpilla Please look into this.

@rajkumar-rangaraj FYI.

[2020-10-19 16:30] cijothomas commented on #1372
@jonasi-resideo Any chance you can share a small repro showing how you are generating the spans/activities?

[2020-10-19 16:45] cijothomas commented on #942
Upgraded to p1 to handle all todo's in the next beta.

[2020-10-19 17:03] jonasi-resideo commented on #1372
This goes away if I manually set `MaxPayloadSizeInBytes` back to 65000 (set in https://github.com/open-telemetry/opentelemetry-dotnet/pull/1274).

I can't share the app, and maybe i can figure out a simple repro, but this is a basic api app with aspnetcore and http instrumentation enabled.  there was some additional custom tracing, but i was able to reproduce this with those disabled.

[2020-10-21 00:04] cijothomas opened #1377 "SpanContext to SpanReference in API"
See:
https://github.com/open-telemetry/opentelemetry-specification/pull/1075

[2020-10-21 00:05] cijothomas commented on #1377
https://github.com/open-telemetry/opentelemetry-dotnet/blob/master/src/OpenTelemetry.Api/Trace/SpanContext.cs

[2020-10-21 00:06] eddynaka commented on #1377
@cijothomas , are we just going to rename it or should we do something else?

[2020-10-21 00:16] cijothomas commented on #1377
Lets start with renaming.

[2020-10-21 13:13] eddynaka commented on #1372
@jonasi-resideo , can you test again with the MyGet version?

[2020-10-21 22:34] lupengamzn opened #1382 "Adding more attributes in Http and Sql span"
**Is your feature request related to a problem?**

AWS X-Ray would need more details from Asp.Net Core & Asp.Net, Http and Sql span to give our customers a better observability to the application.

**What do you want to happen instead? What is the expected behavior?**

We would like to add support for recording 1)client ip address, http response content length in incoming&outgoing Http span and 2)

[2020-10-22 10:41] mberginbh commented on #1301
@eddynaka 0.7 seems to have fixed it - thanks!

[2020-10-22 10:43] eddynaka commented on #1301
@mberginbh , nice to know! Based on that, we will close this issue!
Thank you!

[2020-10-22 10:43] #1301 closed

[2020-10-22 15:22] #441 closed

[2020-10-22 15:26] cijothomas commented on #1382
@lupengamzn `ActivityProcessor` is the recommended way to add any additional attributes to an `Activity`. Most instrumentations also offer `Enrich` to achieve this.

 We don't need to change the existing instrumentations, unless the current instrumentations are not populating **required** fields as per specification conventions https://github.com/open-telemetry/opentelemetry-specification/blob/mas

[2020-10-22 15:42] cijothomas commented on #1217
@alanwest The root of the issue is some libraries (eg: Asp.Net Core) is creating activity irrespective of whether Otel asked is to do so. This is a "by design" behaviour for Asp.Net Core. Will try to see if Asp.Net Core has plans to disable this feature by default.

[2020-10-22 19:47] CodeBlanch commented on #1294
Both Jaeger & Zipkin exporters have logic to resolve remote service name based on other attributes that might be present:

https://github.com/open-telemetry/opentelemetry-dotnet/blob/master/src/OpenTelemetry.Exporter.Jaeger/Implementation/JaegerActivityExtensions.cs#L44

https://github.com/open-telemetry/opentelemetry-dotnet/blob/a5e7d6e631c1b5b9b15c4bbcfbb50deaf55cfc26/src/OpenTelemetry.Exporter.

[2020-10-22 20:21] srprash commented on #1382
Hi @cijothomas
I believe that the `http.client_ip` and `http.response_content_length` are common attributes (not vendor specific) which other vendors too may come to use in the future. Having these tags set as part of the instrumentation itself would avoid the need for a user to add an extra processor (AWS specific processor in this case).

[2020-10-23 00:37] cijothomas commented on #1382
@srprash Yes. These are both defined in semantic conventions and marked optional . So we can make it part of the instrumentation (with an option to turn on/off)

[2020-10-23 19:17] yurishkuro opened #1388 "Incorrect conversion to Jaeger model"
# Bug Report

https://github.com/open-telemetry/opentelemetry-dotnet/blob/5fa2f105e7fb1e2545ebeb915d6d5e68ba480054/src/OpenTelemetry.Exporter.Jaeger/JaegerExporter.cs#L150

## Symptom

Peer service represents a service YOUR service is talking to. That remote service may emit its own span, but the span generated by YOUR service should have YOUR service name in span.Process.ServiceName.

[2020-10-23 22:59] CodeBlanch commented on #1388
This was done intentionally to workaround the gap in Jaeger discussed on https://github.com/jaegertracing/jaeger/issues/2584. Would love to remove this! It would speed up the export greatly to do so. That's why I brought it up on that issue 😄

"Fixing" this though would change the behavior of how spans emitted from OpenTelemetry .NET show up in Jaeger UI. How about we make it configurable? Anyone

[2020-10-25 19:05] eddynaka commented on #1377
@cijothomas , they reveretd the change from SpanReference to SpanContext (https://github.com/open-telemetry/opentelemetry-specification/issues/1126). With that in mind, i will close this issue as well.

[2020-10-25 19:05] #1377 closed

[2020-10-26 09:49] tekian opened #1394 "AddOpenTelemetryTracing should be re-entrant"
**Is your feature request related to a problem?**

As a service stack developer, I'd like to set up trace pipeline (exporters, samplers, processors, etc.) separately from
adding instrumentation libraries. Service developer should be able to add any instrumentation library he needs based on the workload type, preserving an initial setup of the pipeline.

Current implementation assumes service devel

[2020-10-26 12:31] mberginbh commented on #1372
Seeing this too after we upgraded to fix https://github.com/open-telemetry/opentelemetry-dotnet/issues/1301

[2020-10-26 14:07] cijothomas commented on #1394
related issues: https://github.com/open-telemetry/opentelemetry-dotnet/issues/831
https://github.com/open-telemetry/opentelemetry-dotnet/issues/1215

[2020-10-26 14:31] ghelyar opened #1395 "Asynchronous processors/exporters"
# Feature Request

**Is your feature request related to a problem?**

Exporting telemetry is likely to be an I/O based operation, such as writing it to a file or a socket.

The built-in types for exporting logs and traces, such as `BaseProcessor`, `BatchExportProcessor` and `BaseExporter` are synchronous. This means that any asynchronous calls need to be synchronously waited, using something like

[2020-10-26 19:31] cijothomas opened #1397 "Avoid Activity.SetCustomPropery usage for Resource."
Currently `TracerProviderSdk` stores `Resource` inside *every* `Activity`. https://github.com/open-telemetry/opentelemetry-dotnet/blob/master/src/OpenTelemetry/Trace/TracerProviderSdk.cs#L81
Internally, resource is stored inside `Activity.SetCustomProperty`. [Perf benchmark](https://github.com/open-telemetry/opentelemetry-dotnet/pull/1261#issuecomment-702970711) shows that the 1st time CustomPrope

[2020-10-27 06:12] cijothomas opened #1398 "Status.IsOkay helper method fixes"
See this discussion:
https://github.com/open-telemetry/opentelemetry-dotnet/pull/1381#issuecomment-713817094

[2020-10-27 11:11] eddynaka commented on #1398
Based on the comments, what should we do?
- drop `IsOk`
- create `IsOkOrUnset`
- create `IsError`

[2020-10-27 16:33] srprash opened #1400 "Support resource information via OTEL_RESOURCE_ATTRIBUTES env variable"
# Feature Request

This feature is required by the OTel [specification](https://github.com/open-telemetry/opentelemetry-specification/blob/master/specification/resource/sdk.md#specifying-resource-information-via-an-environment-variable)

### Problem

Currently, the only way to specify the service name for the traced application is through `tracerBuilder.SetResource(Resources.CreateServiceResource(

[2020-10-27 18:31] cijothomas opened #1401 "Enrich for HttpClient .NET Framework instrumentation"
https://github.com/open-telemetry/opentelemetry-dotnet/pull/1261 introduced `Enrich` API to replace storing raw objects inside Activity. We left out httpclient for .NET framework from that PR. Opening an issue to track it.

[2020-10-27 18:35] cijothomas opened #1403 "Add option to AspNetCore instrumentation to turn on/off grpc tag population"
https://github.com/open-telemetry/opentelemetry-dotnet/tree/master/src/OpenTelemetry.Instrumentation.AspNetCore This currently has a "hidden" feature to populate activity with Grpc tags, if the activity was found to be from Grpc server app.

Proposing to make it obvious feature, with ability to turn on/off.
Also the grpc works *only* in NETSTANDARD2_1, so need to multi target the project, and cond

[2020-10-27 18:56] cijothomas opened #1405 "Exception recording in AspNetCore instrumentation"
For AspNetCore instrumentation:
We have the ability to get exception from the diagnosticsource. We can add an ability to enrich the activity with this exception. Semantic conventions are here for exception: https://github.com/open-telemetry/opentelemetry-specification/blob/master/specification/trace/semantic_conventions/exceptions.md

https://github.com/dotnet/aspnetcore/blob/3fdbc2e90d9762324ef38

[2020-10-27 20:17] cijothomas commented on #1400
@srprash Are you planning to do a PR for this?
Thanks in advance.,

[2020-10-27 20:20] #1401 closed

[2020-10-28 00:14] CodeBlanch commented on #1395
Hey @ghelyar! This is kind of tricky to answer. They used to all be asynchronous. But the spec is very specific about how the exporters work. From https://github.com/open-telemetry/opentelemetry-specification/blob/master/specification/trace/sdk.md#exportbatch:

At the moment writing into the batch is done [highly] concurrently using a special circular buffer. Export happens on a dedicated thread o

[2020-10-28 00:15] cijothomas opened #1410 "Zipkin exporter must export Resource as zipkin tags"
https://github.com/open-telemetry/opentelemetry-specification/blob/master/specification/trace/sdk_exporters/zipkin.md#attribute

[2020-10-28 00:32] reyang commented on #1395
@ghelyar would you help us to understand what are the outcome you would expect? For example, do you expect the exporting thread to be reused (e.g. share a pool of worker threads), or the export API to be async for easier integration with other async I/O APIs?

[2020-10-28 02:20] #1405 closed

[2020-10-28 02:55] CodeBlanch commented on #1410
@cijothomas There's https://github.com/open-telemetry/opentelemetry-dotnet/pull/1385 is there more to be done on this?

[2020-10-28 03:15] CodeBlanch commented on #1294
@dgrozenok I tested after #1392 was merged and it seems to be working now. If you could verify against the MyGet build that would be helpful otherwise it should be in the next beta.

OtlpExporter now adds `peer.service` tag which makes its way to Zipkin as RemoteEndpoint and the UI shows as expected.

There's some detail here about the resolution logic: https://github.com/open-telemetry/openteleme

[2020-10-28 03:15] #1294 closed

[2020-10-28 03:34] CodeBlanch commented on #1287
I was trying to get this working the other day as well. I don't think the OtlpAgent/JaegerReceiver supports the Apache Thrift Compact UDP protocol our JaegerExporter is sending, or it is bugged.

Check out...

https://github.com/open-telemetry/opentelemetry-collector/blob/1e65674799c8a543e1bc216b8e71de24a374991d/receiver/jaegerreceiver/config.go#L38

The definition there is TCP. I think it should

[2020-10-28 08:41] ghelyar commented on #1395
It was just to make it easier to write exporters. As exporters are very likely to use I/O, I expected it to have an `ExportAsync`. It's a bit nicer implementing `ExportAsync` and returning with a `Task.FromResult` than implementing `Export` and using `GetAwaiter().GetResult()`.

`BatchExportProcessor` using a background thread does make `ExportAsync` a bit less useful, although defining the shape

[2020-10-28 12:30] KonH commented on #1169
Hello, is it actual issue?
As I see, when running code from Add/TryAdd methods on a single-core machine, we already never spinning.
Explanation:
- Single place which produces spinning exists: https://github.com/open-telemetry/opentelemetry-dotnet/blob/688ffd689a1f585f98d9390aea17aa6d6a32cdef/src/OpenTelemetry/Internal/CircularBuffer.cs#L102
- It rely on Interlocked.CompareExchange, and if the retu

[2020-10-28 15:01] cijothomas commented on #1410
My bad!
Validated with build from master and looks good!

[2020-10-28 15:01] #1410 closed

[2020-10-28 15:44] christopher-taormina-zocdoc commented on #1299
@reyang just opened a PR for this

[2020-10-28 17:06] cijothomas commented on #1397
My preference is to store Resource inside TagObject, just like Status. We can use the keyname as "otel.resource" (status uses otel.status_code). We need to provide general guidance that any tags with reserved prefix "otel.", should not be treated as regular tags.

[2020-10-28 19:15] #1398 closed

[2020-10-28 20:18] dgrozenok commented on #1294
It works for me. Thank you. I will open a separate issue to request the ServiceName option added to the OtlpExporter similar to Zipkin and Jaeger exporters to avoid the .SetResource() call with the hard-coded key "service.name".

[2020-10-28 20:59] reyang commented on #1169
I'm confused - how does a single core relate to single vs. multiple threads?

[2020-10-28 21:03] CodeBlanch commented on #1294
@dgrozenok Sounds good regarding the OtlpExporter options issue!

Just FYI, you can do `SetResource(Resources.CreateServiceResource("service name here"))` which removes the need to know about the "service.name" key. I've been meaning to open a PR to improve that resource API just haven't had the time yet 😄

[2020-10-28 21:50] dgrozenok opened #1416 "Add ServiceName property to OtlpExporterOptions"
Please add the `ServiceName` property to the `OtlExporterOptions` class to be consistent with other exporters like Zipkin and Jaeger in order to avoid calling the `SetResource(Resources.CreateServiceResource("service name here"))`.

[2020-10-28 21:52] dgrozenok commented on #1294
Thanks for the suggestion! It certainly looks much better.

Added the feature request https://github.com/open-telemetry/opentelemetry-dotnet/issues/1416

[2020-10-29 00:40] KonH commented on #1169
Thanks for your answer! My assumption was failed there. We can have multiple threads on a single-core machine, of course. So the explanation is wrong and CompareExchange can return different value regardless of core count.

I think we have two options for 'continue' replacement here:
1) Returns false in case of contention (but it breaks method contract?)
2) In the case of TryAdd only we can hard-l

[2020-10-29 01:14] reyang commented on #1169
Since spin doesn't make sense on a single core, normally what people would do is to yield the thread quorum back to the OS scheduler.

[2020-10-29 01:24] reyang commented on #1395
Like the idea! I think this is doable and has a potential to simply the job of writing exporters using async I/O.

[2020-10-29 11:57] KonH commented on #1169
I'm trying to implement that here - https://github.com/KonH/opentelemetry-dotnet/commit/9ba8df9457536e8f4ed81fe7b923cb76930b015a (no PR for now, before reaching confidence)
Am I understand you correctly?

Also, trying to make a silly benchmark to observe how it affects performance (sources - https://gist.github.com/KonH/a118fd408257d8c58182eec395b0ad64):
[code]
|          Method | MaxDegreeOfParal

[2020-10-29 16:09] #1299 closed

[2020-10-29 16:13] reyang commented on #1169
Yes, we would like to yield - but only when we're running on a single core machine.
Yield on multi-core machine would give higher throughput (since we're not burning CPU cycles), however it significantly affects the behavior of the target process (e.g. a critical path which expects no Context Switch now suffers).

[2020-10-29 16:18] reyang commented on #1169
Yeah, that's exactly what we want, and we need to do the check efficiently (e.g. ideally not in a loop).

One thing to double click - is `Environment.ProcessorCount` going to change while the process is running or not. IIRC there might be platforms (e.g. NT Server) that allows hot-plug CPU. Probably and overkill at this moment.
One extra thing to consider, the actual consideration is around the av

[2020-10-29 16:20] reyang commented on #1169
@KonH FYI there is a small benchmark/stress tool which could be helpful - #1086.

[2020-10-29 16:51] angerico-carino-betsson opened #1419 "PrometheusExporter: DoubleObserverMetric is not working"
# Bug Report

List of [NuGet packages](https://www.nuget.org/profiles/OpenTelemetry) and version that you are using (e.g. `OpenTelemetry 0.4.0-beta.2`):

* OpenTelemetry 0.7.0-beta.1

Runtime version (e.g. `net461`, `net48`, `netcoreapp2.1`, `netcoreapp3.1`, etc. You can find this information from the `*.csproj` file):

* netcoreapp3.1

## Symptom

Whenever I try to use a `DoubleObserverMetric` an

[2020-10-29 19:16] Austin-Tan commented on #1316
Hi @TopSwagCode, @reyang , is there a reason why the PR addressing this was closed? Looks like it follows pretty closely with Reiley's Option number 2 in fixing it, and I could not find any discussion on PR #1369 after approval. Thanks.

[2020-10-29 19:31] TopSwagCode commented on #1316
Hi. I wrote on Gitter why I didn't want to go on. I have another branch that was approved, but bot blocked PR. Made new branch and got bot to approve PR. But now I get another reviewer which get issue sidetracked. If messages should end with "." Or not. Error messages not allowed to contain values even though other messages in repo does.

Ended Up spending several hours om this small fix. I dont f

[2020-10-29 19:44] Austin-Tan commented on #1316
Gotcha, thanks for the explanation, I see the Gitter messages now and will take a look. Good luck!

[2020-10-29 23:50] KonH commented on #1169
Thanks for the details!

I add it and made a PR.

Interesting point. I've started to implement it, but not sure that we need to add complexity for such (rare?) cases.
Difficulties:
- It works on Windows only, where [Process.GetCurrentProcess().ProcessorAffinity](https://docs.microsoft.com/en-us/dotnet/api/system.diagnostics.process.processoraffinity?view=netcore-3.1) is available
- To detect the p

[2020-10-30 04:39] #1403 closed

[2020-10-30 18:59] cijothomas commented on #581
Here's the proposal:
Introduce the following in API:
Propagators.Default {set;get} = NoOpPropagator;

In SDK,
In SDK.cs class, do the following inside a static ctor()
{
Propagators.Default = new Composite(TraceContext, Baggage);
}

(Logging does not rely on SDK.cs, so we "touch" SDK.cs from LoggingProvider, to trigger above initialization)

In each instrumentations,
By default, use the Propagators

[2020-10-30 19:08] #1416 closed

[2020-10-30 19:49] CodeBlanch commented on #581
@cijothomas Should we add a builder method as a convenience like...
[code]

But that also begs the question: What if the user wants to have multiple `TracerProviderSdk`s in the process using different propagation styles? I feel like we should either fully support multiple TracerProviders in the process or limit to just one 😄

If we want to support multiple we could move from static to a field on T

[2020-10-30 20:35] cijothomas commented on #581
If one wants to have separate propagator per TracerProviderSdk, then they can it, as every instrumentation allows override.
So provider1 = instrumentation1 with propagator1, provider2 = instrumentation1 with propagator2 is possible.

(About activity avoiding the storage of Resource, yes, i am still thinking of the best approach.  https://github.com/open-telemetry/opentelemetry-dotnet/issues/1397)

[2020-10-30 21:04] CodeBlanch commented on #581
I figured you'd say that :smile: Agree they can make it work. But I also feel like we could provide a nice and consistent API. Some stuff is static, some stuff is a builder, some stuff is carried around on activity. Code smells right? Everything working off the builder/TracerProvider would be nice, and I don't think that difficult to achieve. The goal being: One way to configure propagation regard

[2020-10-30 21:09] cijothomas commented on #581
Ok, so there will be 3 places to set Propagator.
1. The global one. Everyone respects this unless overridden.
2. The one via TracerProviderBuilder, which will be respected by all the instrumentations built as part of that provider.  This overrides the global
3. Then instrumentation specific one which can override anything set by either of the above.

Or are you saying we just need 1,2 and eliminat

[2020-10-30 21:14] CodeBlanch commented on #581
I'm thinking we should only have 2 & 3. I know the spec says "Global" but that doesn't really make sense for our (current) API/SDK. Our "global" is really scoped to a TracerProvider, at least in my mind. Each TracerProvider should have a Resource and a Propagator. Any instrumentation, processor, exporter, etc., should be able to resolve its parent TracerProvider and it's "global" state. Since ever

[2020-10-30 22:03] dgrozenok commented on #1416
Thank you!

[2020-11-01 02:50] mbakalov opened #1434 "Baggage.Current throws NullReferenceException in another AppDomain on net452"
# Bug Report

Using latest OpenTelemetry master branch when targeting net452.

## Symptom

In the same process:
* Access `Baggage.Current` in one AppDomain.
* Then access `Baggage.Current` in another AppDomain - this will throw a NullReferenceException.

The `RemotingRuntimeContextSlot` explicitly doesn't want to marshal `Baggage.Current` across AppDomain boundaries. That is fine, but the call to

[2020-11-02 16:03] cijothomas opened #1437 "DiagnosticSource instrumentation helpers as public?"
This folder (https://github.com/open-telemetry/opentelemetry-dotnet/tree/master/src/OpenTelemetry/Instrumentation) contains the classes which helps subscribe to DiagnosticSource based events. Its to be used by those instrumentations, which are relying on the instrumented library to publish events using DiagnosticSource. These are currently exposed as public APIs from the Otel SDK nuget.

Opening t

[2020-11-02 17:32] #1434 closed

[2020-11-02 18:07] cijothomas commented on #581
PR https://github.com/open-telemetry/opentelemetry-dotnet/pull/1428 makes the following:
Add propagators API which can set the global, default propagator. `Propagators.DefaultTextMapPropagator`.
There is no ability to set a propagator specific to a `TracerProvider`.
There is ability to set propagator to each instrumentation, which leverages propagators. They can still access the global one, or ign

[2020-11-03 05:50] cijothomas commented on #581
PR 1428 added Propagators.GetDefault in API. (to be consumed by instrumentations)
Propagators.SetDefault in Sdk, so as to allow override from the SDK.
Propagators.Default is set to the Composite(Baggage,TraceContext) by the Sdk.

To be discussed and finalized:
Should we still keep the per instrumentation overrides? its not required by the spec, and hence it may be eliminated.
Need to see if there

[2020-11-03 05:50] #581 closed

[2020-11-03 06:00] cijothomas opened #1439 "Instrumentations and overriding Propagator"
https://github.com/open-telemetry/opentelemetry-dotnet/issues/581 is resolved as we added Global Propagators API which allow one to retrieve the Global propagator, and SDK sets the default to Composite (Baggae, TraceContext).

Opening this issue to discuss if we need to still allow Instrumentations to override their Propagator. Its not really mentioned in the spec, but there could be use cases whe

[2020-11-03 06:17] cijothomas opened #1441 "GrpcClient does not propagate context"
https://github.com/open-telemetry/opentelemetry-dotnet/blob/master/src/OpenTelemetry.Instrumentation.GrpcNetClient/Implementation/GrpcClientDiagnosticListener.cs#L52

Though GrpcClient is built on top of HttpClient, it is possible that the downsteam instrumentation is explicitly disabled, or not enabled at all. GrpcClient must be doing the propagation in either cases. If httpclient instrumentation

[2020-11-03 06:59] #981 closed

[2020-11-03 09:22] rymeskar opened #1442 "Dependencies in OpenTelemetry Project"
# Question
Does it make sense to rely on non-abstraction libraries because of [one extension method](https://github.com/open-telemetry/opentelemetry-dotnet/blob/master/src/OpenTelemetry/Logs/OpenTelemetryLoggingExtensions.cs)? I believe that without this method, the package could only rely on Microsoft.Extensions.Logging.Abstractions instead of Microsoft.Extensions.Logging.Configuration and Micros

[2020-11-03 12:59] eddynaka commented on #1439
Question: is it common for people to enable different Propagators for different instrumentations? For example:
- http -> w3c only
- aspnetcore -> all

If we go to the way where we remove the propagators from options, that won't be possible anymore unless u start many SDK's and, in each SDK you add one instrumentation or something like that.

[2020-11-03 16:09] reyang opened #1444 "User Research"
Go through the steps as documented [here](https://docs.google.com/document/d/1rXT2eEAniVM7r8KiikzgJJ-r36shOg_twZP6GPzNvao/edit) and provide feedback.

[2020-11-03 16:41] cijothomas commented on #1439
yes, if we remove the propagator from individual instrumentation options, then *every* instrumentation get the same global propagator with no ability to override. Spec doesn't say that instrumentations may ignore the global propagator either. So its upto us for now, to decide if we want to allow this or not.

I am okay to remove this for now, and if a need comes up, we can always add it then. (The

[2020-11-03 19:05] cijothomas commented on #1444
@reyang to try this first.

[2020-11-03 20:05] cijothomas commented on #1439
From today's Sig meeting: Remove the option from instrumentation.
Keep an issue open for adding back *if* required *after* GA.
This is done to make sure we dont expose any public API unless there is strong reason and the requirements are clear.

[2020-11-03 20:06] cijothomas commented on #1370
As per today's SIG meeting, we'll mark all public api in Metrics as Obselete. Its *not* idea, but that'd surely catch users attention, and won't incorrectly assume Metrics API is GA like Trace/Log.

[2020-11-03 20:14] cijothomas opened #1445 "HttpWebRequest instrumentation must propagate Current context"
Similar to this: https://github.com/open-telemetry/opentelemetry-dotnet/pull/1431.

[2020-11-03 21:30] cijothomas opened #1450 "AspNet instrumentation Enrich documentation"
https://github.com/open-telemetry/opentelemetry-dotnet/tree/master/src/OpenTelemetry.Instrumentation.AspNetCore#enrich doc has documented the Enrich option. But this is not done for Aspnet - https://github.com/open-telemetry/opentelemetry-dotnet/tree/master/src/OpenTelemetry.Instrumentation.AspNet#special-topic---enriching-automatically-collected-telemetry

This issue is to fix the doc for AspNet

[2020-11-03 21:31] cijothomas commented on #1450
@vishweshbankwar please take this

[2020-11-04 01:00] cijothomas opened #1451 "implement TracerProvider shutdown"
https://github.com/open-telemetry/opentelemetry-specification/blob/master/specification/trace/sdk.md#shutdown

Can be mostly similar to Dispose. And follow same/similar approach as Processor

[2020-11-04 03:49] cijothomas commented on #1441
GrpcClient is only for .NET Core 3.1 or above - in these cases HttpClient **always** propagate TraceContext. (This is done by the HttpClient itself, nothing to do with opentelemetry).
But it wont propagate Baggage. So we need to add Baggage propagation to it.
And also propagate the TraceContext, if the Propagator is anything other than TraceContextPropagator. (eg: zipkin)

[2020-11-04 04:05] cijothomas opened #1453 "SDK configuration from ENV Variable"
Spec has documented a list of ENV variable names from which SDK should read config, *if* SDK chose to support ENV var based config.
https://github.com/open-telemetry/opentelemetry-specification/blob/master/specification/sdk-environment-variables.md

[2020-11-04 04:05] cijothomas commented on #1453
Given this is not a *MUST*, we can add this after-ga.

[2020-11-04 08:24] cijothomas commented on #1445
Need to see if we should propagate context, *even* when Filter is applied and no listener registered.
if (!WebRequestActivitySource.HasListeners() || IsRequestInstrumented(request) || !Options.EventFilter(request))
            {
                // No subscribers to the ActivitySource or this request was instrumented by previous
                // ProcessRequest, such is the case with redirect resp

[2020-11-04 08:55] cijothomas commented on #1437
Plan of action for GA Release:
1. Rename AddInstrumentation to AddDiagnosticSourceInstrumentation
2. Add AddInstrumentation (this just takes a Function returning the instrumentation. There is no ActivitySourceAdapter. This will be used by any instrumentation which requires lifecycle (create/dispose) managed along with Provider.
3. Mark AddDiagnosticSourceInstrumentation as Internal, and give acces

[2020-11-04 09:30] #1316 closed

[2020-11-04 09:57] #1439 closed

[2020-11-05 13:50] tiagonapoli opened #1470 "Adding resource tags dinamically after initialization"
# Question

First of all, congratulations on the awesome work!

On OpenTelemetry initialization we do something similar to the following:
[code]
However, to fetch host and cloud information we have to block the initialization process to make calls to AWS API. We would prefer not to block initialization because of this.

Is there a way to add tags to the resource after initialization? Do you guys t

[2020-11-05 14:01] eddynaka commented on #1470
@tiagonapoli , depending on what kind of instrumentation you are using, you could `Enrich` from the options to do something like this:
[code]

[2020-11-05 14:17] tiagonapoli commented on #1470
Currently we're using AspNetCore and Http auto instrumentations. About the enrich solution, we would have to merge the resource for every activity created, do you think the overhead would be considerable?

Does caching the merged resource would be better?
[code]

[code]

[2020-11-05 14:24] eddynaka commented on #1470
For the caching strategy, yes, that would help with the allocation since we would only need to allocate the new Resource once.

For the enrichment part, it will affect performance when you use `Enrich`.

I thought I did commit the benchmark for that. I will create a new PR adding it. But you can look here: https://github.com/open-telemetry/opentelemetry-dotnet/pull/1261#issuecomment-695062784

[2020-11-05 14:28] tiagonapoli commented on #1470
Awesome! Thanks a lot!

[2020-11-05 15:11] cijothomas commented on #1470
As per the current spec for Resource, resource is associated with a TracerProvider/MeterProvider, and is same for all the traces/metrics from that provider, and *cannot* be changed after provider creation.
It is a **bug** that we allow overriding resource on a per span/activity level. This will very likely be fixed with one of the pending PRs. So do not count on this behaviour.

[2020-11-05 17:25] chris-smith-zocdoc opened #1473 "Enrich callback not invoked when using dotnet framework"
# Bug Report

Enrich callback isn't called for sql activities when using dotnet framework

Enrich was added to the dotnet core implementation

https://github.com/open-telemetry/opentelemetry-dotnet/blob/master/src/OpenTelemetry.Instrumentation.SqlClient/Implementation/SqlClientDiagnosticListener.cs#L94

But not the dotnet framework one

https://github.com/open-telemetry/opentelemetry-dotnet/blob/m

[2020-11-05 17:32] cijothomas commented on #1473
As .NET Framework does not publish any additional payload, there is nothing we can use to Enrich.... Must document this, if not already documented..

[2020-11-05 18:15] #1206 closed

[2020-11-05 18:16] cijothomas commented on #942
Lot of TODOs addressed. Still more. Will keep this open in RCs

[2020-11-05 18:17] #1373 closed

[2020-11-05 18:58] chris-smith-zocdoc commented on #1473
Its true I'm not sure if there's anything useful to pass into Enrich. I was using it as a callback to grab some external state (async locals + stacktrace) to add to the activity. So its useful in that sense. As a work around I'm using an activity processor instead

[2020-11-06 04:37] #1441 closed

[2020-11-06 06:13] cijothomas commented on #1305
https://github.com/open-telemetry/opentelemetry-dotnet/pull/1464 This PR should address this, right ? atleast partially?

[2020-11-06 06:18] cijothomas commented on #78
I believe this is an issue copied from Census world and may not be relevant anymore in this repo.
Closing this for now. If this is still relevant, please feel free to reopen.

[2020-11-06 06:18] #78 closed

[2020-11-06 06:23] cijothomas opened #1480 "Zipkin usage doc is outdated"
https://github.com/open-telemetry/opentelemetry-dotnet/tree/master/src/OpenTelemetry.Exporter.Zipkin

[2020-11-06 06:26] cijothomas commented on #107
The usage is different now. There is no explicit start. In case of any issues faced by the exporter, it simply logs exception to EventSource and continue.
If something is not working as expected - the general guideline will - enable self-diagnostics (instructions to do that is pending in active PRs.)

Please reopen if we need to do more here.

[2020-11-06 06:28] #107 closed

[2020-11-06 06:29] cijothomas commented on #1217
The best we can do is to document this behaviour. Tagging this as a documentation issue.

[2020-11-06 06:38] cijothomas commented on #337
closing old issue.
There is Propagators API now available to do inject/extract *any* propagation format for propagating Context/Baggage.

[2020-11-06 06:38] #337 closed

[2020-11-06 06:39] #342 closed

[2020-11-06 06:41] cijothomas commented on #373
Closing as not relevant now.

[2020-11-06 06:41] #373 closed

[2020-11-06 06:42] cijothomas commented on #407
Most of span/.activity iteration over enumerator has been replaced with alloc-free approaches. Closing this issue. Please reopen if you see more scope for improvement. We are always looking for ways to improve performance!

[2020-11-06 06:42] #407 closed

[2020-11-06 06:43] cijothomas commented on #461
Context propagation is done now, along with GlobalPropagators. Closing.

[2020-11-06 06:43] #461 closed

[2020-11-06 06:44] cijothomas commented on #475
Dont think this is an issue with DS 5.0. Closing old issues.

[2020-11-06 06:44] #475 closed

[2020-11-06 06:44] cijothomas commented on #512
Closing this for now. When spec add binary format, we'll implement it here.

[2020-11-06 06:44] #512 closed

[2020-11-06 06:46] cijothomas commented on #503
No longer applicable, as span is replaced with activity, and wrapper allow only spec allowed value types.

[2020-11-06 06:46] #503 closed

[2020-11-06 06:46] #502 closed

[2020-11-06 06:47] cijothomas commented on #544
As part of cleaning up old issues without activity, I am closing this. Please reopen if the issue is still relevant. Thanks!

[2020-11-06 06:47] #544 closed

[2020-11-06 06:48] cijothomas commented on #632
Closing as this is not relevant now. There is a WIP PR for metrics, and the PR is leaning towards separate subscription and separate instrumentation for trace and metric.

[2020-11-06 06:48] #632 closed

[2020-11-06 06:52] cijothomas commented on #736
The general consensus from several SIG meeting was that, its best to opt-in to each ActivitySources of interest, rather than subscribing to all by default. This will be made clear in the instrumentation doc as well.
Additionally, the AddSource() api supports wildcard (*) now, so it must be easy to subscribe to multiple source. For eg: AddSource("CompanyName.Product.*") will listen to all ActivityS

[2020-11-06 06:52] #736 closed

[2020-11-06 06:54] cijothomas commented on #1024
@utpilla Please take a look

[2020-11-06 06:54] cijothomas commented on #1071
Closing in favor of https://github.com/open-telemetry/opentelemetry-dotnet/issues/1453

[2020-11-06 06:54] #1071 closed

[2020-11-06 07:18] #1233 closed

[2020-11-06 07:20] cijothomas opened #1481 "SQLClient instrumentation doc is incomplete"
https://github.com/open-telemetry/opentelemetry-dotnet/blob/master/src/OpenTelemetry.Instrumentation.SqlClient/README.md
Is missing information about Enrich option. Also need to explicitly note the situations where Enrich is available. (similar to SetTextCommandContent)

[2020-11-06 07:20] cijothomas commented on #1481
@vishweshbankwar please take this.

[2020-11-06 07:26] cijothomas commented on #1480
@Austin-Tan Please see if you can take this.

[2020-11-06 07:27] cijothomas commented on #1473
https://github.com/open-telemetry/opentelemetry-dotnet/issues/1481 Doc issue will be tracked here.

[2020-11-06 07:28] cijothomas commented on #1473
Enrich has specific purpose - you want to add something to activity based on some information not readily available in processor. For adding anything in general to activity, activity processor is the spec-recommended approach.

[2020-11-06 07:28] #1473 closed

[2020-11-06 07:31] cijothomas commented on #1242
Looks like we are doing the right things and there is no bug. Perhaps some room for minor perf optimizations. Removing bug tag.

[2020-11-06 07:31] #1450 closed

[2020-11-06 07:31] cijothomas commented on #1451
Tagging @utpilla  as he's lookin at this.

[2020-11-06 07:44] cijothomas opened #1482 "Update to DiagnosticSource 5.0"
5.0 GA package is releasing next week.

[2020-11-06 07:46] cijothomas opened #1483 "Add .NET 5.0 to the tests"
.NET 5.0 is GA ing next week, and we need to support it.
No breaking changes are expected, but need to include 5.0 tests. This involves adding 5.0 target to tests, and modifying GHActions to run 5.0.

[2020-11-06 08:31] Sebosek commented on #1287
Hi,

I had a similar issue, in my case, I've copied Collector configuration from notes to the yaml file, but there were some white spaces a it causes, for some reason, the collector doesn't process incomming OTLp requests.
Check your configuration.

[2020-11-06 08:41] Austin-Tan commented on #1480
Acknowledged, will look into this tomorrow.

[2020-11-06 12:06] MikeGoldsmith opened #1484 "ActivityTraceId & ActivitySpanId's are limiting for non-hex based IDs"
While trying to create a custom Sampler implementation I found [SamplingParameters](https://github.com/open-telemetry/opentelemetry-dotnet/blob/c7429d25c9d6a11d8ed152742ff7efa8c3e350fe/src/OpenTelemetry/Trace/SamplingParameters.cs#L64) use a ActivityTraceId struct for the TraceId property. However, this struct is limited only allowing base16 hex characters and throws an exception if a non-hex char

[2020-11-06 12:28] eddynaka commented on #410
A quick update....
- We enabled a workflow that will use `.editorconfig` using `dotnet-format` to validate
- We enabled the StyleCopAnalyzer that will use `.ruleset` using `dotnet build` to validate

I think we can close this.

@cijothomas  @reyang

[2020-11-06 15:46] discostu105 opened #1485 "UTC problem with Metrics Timestamp"
# Bug Report

Since after switching from `0.7.0-beta.1` to `0.8.0-beta.1`, the Metric Timestamps (`MetricData.Timestamp`) are off by 1 hour when concerted to UTC. This is a problem for me since I'm trying to write a metrics exporter that needs to report the timestamp in UTC.

When printing out the `metricData.Timestamp` like this:

[code]

This is the output I get with `0.7.0-beta.1`:

[code]

And

[2020-11-06 17:19] #410 closed

[2020-11-06 17:53] reyang commented on #1484
`ActivityTraceId` is the equivalent of [`SpanContext.TraceId`](https://github.com/open-telemetry/opentelemetry-specification/blob/master/specification/trace/api.md#spancontext).
We are not supposed to support a trace id value that does not fit into W3C TraceContext parent-id.

[2020-11-06 19:57] alanwest opened #1487 "GA preparation: Review all components. Sign up to help out!"
An effort is underway to closely review all components prior to GA. This issue lists the components that need review, the individual(s) reviewing each component, and links to any issues created during the review.

### We need volunteers!

If there's a component you're not very familiar with, you might be the perfect person to volunteer to review it! **No need to be a developer.** We need people to

[2020-11-06 23:41] eddynaka commented on #1345
Spec updated: https://github.com/open-telemetry/opentelemetry-specification/pull/1156

[2020-11-07 03:43] alanwest opened #1490 "HttpClient instrumentation is not invoked when using Grpc.Net.Client on .NET 5.0"
Configure OpenTelemetry with both GrpcNetClient and HttpClient instrumentation:

[code]

When run from a `netcoreapp3.1` application, this code will generate two spans. One for the gRPC call and another for the underlying HTTP call. When run from a `net5.0` application, the code will only generate a span for the gRPC call. That is, the HttpClient instrumentation does not get invoked.

`GrpcChannel

[2020-11-08 00:47] alanwest commented on #1242
Agreed, not a bug based on conversation. I opened an issue with the spec a while back (https://github.com/open-telemetry/opentelemetry-specification/issues/954) which may help facilitate any optimizations we might want to make.

[2020-11-08 01:01] alanwest commented on #1305
Yes, correct parenting will be maintained when using `SuppressDownstreamInstrumentation`. I think it's ok to declare this "not a bug" and just document this behavior.

[2020-11-09 00:04] ndrwrbgs commented on #1388
Agreed with original implementation, did the same thing in multiple wrappers to try to work around the UI. If OP is resolute on the existing functionality, putting the modification behind a flag should be a small code change?

[2020-11-09 00:06] ndrwrbgs commented on #1388
(side note that this is the primary/only blocker to making this understandable for people outside of day-to-day work in tracing in our company. That the OTel implementation worked around this on our behalf, unblocks us after 5 months as long as we use OTel, as long as this Issue is not corrected)

[2020-11-09 01:13] yurishkuro commented on #1388
I don't think faking incorrect data to work around a display issue as an acceptable approach. And the display issue itself is more of a preference for some people, what Jaeger UI does it not wrong (spans emitted from the same service have the same color).

[2020-11-09 15:03] MikeGoldsmith commented on #1484
If TraceID and Span ID must conform to the W3C, how would you expect trace propagation to work between process boundaries where the trace Id is generated from a non-W3C compliant process?

I'll raise the issue on the spec repo. Without opaque values, forcing W3C compliant Trace & Span IDs is a severely limiting factor.

[2020-11-09 15:03] #1484 closed

[2020-11-09 19:28] christopher-taormina-zocdoc opened #1491 "Reduce time spans spent in memory"
# Question
I have an aspnet core service up with opentelemetry using the aspnetcore instrumentation and a zipkin exporter. It seems that at times it can takes 5 seconds or more before a span is sent to the zipkin endpoint. Is there some setting to reduce this time? We're working on tail-sampling and want to be as sure as possible that all spans of a trace will make it to the collector in time.

**

[2020-11-09 19:51] cijothomas commented on #1491
If using BatchProcessor, change the default interval from 5 sec to lower value.
Or use SimpleProcessor.

[2020-11-09 19:59] eddynaka opened #1492 "[Flacky test] GrpcPropagatesContextWithSuppressInstrumentation"
Recently, many pr's started to fail because of this.

This happens sometimes, where the expected output is 8 but, the current count of activities ais 7.

Still couldn't reproduce and for now, we disabled it.

[2020-11-09 20:15] cijothomas commented on #1492
@alanwest can you help investigate this?

[2020-11-09 20:21] alanwest commented on #1492
Yes I'm currently looking at this. Will provide update today.

[2020-11-09 20:34] christopher-taormina-zocdoc commented on #1491
Oh nice I'll add the batch processor into my pipeline. Is one set up by default that the spans currently take 5 seconds?

[2020-11-09 20:46] cijothomas commented on #1491
Yes. 5 sec is what the spec says to pick as default.

(I'll keep this issue open to document the "how to configure Provider" part, which should have answered your question.)

[2020-11-09 21:30] cijothomas commented on #1491
Btw - just realized that this is not yet supported. Its a "TODO" in the exporter. Please watch for an update here soon.

[2020-11-09 21:39] #1397 closed

[2020-11-09 22:47] cijothomas opened #1493 "ZipkinExporter to expose settings to control ExportingProcessor"
ZipkinExporter extensions does not let user customize the ExportingProcessor options.
https://github.com/open-telemetry/opentelemetry-dotnet/issues/1491

Need to modify ZipkinExporterOptions to contain settings which it intend to support.

[2020-11-09 22:59] cijothomas opened #1494 "OtlpExporter to expose settings to control ExportingProcessor"
Similar to https://github.com/open-telemetry/opentelemetry-dotnet/issues/1493

[2020-11-09 23:00] cijothomas opened #1495 "JaegerExporter to expose settings to control ExportingProcessor"
Similar to https://github.com/open-telemetry/opentelemetry-dotnet/issues/1494

[2020-11-09 23:33] ndrwrbgs commented on #1388
I agree, this should be fixed here after Jaeger UI supports the preference
flag.

On Sun, Nov 8, 2020, 5:13 PM Yuri Shkuro <notifications@github.com> wrote:

[2020-11-09 23:55] cijothomas commented on #1493
@utpilla is looking into this.

[2020-11-09 23:55] cijothomas commented on #1494
@utpilla is looking into this.

[2020-11-10 00:17] cijothomas commented on #1487
The above includes review of all public APIs (https://github.com/open-telemetry/opentelemetry-dotnet/issues/898) and flag the ones which are not required. And making sure enough APIs are exposed to allow extensibility, as required by the spec.

[2020-11-10 00:51] ejsmith commented on #1437
The contrib project is completely broken when upgrading to OTel 0.8. ActivitySourceAdapter, DiagnosticSourceSubscriber, ListenerHandler, PropertyFetcher have all been made internal. Is the plan that we have to just copy the source into each of these instrumentations?

[2020-11-10 01:32] #1492 closed

[2020-11-10 05:02] yurishkuro commented on #1388
I disagree. The current behavior of the SDK generates incorrect data, which can never be corrected by the backend.

Allow me to demonstrate why it is already bad even with the thing it is presumably aspires to fix in the UI. Let's say service A generates two spans, a server span on ingress, and a client span when A calls service B. With the current fudging of the service name, the two spans looks

[2020-11-10 05:14] #1345 closed

[2020-11-10 05:58] ndrwrbgs commented on #1388
Sounds like Jaeger should update the model so that's not a problem, or be consistent in how it handles when the other service does and doesn't generate the span, eh? If it just provided a way to emphasize/show the remote when it's not instrumented, the services wouldn't have to double-emit and we'd not be in this problem.

[2020-11-10 06:21] johnduhart commented on #1388
I have to agree with Yuri here, the exporter should not be emitting spans with an incorrect service name purely for display purposes in a UI. We consume trace data for analysis and monitoring purposes, and accuracy is important.

[2020-11-10 07:34] cijothomas commented on #675
Closing in favor of https://github.com/open-telemetry/opentelemetry-dotnet/issues/947

[2020-11-10 07:34] #675 closed

[2020-11-10 12:23] AndyPook commented on #1437
just agreeing with @ejsmith
changing the api may be the right-thing-to-do, but surely there is a series of steps that gets you there without breaking all the things in the meantime?
Making a load of helpers (ie PropertyFetcher) internal is certainly unhelpful for anyone attempting to create custom impl.

On the other hand... thank you for putting the effort on this.
I see 1.0-rc1 is due shortly. W

[2020-11-10 15:44] ejsmith commented on #1437
Yeah, and the thing that is really frustrating to me in projects like this where the community is kind of expected to create an ecosystem of instrumentations is when the root project cheats and makes their internals visible to themselves for their own implementations.

[2020-11-10 16:06] ndrwrbgs commented on #1388
I don't think _anyone_ wants to be emitting incorrect or misleading data;
but when a request for usability is declined and sometimes you have to work
around the large corporations :)

On Mon, Nov 9, 2020, 10:21 PM John Du Hart <notifications@github.com> wrote:

[2020-11-10 16:25] cijothomas commented on #1437
Any public API shipped from this repo should be documented and must be supported long term. With this pre-req, we are evaluating all the public APIs exposed, and cutting down anything not required by the spec/not serving the primary intention of this repo.
This includes several extension methods on Activity to high perf alloc-free iterations, easy helpers to subscribe to DiagnosticSource, Semantic

[2020-11-10 16:55] johnduhart commented on #1388
The place to work around that problem isn't within a single SDK implementation. All of the implementations should work as close to identical as possible, and right now I'm only aware of the .NET SDK having this behavior.

If you want to improve how a trace is presented, fix it at the presentation layer. Please don't munge data to get the result you want.

[2020-11-10 16:59] cijothomas opened #1501 "Metric support plans"
### Background
OpenTelemetry .NET SDK currently has a basic implementation of the [Metric API](https://github.com/open-telemetry/opentelemetry-specification/blob/master/specification/metrics/api.md). This was written as a prototype (when Metrics Specs were in early stages), and is not recommended for any production scenarios.

The OpenTelemetry specification for [Metrics SDK](https://github.com/op

[2020-11-10 17:02] cijothomas opened #1502 "EventCounter API feedback"
As mentioned in https://github.com/open-telemetry/opentelemetry-dotnet/issues/1501. OpenTelemetry .NET Sig and .NET Runtime team is looking for feedback on [EventCounters API](https://docs.microsoft.com/dotnet/core/diagnostics/event-counters). Please comment on this issue if you have any feedback to share.

Are you using EventCounters in any way in your applications?
If yes, are you simply consumi

[2020-11-10 17:45] ejsmith commented on #1437
@cijothomas I understand that you are making a commitment to supporting a public API and I appreciate that. It just raises the barrier of entry for 3rd party instrumentations and makes it harder to create them. I wish you would convert your instrumentations to see what the process is and if it's even possible to create them without making use of internalsvisibleto before you remove them from the r

[2020-11-10 19:31] yurishkuro commented on #1388
https://github.com/open-telemetry/opentelemetry-specification/pull/1222

[2020-11-10 19:34] cijothomas commented on #1437
For DiagnosticSource subscriptions - you are free to copy or write own listeners following .NET's guide of DiagnosticSource : https://github.com/dotnet/runtime/blob/master/src/libraries/System.Diagnostics.DiagnosticSource/src/DiagnosticSourceUsersGuide.md

There are instrumentations like Redis, SqlClient(.NET Framework), HttpWebRequest which does not rely on any internals. Also examples are provid

[2020-11-11 00:18] #1482 closed

[2020-11-11 00:52] ank3it commented on #1487
I can do documentation review for OpenTelemetry.API and OpenTelemetry

[2020-11-11 01:22] cijothomas commented on #942
Closing in favor of https://github.com/open-telemetry/opentelemetry-dotnet/issues/1487

[2020-11-11 01:22] #942 closed

[2020-11-11 06:02] utpilla opened #1505 "Ensure that TracerProviderSdk ActivityListener.Dispose is not call multiple times"
We need to ensure that calling Dispose multiple times on TracerProviderSdk does not call ActivityListener.Dispose again.

https://github.com/open-telemetry/opentelemetry-dotnet/pull/1489#discussion_r520215270

[2020-11-11 07:43] cijothomas opened #1509 "Extract package versions to common place."
There are many packages required by product/test. We have some of them moved to a central place, but still many are left in individual projects. This issue is to track moving all the versions to a centralized place, so its easy to update when a need arises.
eg: https://github.com/open-telemetry/opentelemetry-dotnet/pull/1506#discussion_r521170961

[2020-11-11 11:56] mbakalov commented on #1487
I'll take OpenTelemetry.Instrumentation.SqlClient!

[2020-11-11 19:21] #1480 closed

[2020-11-11 20:19] cijothomas commented on #1509
@Austin-Tan Please take this

[2020-11-11 20:19] Austin-Tan commented on #1509
Acknowledged, please assign me. Thanks!

[2020-11-11 20:21] cijothomas commented on #1495
@Austin-Tan Please take this, once https://github.com/open-telemetry/opentelemetry-dotnet/issues/1493 is resolved.

[2020-11-11 21:31] cijothomas opened #1511 "Zipkin Exporter send service.namespace as Zipkin tag"
As per [spec](https://github.com/open-telemetry/opentelemetry-specification/blob/master/specification/trace/sdk_exporters/zipkin.md#service-name), `service.namespace` resource should be sent as a Zipkin tag, and not as service name.

Zipkin exporter currently concats the namespace with service name, and is not sending namespace as a Zipkin tag.
https://github.com/open-telemetry/opentelemetry-dotne

[2020-11-11 21:36] #1483 closed

[2020-11-12 01:41] cijothomas commented on #19
This is because ActivitySource is blank for those DiagnosticSourceInstrumentation activities. One proposed fix would be to modify the legacy activity with correct ActivitySource.

[2020-11-12 02:03] zjfeiye opened #1518 "How to create my custom Handler Inherit from ListenerHandler?"
# Question

**v0.8.0**

in 0.8.0 ListenerHandler made internal.
so, how can i create custom Handler Inherit from ListenerHandler?

i create cutom handler for Orleans , NServiceBus, and some my own projects

thank you

[2020-11-12 02:16] Austin-Tan commented on #1509
Not totally understanding this issue's relation to the PR and comment @cijothomas linked. Is this issue looking for some sort of central config file that prescribes versions for all the dependent projects?

[2020-11-12 03:06] cijothomas commented on #1518
Please see this: https://github.com/open-telemetry/opentelemetry-dotnet/issues/1437
All those helper classes were made internal. You should be able to write instrumentation without that. Let us know if you need help.
Also see documentation here: https://github.com/open-telemetry/opentelemetry-dotnet/blob/master/docs/trace/extending-the-sdk/README.md#instrumentation-library

[2020-11-12 03:06] #1518 closed

[2020-11-12 03:13] cijothomas commented on #1509
The ask is to make sure all package version are maintained in the common.*.props file, instead of directly specifying version in individual .csproj.

[2020-11-12 03:15] cijothomas commented on #1509
The props file already exists: https://github.com/open-telemetry/opentelemetry-dotnet/blob/master/build/Common.props#L26 and most packages are handled this way. We just need to make sure there are no package versions still directly specified in individual project.

[2020-11-12 12:19] techgeek03 opened #1520 "Consider creating one more release prior 1.0.0-RC to include support for .net 5"
# Question

Can we have one more release before the 1.0.0-RC of the SDK that includes the improvements done for support of .net 5 particularly for referenced NuGet packages. Right now the current version `0.8.0-beta` can't use recently released .Net 5 framework NuGet packages such as `Microsoft.Extensions.Hosting.Abstractions` because `0.8.0-beta`  was using variables in this range [2.1.1,5.0) htt

[2020-11-12 12:21] eddynaka commented on #1520
@techgeek03 , based on our milestone calendar (https://github.com/open-telemetry/opentelemetry-dotnet/milestones), we will try to release a new version in the next few days, which will include this changes that you added.

I think, that will work for you, right?

[2020-11-12 12:24] techgeek03 commented on #1520
Yes that would work, thank you! I saw the milestones page but I have missed the release date :) because there are lot of open issues.

[2020-11-12 12:25] #1520 closed

[2020-11-12 13:33] eddynaka commented on #1511
For zipkin, we have two endpoints:
1. localendpoint: the servicename is equal some name that you specified, for example, `Zipkin Exporter`
2. remoteendpoint: the servicename is equal to the url.

If we switch to tags, what should be translated? the `zipkiin exporter` or the url?
And, when we convert to json, we have two properties, local and remote endpoint. Should we remove the servicename from t

[2020-11-12 18:16] #1400 closed

[2020-11-12 18:25] cijothomas opened #1522 "DiagnosticSource instrumentations produce activities without ActivitySource."
Activities created outside ActivitySource API (i.e DiagnosticSource APIs) has a default ActivitySource with name as string.Empty. ActivitySource is the instrumentationlibrary information, which would be missing for those activities.
There is no easy fix, other than to use reflection and set Activity.ActivitySource.

https://github.com/open-telemetry/opentelemetry-dotnet/issues/19#issuecomment-7257

[2020-11-12 18:25] cijothomas commented on #19
This work is complete. The lack of InstrumentationLibrary info is a bug in the instrumentations, not an exporter. Closing this.

[2020-11-12 18:25] #19 closed

[2020-11-12 18:27] #1511 closed

[2020-11-12 18:46] #1522 closed

[2020-11-12 23:04] kirillta commented on #1518
@cijothomas there are two example instrumentations in the doc: _Redis_ uses custom profiler and _SqlClient_ uses internal `DiagnosticSourceSubscriber`. Could you give me another example?

Like, if I have an instrumented target library and an an instrumentation library. How can I place tracing logic in the second one if `ActivitySource` must be placed in the first one? I don't see any options witho

[2020-11-12 23:25] cijothomas commented on #1518
Here's the SqlClient (.NET Framework) code: https://github.com/open-telemetry/opentelemetry-dotnet/blob/master/src/OpenTelemetry.Instrumentation.SqlClient/Implementation/SqlEventSourceListener.netfx.cs
It does not use ListenerHandler. Same with Redis.

Not sure why you need another example. Anything in particular which is not clear, I can try to help.

If you have a instrumented library "A", and y

[2020-11-13 02:22] #1493 closed

[2020-11-13 02:59] utpilla opened #1532 "REQUEST: New membership for utpilla"
### GitHub Username
@utpilla

### Organization you are requesting membership in
@open-telemetry/opentelemetry-dotnet

### Requirements
- [x]  I have reviewed the community membership guidelines (https://github.com/open-telemetry/community/blob/master/community-membership.md)
- [x]  I have enabled 2FA on my GitHub account. See https://github.com/settings/security
- [x] I have subscribed to the Gitt

[2020-11-13 03:10] alanwest commented on #1532
Hey @utpilla, welcome! You actually want to open this issue in https://github.com/open-telemetry/community.

[2020-11-13 03:22] cijothomas commented on #1532
Please open in the community repo.

[2020-11-13 03:22] #1532 closed

[2020-11-13 07:58] kirillta commented on #1518
What do you mean? I see it uses [this](https://github.com/open-telemetry/opentelemetry-dotnet/blob/48ea77fd1be2978ccf1857461057dc1be34cf846/src/OpenTelemetry.Instrumentation.SqlClient/SqlClientInstrumentation.cs#L29) internal dependency

So basically I need put all trace handling in "A" as well? Sounds wrong.
Excuse me, if the question is naive, I'm not into the tracing topic.

[2020-11-13 14:06] cijothomas commented on #1518
I am not sure I understood what this statement means.

[2020-11-13 14:07] cijothomas commented on #1518
You are looking at the SqlClient for .NET Core, which uses the internal class. The link I shared above is for SQlClient .Net Framework.

[2020-11-13 15:05] #1451 closed

[2020-11-13 15:16] tiagonapoli opened #1535 "Allow filtering HTTP auto instrumentation request errors"
# Feature Request

**Is your feature request related to a problem?**

We're using HTTP auto instrumentation in our applications and we would like to be able to change some "false" errors in order to get a better visualization on the UI, for example: A request to AWS/S3 to get a file which returns a 404, most of the time this is used by us to check if the file exists (it's not an error per se, in t

[2020-11-13 15:37] cijothomas commented on #1535
You shouldn't have to do any workaround. Enrich should have worked. Or write custom processor should have worked as well. If they are not working as expected, then its a bug.

[2020-11-13 15:39] eddynaka commented on #1535
@tiagonapoli , when you used the `Enrich`, did you filter by a method or you are setting Ok every time it triggers?

[2020-11-13 16:26] kirillta commented on #1518
I see, but do you have an example for netcore or net5?

Previously I had the library "A", which emitted events by `DiagnosticSource` and the library "B", which caught them with `DiagnosticSourceSubscriber`. Now "A" uses `ActivitySource` as it described [here](https://github.com/open-telemetry/opentelemetry-dotnet/blob/master/src/OpenTelemetry.Api/README.md#instrumenting-a-libraryapplication-with-n

[2020-11-13 17:46] cijothomas commented on #1535
I think there is a bug in Enrich. The order is incorrect - we are now calling Enrich, and then SetStatus, so any SetStatus done in Enrich will be overridden.

@tiagonapoli Wait for us to fix this bug, and you should be able to set status using Enrich or Processor without any issues. Allowing end users ability to override any Activity property, including Status is a *key* requirement, so this will

[2020-11-13 17:50] cijothomas commented on #1518
I am still confused by this statement -> _"Now "A" uses ActivitySource as it described here"_
If A is already using ActivitySource and emitting activities, then there is no need of writing an instrumentation library.

Please follow the instructions here : https://github.com/open-telemetry/opentelemetry-dotnet/blob/master/docs/trace/extending-the-sdk/README.md#instrumentation-library
If your target

[2020-11-13 18:17] tiagonapoli commented on #1535
@eddynaka Sorry for the delay. It seems @cijothomas already found what the issue was, but just for the record the enrich used was:
[code]

[2020-11-13 19:32] kirillta commented on #1518
I meant, I'm in process of porting. Speaking in terms of this article, I need no hijacking if I use ActivitySource API, I only need to add `AddSource` in "B" with a name of the source.
Thanks

[2020-11-13 19:33] kirillta commented on #1518
I'm here since 0.2.0 but documentation still hazy enough

[2020-11-13 21:08] cijothomas commented on #1535
Fix for AspNet: https://github.com/open-telemetry/opentelemetry-dotnet/pull/1537
HttpClient is coming next.

[2020-11-13 21:17] Austin-Tan commented on #1509
PR is up, here are three files that I didn't change but was not sure about:
[Benchmarks.csproj](https://github.com/open-telemetry/opentelemetry-dotnet/blob/2823db731f1a8790c39d39a440b69593fdb67b20/test/Benchmarks/Benchmarks.csproj)
[OpenTelemetry.Instrumentation.HttpTests.csproj](https://github.com/open-telemetry/opentelemetry-dotnet/blob/052ecc44b231b4abb93e0a80b97d2a4344b8620f/test/OpenTelemetry

[2020-11-14 01:42] cijothomas commented on #1491
Fixed for zipkin.

[2020-11-14 01:42] #1491 closed

[2020-11-14 01:43] cijothomas opened #1542 "Allow customization of Otlp exporter"
Similar to https://github.com/open-telemetry/opentelemetry-dotnet/issues/1493

[2020-11-14 01:43] cijothomas commented on #1542
@Austin-Tan

[2020-11-14 01:44] cijothomas opened #1543 "Allow customizing JaegerExporter settings"
Similar to https://github.com/open-telemetry/opentelemetry-dotnet/issues/1493
Assigned to @Austin-Tan

[2020-11-14 01:47] cijothomas opened #1544 "Remove public extension methods on Activity not required for functionality/spec"
Some methods like GetStatus,RecordException are by-design public APIs as it is serving spec needs.
There are a large number of extensions on Activity (eg: GetTag) which are special implementations to avoid allocations. These must not be made public.
For reuse within the repo, copy paste or use shared files.

[2020-11-16 00:21] #1544 closed

[2020-11-16 06:07] sicavz commented on #1372
I'm currently using 0.8 in an on-premise Kubernetes cluster.
- I see the same errors when I configure my app to use the jaeger agent on port 6831 (compact thrift protocol); on top, if I do like a load test, the pods keep restarting because the jaeger agent crashes with exit code 137, which denotes an out of memory issue
- if I just switch to 9411, the Zipkin endpoint of the jaeger production colle

[2020-11-16 12:01] eddynaka commented on #1535
@cijothomas , just created a PR solving the remaining ones

[2020-11-16 16:45] AndyPook commented on #831
I would suggest that the OTel api needs to be "granular" in this way. It needs to be "unopinionated" about what a system requires.
Maybe my app does not want the same "defaults" that some other app does ? Or I have several different "types" of service (API, message subscriber...) that each need different things.

If a given app use case needs a certain set of "instrumentation" enabled, then it is

[2020-11-16 18:27] #1535 closed

[2020-11-16 18:31] eddynaka opened #1549 "Create unit tests for Enrich calls"
After the merge of this PR: https://github.com/open-telemetry/opentelemetry-dotnet/pull/1548

We should create more unit tests just like https://github.com/open-telemetry/opentelemetry-dotnet/pull/1537 to validate the full behavior.

[2020-11-16 20:21] cijothomas opened #1552 "Benchmark project improvement, CI runs"
https://github.com/open-telemetry/opentelemetry-dotnet/pull/1545 has removed the benchmarks for the Activity extension methods. Need to bring it back. And possible split the Benchmarks project into API/SDK/Instrumentation/Exporter projects and run it as part of CI. Splitting should allow us to selectively run benchmarks in CI, depending on which files have changed.

[2020-11-16 20:44] cijothomas opened #1553 "Remove SpanHelper from public API"
Used by instrumentations, but they should make their own copy. Otel.API doesn't need to expose this API.

[2020-11-16 21:21] matthughes404 opened #1554 "StackExchange.Redis instrumentation not working when using ConfigureServices(IServiceCollection services)"
# Bug Report

List of [NuGet packages](https://www.nuget.org/profiles/OpenTelemetry) and version that you are using (e.g. `OpenTelemetry 0.4.0-beta.2`):

* OpenTelemetry 0.8.0-beta.1
* OpenTelemetry.Exporter.Console 0.8.0-beta.1
* OpenTelemetry.Extensions.Hosting 0.8.0-beta.1
* OpenTelemetry.Instrumentation.AspNetCore 0.8.0-beta.1
* OpenTelemetry.Instrumentation.Http 0.8.0-beta.1
* OpenTelemetry.I

[2020-11-16 22:30] #1509 closed

[2020-11-16 23:35] #1553 closed

[2020-11-17 00:26] cijothomas commented on #1494
@Austin-Tan please take this.

[2020-11-17 01:49] cijothomas opened #1558 "ActivityExporter is called even if Activity.Recorded is false."
if Activity.IsAllDataRequested = true, Processors are to be called. But Exporters are to be called only if Activity.Recorded is true as well.
https://github.com/open-telemetry/opentelemetry-specification/blob/master/specification/trace/sdk.md#sampling

We currently call Exporter irrespective of Activity.Recorded.

[2020-11-17 06:36] cijothomas opened #1560 "Add Filter options to gRPCClient instrumentation"
Similar to Filter for most other instrumentation, add Filter option to gRPCClient instrumentation as well.

[2020-11-17 06:48] cijothomas opened #1561 "HttpClient should propagate parent context even when Filter or Sampler is in play"
1. For HttpClient (.NET Framework) via HttpWebRequest
As mentioned here, https://github.com/open-telemetry/opentelemetry-dotnet/issues/1445#issuecomment-721584743, the instrumentation should propagate the context from parent, when the request itself is filtered out. Filtering/Sampling causes the activity to be not created/recorded, but there might be a parent context, which must be propagated down

[2020-11-17 06:54] cijothomas commented on #1561
1 is handled by https://github.com/open-telemetry/opentelemetry-dotnet/pull/1562

[2020-11-17 15:23] cijothomas opened #1564 "AspNet,AspNetCore should extractparent context even when Filter is applied"
Similar to: https://github.com/open-telemetry/opentelemetry-dotnet/issues/1561

Irrespective of a filter being applied, Asp.Net/Asp.Net Core instrumentation must still extract the propagation context and set to current Activity, Baggage.

[2020-11-17 15:25] #1445 closed

[2020-11-17 15:59] cijothomas opened #1565 "ActivitySource subscription to support Version"
The current subscription model on ActivitySource is only taking the ActivitySource.Name and ignores the Version.
Need to enhance the API to support Version as well.

[2020-11-17 18:54] cg110 opened #1569 ".net definition for exception.stacktrace should be chosen and defined"
# Feature Request

**Is your feature request related to a problem?**

I was looking over the exception handling for otel.dotnet here:
https://github.com/open-telemetry/opentelemetry-dotnet/blob/master/src/OpenTelemetry.Api/Trace/ActivityExtensions.cs#L72

I was wondering why the stack trace is ex.ToString() rather than ex.StackTrace?

I see here: https://github.com/open-telemetry/opentelemetry-spe

[2020-11-17 20:40] cijothomas commented on #1481
@mbakalov Are you doing this?

[2020-11-17 20:55] mbakalov commented on #1481
@cijothomas - yes, please assign to me, I will take care!

[2020-11-17 20:56] cijothomas opened #1570 "SqlClient instrumentation does not record Exception."
Exception is available in DiagnosticSource base instrumentation, so it can do Activity.RecordException, under a option `RecordException` similar to AspNetCore.

[2020-11-17 20:57] cijothomas commented on #1570
@mbakalov is looking at this.

[2020-11-17 22:17] cijothomas opened #1571 "SetStatus must store the StatusCode string value."
Instead of 0,1,2, it should store Unset,Ok,Error.
https://github.com/open-telemetry/opentelemetry-dotnet/tree/master/src/OpenTelemetry.Api#setting-status

[2020-11-18 04:51] #1558 closed

[2020-11-18 06:12] cijothomas opened #1578 "Introduce FilteringProcessor"
https://github.com/open-telemetry/opentelemetry-dotnet/pull/1559 shows how a user can write their own FilteringProcessor. It has the following limitations:
1. Requires Exporter to expose public constructor, which require additional document to warn customers of the potential side effects of using the same Exporter instance in multiple providers.
2. As seen in the PR, its non-trivial to write Filte

[2020-11-18 06:24] cijothomas commented on #1437
All DS related classes are made internal, this item can be closed.
Will open separate issue to discuss bringing any useful helpers back to public.

[2020-11-18 06:24] #1437 closed

[2020-11-18 06:38] cijothomas opened #1580 "ActivitySourceAdapter"
As discussed in https://github.com/open-telemetry/opentelemetry-dotnet/issues/1437 , we have made DS listener helpers are internal.

Opening a new issue to track one undecided item from the original issue:
ActivitySourceAdapter - was developed to work around the fact that some libraries are already instrumented with DS and create activity without ActivitySource. ActivitySourceAdapter provided a wa

[2020-11-18 07:39] #1571 closed

[2020-11-18 08:39] reyang opened #1582 "Perf improvements for LogRecord"
LogRecord is implemented as a class (allocated on the GC heap) instead of a struct (allocated on the stack).
This avoids copy for batch exporting scenario, and also helps on getting a better alignment with tracing part (where Activity is a class) which simplifies the code. However it could potentially punish perf for non-batch scenario (e.g. piping logs to ETW or LTTng).

One possible solution is

[2020-11-18 21:51] Austin-Tan commented on #1543
Recommend for this to be closed. Is this redundant with #1495 , which is addressed by #1584  or is this issue meant to target more general settings?

[2020-11-18 22:11] #1543 closed

[2020-11-18 22:29] nmbro opened #1585 "Do we want to have internals visible to opentelemetry-dotnet-contrib projects?"
# Question

Do we want to have internals visible to opentelemetry-dotnet-contrib projects?

## Additional Context

It could make upgrading opentelemetry-dotnet-contrib easier

See open-telemetry/opentelemetry-dotnet-contrib/issues/49
and open-telemetry/opentelemetry-dotnet-contrib/issues/49

[2020-11-18 22:36] cijothomas commented on #1585
There shouldn't be any need of exposing internals. If meeting a common requirement, then we can make it public.

There is a special case about ActivitySourceAdapter https://github.com/open-telemetry/opentelemetry-dotnet/issues/1580. We haven't finalized the plans on it.

[2020-11-18 23:07] #1495 closed

[2020-11-18 23:15] nmbro commented on #1585
TestExporter might be another special case unless we want to have a Opentelemetry.Testing package, and it might be too little code to really serve any purpose.

[2020-11-18 23:18] cijothomas commented on #1585
Can you elaborate why TestExporter is a special case?

[2020-11-18 23:23] nmbro commented on #1585
Only that it's only used for testing - and it lives in Opentelemetry.Tests, which is not something I would presume should be packable.

[2020-11-19 03:19] cijothomas opened #1588 "Status - doc fix"
This PR https://github.com/open-telemetry/opentelemetry-dotnet/pull/1579 updates Status to match the spec. This doc (https://github.com/open-telemetry/opentelemetry-dotnet/blob/master/src/OpenTelemetry.Api/README.md#setting-status) is out-of-date. Need to update the doc to match the changes above.

[2020-11-19 03:19] cijothomas commented on #1588
@Austin-Tan please take this.

[2020-11-19 03:22] cijothomas opened #1589 "Self-diagnostics write a single line to top of file"
When self-diagnostics is enabled for a particular level, the .log file will be empty until 1st log entry is captured. This may confuse users, who won't know if the setting got picked up or not.

Could we write an 1 line entry to the top of the file when self-diagnostic module detects config?

[2020-11-19 03:23] cijothomas commented on #1589
@xiang17

[2020-11-19 03:23] Austin-Tan commented on #1588
Looking into this, please assign me! RC2 is expected Monday?

[2020-11-19 05:07] #1494 closed

[2020-11-19 06:13] xiang17 commented on #1589
Sounds good. I'll take this.

[2020-11-19 17:59] kevinmckinley commented on #1487
I'll start with docs for OpenTelemetry.Exporter.Zipkin and OpenTelemetry.Instrumentation.AspNetCore

[2020-11-19 18:56] cg110 commented on #1569
I think I've found the origin of the problem:
https://cloud.google.com/error-reporting/reference/rest/v1beta1/projects.events/report

It has a message field listed, which is where the list of supported stacks is from.  I suspect that exception.ToString() is actually listed as it provides the complete requirement for message:

Which Exception.ToString() would achieve in one call.  I think that we r

[2020-11-19 19:52] evilpilaf commented on #1487
I can take any part you'd like me to, I'm up for reviewing documentation and code as well :)

[2020-11-19 20:45] buvinghausen commented on #1585
@nmbro making the internals accessible to the contrib projects still doesn't solve the problem for 3rd party or custom instrumentation providers.

@cijothomas from what I can tell the StackExchangeRedis instrumentation is the only one that is operational without internals being made visible to.  Is this the template the contrib projects should follow?

[2020-11-19 21:05] cijothomas commented on #1585
@buvinghausen No we dont expect to make any internalsvisible permanent. Its done now to unblock GA progress. The *only* thing which is really tied to OpenTelemetry is [ActivitySourceAdapter](https://github.com/open-telemetry/opentelemetry-dotnet/issues/1580), which we are working to solve. Things like DiagnosticSourceListeners - are not tied to OpenTelemetry specifics. (one may copy the approach f

[2020-11-19 23:21] utpilla opened #1595 "Refactor BaseExportProcessor"
Refactor BaseExportProcessor
- Use activity.IsRecorded instead of ActivityTraceFalgs.None
- Get rid of type check

[2020-11-20 02:23] mbakalov opened #1597 "SqlClient instrumentation doesn't work for Microsoft.Data.SqlClient under .NET Framework"
Using latest opentelemetry-dotnet, target net461 and use Microsoft.Data.SqlClient nuget package.

SQL activities are not captured.

*EDIT*: when submitting this issue I first incorrectly assumed the netfx Sql instrumentation relied on DiagnosticSource events, but that is not the case.

`Microsoft.Data.SqlClient` on netfx uses the `WriteBeginExecuteEvent`/`WriteEndExecuteEvent` methods that operate

[2020-11-20 03:09] mbakalov commented on #1597
Ah, looks like this is because the EventSource was actually renamed in `Microsoft.Data.SqlClient`, which was done in https://github.com/dotnet/SqlClient/pull/399

So now it makes sense at least, means we need to support both EventSources.

[2020-11-20 03:33] CodeBlanch commented on #1597
Thanks @mbakalov! I have noticed the net461 tests failing recently but haven't had a chance to look into it. Are you going to submit a PR?

[2020-11-20 03:47] mbakalov commented on #1597
@CodeBlanch  - yes, will try to do it tomorrow am!

[2020-11-20 06:39] cijothomas commented on #1487
@evilpilaf Thanks! Can you take OpenTelemetry.Instrumentation.Http, and OpenTelemetry.Instrumentation.RedisClient? Let me know if you are comfortable with something else either

[2020-11-20 09:19] kevinmckinley commented on #1186
The general notion of what a filter _is_ is complicated. Does it define what is permitted or what is removed?

Personally I am in favor of Filter returning bool to define what is allowed. While dotnet uses `Where()` to return matching subsets, `Filter()` is commonly used in this way by other languages (See @reyang's note https://github.com/open-telemetry/opentelemetry-dotnet/pull/1181#discussion_r

[2020-11-20 09:29] kevinmckinley commented on #1186
Now that I've made the case, above, for Filter() returning bool for allowed...
Here's another suggestion:
Rename or split the method into two. `Include()` or `Exclude()` or `Reject()`. These remove ambiguity and could additionally allow the implementation to handle exceptions during evaluation differently.

Example for `Exclude()`:
[code]

[2020-11-20 09:29] evilpilaf commented on #1487
@cijothomas perfect I'll start with those two this weekend

[2020-11-20 09:37] sicavz commented on #1372
I'm now using 1.0.0-rc1.6, locally, with docker-compose, nginx and jaegertracing/all-in-one:latest.
I get these errors pretty fast and jaeger crashes:

[code]

Can anyone take a look, please?

[2020-11-20 12:58] mbakalov opened #1600 "Activity.RecordException extension method should write fully-qualified class name for exception.type"
The [spec](https://github.com/open-telemetry/opentelemetry-specification/blob/master/specification/trace/semantic_conventions/exceptions.md) recommends using "fully-qualified class name, if applicable".

Currently the extension method writes `ex.GetType().Name` but should do `ex.GetType().FullName`.

[2020-11-20 15:54] cijothomas commented on #1186
These sound good improvement.

[2020-11-20 17:19] buvinghausen commented on #1585
@cijothomas thank you for the clarifications.  So I finally pulled down the repository and got an understanding of the codebase.   Based on your explanation about how the objects in question are not part of the Otel spec my recommendation is break the DiagnosticSourceInstrumentation folder out of the main project and put it into a separate assembly like OpenTelemetry.Instrumentations.Abstractions

[2020-11-20 17:21] srprash commented on #1487
I can take up the OpenTelemetry.Exporter.Console to review the docs and the code!

[2020-11-20 17:45] cijothomas commented on #1585
There was a similar proposal several months back to separate these into own package like Otel.Instrumentation.Helpers - just like your proposal. But these classes are just regular .NET code, with no connection to OpenTelemetry specs. DiagnosticSource callbacks is just *one* way of "hijacking" into a library (https://github.com/open-telemetry/opentelemetry-dotnet/tree/master/docs/trace/extending-th

[2020-11-20 18:42] cijothomas opened #1601 "Activity API documentation must clarify SetTag, AddTag, Tags, Baggage, CustomProperty"
The shot answer is always use Activity.SetTag. But this must be documented to avoid any confusion.

[2020-11-20 20:08] #1588 closed

[2020-11-21 00:30] Mario-Hofstaetter commented on #1372
I opened in issue for this at jaeger: https://github.com/jaegertracing/jaeger/issues/2638
since I didn't know where the error originates. My jaeger agent is too crashing after peaking to gigabytes of memory usage.

@cijothomas I can provide a small demo solution for this if you'd like.

[2020-11-21 01:12] robece opened #1602 "OpenTelemetry support on Azure Function App v3 (.Net Core 3.1)"
# Question

**Describe your environment.**

Azure Function App v3 using .Net Core 3.1 working in Visual Studio 2019.

**Describe any aspect of your environment relevant to the question.**

This is my current project configuration:
[code]
**What are you trying to achieve?**

I'm trying to initialize the distributed telemetry OpenTelemetry component in the Azure Function startup.cs.

Project.csproj:

[2020-11-21 03:07] cijothomas commented on #1602
Azure functions has restrictions on running backgroundhostedservices, so you cannot use this package in Functions.

You can manually use opentelemetry
[code]

(Functions has built-in integration with AzureApplicationInsights, and I am not sure how to setup something else)

[2020-11-21 03:10] cijothomas commented on #1602
Please try the above snipper and see if it works. I'll ask around for Azure Functions limitations.

[2020-11-21 05:01] robece commented on #1602
Thanks Cijo, I guess that should be an architecture limitation thinking in a serverless deployment, I found a related issue with hosted services on Azure Functions: https://github.com/Azure/azure-functions-host/issues/5447#issuecomment-575368316, I already performed the suggested change, the error is gone but sadly no information is exposed in jaeger.

I will appreciate any workaround on this befo

[2020-11-22 01:44] mbakalov opened #1605 "SqlClient instrumentation DataSource incorrectly parsed from unusual connection strings"
# Bug Report

Using OpenTelemetry.Instrumentation.SqlClient 1.0.0-rc1.1.

The following connection strings are all equivalent:

* Data Source=localhost;Initial Catalog=master;Integrated Security=true;
* Data Source=tcp:localhost;Initial Catalog=master;Integrated Security=true;
* Data Source=np:\\\localhost\pipe\sql\query;Initial Catalog=master;Integrated Security=true;

When `EnableConnectionLevel

[2020-11-22 01:59] mbakalov commented on #1605
I'll try to do a PR for this, but the regex with the named pipe syntax is going to look awful! 😧

[2020-11-22 14:57] Mario-Hofstaetter opened #1606 "ResourceBuilder Attribute Value is lost when using int value"
# Bug Report

[code]

* Runtime version: `netcoreapp3.1`

## Symptom

When adding Attributes to `ResourceBuilder`, `AddAttributes` accepts `IEnumerable<KeyValuePair<string, object>>`.
**However, when adding a tag with value as `int`, the value is discarded / `null` in jaeger.**
When using a `string` or calling `ToString()` the value is used.

**What is the expected behavior?**

Since the parameter

[2020-11-22 15:31] Mario-Hofstaetter opened #1607 "Baggage value certain characters will crash application or encode chars"
# Bug Report

[code]

* Runtime version: `netcoreapp3.1`

## Symptom

When adding `Baggage` to an `Activity` **using certain chars will encode them or crash the receiving application.**
The baggage value is not correctly received in child-service.

| Char | Result                              |
| ---- | ----------------------------------- |
| `\`  | `%2B`                               |
| `@`  | `

[2020-11-22 23:35] #1589 closed

[2020-11-23 00:02] #1600 closed

[2020-11-23 15:18] #1481 closed

[2020-11-23 17:11] cijothomas commented on #1602
Could you share more on this - are you create activities using ActivitySource yourself, and they are not shown in Jaeger?
Or are you relying on the instrumentations like Sql/Http, and activities from these are not shown in Jaeger?

[2020-11-23 19:02] tedsuo opened #1610 "Do not label packages v1.0"
The is @tedsuo from the governance committee.

We have not finished defining versioning concepts, but one major agreement is that nothing will be released as v1.0 until the specification reaches v1.0.

The latest release v1.0.0-rc1 violates this agreement. Please immediately roll back this release, and relabel it v0.9.

Please have representatives attend the Maintainer meeting. The .NET SIG is inv

[2020-11-23 19:17] tedsuo commented on #1610
@cijothomas @reyang @MikeGoldsmith @CodeBlanch @SergeyKanzhelev

[2020-11-23 19:48] reyang commented on #1610
@tedsuo I was in the maintainers meeting representing C++ (I'm not a maintainer for C#) but happy to help here.

I might be confused here - the .NET way of saying something is close to `1.0.0` is `1.0.0-rc1` (`1.0.0-rc1` < `1.0.0`), which is based on the freeze version of the API spec.

Which agreement were you specifically referring to?

[2020-11-23 21:46] tedsuo commented on #1610
Thank you for your quick response. I am not worried about a release candidate on its own, I am asking that we finish defining what v1.0 means before labeling anything related to that term. Currently, terms like "GA" and "v1.0" are not defined in concrete enough terms, so it is risky. What if, over the next two weeks, v1.0 comes to mean something different?

To clarify: a freeze is a backlog action

[2020-11-23 21:55] utpilla opened #1612 "Modify exporters to make the class and constructor public"
# Feature Request
- Modify the exporters to make them public

## Additional Context
- This is to ensure that these exporters can be used in a FilteringProcessor

[2020-11-23 23:18] Mario-Hofstaetter opened #1614 "Instrumentation.SqlClient Span has Duration of 0 sec"
# Bug Report

[code]

Runtime version`netcoreapp3.1`

## Symptom

I tested SqlClient instrumentation with a dummy app and noticed
**the Duration of the SqlClient Span is always 0ms or 1ms.** (See Screenshot)

My test SQL Statement has a sleep (`WAITFOR DELAY`) in it, so it takes at least a couple seconds even on localhost.
It looks like the span is created after all sql work is done.

**What is th

[2020-11-23 23:39] reyang commented on #1610
Thanks for the explanation.

Totally agree that "GA" and "v1.0" have to be clearly defined across the board, and we should hold up on the 1.0 GA release until we have a clear definition in the spec.

[2020-11-24 17:00] atrauzzi opened #1616 "AddOtlpExporter seems to be causing a crash?"
# Bug Report

[code]

Running on `net5.0`

## Symptom

It seems like when I use the following in my ASP.net Core project:

[code]

I get a segfault with the message: `Process finished with exit code 139.`

Note: If I remove `AddOtlpExporter()` everything boots fine.

**What is the expected behavior?**
Normal application bootup.

**What is the actual behavior?**
The segfault.

[2020-11-24 17:45] #1370 closed

[2020-11-24 19:01] srprash opened #1617 "Tags with array values do not get displayed for OpenTelemetry.Exporter.ConsoleExporterOutputTargets.Debug target in the ConsoleExporter"
# Bug Report

Tested this using the [example app](https://github.com/open-telemetry/opentelemetry-dotnet/tree/master/examples/AspNetCore) provided in the repo.

## Symptom

I'm using the ConsoleExporter with the `OpenTelemetry.Exporter.ConsoleExporterOutputTargets.Debug` as an output target option. When an activity tag has a value which is an array, the tag doesn't get written to the output in `De

[2020-11-24 19:20] cijothomas commented on #1616
Can you share the runtime information as well? which OS, whether collector was running etc. I couldn't repo in my windows environment. I *did not* have OT Collector running, so exporter keeps hitting exception, but its handled, and no app crash..

[2020-11-24 19:22] atrauzzi commented on #1616
Running on linux, collector is running as a container:

[code]

I've had this working prior to upgrading to the latest RC version.

[2020-11-24 19:49] cijothomas commented on #1616
Ok i couldn't repro in windows.
Will try Linux.

[2020-11-24 20:02] atrauzzi commented on #1616
Sounds good, thanks for looking into it.  Also, I'm running on Ubuntu using the latest snap package.

I'm trying to think of any other variances, but this is happening so early in the application boot and without any way of debugging it as the app just crashes out... :sweat_smile:

[2020-11-24 20:12] cijothomas commented on #1616
https://github.com/open-telemetry/opentelemetry-dotnet/blob/master/src/OpenTelemetry.Exporter.OpenTelemetryProtocol/OtlpExporter.cs#L49 - There is no try..catch. We can try to catch the exception and see if it helps?

[2020-11-24 20:19] atrauzzi commented on #1616
If there was an exception, wouldn't I be seeing it instead of a hard-crash?

[2020-11-24 20:36] cijothomas commented on #1616
mm. Let me try if this is repro ing. and suggest next steps.

[2020-11-24 20:39] cijothomas commented on #1616
Right. it shouldn't have crashed.

[2020-11-24 21:32] #1617 closed

[2020-11-24 22:39] #1597 closed

[2020-11-25 00:30] cijothomas commented on #1487
As discussed in today sig:
We still have many components left - if you are looking to contribute, please sign up. Its okay to have multiple people taking the same component.

For those who signed up already and started filing issues/PRs - thanks! Please post a comment here to let us know you are finished.

[2020-11-25 00:56] xiang17 commented on #1487
I can take the GrpcNetClient, the last one in Instrumentation.

[2020-11-25 01:20] mbakalov commented on #1614
Thanks @Mario-Hofstaetter! This looks suspicious, I'll take a look!

The Activity created by the SqlClient instrumentation should start on `ExecuteReader()` and stop when `ExecuteReader()` returns.

I just tried a very small example, and I do get span duration in Jaeger as expected:
[code]

Console output:
![image](https://user-images.githubusercontent.com/46465618/100169352-45232980-2e91-11eb-9e2

[2020-11-25 01:23] xiang17 opened #1621 "Optimize Self-Diagnostics module to be zero-allocation"
# Feature Request

Optimally, the Self-Diagnostics module should be zero-allocation (except during construction and other one-time allocations) and zero GC. However there are 2 sources of memory allocation.

### 1. DateTime.UtcNow.ToString

`SelfDiagnosticsEventListener.WriteEvent` records a timestamp in the beginning of a log message. The `DateTime.UtcNow.ToString` method would incur memory alloc

[2020-11-25 09:28] edubsi commented on #1616
Sadly we just ran into the same problem. Added unhandled Task & App Exception Handling to maybe catch & log the exceptions which did not help.
For us it looks like the crash happens when the first trace/log/metric is exported.

[2020-11-25 12:27] edubsi commented on #1616
Could it be these lines? All other Exporters (Zipkin, Jaeger ...) catch the general Exception and not an specific one
https://github.com/open-telemetry/opentelemetry-dotnet/blob/0e3081731a32ed13baf0b1114ac7a85318292d4e/src/OpenTelemetry.Exporter.OpenTelemetryProtocol/OtlpExporter.cs#L78-L91
and ensure that no Exception is thrown in the new Exporter Thread
https://github.com/open-telemetry/opentele

[2020-11-25 12:47] twenzel opened #1623 "Could not add custom instrumentation"
With the change of https://github.com/open-telemetry/opentelemetry-dotnet/pull/1454 the `AddInstrumentation`method was renamed to `AddDiagnosticSourceInstrumentation` and marked as internal.

How can third-party libraries (e.g for MessageBus/NServiceBus) add their instrumentations to the tracer?
See https://github.com/jbogard/NServiceBus.Extensions.Diagnostics.OpenTelemetry/blob/master/src/NServic

[2020-11-25 14:41] Mario-Hofstaetter commented on #1614
Thank you, if necessary, I could provide the full solution. I can't figure out what the difference might be.
Only idea: my sqlconnection is dependency injected, I've not yet tried changing that.

[2020-11-25 15:06] twenzel commented on #1623
`DiagnosticSourceSubscriber` and `ListenerHandler` are now internal... how can I implement and add a Listener like https://github.com/jbogard/NServiceBus.Extensions.Diagnostics.OpenTelemetry/blob/master/src/NServiceBus.Extensions.Diagnostics.OpenTelemetry/Implementation/SendMessageListener.cs ?

[2020-11-25 15:15] twenzel commented on #1623
Or should this be implemented like https://github.com/open-telemetry/opentelemetry-dotnet/tree/master/examples/MicroserviceExample ?

[2020-11-25 15:31] #1623 closed

[2020-11-25 17:13] cijothomas commented on #1623
https://github.com/open-telemetry/opentelemetry-dotnet/tree/master/docs/trace/extending-the-sdk#instrumentation-library Please follow this guide.

There is an open issue about ActivitySourceAdapter not yet addressed : https://github.com/open-telemetry/opentelemetry-dotnet/issues/1580

[2020-11-25 19:42] robece commented on #1602
Hi @cijothomas I have decided to move to Application Insights at least just for Functions/Durable Functions, I will continue working with Open Telemetry and hope to see soon more .net core samples with this kind of projects.

Thank you,
RC

[2020-11-25 19:56] evilpilaf opened #1625 "Deal with retransmission of commands to Redis in OpenTelemetry.Instrumentation.StackExchangeRedis"
While reviewing the `OpenTelemetry.Instrumentation.StackExchangeRedis` package for #1487 I found a TODO about how retransmission of commands to Redis metrics should be tracked in the trace. I'm creating this issue to follow up on this.

[code]

[Link](https://github.com/open-telemetry/opentelemetry-dotnet/blob/fe9e90d367298d255be4d768f57dfff4d595821f/src/OpenTelemetry.Instrumentation.StackExchange

[2020-11-27 19:50] kevinmckinley commented on #1186
@cijothomas Should the inline summary description for AspNetInstrumentationOptions.Filter also be updated to say "...to collect telemetry about requests..." instead of "...to filter instrumentation for requests..."?

https://github.com/open-telemetry/opentelemetry-dotnet/blob/7c9bee3f6d92d1f768802be7953079b82bf58cd2/src/OpenTelemetry.Instrumentation.AspNet/AspNetInstrumentationOptions.cs#L29

[2020-11-28 02:00] cijothomas commented on #1186
Yes lets make it all consistent!

[2020-11-30 08:33] evilpilaf opened #1632 "AddOtlpExporter in Asp net core application breaks the pipelines"
# Bug Report

NuGet packages:

* `<PackageReference Include="OpenTelemetry.Exporter.Console" Version="1.0.0-rc1.1" />`
* `<PackageReference Include="OpenTelemetry.Exporter.OpenTelemetryProtocol" Version="1.0.0-rc1.1" />`
* `<PackageReference Include="OpenTelemetry.Exporter.Zipkin" Version="1.0.0-rc1.1" />`
* `<PackageReference Include="OpenTelemetry.Extensions.Hosting" Version="1.0.0-rc1.1" />`
*

[2020-12-01 13:49] austinlparker commented on #1554
I don't think this is a bug, but maybe the documentation is unclear. In your repro case, you're getting a new connection multiplexer in your controller. The Redis instrumentation binds itself to the connection pool that you pass to it, so if you change your `ConfigureServices` to look like this...

[code]

And your RedisController to look like this...

[code]

You should see Redis spans in the Con

[2020-12-01 16:10] cijothomas commented on #1554
https://github.com/open-telemetry/opentelemetry-dotnet/pull/1638 made a small doc fix to hopefully clarify this.

[2020-12-01 16:12] cijothomas commented on #1606
Thanks @Mario-Hofstaetter for reporting.
The attributes are currently only supporting bool, long, double, string. We need to make it same as the Tags in activity. I'll make a bug fix.

[2020-12-01 18:07] matthughes404 commented on #1554
Thanks a lot... this worked!

[2020-12-01 23:18] #1186 closed

[2020-12-01 23:40] #1554 closed

[2020-12-01 23:51] cijothomas commented on #1612
@vishweshbankwar is looking at this.

[2020-12-02 02:56] utpilla opened #1640 "Decide on a clear exception handling strategy for extensibility components in SDK"
We need to decide on whether we should let faulty third party extensibility components crash the SDK.

There are several extensibility components which can throw an exception anytime after initialization, and can cause app to fail in the middle of execution.
- Sampler
- Processor
- Exporter (SimpleExportProcessor catches exceptions thrown by an exporter)
- Instrumentation's Enrich
- Instrumentatio

[2020-12-02 10:54] lawrence-laz opened #1642 "OpenTelemetryServicesExtensions Location"
# Question

Currently `OpenTelemetryServicesExtensions` class is located in `OpenTelemetry.Extensions.Hosting` package. This is a bit unusual, as other packages tend to have `ServiceCollection` extensions in a package postfixed with `Extensions.DependencyInjection` or `Extensions.Microsoft.DependencyInjection`. For example:
- Autofac.Extensions.DependencyInjection
- AutoMapper.Extensions.Microsoft

[2020-12-07 18:12] #1570 closed

[2020-12-07 19:36] alexvaluyskiy commented on #1585
The another option for the `contrib` packages is to move them back into this repository. And `InternalVisibleTo` will work for them too.

The problem is the the current version of telemetry can't be used by many users, because it is not cover all instrumentations.
For example, I need EF Core instrumentation, because I'm using PostgreSql. Also I need an instrumentation for a message broker (Azure S

[2020-12-07 20:02] cijothomas commented on #1585
@alexvaluyskiy which particular internal class/api from this repo is required for you to write custom instrumentation for, say, Microsoft Orleans or Kafka?

[2020-12-07 20:41] buvinghausen commented on #1585
@alexvaluyskiy take a look at how Jimmy Bogard set up instrumentation for [NServiceBus](https://github.com/jbogard/NServiceBus.Extensions.Diagnostics)

[2020-12-07 21:28] alexvaluyskiy commented on #1585
NServiceBus example is a good choice for custom instrumentation (Kafka, Orleans). But what should I do with MassTransit which is already has an activity? Or with EFCore, which have a DiagnosticListener?

[2020-12-07 23:06] cijothomas commented on #1585
@alexvaluyskiy please take a look here : https://github.com/open-telemetry/opentelemetry-dotnet/tree/master/docs/trace/extending-the-sdk#instrumentation-library

It covers the special case of libraries already producing Activity. The solution is not 100% perfect due to perf hit - the ideal way is working with the library authors to switch from DS to ActivitySource. (I'm working to get all Microsof

[2020-12-08 07:29] cijothomas commented on #1642
The naming was discussed a while ago : https://github.com/open-telemetry/opentelemetry-dotnet/pull/623#issuecomment-619222535

Please take a look, and see if that makes sense, or do you think we should revisit the name?

[2020-12-08 14:10] mberginbh commented on #1372
I've posted a repro for this: https://github.com/jaegertracing/jaeger/issues/2638#issuecomment-740640429

[2020-12-08 18:14] mberginbh commented on #1372
Here's a pcap of what's coming out - it looks like once the max payload size is exceeded the message is getting corrupted

[jaeger.zip](https://github.com/open-telemetry/opentelemetry-dotnet/files/5660960/jaeger.zip)

[2020-12-08 22:32] zahirtezcan commented on #392
Not sure if I am allowed to comment but, you may also consider using a union type for `sum` via [LayoutKind.Explicit](https://docs.microsoft.com/en-us/dotnet/api/system.runtime.interopservices.layoutkind?view=net-5.0) and setting `FieldOffset`s to zero.

If that sounds stupid just ignore me. I am crossing my fingers for years waiting for [extension interfaces](https://github.com/dotnet/csharplang/

[2020-12-09 02:25] alanwest commented on #1616
@atrauzzi are you running your application in an alpine linux container? If so, I suspect this may be the problem you're running into #1251.

@cijothomas it does not seem that the work in #1634 prevents the crash in #1251... not sure we can catch this exception.

[2020-12-09 02:38] atrauzzi commented on #1616
@alanwest - Nope, bare on an ubuntu/pop!_os machine.

[2020-12-09 04:06] alanwest commented on #1616
Ah, yes, sorry I had missed your previous statement regarding Ubuntu.

[2020-12-09 11:41] alexvaluyskiy commented on #1585
@cijothomas I've tried to add a tracing to Microsoft Orleans via ActivitySource and it works great.

But I still don't understand - what to do with current instrumented libraries, which have already provide DiagnosticSource or Activity tracing? Even if all of them will migrate to ActivitySource - it means, that it will be supported only in .NET 6 (Asp.NET Core, SqlClient, EF Core, Grpc, etc) or it

[2020-12-09 17:30] cijothomas commented on #1585
@alexeyzimarev You shouldn't need `ActivitySourceAdapter`.
You *may* copy this whole folder : https://github.com/open-telemetry/opentelemetry-dotnet/tree/master/src/OpenTelemetry/DiagnosticSourceInstrumentation to get DiagnosticSource subscriptions and callbacks.
Create brand new activity using ActivitySource as sibling of the existing activity. Let me know if you need help with trying this - I wi

[2020-12-09 17:45] Im5tu commented on #1502
In short, yes to all. We publish out custom metrics, subscribing to those plus a lot of .NET metrics. Currently using custom sinks to publish to either DataDog or CloudWatch depending on use case. We have tagging etc built in using the metadata portion of EventCounters. Want to continue using them going forward as built in .NET tooling support is getting better (eg: viewing counters from Visual St

[2020-12-09 21:43] lawrence-laz commented on #1642
Hm, I guess it makes sense once you look into it.

The confusion comes from the fact that hosting service is opaque to the consumer. I wouldn't have thought that there is a hosted service being registered just to kick-start tracing provider. Hence why my instinct was to look for `DependencyInjection` and not `Hosting` package.

I don't have a solution here, but I bet I will not be the last one con

[2020-12-10 05:34] alanwest opened #1651 "OTLP exporter improvements"
Currently the constructor for the `OtlpExporter` instantiates a gRPC channel here:

https://github.com/open-telemetry/opentelemetry-dotnet/blob/1630fb3abbea6ea7721257e5157afe03686ecaff/src/OpenTelemetry.Exporter.OpenTelemetryProtocol/OtlpExporter.cs#L59

The channel constructor can throw an exception. I've encountered this when using a [single file publish](https://docs.microsoft.com/en-us/dotnet/

[2020-12-10 18:06] Austin-Tan opened #1652 "Allow arrays of primitives in Resource Attribute Values"
# Feature Request

Follow up to #1647 , where it was pointed out that arrays of primitives [should be allowed as the value in KV pairs as per spec](https://github.com/open-telemetry/opentelemetry-specification/blob/master/specification/common/common.md#attributes).

**Describe the solution you'd like:**

Our current behavior will throw an exception (post #1647) if invalid data types are used as th

[2020-12-10 18:34] Austin-Tan commented on #1652
Current issue in OTel specification:
https://github.com/open-telemetry/opentelemetry-specification/issues/1184
Don't want to work on this until this is confirmed.

[2020-12-10 18:43] zfael commented on #1208
Hey guys! I've faced the same issue here and was not able to fix by using the @cijothomas  suggestion, is there any other work-around avaialble?

[2020-12-10 18:56] christopher-taormina-zocdoc commented on #1208
@zfael I think things have changes in more recent versions of the dotnet sdk, where the source object is passed to an Enrich method rather than being placed on a custom property. Are you having issues with that newer code path?

[2020-12-10 19:01] zfael commented on #1208
@chris-smith-zocdoc thanks for the quick response, I think I'm using the most recent version of the SDK and I tried both

1) the example we find in the docs/same we find here in this issue
2) the approach using the Enrich method

both are not working at this point, or prolly me not doing the right thing.

[code]

this is how my code is looking right now, as we can see, theres a `activity.SetTag("t

[2020-12-10 19:39] julioct commented on #1585
@alexeyzimarev @cijothomas I just also went through the painful exercise of trying to bring ActivitySourceAdapter (and several other internal classes) to my code base, without success (the rabbit hole is deep!). I had created a simple set of OpenTelemetry instrumentation classes for MassTransit, but it's all broken with OTel 1.0 RC1. I chatted with the owner of the MassTransit libraries, which alr

[2020-12-10 19:44] cijothomas commented on #1585
@julioct

DiagnosticSource improvements are shipped as out-of-band nuget package, and works in all .NET versions (including old ones like .NET452), not just the new .NET5.

[2020-12-10 19:50] cijothomas commented on #1585
@julioct Yes, we will work to modify at least one of -contrib repo instrumentation to act as an example.

As mentioned earlier, only thing you *may* copy paste is https://github.com/open-telemetry/opentelemetry-dotnet/tree/master/src/OpenTelemetry/DiagnosticSourceInstrumentation. ActivitySourceAdapter is definitely a hack - we are undecided on its fate, but leaning towards getting rid of it, where

[2020-12-10 20:04] julioct commented on #1585
@cijothomas Thanks for the quick reply! Yes, I think you refer to this portion:
"There is a special case for libraries which are already instrumented with Activity, but using the DiagnosticSource method. These libraries already emit activities, but it may not conform to the OpenTelemetry semantic conventions. Also, as these libraries do not use ActivitySource to create Activity, they cannot be sim

[2020-12-10 20:15] cijothomas commented on #1585
@julioct

The simplified version of actual steps would be:
1. "Hijack" - Naturally, this is DiagnosticSource callbacks provided by the library.
2. Get the Activity already created by the library (i.e Activity.Current)
3. Get its parent context, if any.
4. use ActivitySource to start a *new* activity, with the parent from step3, and correct ActivityKind.
5. stop the *new* activity when done.
6. The

[2020-12-10 20:35] alexeyzimarev commented on #1585
I guess you wanted to mention @alexvaluyskiy :)

[2020-12-10 20:44] cijothomas commented on #1585
Oh yes! Thanks for correcting :)

[2020-12-10 21:40] eddynaka commented on #1585
Hello,

just created the PR as draft so you can see what we did to replace the ActivitySourceAdapter.

[2020-12-10 21:48] julioct commented on #1585
That was fast, thanks @eddynaka!

[2020-12-10 21:50] eddynaka commented on #1585
No problem at all! Glad to help. The build is failing because I didn't update the public API yet. Will do soon. But, the overall idea is there. :)

[2020-12-11 01:13] zfael commented on #1208
https://github.com/open-telemetry/opentelemetry-dotnet/issues/1401

wondering if the issue I just described above around `AddHttpClientInstrumentation` not calling the `Enrich` could be related to the issue above and its fix.

bringing this up since adding the same `Enrich` function in the `AddAspNetCoreInstrumentation` it triggers w/o issue so I was expecting the same behavior to happen on the `A

[2020-12-11 15:26] christopher-taormina-zocdoc commented on #1208
@zfael I wasn't able to reproduce your issue with the latest rc. Can you add a breakpoint locally in the [OnStartActivity](https://github.com/open-telemetry/opentelemetry-dotnet/blob/01dc04710adf06312e60b2311064af46560b5076/src/OpenTelemetry.Instrumentation.Http/Implementation/HttpHandlerDiagnosticListener.cs#L72) method and see what's happening?

[2020-12-11 16:13] vcx commented on #1502
+1 for the need or EventSource and others. EventSource is kind of new in .NET Core, but the underlying tech (ETW) a very reliable, known, and trusted for troubleshooting nasty performance problems since .NET 2.0. There's lots of tooling available to parse and investigate results, and I can't count how many times this little known part of .NET saved me in my past consulting jobs.

[2020-12-11 17:48] julioct commented on #1585
Btw, just wanted to mention I have a fully working solution based on Eddy's PR. Thanks again @cijothomas and @eddynaka!

[2020-12-11 17:50] eddynaka commented on #1585
@julioct , nice to know that it helped! I saw that my PR tests are failing. Will have to take a closer look to the GRPC, since they are together...

[2020-12-11 18:18] cijothomas commented on #1585
As mentioned before, this approach is *not* the ideal one as we are allocating an additional activity. But this is something we should live with, until an alternate can be made. As a reminder, the root of the issue is that some libraries create Activity, without using ActivitySource API, and those activities bypass samplers/processors, have default Kind, and have "empty" ActivitySource. The proper

[2020-12-11 18:36] cijothomas opened #1656 "Remove Resources from being exported in Zipkin"
Spec has removed this so we need to remove exporting resource.
https://github.com/open-telemetry/opentelemetry-specification/pull/1185

[2020-12-12 17:15] evilpilaf commented on #1487
Finished reviewing the StackExchangeRedis Instrumentation

[2020-12-12 20:39] zfael commented on #1208
@christopher-taormina-zocdoc facing some issues right now to get a breakpoint in, kinda not being able to compile the whole project on my end so I can reference my project to use it as local libs.

Also, didn't find the .pdb files for OpenTelemetry packages so I could debug into it.

[2020-12-12 20:41] eddynaka commented on #1208
@zfael , our packages enable snupkg. If you configure your vs, it will find the reference...you can follow this reference: https://devblogs.microsoft.com/nuget/improved-package-debugging-experience-with-the-nuget-org-symbol-server/